<div class="ugallery-magnific-labels upfront-ui">
	<div class="ugallery-magnific-panel upfront-media-controls upfront-additive_multiselection">
		<div class="ugallery-magnific-wrapper">
			<span class="existing-labels-title">{{l10n.image_labels}}</span>
			<div class="labels_filter">
				<ul>{{labels}}</ul>
				<input type="text" class="filter upfront-field upfront-field-text" />
			</div>
		</div>
		<div class="ugallery-magnific-add">
			<label>{{l10n.create_label}}</label>
			<div class="new_labels">
				<a class="toggle-add-label">+</a>
				<input type="text" class="add-label upfront-field upfront-field-text" placeholder="{{l10n.type_label}}" />
				<a class="submit-label">+</a>
			</div>
		</div>
	</div>
</div>
