<div class="ugallery-magnific-labels upfront-ui">
	<div class="ugallery-magnific-panel upfront-media-controls">
		<div class="ugallery-magnific-wrapper existing_labels">
			{{labels}}
		</div>
		<div class="ugallery-magnific-add">
			<span class="ugallery-magnific-addform label_selector">
				<input type="text" class="ugallery-addlabels" class="upfront-field-text" name="ugallery-image-labels" placeholder="{{ l10n.add_label }}"><div class="ugallery-magnific-addbutton">{{ l10n.add_label }}</div>
				<span class="labels_list"></span>
			</span>
		</div>
	</div>
</div>
