.upfront_admin_experimental .upfront_admin_experimental_contents {
    padding-left: 10px;
    padding-right: 10px;
}
.upfront_admin_experimental p.disclaimer {
    font-family: 'Roboto';
    font-size: 15px;
    color: #8e8e8e;
    margin-top: 30px;
    margin-bottom: 30px;
}
.upfront_admin_experimental .form_content {
    display: inline-block;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    width: 558px;
}
.upfront_admin_experimental .form_content .form_title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: bold;
    color: #777;
    text-transform: uppercase;
}
.upfront_admin_experimental .form_content .form_title span {
    padding-left: 30px;
}
.upfront_admin_experimental .form_content .form_content_group {
    padding-left: 30px;
    padding-right: 30px;
}
.upfront_admin_experimental .form_content .form_content_group_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}
.upfront_admin_experimental .form_content .form_content_input {
    padding-bottom: 20px;
}
.upfront_admin_experimental .form_content .form_content_input.compress_response {
    padding-top: 20px;
    padding-bottom: 30px;
}
.upfront_admin_experimental #upront_restrictions_submit {
    margin-left: 0;
}
.upfront_admin_experimental .form_content .bottom_separator {
    border-bottom: 1px solid #eee;
}
