.upfront-general-settings .upfront-debug-block {
    border-bottom: 1px solid #eee;
    padding: 14px 0 10px;
    position: relative;
}
.upfront-general-settings .upfront-debug-block:after {
    content: '';
    clear: both;
    display: block;
}
.upfront-general-settings .postbox .inside {
    padding: 0 30px 12px;
    margin: 0;
}
.upfront-general-settings .upfront-debug-block:last-child {
    border-bottom: none;
}

.upfront-col-right,
.upfront-col-left {
    margin-top: 20px;
}

.upfront-general-settings .upfront-debug-block a.upfront_button,
.upfront-general-settings .upfront-debug-block button,
.upfront_admin button {
    background-color: #AFAFAF;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 3px;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    outline: none;
    line-height: normal;
}
.upfront-general-settings .upfront-debug-block a.upfront_button:disabled,
.upfront-general-settings .upfront-debug-block button:disabled {
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.upfront-general-settings button.warning {
    background-color: #BE1E2E;
    border-bottom: 2px #991724 solid;
}
.upfront-general-settings .warning-text {
    color: #BE1E2E;
}
.upfront-general-settings .upfront-debug-block p.left {
    padding-right: 190px;
}
.upfront-general-settings .inside.debug-options a.upfront_button,
.upfront-general-settings .inside.debug-options button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
}
.upfront-general-settings .lightgrey {
    color: #777;
}
.upfront-general-settings a {
    color: #18A7E0;
    text-decoration: none;
}

.upfront-general-settings .postbox .inside.version-info {
    font-size: 14px;
    font-weight: bold;
}
.upfront-general-settings .version-info span {
    float: right;
}
.upfront-general-settings a.documentation:first-child {
    margin-right: 10%;
    margin-bottom: 10px;
}
.upfront-general-settings a.documentation {
    display: inline-block;
}
.upfront-general-settings a.documentation:before {
    content: "\f331";
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 10px 0 0;
    top: -1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top;
}
.upfront-general-settings .upfront-debug-block a.visit-forum {
    margin-right: 6%;
    margin-bottom: 10px;
}
.upfront_admin button:not([disabled]) {
    cursor: pointer;
}
.upfront_admin button.loading,
.upfront-general-settings .upfront-debug-block a.upfront_button.loading,
.upfront-general-settings .upfront-debug-block button.loading {
    background-image: url("../../img/loader-admin.gif");
    background-position: center right;
    background-size: 24px;
    padding-right: 28px;
    background-repeat: no-repeat;
}
.upfront_help_icon {
    background-image: url("../../img/uf-admin-sprite.svg");
    background-repeat: no-repeat;
    display: block;
    background-position: -10px -153px;
    width: 16px;
    position: relative;
    top: 3px;
    left: 5px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

/**
 * Changelog
 */
 .postbox .inside.changelog .previous {
 	display: none;
 }
 .postbox .inside.changelog .extra {
 	display: none;
 }
 .changelog .postbox {
    max-height:400px;
    overflow-y:auto;
 }
 
/**
* Upfront Reset Layout
*/
.postbox .upfront-layout-reset {
	width: 70%;
	
	.upfront-reset-global-option {
		display: inline-block;
		padding-top: 5px;
	}
}
