div.upfront-general-settings {
    font-family: 'Roboto';
}
div.upfront-general-settings div.upfront-debug-block {
    border-bottom: 1px solid #eee;
    padding: 14px 0 10px;
    position: relative;
}
div.upfront-general-settings .upfront-debug-block:after {
    content: '';
    clear: both;
    display: block;
}
div.upfront-general-settings .postbox .inside {
    padding: 0 30px 12px;
    margin: 0;
}
div.upfront-general-settings div.upfront-debug-block:last-child {
    border-bottom: none;
}
div.upfront-general-settings div.postbox-container {
    width: 100%;
}
div.upfront-general-settings div.postbox > h2.title {
    border-bottom: 1px solid #eee;
    padding: 26px 30px 25px;
    margin-bottom: 0;
    color: #777;
    font-weight: bold;
}
div.upfront-col-right,
div.upfront-general-settings div.upfront-col-left {
    margin-top: 30px;
}
@media screen and (min-width: 920px) {
    div.upfront-general-settings div.upfront-col-left {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    div.upfront-general-settings div.upfront-col-right {
        width: 48%;
        float: left;
    }
}
div.upfront-general-settings h1,
div.upfront-general-settings h2,
div.upfront-general-settings h3,
div.upfront-general-settings h4 {
    text-transform: uppercase;
}
div.upfront-general-settings .upfront-debug-block a.upfront_button,
div.upfront-general-settings .upfront-debug-block button {
    background-color: #AFAFAF;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 3px;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    outline: none;
    line-height: normal;
}
div.upfront-general-settings .upfront-debug-block a.upfront_button:disabled,
div.upfront-general-settings .upfront-debug-block button:disabled {
    -moz-opacity: 0.5;
    opacity: 0.5;
}
div.upfront-general-settings button.warning {
    background-color: #BE1E2E;
    border-bottom: 2px #991724 solid;
}
div.upfront-general-settings .warning-text {
    color: #BE1E2E;
}
div.upfront-general-settings .upfront-debug-block p.left {
    padding-right: 190px;
}
div.upfront-general-settings div.inside.debug-options a.upfront_button,
div.upfront-general-settings div.inside.debug-options button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
}
div.upfront-general-settings .lightgrey {
    color: #777;
}
div.upfront-general-settings a {
    color: #18A7E0;
    text-decoration: none;
}
div.upfront-general-settings .postbox {
    border: none;
    border-radius: 6px;
    border-bottom: 2px #E4E4E4 solid;
    box-shadow: none;
}
div.upfront-general-settings .postbox .inside.version-info {
    font-size: 14px;
    font-weight: bold;
}
div.upfront-general-settings .version-info span {
    float: right;
}
div.upfront-general-settings a.documentation:first-child {
    margin-right: 10%;
    margin-bottom: 10px;
}
div.upfront-general-settings a.documentation {
    display: inline-block;
}
div.upfront-general-settings a.documentation:before {
    content: "\f331";
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 0 10px 0 0;
    top: -1px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top;
}
div.upfront-general-settings .upfront-debug-block a.visit-forum {
    margin-right: 6%;
    margin-bottom: 10px;
}
.upfront_admin button:not([disabled]) {
    cursor: pointer;
}
.upfront_admin button.loading,
div.upfront-general-settings .upfront-debug-block a.upfront_button.loading,
div.upfront-general-settings .upfront-debug-block button.loading {
    background-image: url("../../img/loader-admin.gif");
    background-position: center right;
    background-size: 24px;
    padding-right: 28px;
    background-repeat: no-repeat;
}
.upfront_help_icon {
    background-image: url("../../img/uf-admin-sprite.svg");
    background-repeat: no-repeat;
    display: block;
    background-position: -10px -153px;
    width: 16px;
    position: relative;
    top: 3px;
    left: 5px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
