.uf-bgsettings-item .upfront-field-wrap .upfront-field-label-block,
.upfront-region-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
  color: #3f617f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 13px;
}
.upfront-region-bg-setting-tab-primary .upfront-field-wrap {
  margin: 0;
}
.uf-bgsettings-color-pick {
  
}
.uf-bgsettings-image-pick {
  display: inline-block;
  background: #e6f3ff;
  height: 26px;
  max-height: 26px;
  border: 1px solid rgb(163, 191, 217);
  border-radius: 3px;
}
.upfront-region-bg-setting-tab-primary .uf-bgsettings-image-pick {
  float: right;
  margin: 33px 0 0;
}
.upfront-settings_panel .uf-bgsettings-image-pick {
  float: right;
  margin: -34px 0 0;
}
.uf-bgsettings-image-pick .upfront-field-button {
  height: 24px;
  padding: 0 10px;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-tile {
  clear: both;
  padding: 5px 0 0;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y {
  float: left;
  width: 38%;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
  clear: both;
  width: 34%;
  margin: 0 5px 0 10px;
}
.upfront-settings_panel  .uf-bgsettings-image-pos-x {
  width: 40%;
}
 .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
  margin: -90px 0 5px 30px;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
  margin: 0 0 0 30px;
}
.uf-bgsettings-imageitem .upfront-field-slider-value {
  display: none;
}
.uf-bgsettings-image-color {
  float: right;
  width: 62%;
}
.upfront-settings_panel .uf-bgsettings-image-color {
  width: 35%;
  margin-top: -63px;
}
.uf-bgsettings-map-location {
  float: left;
  width: 90%;
  margin-top: 0;
}
.uf-bgsettings-mapitem .upfront-field-slider-value {
  display: none;
}
.upfront-refresh-map {
  float: right;
  margin: 38px 0 15px;
  cursor: pointer;
}
.uf-bgsettings-map-zoom {
  clear: both;
}
.uf-bgsettings-map-style {
  width: 40%;
  float: left;
}
.uf-bgsettings-map-style .upfront-field-select,
.uf-bgsettings-map-controls .upfront-field-select {
  width: 99%;
}
.uf-bgsettings-map-controls {
  width: 40%;
  margin-right: 10%;
  float: right;
}
.upfront-settings_panel .uf-bgsettings-map-style,
.upfront-settings_panel .uf-bgsettings-map-controls {
  float: none;
  margin-right: 0;
  width: auto;
}
.uf-bgsettings-map-custom-map-code,
.uf-bgsettings-map-show-marker {
  clear: both;
  float: left;
  width: 100%;
}
.uf-bgsettings-slideritem .uf-bgsettings-slider-rotate {
  display: inline-block;
}
.uf-bgsettings-slideritem .uf-bgsettings-slider-time {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.upfront-region-bg-slider-slides {
  margin-top: 10px;
}
.upfront-region-bg-slider-slides .upfront-settings-item-title {
  line-height: 1;
}
.upfront-region-bg-slider-slides .upfront-settings-item-content,
.uf-bgsettings-slider-slidesitem .upfront-settings-item-content {
  position: relative;
  margin: 20px -7px 0;
}
.upfront-region-bg-slider-image-loading {
  min-height: 126px;
}
.upfront-region-bg-slider-image,
.upfront-region-bg-slider-add-image {
  float: left;
  width: 49px;
  height: 37px;
  margin: 0 7px 15px 7px;
}
.upfront-region-bg-slider-image {
  position: relative;
  cursor: move;
  border: 1px solid #233d54;
}
.upfront-region-bg-slider-image:hover {
  box-shadow: inset 0 0 0 1px #233d54;
}
.upfront-region-bg-slider-add-image {
  color: #1f2f3e;
  font-size: 11px;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 63px;
  margin: 0 0 15px;
  cursor: pointer;
}
.upfront-region-bg-slider-add-image.upfront-icon:before {
  float: none !important;
  display: block;
  margin: 0 auto;
}
.upfront-region-bg-slider-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.upfront-region-bg-slider-delete-image {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  background: #233d54;
  color: #fff;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  text-align: center;
  cursor: pointer;
  display: none;
}
.upfront-region-bg-slider-image:hover .upfront-region-bg-slider-delete-image {
  display: block;
}

.background-type-field .upfront-field-select, 
.background-image-field .upfront-field-select {
  max-width: 140px;
}

/* Padding Settings */
.upfront-region-bg-setting-padding {
  background: none;
  overflow: hidden;
  position: relative;
  padding: 16px 0;
  top: 16px;
  border-top: 1px solid #cce1f4;
  clear: both;
}
.upfront-region-bg-setting-padding .upfront-field-select-single {
  width: 215px;
  display:inline-block;
}
.upfront-region-bg-setting-padding .upfront-settings-item-title span {
  margin-top: 3px;
  display: inline-block;
}
.upfront-region-bg-setting-padding .upfront-field-wrap-multiple:first-child {
  margin-top: 0;
}
.upfront-region-bg-setting-padding .upfront-field-wrap-slider {
  display: inline-block;
  width: 63%;
  margin: 0 5% 0 2%;
  border-left: 2px solid #C2D5E6;
  padding-left: 5%;
  padding-top: 6px;
  height: 30px;
}
.upfront-region-bg-setting-padding .upfront-field-wrap-number {
  width: 30%;
  display: inline-block;
  padding-left: 5px;
  margin: 0;
  position: relative;
  top: -10px;
}
.upfront-region-bg-setting-padding .upfront-field-wrap-number label {
  margin: 0;
}
.upfront-region-bg-setting-padding .upfront-field-wrap-number .upfront-field-number {
  width: 45px;
  clear: both;
}