.uf-bgsettings-item .upfront-field-wrap .upfront-field-label-block,
.upfront-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
	color: #3f617f;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 13px;
}
.upfront-bg-setting-tab-primary .upfront-field-wrap {
	margin: 0;
}
.uf-bgsettings-color-pick {
}
.uf-bgsettings-image-pick {
  	display: inline-block;
  	background: #e6f3ff;
  	height: 26px;
  	max-height: 26px;
  	border: 1px solid rgb(163, 191, 217);
  	border-radius: 3px;
}
.upfront-bg-setting-type-image {
	max-width: 140px;
}

.upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	position: absolute;
	top: 150px;
	right: 15px;
}
.upfront-settings_panel .uf-bgsettings-image-pick {
	float: right;
	margin: -34px 0 0;
}
.uf-bgsettings-image-pick .upfront-field-button {
	height: 24px;
	padding: 0 10px;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-tile {
	clear: both;
	padding: 5px 0 0;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y {
	float: left;
	width: 38%;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	clear: both;
	width: 34%;
	margin: 0 5px 0 10px;
}
.upfront-settings_panel  .uf-bgsettings-image-pos-x {
	width: 40%;
}
 .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	margin: -90px 0 5px 30px;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	margin: 0 0 0 30px;
}
.uf-bgsettings-imageitem .upfront-field-slider-value {
	display: none;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-default {
	float: left;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-default-color ~ .uf-bgsettings-image-color {
	clear: none;
	width: 50%;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-default-image ~ .uf-bgsettings-image-pos-y {
	clear: both;
}
.uf-bgsettings-image-color {
	float: right;
	width: 62%;
}
.upfront-settings_panel .uf-bgsettings-image-color {
	width: 35%;
	margin-top: -63px;
}
.uf-bgsettings-map-location {
	float: left;
	width: 90%;
	margin-top: 0;
}
.uf-bgsettings-mapitem .upfront-field-slider-value {
	display: none;
}
.upfront-refresh-map {
	float: right;
	margin: 38px 0 15px;
	cursor: pointer;
}
.uf-bgsettings-map-zoom {
	clear: both;
}
.uf-bgsettings-map-style {
	width: 40%;
	float: left;
}
.uf-bgsettings-map-style .upfront-field-select,
.uf-bgsettings-map-controls .upfront-field-select {
	width: 99%;
}
.uf-bgsettings-map-controls {
	width: 40%;
	margin-right: 10%;
	float: right;
}
.upfront-settings_panel .uf-bgsettings-map-style,
.upfront-settings_panel .uf-bgsettings-map-controls {
	float: none;
	margin-right: 0;
	width: auto;
}
.uf-bgsettings-map-custom-map-code,
.uf-bgsettings-map-show-marker {
	clear: both;
	float: left;
	width: 100%;
}
.uf-bgsettings-slideritem .uf-bgsettings-slider-rotate {
	display: inline-block;
}
.uf-bgsettings-slideritem .uf-bgsettings-slider-time {
	display: inline-block;
	position: relative;
	top: -2px;
	margin-left: 5px;
}

.upfront-bg-slider-slides {
	margin-top: 10px;
}
.upfront-bg-slider-slides .upfront-settings-item-title {
	line-height: 1;
}
.upfront-bg-slider-slides .upfront-settings-item-content,
.uf-bgsettings-slider-slidesitem .upfront-settings-item-content {
	position: relative;
	margin: 20px -7px 0;
}
.upfront-bg-slider-image-loading {
	min-height: 126px;
}
.upfront-bg-slider-image,
.upfront-bg-slider-add-image {
	float: left;
	width: 49px;
	height: 37px;
	margin: 0 7px 15px 7px;
}
.upfront-bg-slider-image {
	position: relative;
	cursor: move;
	border: 1px solid #233d54;
}
.upfront-bg-slider-image:hover {
	box-shadow: inset 0 0 0 1px #233d54;
}
.upfront-bg-slider-add-image {
	color: #1f2f3e;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	text-align: center;
	width: 63px;
	margin: 0 0 15px;
	cursor: pointer;
}
.upfront-bg-slider-add-image.upfront-icon:before {
	float: none !important;
	display: block;
	margin: 0 auto;
}
.upfront-bg-slider-image img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.upfront-bg-slider-delete-image {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	background: #233d54;
	color: #fff;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	text-align: center;
	cursor: pointer;
	display: none;
}
.upfront-bg-slider-image:hover .upfront-bg-slider-delete-image {
	display: block;
}

.background-type-field .upfront-field-select, 
.background-image-field .upfront-field-select {
	max-width: 140px;
}

.upfront-bg-setting-type {
	width: 100%;
	padding: 16px;
	background: #f7fbff;
}
.upfront-bg-setting-tab-color {
	padding: 0 16px;
	background: #f7fbff;
}
.upfront-region-modal-bg span.upfront-settings-item-title {
	border: none;
	box-shadow: none;
	background: none;
	line-height: normal;
	padding: 0 0 10px;
}
span.upfront-settings-item-title:after {
	content: none;
}
.upfront-bg-setting-tab .upfront-field-number{
	width: 55px;
}
.upfront-bg-setting-tab .sp-replacer {
	float: none;
	width: auto;
}

.upfront-bg-setting-tab-primary {
	width: 62%;
	float: right;
}
.upfront-bg-setting-tab-color .upfront-bg-setting-tab-primary {
	float: none;
}
.uf-bgsettings-color-pick label.upfront-field-label.upfront-field-label-block {
	float: right;
	margin: 0;
	padding: 0;
	width: 7.3rem;
	font-size: 10px;
	margin-top: 3px;
	color: #7d99b3;
}
.upfront-bg-setting-tab-secondary {
	padding: 10px 0 0;
	clear: both;
}

.upfront-bg-setting-theme-body {
	margin: 0 0 20px;
}
.upfront-bg-setting-heading {
	color: #27394b;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
}

.upfront-bg-setting-label {
	color: #7d99b3;
	font-size: 10px;
	line-height: 10px;
}
.upfront-bg-setting-label:after {
	content: ':';
}
.upfront-bg-setting-label-alt {
	color: #2f475d;
	font-family: "Verdana";
	font-size: 11px;
}

#region-settings-sidebar .upfront-inline-modal-save, #region-settings-sidebar .upfront-inline-modal-save:hover {
	position: absolute;
	bottom: -71px;
	right: 15px;
	color: #f1f8ff;
	font-size: 18px;
	height: 40px;
	font-weight: 300;
	line-height: 40px;
	padding: 0;
	background: #2ecb90;
	border: none;
	border-bottom: 1px solid rgba(27, 45, 63, 0.5);
	width: 70px;
}

