.uf-bgsettings-item .upfront-field-wrap .upfront-field-label-block,
.upfront-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
  color: #3f617f;
  font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  top: 0px;
  margin-bottom: 12px;
}

#region-settings-sidebar .upfront-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
	color: #3f617f;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	margin-bottom: 0;
}

.uf-bgsettings-image-size label.upfront-field-label.upfront-field-label-block {
	margin-bottom: 19px;
}

.upfront-bg-setting-tab-primary .upfront-field-wrap {
	margin: 0;
}

#region-settings-sidebar .upfront-bg-setting-type .upfront-field-wrap {
	margin: 3px 0 0;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-color-pick {
	display: inline-block;
	margin-left: 16px;
	margin-top: 3px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-color-pick label:after {
	content: ':';
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-color-pick .upfront-field-label {
	margin-bottom: 15px;
	color: #3f617f;
	font-size: 14px;
	line-height: 20px;
	font-family: "Open Sans";
}

.uf-bgsettings-color-pick {
}

#settings .uf-bgsettings-image-pick {
	margin: -30px 0 0;
}

#region-settings-sidebar .upfront-region-settings-responsive .upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	bottom: 49px;
}

#region-settings-sidebar .upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	top: auto;
	bottom: 49px;
	right: -70px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	top: -36px;
	bottom: auto;
	right: -76px;
	width: 75px;
}

.uf-bgsettings-image-pick {
  	display: inline-block;
  	background: #fff;
  	height: 26px;
  	max-height: 26px;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
}

.upfront-modal-bg-settings-fixed .upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	position: static;
	float: right;
	margin-top: 37px;
	padding: 0 10px;
	line-height: 26px;
}

.upfront-modal-bg-settings-global .uf-bgsettings-image-style .upfront-field-select {
	margin-top: 12px;
}

.upfront-modal-bg-settings-global .uf-bgsettings-image-style > label {
	color: #3f617f;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.upfront-modal-bg-settings-fixed div.upfront-bg-setting-tab-primary .uf-bgsettings-image-style .upfront-field-label-block {
	color: #3f617f;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	margin-bottom: 14px;
	margin-top: 3px;
}

#region-settings-sidebar .upfront-bg-setting-type-image {
	max-width: 140px;
}

#region-settings-sidebar .upfront-bg-setting-tab.upfront-bg-setting-tab-image {
	background: rgb(242, 242, 242);
	padding: 0;
}

.upfront-bg-setting-tab-image .upfront-field-label-block:after {
}

#region-settings-sidebar .upfront-bg-setting-tab-image .upfront-bg-setting-tab-primary {
	float: none;
	background: none;
	position: relative;
	padding: 0 16px;
}

.upfront-modal-bg-settings-global .upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	top: 135px;
	padding: 0 10px;
	line-height: 26px;
}

.upfront-bg-setting-tab-primary .uf-bgsettings-image-pick {
	position: absolute;
	top: 138px;
	right: 15px;
}

.upfront-settings_panel .uf-bgsettings-image-pick {
	float: right;
	margin: -34px 0 0;
}

#region-settings-sidebar .uf-bgsettings-image-pick .upfront-field-button {
	height: 26px;
	padding: 0 10px;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-tile {
	height: 24px;
	padding: 0 10px;
	background-image: linear-gradient(-179deg, #fafdff 0%, #f3faff 100%);
	font-size: 14px;
	color: #7c86a6;
	padding: 4px 15px;
	position: relative;
	font: 600 12px/16px Open Sans, Helvetica Neueu, Helvetica, Arial, sans-serif;
}

.upfront-modal-bg-settings-global .uf-bgsettings-image-tile,
.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-tile {
	background: none;
	padding: 0;
}

.ugroup-settings .uf-bgsettings-imageitem .uf-bgsettings-image-tile {
	padding: 5px 0;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-tile {
	clear: both;
	padding: 5px 16px;
	margin: 0;
}

.uf-bgsettings-image-tile label {
	font-weight: normal;
	color: #9eb2c6;
}

.upfront-modal-bg-settings-fixed .upfront-bg-setting-tab-image .upfront-bg-setting-tab-primary {
	width: 226px;
	float: left;
	margin: 0 10px;
	position: relative;
}

div.upfront-bg-setting-tab-primary .uf-bgsettings-image-style .upfront-field-label-block {
	margin-bottom: 4px;
}

.uf-bgsettings-item.uf-bgsettings-imageitem {
	position: relative;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y {
	float: left;
	width: 45%;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y {
	padding: 0 16px;
	margin: 0;
	width: 155px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	top: 85px;
	left: 15px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	width: 100px;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
  clear: both;
  width: 50%;
  margin: 0 5px 35px 10px;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	clear: both;
	width: 100px;
	margin: 10px 5px 20px 25px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	margin: 5px;
}

#settings .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	width: 100px;
}

.upfront-settings_panel  .uf-bgsettings-image-pos-x {
	width: 40%;
}

.upfront-modal-bg-settings-global .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x {
	width: 100px;
	top: 6px;
	position: relative;
}

#settings .uf-bgsettings-image-size input,
#settings .uf-bgsettings-image-pos-x-num input, #settings .uf-bgsettings-image-pos-y-num input {
    max-width: 50px;
}

#settings .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	top: -50px;
	left: -90px;
	position: relative;
}

#settings .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	top: -40px;
	left: -17px;
	position: relative;
}

.upfront-modal-bg-settings-global .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	top: -25px;
	left: -155px;
}

.upfront-modal-bg-settings-global .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	top: -30px;
	left: -155px;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	margin: -90px 0 5px 30px;
	position: relative;
	top: -50px;
	left: -70px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num:not(.uf-bgsettings-origin-pos-y-num) {
	top: -20px;
	left: -155px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	margin-top: -105px;
	left: -155px;
	top: -20px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num:not(.uf-bgsettings-origin-pos-x-num) {
	top: -16px;
	left: -155px;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	position: absolute;
	top: 45px;
	left: 30px;
	margin: 0;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	top: 125px;
	left: 15px;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	top: -14px;
	left: -155px;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
  margin: 0 0 0 30px;
  position: relative;
  top: -50px;
  left: -73px;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	position: absolute;
	top: 85px;
	left: 30px;
	margin: 0;
}

#region-settings-sidebar .upfront-bg-setting-tab-slider {
	padding: 0 16px 10px;
	overflow: auto;
}

.upfront-modal-bg-settings-fixed .upfront-bg-setting-tab-slider {
	padding: 10px 0;
	overflow: auto;
	clear: both;
}

.upfront-region-modal-bg .upfront-bg-setting-tab-slider .upfront-settings-item-title, .upfront-bg-setting-tab-slider .upfront-settings-item-title:after {
	background: none;
	border: none;
}

.uf-bgsettings-slider-slidesitem .upfront-icon.upfront-icon-region-add-slide:before {
	background-image: url("../img/uf-core-el-sprite.svg");
	background-position: -258px -128px;
	background-color: rgb(139, 154, 169);
	border-radius: 50%;
	transform: scale(0.8);
}

.uf-bgsettings-slider-slidesitem .upfront-settings-item-title span {
	margin: 0;
	padding: 0;
	background: transparent;
}

.upfront-bg-setting-tab-slider .upfront-bg-setting-tab-primary {
	float: none;
	width: auto;
}

#region-settings-sidebar div.upfront-bg-setting-tab-primary .upfront-field-wrap.uf-bgsettings-slider-transition .upfront-field-label-block {
	margin-bottom: 3px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .upfront-field-wrap > label {
	color: #96acc1;
	font-size: 11px;
	font-family: verdana, sans-serif;
	padding: 0;
	line-height: 11px;
	margin-bottom: 3px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .upfront-field-wrap.uf-bgsettings-image-color > label {
	line-height: 25px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-image-size {
	top: 80px;
}

div.upfront-bg-setting-tab-slider .upfront-field-wrap label.upfront-field-label-block {
	margin-bottom: 0;
	color: #4a4a4a;
	font-size: 11px;
	font-family: verdana, sans-serif;
	padding: 0;
	line-height: inherit;
}

#region-settings-sidebar .upfront-settings-item-content .uf-bgsettings-slider-control,
#region-settings-sidebar .upfront-settings-item-content .uf-bgsettings-slider-control-style {
	margin: 7px 0 0;
}

.uf-bgsettings-slideritem label span {
	font-weight: normal;
}

.uf-bgsettings-imageitem .upfront-field-slider-value {
	display: none;
}
.upfront-settings-item-content .upfront-field-wrap-slider label:after {
	content: none;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-default {
	float: left;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-image-default {
	margin: 0;
	margin-bottom: 10px;
}

#region-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-default-color ~ .uf-bgsettings-image-color {
	clear: none;
	width: 50%;
	margin-top: 0;
	left: auto;
	position: relative;
	width: 73px;
	top: -36px;
	right: 0;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-default-color ~ .uf-bgsettings-image-color {
  clear: none;
  width: 50%;
  margin-top: -22px;
  left: 40px;
  position: relative;
}

.uf-bgsettings-imageitem .uf-bgsettings-image-default-image ~ .uf-bgsettings-image-pos-y {
	clear: both;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y {
	padding: 0;
}

#settings .uf-bgsettings-image-color {
	margin: 10px 0;
	width: 75px;
}

#region-settings-sidebar .uf-bgsettings-image-color {
	float: right;
	width: 28%;
	position: absolute;
	top: -49px;
	right: 16px;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .uf-bgsettings-image-color {
	width: auto;
	right: 0;
}

.upfront-modal-bg-settings-global .uf-bgsettings-image-color {
	width: 73px;
	margin-top: 0;
	margin-bottom: 0;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-image-color {
	width: 75px;
	margin: 0;
	padding-top: 11px;
}

.upfront-bg-setting-tab-image .uf-bgsettings-item .upfront-field-wrap .upfront-field-label-block,
.uf-bgsettings-image-color label {
	color: #4a4a4a;
	font-size: 11px;
	font-family: verdana, sans-serif;
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	float: none;
}

.upfront-field-wrap.uf-bgsettings-image-color .upfront-field-label-block {
	color: #96acc1;
	font-size: 10px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	margin-left: 3px;
	padding: 0;
	float: right;
	line-height: 24px;
}

.upfront-settings_panel .uf-bgsettings-image-color {
	width: 35%;
	margin-top: -63px;
}

.upfront-field-wrap.upfront-field-wrap-number.uf-bgsettings-image-size {
	position: absolute;
	top: 0;
	right: 16px;
	margin: 0;
	margin-bottom: 9px;
}

#settings .uf-bgsettings-image-size {
	position: relative;
	margin-top: -223px;
	margin-left: 157px;
	right: 10px;
	margin-bottom: 165px;
}

#region-settings-sidebar .uf-bgsettings-image-size input {
	width: 3rem;
}

.upfront-modal-bg-settings-global .upfront-field-wrap.upfront-field-wrap-number.uf-bgsettings-image-size {
	right: 156px;
	top: 5px;
}

.upfront-modal-bg-settings-fixed .upfront-field-wrap.upfront-field-wrap-number.uf-bgsettings-image-size {
	top: 12px;
	left: 150px;
}

.upfront-modal-bg-settings-fixed .upfront-bg-setting-tab.upfront-bg-setting-tab-map {
	clear: both;
}

.upfront-bg-setting-tab.upfront-bg-setting-tab-map {
	overflow: auto;
}
.uf-bgsettings-map-location {
	float: left;
	width: 90%;
	margin-top: 0;
}
#region-settings-sidebar .uf-bgsettings-mapitem {
	padding: 0 16px 10px;
}
.uf-bgsettings-mapitem .upfront-field-multiple-selected label span {
	color: #2f475f;
}
.upfront-field-multiple-selected label span {
	color: #2f475f;
}
.uf-bgsettings-item.uf-bgsettings-mapitem label.upfront-field-label,
.uf-bgsettings-mapitem label span {
	color: #96acc1;
	font-size: 11px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 10px;
	margin-bottom: 3px;
}
.uf-bgsettings-mapitem .upfront-field-slider-value {
	display: none;
}
.upfront-refresh-map {
	float: right;
	margin: 15px 0 15px;
	cursor: pointer;
}
.uf-bgsettings-map-zoom {
	clear: both;
	margin: 13px 0 5px;
}
.uf-bgsettings-map-style {
	width: 40%;
	display: inline-block;
}
.uf-bgsettings-map-style .upfront-field-select,
.uf-bgsettings-map-controls .upfront-field-select {
	width: 99%;
}

.uf-bgsettings-map-controls {
	width: auto;
	margin-right: 0;
	float: right;
	max-width: 57%;
}

.upfront-settings_panel .uf-bgsettings-map-style,
.upfront-settings_panel .uf-bgsettings-map-controls {
	float: none;
	margin-right: 0;
	width: auto;
}

.uf-bgsettings-mapitem .uf-bgsettings-map-custom-map-code {
	margin-top: 0;
}

.uf-bgsettings-map-custom-map-code,
.uf-bgsettings-map-show-marker {
	clear: both;
	float: left;
	width: 100%;
}

.uf-bgsettings-slideritem .uf-bgsettings-slider-rotate {
	display: inline-block;
	margin-right: 0;
}

.uf-bgsettings-slideritem .uf-bgsettings-slider-time {
	display: inline-block;
	margin-left: 15px;
	margin-top: 0;
	width: 50%;
}

#region-settings-sidebar .uf-bgsettings-slider-time input {
	width: 50%;
}

.upfront-modal-bg-settings-fixed .uf-bgsettings-slideritem .uf-bgsettings-slider-time {
	margin-right: 10px;

}

.uf-bgsettings-slider-control, .uf-bgsettings-slider-control-style {
	display: inline-block;
	width: 48%;
}

.uf-bgsettings-slider-control-style {
	float: right;
}

.upfront-bg-slider-slides {
	margin-top: 10px;
}
.upfront-bg-slider-slides .upfront-settings-item-title {
	line-height: 1;
}
.upfront-bg-slider-slides .upfront-settings-item-content,
.uf-bgsettings-slider-slidesitem .upfront-settings-item-content {
	position: relative;
	margin: 20px -7px 0;
}
.upfront-bg-slider-image-loading {
	min-height: 126px;
}
.upfront-bg-slider-image,
.upfront-bg-slider-add-image {
	float: left;
	width: 49px;
	height: 37px;
	margin: 0 7px 15px 7px;
}
.upfront-bg-slider-image {
	position: relative;
	cursor: move;
	border: 1px solid #233d54;
}
.upfront-bg-slider-image:hover {
	box-shadow: inset 0 0 0 1px #233d54;
}
.uf-bgsettings-slideritem .upfront-field-multiple label {
	color: #96acc1;
}
.upfront-bg-slider-add-image {
	color: #1f2f3e;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	text-align: center;
	width: 63px;
	margin: 0 0 15px;
	cursor: pointer;
	padding-top: 6px;
}
.upfront-bg-slider-add-image.upfront-icon:before {
	float: none !important;
	display: block;
	margin: 0 auto;
}
.upfront-bg-slider-image img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uf-bgsettings-slider-slidesitem .upfront-bg-slider-image {
	width: 45px;
	height: 35px;
}

.upfront-bg-slider-delete-image {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
	line-height: 15px;
	border-radius: 8px;
	background: #dd4547;
	color: #fff;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	text-align: center;
	cursor: pointer;
	display: none;
}

.upfront-bg-slider-image:hover .upfront-bg-slider-delete-image {
	display: block;
}

.background-type-field .upfront-field-select,
.background-image-field .upfront-field-select {
	max-width: 140px;
	margin-top: 3px;
}

#region-settings-sidebar .upfront-bg-setting-type {
	width: 100%;
	padding: 10px 16px;
	background: rgb(242, 242, 242);
	clear: both;
}

#region-settings-sidebar .upfront-bg-setting-tab-video .upfront-bg-setting-tab-secondary {
	padding: 0;
}

#region-settings-sidebar .upfront-bg-setting-tab-video {
	padding: 0 16px 10px;
}

.uf-bgsettings-video-url {
	margin: 10px 0 5px;
}

.upfront-bg-setting-tab-video span label,
.upfront-bg-setting-tab-video .uf-bgsettings-item .upfront-field-wrap > label {
	color: #96acc1;
	font-size: 11px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height: 10px;
}

.upfront-bg-setting-tab-video .uf-bgsettings-item .upfront-field-wrap > label {
	margin-bottom: 3px;
}

.uf-bgsettings-video-color {
	width: 66%;
}

.upfront-modal-bg-settings-global .uf-bgsettings-video-color {
	width: 150px;
}

.upfront-bg-setting-tab-video .uf-bgsettings-item .uf-bgsettings-video-color > label {
	float: right;
	line-height: 25px;
	width: 7.3rem;
}

.uf-bgsettings-video-mute, .uf-bgsettings-video-autoplay {
	display: inline-block;
	width: 50%;
	margin-top: 0;
}

#region-settings-sidebar .upfront-bg-setting-tab-color {
	padding: 0 16px 10px;
	background: rgb(242, 242, 242);
}

.upfront-modal-bg-settings-global .upfront-bg-setting-tab-color {
	display: inline-block;
	padding-top: 0;
	clear: none;
	width: 105px;
	margin: 0 15px;
}

.upfront-modal-bg-settings-global .uf-bgsettings-color-pick label:after {
	content: ":";
}

#region-settings-sidebar .upfront-settings-item-title {
	color: #9e9e9e;
}

.upfront-region-modal-bg span.upfront-settings-item-title {
	border: none;
	box-shadow: none;
	background: none;
	line-height: normal;
	padding: 0 0 10px;
}
span.upfront-settings-item-title:after {
	content: none;
}
.upfront-bg-setting-tab .upfront-field-number{
	width: 55px;
}
.upfront-bg-setting-tab .sp-replacer {
	float: none;
	width: auto;
}

.upfront-bg-setting-tab-primary {
	width: 66%;
	float: right;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured .upfront-bg-setting-tab-primary {
	float: none;
	position: relative;
}

#region-settings-sidebar .upfront-bg-setting-tab-featured {
	padding: 0 16px;
}

.upfront-modal-bg-settings-global .upfront-bg-setting-tab-primary {
	display: inline-block;
	width: 59%;
}

.upfront-bg-setting-tab-color .upfront-bg-setting-tab-primary {
	float: none;
}

#region-settings-sidebar .upfront-bg-setting-tab-color div.upfront-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
	line-height: 25px;
}
#region-settings-sidebar .uf-bgsettings-color-pick label.upfront-field-label.upfront-field-label-block {
	float: right;
	margin: 0;
	padding: 0;
	width: 7.3rem;
	font-size: 10px;
	margin-top: 3px;
	color: #7d99b3;
}
.upfront-bg-setting-tab-secondary {
	padding: 0;
	clear: both;
}

.upfront-bg-setting-theme-body {
	margin: 0 0 20px;
}

.upfront-bg-setting-heading {
	color: #27394b;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
}

#region-settings-sidebar .upfront-bg-setting-label,
#region-settings-sidebar div.upfront-bg-setting-tab-primary .upfront-field-wrap .upfront-field-label-block {
	color: #4a4a4a;
	font-size: 11px;
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 10px;
}

.upfront-modal-bg-settings-global .upfront-bg-setting-label {
	color: #3f617f;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
}

.upfront-modal-bg-settings-fixed .upfront-bg-setting-label {
	color: #3f617f;
	font-size: 14px;
	line-height: 20px;
}

.upfront-bg-setting-label:after {
}

.upfront-bg-setting-label-alt {
	color: #2f475d;
	font-family: "Verdana";
	font-size: 11px;
}

/* Cancel Button */
#region-settings-sidebar .upfront-inline-modal-cancel {
	position: absolute;
	bottom: -56px;
	left: 16px;
	color: #fff;
	font-weight: 800;
	font-size: 11px;
	background: white;
	border: 1px solid #b6b6b6;
	color: #484848;
	height: 30px;
	width: 90px;
}

#region-settings-sidebar .upfront-inline-modal-cancel:before {
}

/* Save Button */
#region-settings-sidebar .upfront-inline-modal-save, #region-settings-sidebar .upfront-inline-modal-save:hover {
	position: absolute;
	bottom: -56px;
	right: 16px;
	color: #f1f8ff;
	font-size: 11px;
	font-weight: 800;
	line-height: 12px;
	padding: 0;
	background: #1793ff;
	border: 1px solid #0e85ed;
	color: #fff;
	height: 30px;
	width: 90px;
}

#region-settings-sidebar .upfront-inline-modal-save {
	opacity: 0.75;
}

#region-settings-sidebar .upfront-inline-modal-save:hover {
	opacity: 1;
}

.upfront-region-bg-setting-padding .upfront-field-wrap-number .upfront-field-number {
	width: 45px;
	clear: both;
}

#element-settings-sidebar .uf-bgsettings-item  .upfront-field-label-inline,
#element-settings-sidebar .uf-bgsettings-item  .upfront-field-wrap .upfront-field-label-block {
	font-size: 11px;
	display: inline;
	font-family: verdana, sans-serif;
	text-align: left;
	color: #7d99b3;
	position: relative;
	top: -3px;
	padding-left: 5px;
}

#element-settings-sidebar .uf-bgsettings-item  .sp-replacer {
	float: left;
}

#element-settings-sidebar .background-type-field i,
#element-settings-sidebar .uf-bgsettings-image-style i {
	top: 0px;
}

#element-settings-sidebar .uf-bgsettings-imageitem {
	position: relative;
}

#element-settings-sidebar .uf-bgsettings-imageitem .uf-bgsettings-image-pick {
	position: absolute;
	right: 10px;
	top: -41px;
}

#element-settings-sidebar .ugroup-settings .uf-bgsettings-imageitem .uf-bgsettings-image-pick {
	position: absolute;
	right: 10px;
	top: 2px;
	padding: 0px 10px;
}

#element-settings-sidebar .ugroup-settings .uf-bgsettings-imageitem .uf-bgsettings-image-pick input {
	width: 100%;
	height: 100%;
}


#element-settings-sidebar .padding-bg-checkbox-field {
	border-top: 1px solid #dce7f4;
	margin: 5px 15px;
	padding: 10px 0px !important;
	display: block;
}

.upfront-bg-setting-heading {
	color: #27394b;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
}
.upfront-bg-setting-label {
	color: #3f617f;
	font-size: 14px;
	line-height: 20px;
}
.upfront-bg-setting-label-alt {
	color: #2f475d;
	font-family: "Verdana";
	font-size: 11px;
}

#settings .ugroup-settings .uf-bgsettings-image-color {
	float: right;
	width: 28%;
	position: absolute;
	top: -5px;
	right: 16px;
}

#settings .ugroup-settings .uf-bgsettings-image-color .upfront-field-label {
	top: 33px;
	left: 5px;
}

#settings .ugroup-settings .uf-bgsettings-image-size {
    left: 0;
	margin: 0;
	padding: 5px 0 10px 0;

	label.upfront-field-label.upfront-field-label-block {
		display: none;
	}
}

#settings .ugroup-settings .uf-bgsettings-image-size .upfront-field-label {
	width: 100px !important;
    position: relative;
    display: block;
    left: -5px;
    margin-bottom: 0px;
}

#settings .ugroup-settings .uf-bgsettings-image-pos-y .upfront-field-label {
	position: relative;
	top: 7px;
}

#settings .ugroup-settings .upfront_toggle {
	width: 100%;
    padding-left: 0;

	span.upfront-field-label-text {
		position: absolute;
		left: 50px;
		top: 2px;
	}

	label.upfront_toggle_label {
		margin: 0;
	}
}

#settings .ugroup-settings .uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num {
	left: -7px;
}

#settings .ugroup-settings .uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num {
	left: -78px;
}

.background-video-style-field {
	margin-top: 0;
}

.uf-bgsettings-video-pick {
	margin-bottom: 5px;
	width: 100%;
}
.uf-bgsettings-video-pick input {
	width: 100%;
}
