/* builder */
#sidebar-ui .sidebar-commands .upfront-field-select-option {
	display: block;
}

#sidebar-ui .sidebar-commands-theme .command-grid {
	margin-left: 10px;
}

div.upfront-region.empty_in_theme_mode:not(.upfront-region-floating):not(.upfront-region-lightbox):before, 
div.upfront-regions a#no_region_add_one {
	font:300 16px/150% Source Sans, Helvetica Neue, Helvetica, sans-serif;
	position: absolute;
	left:40%;
	top:18%;
	z-index:999999;
	color:#263A4D;
	background-color:rgba(242,250,255,.9);
	padding:8px 20px;
	border-radius:10px;
	box-shadow:0px 2px 1px rgba(38,58,77,.3);
}

div.upfront-region.empty_in_theme_mode:not(.upfront-region-floating):not(.upfront-region-lightbox):before {
	content: "Drop Elements from the sidebar here";
}

div.upfront-regions a#no_region_add_one {
	cursor:pointer;
}

.upfront-region-editing .empty_in_theme_mode:before {
	display:none;
}

.upfront-initial-overlay-wrapper {
	background-color:rgba(255,255,255,.9);
	border:0;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align:center;
	line-height: 80%;
	margin:15px;
}