/* Let's have a standard class for common button, text, etc */
.uf-button {
	display: inline-block;
	background: rgb(255, 255, 255);
	padding: 5px 20px 0 20px;
	color: rgb(66, 127, 237);
	font-size: 16px;
	font-family: "Helvetica";
	height: 40px;
	line-height: 24px;
	cursor: pointer;
	border: 4px solid rgb(66, 127, 237);
	border-radius: 100px 100px 100px 100px;
	transition: all 0.25 linear;
}
.uf-button:hover {
	background: rgb(66, 127, 237);
	color: rgb(255, 255, 255);
}
