/* Let's have a standard class for common button, text, etc */
.uf-button {
	display: inline-block;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-family: "Arial";
	height: 40px;
	line-height: 1.3;
	cursor: pointer;
	border: 4px solid rgb(66, 127, 237);
	transition: all 0.25 linear;
}
.uf-button:hover {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}
