/* Chosen */
#insert-font-widget .chosen-container-single .chosen-single,
#sidebar-ui .chosen-container-single .chosen-single,
#upfront-popup .chosen-container-single .chosen-single,
.preset-manager-panel .chosen-container-single .chosen-single
{
	margin: 0;
	text-decoration: none;
	background: #e6f3fe !important;
	color: rgb(96, 127, 153);
	font-size: 11px;
	box-shadow: inset 0 2px 0 #f2f9ff;
	font-family: Verdana, sans-serif;
	line-height: 22px;
	border-radius: 3px;
	border:1px solid rgb(163, 191, 217);
}
#insert-font-widget .chosen-container-single .chosen-single:hover,
#sidebar-ui .chosen-container-single .chosen-single:hover,
#upfront-popup .chosen-container-single .chosen-single:hover,
.preset-manager-panel .chosen-container-single .chosen-single:hover
{
	border-color: rgb(96, 127, 153);
}
#insert-font-widget .chosen-with-drop .chosen-single,
#sidebar-ui .chosen-with-drop .chosen-single,
#insert-font-widget .chosen-with-drop .chosen-single:hover,
#sidebar-ui .chosen-with-drop .chosen-single:hover,
#upfront-popup .chosen-with-drop .chosen-single,
#upfront-popup .chosen-with-drop .chosen-single:hover,
.preset-manager-panel .chosen-with-drop .chosen-single,
.preset-manager-panel .chosen-with-drop .chosen-single:hover
{
	border-color: rgb(163, 191, 217);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#upfront-popup .chosen-container-multi .chosen-choices .search-choice {
	display: none;
}
#insert-font-widget .chosen-container .chosen-results li,
#sidebar-ui .chosen-container .chosen-results li,
#upfront-popup .chosen-container .chosen-results li,
.preset-manager-panel .chosen-container .chosen-results li,
{
	margin: 0 0 0 5px;
}
#insert-font-widget .chosen-container-single .chosen-drop,
#sidebar-ui .chosen-container-single .chosen-drop,
#upfront-popup .chosen-container-single .chosen-drop,
.preset-manager-panel .chosen-container-single .chosen-drop,

#insert-font-widget .chosen-container-multi .chosen-drop,
#sidebar-ui .chosen-container-multi .chosen-drop,
#upfront-popup .chosen-container-multi .chosen-drop,
.preset-manager-panel .chosen-container-multi .chosen-drop
{
	background: #e6f3fe;
	color: rgb(96, 127, 153);
	border-color: rgb(163, 191, 217);
	font-size: 11px;
	font-family: Verdana, sans-serif;
	box-shadow: none;
}
#insert-font-widget .chosen-container .chosen-results,
#sidebar-ui .chosen-container .chosen-results,
#upfront-popup .chosen-container .chosen-results,
.preset-manager-panel .chosen-container .chosen-results
{
	max-height: 150px;
	margin-right: 5px;
}
#sidebar-ui .chosen-container .chosen-results,
#upfront-popup .chosen-container .chosen-results,
.preset-manager-panel .chosen-container .chosen-results
{
	max-height: 120px;
}
#insert-font-widget .chosen-container .chosen-results li.highlighted,
#sidebar-ui .chosen-container .chosen-results li.highlighted,
#upfront-popup .chosen-container .chosen-results li.highlighted,
.preset-manager-panel .chosen-container .chosen-results li.highlighted
{
	background: #5f7f9a;
	color: #fff;
}
#insert-font-widget .chosen-container-single .chosen-search,
#sidebar-ui .chosen-container-single .chosen-search,
#upfront-popup .chosen-container-single .chosen-search,
.preset-manager-panel .chosen-container-single .chosen-search,

#insert-font-widget .chosen-container-multi .chosen-search,
#sidebar-ui .chosen-container-multi .chosen-search,
#upfront-popup .chosen-container-multi .chosen-search,
.preset-manager-panel .chosen-container-multi .chosen-search
{
	padding: 3px 5px;
}
#insert-font-widget .chosen-container-single .chosen-search input[type=text],
#sidebar-ui .chosen-container-single .chosen-search input[type=text],
#upfront-popup .chosen-container-single .chosen-search input[type=text],
.preset-manager-panel .chosen-container-single .chosen-search input[type=text],

#insert-font-widget .chosen-container-multi .chosen-choices input[type=text],
#sidebar-ui .chosen-container-multi .chosen-choices input[type=text],
#upfront-popup .chosen-container-multi .chosen-choices input[type=text],
.preset-manager-panel .chosen-container-multi .chosen-choices input[type=text]
{
	background: #f7fbff;
	border-color: #a4bfd8;
	font-weight: normal;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	color: rgb(96, 127, 153);
	padding:5px;
}
#insert-font-widget .chosen-container-single .chosen-results::-webkit-scrollbar,
#sidebar-ui .chosen-container-single .chosen-results::-webkit-scrollbar,
#upfront-popup .chosen-container-single .chosen-results::-webkit-scrollbar,
.preset-manager-panel .chosen-container-single .chosen-results::-webkit-scrollbar,

#insert-font-widget .chosen-container-multi .chosen-results::-webkit-scrollbar,
#sidebar-ui .chosen-container-multi .chosen-results::-webkit-scrollbar,
#upfront-popup .chosen-container-multi .chosen-results::-webkit-scrollbar,
.preset-manager-panel .chosen-container-multi .chosen-results::-webkit-scrollbar
{
	background: #d4dee8;
  width: 5px;
}
#insert-font-widget .chosen-container-single .chosen-results::-webkit-scrollbar-thumb,
#sidebar-ui .chosen-container-single .chosen-results::-webkit-scrollbar-thumb,
#upfront-popup .chosen-container-single .chosen-results::-webkit-scrollbar-thumb,
.preset-manager-panel .chosen-container-single .chosen-results::-webkit-scrollbar-thumb,

#insert-font-widget .chosen-container-multi .chosen-results::-webkit-scrollbar-thumb,
#sidebar-ui .chosen-container-multi .chosen-results::-webkit-scrollbar-thumb,
#upfront-popup .chosen-container-multi .chosen-results::-webkit-scrollbar-thumb,
.preset-manager-panel .chosen-container-multi .chosen-results::-webkit-scrollbar-thumb
{
	background-color: #1fcd8f;
}
#insert-font-widget .chosen-container-single .chosen-single div b,
#sidebar-ui .chosen-container-single .chosen-single div b,
#upfront-popup .chosen-container-single .chosen-single div b,
.preset-manager-panel .chosen-container-single .chosen-single div b
{
	display: block;
	width: 0;
	height: 0;
	background: none;
	border-top: 4px solid rgb(96, 127, 153);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-top: 9px;
}
#insert-font-widget .chosen-with-drop .chosen-single div b,
#sidebar-ui .chosen-with-drop .chosen-single div b,
#upfront-popup .chosen-with-drop .chosen-single div b,
.preset-manager-panel .chosen-with-drop .chosen-single div b
{
	border-top: 0 none transparent;
	border-bottom: 4px solid rgb(96, 127, 153);
}

.chosen-container .chosen-results li em {
	background-color: #00CE8D;
	color:#fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 #00B47C;
	padding:2px 0;
	text-decoration: none!important;
}
