.ueditor-box-wrapper{
	display: block;
	width: 250px;
	margin-left: -15px;
}
.ueditor-box-section .ueditor-box-content-wrap{
	display: none;
}
.ueditor-box-section.active .ueditor-box-content-wrap{
	display: block;
}
.ueditor-box-content-wrap{
	//  display: none;
}
.ueditor-box-content-wrap:first-child{
	display: block;
}

/* Styles */
.sidebar-tab-content, #sidebar-ui .sidebar-panel-post-editor .sidebar-panel-content {
	background-color: #f2f2f2;
}

#post-url-display-label {
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.3px;
	color: #989898;
	text-transform: uppercase;
}

#post-url-display {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 10px;
	color: #779cbd;
}

#post-url-slug span {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #2f475f;
	font-weight: normal;
}

#post-title span, #post-metadesc span {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #2f475f;
	font-weight: normal;
}

#post-url-slug a, #post-title a, #post-metadesc a {
	font-weight: normal;
}

.misc-pub-post-url .upfront-settings-toggled {
	background-color: transparent !important;
}

.ueditor-post-page-title, .ueditor-post-page-url {
	border-bottom: 1px solid rgba(184, 207, 230, 0.3);
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.ueditor-post-url-text, .ueditor-post-title-text {
	width: 172px !important;
	height: 25px !important;
	background-color: #ffffff;
	border: solid 1px #a2bfda;
	margin: 0px;
	display: inline-block;
}

.ueditor-post-page-metadesc .char-counter {
	font-size: 10px;
	color: #779cbd;
}
.ueditor-post-page-metadesc .char-counter.over-limit .current {
	color: #e75757;
}

.ueditor-post-title-text {
	margin-bottom: 10px;
}

#sidebar-ui .upfront-tax-new_term {
	width: 166px !important;
	height: 26px !important;
	background-color: #ffffff;
	border: solid 1px #a2bfda;
	margin: 0px;
	display: inline-block;
	color: #263a4d;
	padding: 0px 10px;
	font-size: 11px;
	font-family: verdana, sans-serif;
	line-height: 1;
}

#sidebar-ui .upfront-tax-new_term::placeholder {
	padding: 0px 10px;
	font-size: 11px;
	font-family: verdana, sans-serif;
	line-height: 1;
}

#sidebar-ui .upfront-tax-new_term:hover {
	width: 166px !important;
	height: 26px !important;
	background-color: #ffffff;
	border: solid 1px #a2bfda;
	margin: 0px;
	display: inline-block;
}

#sidebar-ui .ueditor-save-post-data, #sidebar-ui #upfront-tax-add_term {
	width: 42px;
	height: 26px;
	background-color: #909090;
	border: solid 1px #909090;
	font-family: Open Sans, Verdana, sans serif;
	font-size: 11px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	margin: 0px;
	position: relative;
	left: -5px;
	top: -1px;
	line-height: 23px;
}

#upfront-taxonomy-parents {
	width: 207px !important;
	font-size: 11px;
	color: #334458;
	font-family: verdana, sans-serif;
}

#sidebar-ui #upfront-tax-add_term {
	top: 0px;
}

#sidebar-ui a.ueditor-btn-edit {
	display: none;
	cursor: pointer;
	text-decoration: none;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: #fbfbfb;
	background: #909090;
	border-radius: 10px;
	width: 48px;
	height: 19px;
	text-align: center;
	text-transform: uppercase;
}

#sidebar-ui .upfront-slug_editor-url div:hover p a {
	display: inline-block;
}

#sidebar-ui a.ueditor-action {
	background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	border: solid 1px #a2bfda;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	color: #6486a6;
	text-shadow: 0 1px 0 #ffffff;
	padding: 5px 15px;
	border-radius: 2px;
	font-weight: 500;
	margin: 0px;
}

#sidebar-ui a.ueditor-action-preview {
	display: inline-block;
	float: right;
}

.misc-pub-section .ueditor-previous-data {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 12px;
	color: #3d5266;
	font-weight: bold;
}

#post-url-display {
	font-weight: normal;
}

#sidebar-ui a.upfront-taxonomy-add {
	display: block;
	position: absolute;
	border-left: 1px solid #a4bfd8;
	width: 40px;
	height: 23px;
	top: 5px;
	right: 6px;
	background: #f1f8fe;
	color: #4d6c8e;
	text-align: center;
	margin: 0px;
}

#sidebar-ui a.chosen-search {
	position: relative;
}

.upfront-settings-toggled {
	background-color: #e6edf2;
	margin: 0px -15px;
	padding: 0px 15px;
}

.ueditor-togglable select, .ueditor-taxonomy-wrapper select {
	background: #F2F9FF;
	border: 1px solid #A2BFDA;
	padding: 0px 5px;
	margin: 10px 0;
	height: 26px;
	color: #607F99;
	border-radius: 3px;
}

#sidebar-ui .upfront-page-template-chosen {
	width: 155px;
	display: inline-block;
}

#sidebar-ui .select-page-template-chosen .chosen-container .chosen-drop {
	border-radius: 3px;
	background-color: #f7fbff;
	box-shadow: 0 0 5px 0 rgba(47, 71, 95, 0.5);
	margin-top: -24px;
	border: none;
	width: 190px !important;
}

#sidebar-ui .select-page-template-chosen label {
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #2f475f;
	text-transform: uppercase;
}

#sidebar-ui .upfront-page-template-description {
	display: none;
	opacity: 0.8;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.5;
	color: #2f475f;
}

#sidebar-ui .select-page-template-chosen .group-result {
	font-family: Open Sans, Verdana, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #85a9cc;
	text-transform: uppercase;
	border-top: 1px solid rgba(184, 207, 230, 0.3);
	margin-top: 3px;
}

#sidebar-ui .select-page-template-chosen .group-result:first-child {
	border-top: none;
	margin-top: 0px;
}

#sidebar-ui .chosen-checkbox-filter {
	padding: 10px;
	padding-bottom: 5px;
	background-image: linear-gradient(to bottom, #f7fbff, rgba(235, 239, 242, 0.7));
}

#sidebar-ui .upfront-select-template-button {
	background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	border: solid 1px #a2bfda;
	display: inline-block;
	padding: 5px 15px;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.3;
	color: #6486a6;
	text-shadow: 0 1px 0 #ffffff;
	margin: 0px;
	border-radius: 2px;
}

#sidebar-ui .upfront-delete-template-button {
	color: #e75757;
	margin-left: 0;
	font-size: 14px;
	display: none;
}

#sidebar-ui .upfront-delete-template-button:before {
	content: " ";
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(../img/uf-core-el-sprite.svg);
	width: 9px;
	height: 12px;
	background-position: -665px -77px;
	margin-right: 5px;
}

#sidebar-ui .update-post-template {
	float: left;
	display: none;
}

#sidebar-ui .save-post-template.upfront-select-template-button,
#sidebar-ui .reset-post-template.upfront-select-template-button {
	display: none;
}

#sidebar-ui .apply-post-template,
#sidebar-ui .save-post-template {
	float: right;
}

#sidebar-ui .upfront-page-template-action,
#sidebar-ui .upfront-page-template-description {
	margin-top: 15px;
}

#sidebar-ui .upfront-page-template-action {
	min-height: 26px;
	padding-bottom: 15px;
}

#sidebar-ui .upfront-page-template-description strong {
	font-weight: bold;
}

#sidebar-ui .save-form-cancel,
#sidebar-ui .save-form-name,
#sidebar-ui .save-form-save {
	display: inline-block;
}

#sidebar-ui .save-form-cancel input {
	width: 52px;
	height: 22px;
	background: #fff;
	border: 1px solid #becbd7;
	border-radius: 3px;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #a1b5c9;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
}

#sidebar-ui .save-form-name input {
	width: 117px;
	height: 32px;
	background: #fff;
	border: 1px solid #a2bfda;
	border-right: none;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #758596;
}

#sidebar-ui .save-form-save input {
	width: 45px;
	height: 32px;
	background: #1fcd8f;
	border: 1px solid #1bb37d;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #fff;
	text-align: center;
	line-height: 32px;
	position: relative;
	top: 1px;
}

#sidebar-ui .upfront-page-template-dropdown,
#sidebar-ui .upfront-page-template-description {
	position: relative;
}

#sidebar-ui .upfront-templates-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}

#sidebar-ui .changes-dot {
	width: 6px;
	height: 6px;
	background-color: #1fcd8f;
	border: solid 1px #19a674;
	border-radius: 50%;
	position: absolute;
	top: 7px;
	left: 110px;
}


#ui-datepicker-div {
	background-color: rgb(242, 242, 242);
	border: solid 1px #adcbe5;
	font-size: 11px;
	display: none;
	position: absolute;
	z-index: 10000;
	text-transform: none !important;
	text-decoration: none !important;
}

#ui-datepicker-div .ui-datepicker-header {
	padding: 0px 20px;
	background-image: linear-gradient(to bottom, #f7fbff, rgba(235, 239, 242, 0.7));
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

#ui-datepicker-div table{
	margin: 1px;
}

#ui-datepicker-div thead{
	color: #395269;
}

#ui-datepicker-div select{
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	margin: 0 2px;
}

#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
	width: 14px;
	height: 14px;
	background-color: #253a4d;
	text-indent: 20px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	top: 8px;
}
#ui-datepicker-div .ui-datepicker-prev {
	float: left;
}
#ui-datepicker-div .ui-datepicker-prev:before {
	content: '';
	display: block;
	border-top: solid 4px transparent;
	border-right: solid 4px #FFF;
	border-bottom: solid 4px transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -2px;
}
#ui-datepicker-div .ui-datepicker-next {
	float: right;
}
#ui-datepicker-div .ui-datepicker-next:before {
	content: '';
	display: block;
	border-top: solid 4px transparent;
	border-left: solid 4px #FFF;
	border-bottom: solid 4px transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -1px;
}

#ui-datepicker-div td,
#ui-datepicker-div th{
	text-align: center;
	width: 25px;
	height: 18px;
	padding: 1px;
}

div#ui-datepicker-div td a{
	color: #607F99;
	display: inline-block;
	width: 25px;
	height: 18px;
	line-height: 16px;
	background-color: #ffffff;
	border: solid 1px #d8e0e8;
}

#ui-datepicker-div td a:hover{
	border: solid 1px #3d5266;
	text-decoration: none;
}

#ui-datepicker-div a.ui-state-active {
	background-color: #e6edf2;
	border: solid 1px #a3bfd9;
}

.upfront-time_picker {
	padding: 5px 10px;
	border-top: 1px solid #accae6;
	text-align: center;
}

#upfront-schedule-datepicker {
	width: 94px;
	height: 25px;
	background-color: #ffffff;
	border: solid 1px #a2bfda;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #2f475f;
	padding: 0px 5px;
}

#upfront-schedule-datepicker:focus {
	border: solid 2px #a3bfd9;
}

#sticky-span {
	border-left: 2px solid #c3ced9;
	padding-left: 10px;
	height: 15px;
	width: 100%;
}

#sticky-span label {
	position: relative;
	top: -2px;
}

#sticky-span, #password-span input {
	margin-bottom: 5px;
}

#post-visibility-select {
	margin-top: 5px;
}

.timestamp-wrap {
	margin-top: 8px;
	margin-bottom: 5px;
}

.schedule-hours, .schedule-minutes, .schedule-hours:hover, .schedule-minutes:hover {
	width: 26px;
	height: 25px;
	background-color: #ffffff;
	border: solid 1px #a2bfda !important;
	font-family: Open Sans, Verdana, sans-serif;
	font-size: 11px;
	color: #2f475f;
	padding: 0px 5px;
}

.upfront-bar-datepicker {
	display: inline-block;
}

.ueditor-save-post-date {
	width: 37px;
	height: 26px;
	margin: 0px;
	position: relative;
	top: -9px;
	border-radius: 3px;
	right: -10px;
}

.save-post-visibility, .ueditor-save-post-hie-tax {
	width: 67px;
	height: 26px;
	margin: 0px;
	border-radius: 3px;
	margin-bottom: 5px !important;
}

.upfront-toggleable-content {
	padding: 3px 0px;
}

.upfront-toggleable-content.upfront-settings-toggled {
	padding: 3px 15px;
}

.upfront-toggleable-content .upfront-field-checkbox, .upfront-toggleable-content .upfront-field-radio {
	margin-right: 5px;
}

.upfront-slug_editor-url, .upfront-taxonomy-hierarchical {
	background: none !important;
}

.add-new-taxonomies-btn {
	width: 150px;
	height: 26px;
	margin: 0px;
	position: relative;
	border-radius: 3px;
	color: #7189a5;
	margin-top: 10px !important;
}

.add-new-taxonomies-btn.upfront-add-active {
	background: #a2bddc !important;
	color: #fff !important;
	border-color: #97b2d1 !important;
	text-shadow: 0 1px 0 #ccc !important;
}

#upfront-taxonomy-add {
	border-left: 2px solid #dce6f1;
	padding-left: 10px;
	margin-top: 10px;
	padding-bottom: 8px;
}

.ueditor-taxonomy-wrapper .upfront-taxonomy_item input {
	margin-right: 2px;
}

.ueditor-taxonomy-wrapper .upfront-taxonomy_item label {
	position: relative;
	top: -2px;
}

.ueditor-taxonomy-wrapper .upfront-taxonomy_item .upfront-field-checkbox:checked {
	margin-right: 6px;
}

.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.ueditor-togglable,
.ueditor-togglable-child{
	display: none;
}
.misc-pub-section{
	padding: 0px 15px;
	overflow: hidden;
	clear: both;
	font:normal 12px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
}
#ueditor-box-cats-tags .misc-pub-section:last-child{
	border: none;
}
.ueditor-box-wrapper label.ueditor-icon-label:before{
	background: transparent url(../img/uf-ui-sprite.svg);
	display: inline-block;
	width: 25px;
	height: 25px;
	content: "";
	margin: 0 0 -10px 0;
	opacity: 0.5;
}
.select-taxonomy-chosen label {
	font-size: 11px;
	color: rgba(33, 33, 33, .8);
}
.ueditor-box-wrapper label#post-status-display-label:before{
	background-position: -562px -385px;
}
.ueditor-box-wrapper label#post-visibility-display:before{
	background-position: -604px -385px;
}
.ueditor-box-wrapper label#publication-time:before{
	background-position: -644px -385px;
}
.ueditor-bix-top-buttons{
	margin: 15px 15px 15px;
	border-top:1px solid rgba(228, 228, 228, 1);
	margin-top: 10px;
}
a.ueditor-action-trash{
	float: left;
	color: #e75757;
	padding: 1px 10px 1px 20px;
	border: 1px solid #E5575A;
	border-radius: 3px;
	height: auto;
	position: relative;
	margin-top:15px;
	opacity: .6;
}
a.ueditor-action-trash:hover {
	border: 1px solid #E5575A;
	opacity: 1;
}

a.ueditor-action-trash:before {
	content:'';
	background: transparent url(../img/uf-core-el-sprite.svg);
	background-position: -665px -78px;
	width:10px;
	height:14px;
	left: 8px;
	top: 7px;
	position: absolute;
}
.ueditor-box-icon {
	padding: 3px 12px;
	margin-right: 5px;
	display: block;
	height: 36px;
	min-width: 30px;
	font-size: 13px;
}
.ueditor-box-icon-text{
	padding-left: 14px;
}
.ueditor-post-url-root{
	display: inline;
	font-size: 11px;
}
.ueditor-togglable-post-schedule-date{
	font-size: 14px;
}
.ueditor-togglable-post-url{
	clear: both;
}

/* FIXES */

#ueditor-box-publish select,
#ueditor-box-publish input[type="text"],
#ueditor-box-cats-tags select,
#ueditor-box-cats-tags .upfront-tax-new_term,
#ueditor-box-cats-tags .upfront-flat-tax-new_term {
	background: #F2F9FF;
	border: 1px solid #A2BFDA;
	padding: 12px;
	margin: 10px 0;
	height: 26px;
	color: #607F99;
}

.ueditor-select-options {
	width: 100%;
}

#ueditor-box-publish .ueditor-row {
	margin:10px 0;
}

/* Taxonomies */

#ueditor-box-cats-tags a.upfront-taxonomy-list-choose-from-prev {
	width: 100%;
	font:normal 13px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	color: #3d5266;
}

#ueditor-box-cats-tags #upfront-taxonomy-list {
	overflow-y: scroll;
	margin: 10px 0;
	padding: 0;
	border-radius: 3px;
	max-height: 202px;
	position: relative;
}
#ueditor-box-cats-tags #upfront-taxonomy-list-all {
	background: #fff;
}
.upfront-taxonomy_item {
	height: auto;
	padding: 0 2px;
	font-size: 11px;
	color: #3d5266;
	font-family: Open Sans, Verdana, sans-serif;
	margin:2px 0;
}

.upfront-taxonomy-tab-wrapper .upfront-taxonomy_item {
	line-height: 18px;
}

.upfront-taxonomy-tab-wrapper #upfront-taxonomy-list {
	background: #e7e7e7;
	padding: 7px;
}

.taxonomy-panel-content {
	margin-top: -1px;
}

.upfront-taxonomy-tab {
	padding: 2px 15px;
	text-align: center;
	background: none;
	font-weight: normal;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 11px;
	color: #374456;
	display: inline-block;
	cursor: pointer;
}

.upfront-taxonomy-tab.active {
	padding: 2px 15px;
	text-align: center;
	background: #e7e7e7;
	font-weight: normal;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 11px;
	color: #374456;
}

#post-tags-display-label, #post-categories-display-label {
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.3px;
	color: #2f475f;
	font-weight: bold;
	text-transform: uppercase;
}

.select-taxonomy-chosen {
	margin-top: 5px;
	padding-bottom: 10px;
}

.ueditor-taxonomy-wrapper {
	margin-top: 5px;
	border-bottom: 1px solid rgba(228, 228, 228, 1);
	padding-bottom: 10px;
}

.select-taxonomy-chosen label {
	padding-left: 2px;
}

#ueditor-box-cats-tags .upfront-taxonomy_item .icon-plus {
	margin:0;
}

#ueditor-box-cats-tags .upfront-taxonomy-list-panel-previously-used {
	max-height: none;
}

#sidebar-ui .ueditor-ok-button {
	background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	border: solid 1px #a2bfda;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #6486a6;
	text-shadow: 0 1px 0 #ffffff;
	margin: 0px;
	position: relative;
	top: 1px;
}

.save-post-status {
	width: 37px;
	height: 26px;
	margin: 0px;
	position: relative;
	top: -9px;
	border-radius: 3px;
	right: -10px;
}

.ueditor-status-select {
	width: 170px;
	display: inline-block;
}

#sidebar-ui .ueditor-bix-top-buttons a.ueditor-action{
	margin-top: 15px !important;
	display: inline-block;
}
