.ueditor-box-wrapper{
  position: fixed;
  top: 40px;
  display: block;
  // width: 280px;
    width: 250px;
  background: #f2f9ff;
  border: 1px solid #b8d0e6;
  z-index: 9999;
  right:0;
}

.ueditor-box-title{
  height: 40px;
  text-align: left;
  color: #3d5266;
  padding-left: 10px;
  border-bottom: 1px solid #b8d0e6;
  line-height: 40px;
  font-size: 17px;
  font-weight: bold;
  background: #e5f3ff;
  position: relative;
  cursor: pointer;
}
.ueditor-box-section .ueditor-box-content-wrap{
  display: none;
}
.ueditor-box-section.active .ueditor-box-content-wrap{
  display: block;
}
.ueditor-box-section .ueditor-box-title:after{
  border-right: none;
  border-left: 4px solid #85aacc;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 17px;
  right: 14px;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  z-index: 5;
  position: absolute;
}

.ueditor-box-section.show .ueditor-box-title:after{
  border-right: none;
  border-top: 4px solid #85aacc;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 17px;
  right: 14px;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  z-index: 5;
  position: absolute;
}
.ueditor-box-content-wrap{
//  display: none;
}
.ueditor-box-content-wrap:first-child{
  display: block;
}
.ueditor-box-content{
  padding: 10px 0;
}
.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.ueditor-togglable,
.ueditor-togglable-child{
  display: none;
}
.misc-pub-section{
  padding: 2px 15px;
  overflow: hidden;
  clear: both;
  font:normal 12px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
}
#ueditor-box-cats-tags .misc-pub-section{
  border-bottom: 1px solid #d5e4f3;
}
#ueditor-box-cats-tags .misc-pub-section:last-child{
  border: none;
}
.ueditor-previous-data{
  color:#3d5266;
  font-weight: 600;
}
.ueditor-previous-data-small{
  font-size: 13px;
  font-weight: normal;
  line-height: 21px;
  margin-bottom: 10px;
  clear: both;
}
.ueditor-box-wrapper label{
  color:#3d5276;
}
#ueditor-box-cats-tags .ueditor-box-wrapper label{
  font-weight: bold;
}
.ueditor-box-wrapper label.ueditor-icon-label:before{
  background: transparent url(../img/uf-ui-sprite.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  content: "";
  margin: 0 0 -10px 0;
  opacity: 0.5;
}
.ueditor-box-wrapper label#post-status-display-label:before{
  background-position: -562px -385px;
}
.ueditor-box-wrapper label#post-visibility-display:before{
  background-position: -604px -385px;
}
.ueditor-box-wrapper label#publication-time:before{
  background-position: -644px -385px;
}

a.ueditor-btn-edit{
  color: #00B37A;
  display: inline;
  cursor: pointer;
  border-bottom:1px solid rgba(0,166,113,0.3);
}
.ueditor-bix-top-buttons{
  padding: 10px 15px 0;
  // border-bottom:1px solid #b8d0e6;
}

.ueditor-box-bottom-buttons{
  min-height: 54px;
  max-height: 90px;
  padding: 9px 11px;
  display: block;
  border-top: 1px solid #b8d0e6;
  border-bottom: 1px solid #b8d0e6;
  overflow: hidden;
}
a.ueditor-button-cancel-edit{
  margin-top: 5px;
}
a.ueditor-action-publish {
  text-align: center;
  color: #fff !important;
  padding: 7px 20px;
  background: #1fcd8f;
  float: right;
  display: block;
  height: 36px;
  width: 120px;
  line-height: 23px;
}

a.ueditor-action-publish:hover {
  text-decoration: none;
  background: #3ea;
}

a.ueditor-action-draft,
a.ueditor-action-preview,
a.ueditor-button-cancel-edit,
#add-new-taxonomies-btn {

  display: inline-block;
  font:600 12px/24px Open Sans, Helvetica Neueu, Helvetica, sans-serif;
  color: #6486A6;
  padding: 0 15px;
  cursor: pointer;
  background-image: linear-gradient(-180deg, #FAFDFF 0%, #F2F9FF 100%);
  border: 1px solid #A2BFDA;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #FFFFFF;

}

a.ueditor-action-preview {
  float:right;
}

a.ueditor-action-draft:hover,
a.ueditor-action-preview:hover,
a.ueditor-button-cancel-edit:hover,
#add-new-taxonomies-btn:hover {
  border:1px solid #537ea6;
}

a.ueditor-action-trash{
  float: left;
  color: #e75757;
  padding: 1px 10px 1px 20px;
  border: 1px solid #E5575A;
  border-radius: 3px;
  height: auto;
  position: relative;
  margin-top:15px;
  opacity: .6;
}
a.ueditor-action-trash:hover {
  border: 1px solid #E5575A;
  opacity: 1;
}

a.ueditor-action-trash:before {
  content:'';
  background: transparent url(../img/uf-core-el-sprite.svg);
  background-position: -665px -78px;
  width:10px;
  height:14px;
  left: 8px;
  top: 7px;
  position: absolute;
}
.ueditor-box-icon {

  padding: 3px 12px;
  margin-right: 5px;
  display: block;
  height: 36px;
  min-width: 30px;
  font-size: 13px;
}
.ueditor-box-icon-text{
  padding-left: 14px;
}
.ueditor-post-url-root{
  display: inline;
  font-size: 11px;
}

.ueditor-button-small-ok,
.ueditor-button-small{
  background: #1fcd8f;
  color: #fff !important;
  height: 25px;
  min-width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
}
.ueditor-togglable-post-schedule-date{
  font-size: 14px;
}
.ueditor-togglable-post-url{
  clear: both;
}

/* FIXES */

#ueditor-box-publish select,
#ueditor-box-publish input[type="text"],
#ueditor-box-cats-tags select,
#ueditor-box-cats-tags .upfront-tax-new_term,
#ueditor-box-cats-tags .upfront-flat-tax-new_term {
  background: #F2F9FF;
  border: 1px solid #A2BFDA;
  padding: 12px;
  margin: 10px 0;
  height: 26px;
  color: #607F99;
}

.ueditor-select-options {
    width: 100%;
}

#ueditor-box-publish .ueditor-row {
  margin:10px 0;
}

/* Taxonomies */

#ueditor-box-cats-tags a.upfront-taxonomy-list-choose-from-prev {
  width: 100%;
  font:normal 13px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
  color: #3d5266;
}

#ueditor-box-cats-tags #upfront-taxonomy-list {
  overflow-y: scroll;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #A2BFDA;
  border-radius: 3px;
  max-height: 202px;   
}
#ueditor-box-cats-tags #upfront-taxonomy-list-all {
  background: #fff;
}
.upfront-taxonomy_item {
    border: 1px solid #A2BFDA;
    height: auto;
    padding: 0 2px;
    font-size: 11px;
    margin:2px 0;
}
#ueditor-box-cats-tags .upfront-taxonomy_item .icon-plus {
  margin:0;
}

#ueditor-box-cats-tags .upfront-taxonomy-list-panel-previously-used {
  max-height: none;
}
