.ueditor-box-wrapper{
  display: block;
  width: 250px;
  margin-left: -15px;
}
.ueditor-box-section .ueditor-box-content-wrap{
  display: none;
}
.ueditor-box-section.active .ueditor-box-content-wrap{
  display: block;
}
.ueditor-box-content-wrap{
//  display: none;
}
.ueditor-box-content-wrap:first-child{
  display: block;
}

/* Styles */
.sidebar-tab-content, #sidebar-ui .sidebar-panel-post-editor .sidebar-panel-content {
	background-color: #f2f9ff;
}

#post-url-display-label {
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.3px;
	color: #2f475f;
	text-transform: uppercase;
}

#post-url-display {
	font-family: Verdana;
	font-size: 10px;
	color: #779cbd;
}

#post-url-slug span {
	font-family: Verdana;
	font-size: 11px;
	color: #2f475f;
}

#sidebar-ui a.ueditor-btn-edit {
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 12px;
	color: #00ce8d;
}

#sidebar-ui a.ueditor-action {
	background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	border: solid 1px #a2bfda;
	font-family: Open Sans;
	font-size: 12px;
	line-height: 1.3;
	color: #6486a6;
	text-shadow: 0 1px 0 #ffffff;
	padding: 5px 15px;
	border-radius: 2px;
	font-weight: 500;
	margin: 0px;
}

#sidebar-ui a.ueditor-action-preview {
	display: inline-block;
	float: right;
}

.misc-pub-section .ueditor-previous-data {
	font-family: Open Sans;
	font-size: 12px;
	color: #3d5266;
	font-weight: bold;
}

#post-url-display {
	font-weight: normal;
}

#sidebar-ui a.upfront-taxonomy-add {
	display: block;
	position: absolute;
	border-left: 1px solid #a4bfd8;
	width: 40px;
	height: 23px;
	top: 5px;
	right: 6px;
	background: #f1f8fe;
	color: #4d6c8e;
	text-align: center;
	margin: 0px;
}

#sidebar-ui a.chosen-search {
	position: relative;
}

.upfront-settings-toggled {
	background-color: #e6edf2;
	margin: 0px -15px;
	padding: 0px 15px;
}

.ueditor-togglable select {
	background: #F2F9FF;
    border: 1px solid #A2BFDA;
    padding: 12px;
    margin: 10px 0;
    height: 26px;
    color: #607F99;
	border-radius: 3px;
}

.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.ueditor-togglable,
.ueditor-togglable-child{
  display: none;
}
.misc-pub-section{
  padding: 2px 15px;
  overflow: hidden;
  clear: both;
  font:normal 12px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
}
#ueditor-box-cats-tags .misc-pub-section:last-child{
  border: none;
}
.ueditor-box-wrapper label.ueditor-icon-label:before{
  background: transparent url(../img/uf-ui-sprite.svg);
  display: inline-block;
  width: 25px;
  height: 25px;
  content: "";
  margin: 0 0 -10px 0;
  opacity: 0.5;
}
.ueditor-box-wrapper label#post-status-display-label:before{
  background-position: -562px -385px;
}
.ueditor-box-wrapper label#post-visibility-display:before{
  background-position: -604px -385px;
}
.ueditor-box-wrapper label#publication-time:before{
  background-position: -644px -385px;
}
.ueditor-bix-top-buttons{
  margin: 15px 15px 15px;
  border-top:1px solid rgba(184, 207, 230, 0.3);
  padding-top: 15px;
  margin-top: 10px;
}

a.ueditor-action-trash{
  float: left;
  color: #e75757;
  padding: 1px 10px 1px 20px;
  border: 1px solid #E5575A;
  border-radius: 3px;
  height: auto;
  position: relative;
  margin-top:15px;
  opacity: .6;
}
a.ueditor-action-trash:hover {
  border: 1px solid #E5575A;
  opacity: 1;
}

a.ueditor-action-trash:before {
  content:'';
  background: transparent url(../img/uf-core-el-sprite.svg);
  background-position: -665px -78px;
  width:10px;
  height:14px;
  left: 8px;
  top: 7px;
  position: absolute;
}
.ueditor-box-icon {
  padding: 3px 12px;
  margin-right: 5px;
  display: block;
  height: 36px;
  min-width: 30px;
  font-size: 13px;
}
.ueditor-box-icon-text{
  padding-left: 14px;
}
.ueditor-post-url-root{
  display: inline;
  font-size: 11px;
}
.ueditor-togglable-post-schedule-date{
  font-size: 14px;
}
.ueditor-togglable-post-url{
  clear: both;
}

/* FIXES */

#ueditor-box-publish select,
#ueditor-box-publish input[type="text"],
#ueditor-box-cats-tags select,
#ueditor-box-cats-tags .upfront-tax-new_term,
#ueditor-box-cats-tags .upfront-flat-tax-new_term {
	background: #F2F9FF;
	border: 1px solid #A2BFDA;
	padding: 12px;
	margin: 10px 0;
	height: 26px;
	color: #607F99;
}

.ueditor-select-options {
    width: 100%;
}

#ueditor-box-publish .ueditor-row {
	margin:10px 0;
}

/* Taxonomies */

#ueditor-box-cats-tags a.upfront-taxonomy-list-choose-from-prev {
	width: 100%;
	font:normal 13px/20px Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	color: #3d5266;
}

#ueditor-box-cats-tags #upfront-taxonomy-list {
	overflow-y: scroll;
	margin: 10px 0;
	padding: 0;
	// border: 1px solid #A2BFDA;
	border-radius: 3px;
	max-height: 202px;  
	position: relative; 
}
#ueditor-box-cats-tags #upfront-taxonomy-list-all {
	background: #fff;
}
.upfront-taxonomy_item {
    height: auto;
    padding: 0 2px;
    font-size: 11px;
	color: #3d5266;
	font-family: Verdana;
    margin:2px 0;
}

#post-tags-display-label, #post-categories-display-label {
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.3px;
	color: #2f475f;
	font-weight: bold;
	text-transform: uppercase;
}

.select-taxonomy-chosen {
	margin-top: 5px;
	border-bottom: 1px solid rgba(184, 207, 230, 0.5);
	padding-bottom: 10px;
}

.select-taxonomy-chosen label {
	font-weight: normal;
    color: #7d99b3;
    font-family: Tahoma;
    margin-bottom: 3px;
    padding-left: 2px;
}

#ueditor-box-cats-tags .upfront-taxonomy_item .icon-plus {
	margin:0;
}

#ueditor-box-cats-tags .upfront-taxonomy-list-panel-previously-used {
	max-height: none;
}


#sidebar-ui .ueditor-ok-button {
	background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	border: solid 1px #a2bfda;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	font-family: Open Sans, Hevletica Neueu, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #6486a6;
	text-shadow: 0 1px 0 #ffffff;
	
}

.save-post-status {
	width: 37px;
	height: 26px;
	margin: 0px;
	position: relative;
	top: -9px;
	border-radius: 3px;
	right: -10px;
}

.ueditor-status-select {
	width: 170px;
	display: inline-block;
}
