#element-settings-sidebar {
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 10001006;
	bottom: 0;
	background: #f7f7f7;
	width: 260px;
}

#element-settings-sidebar #settings {
	position: relative;
	left: auto;
	top: auto;
	width: 100%;
	height: 100%;
	border-left: 0 none;
	background: none;
	box-shadow: 0 0;
}

#element-settings-sidebar.collapsed #settings {
	display: none;
}

#element-settings-sidebar .upfront-settings-title {
	height: 44px;
	line-height: 41px;
	padding-left: 10px;
	background: #f7f7f7;
	border-bottom: 1px solid #e1e1e1;
	color: #212121;
	padding-left: 30px;
}

#element-settings-sidebar .upfront-settings-title:before {
	background-position: -823px -44px !important;
	background-image: url('../img/uf-ui-sprite.svg');
	left: 10px;
	top: 14px;
	width: 15px;
	height: 14px;
	content: "";
    display: block;
	position: absolute;
	opacity: 0.7;
}

#element-settings-sidebar #settings #sidebar-scroll-wrapper {
	overflow-x: hidden;
	overflow-y : auto;
	background: rgb(242, 242, 242);
	max-height: 100%;
}

#element-settings-sidebar #settings .upfront-settings_panel_scroll {
	min-width: 255px;
}

#element-settings-sidebar #settings .upfront-settings_panel {
	position: relative;
	left: 0;
	box-shadow: 0 0 0;
	border: 0 none;
}

#element-settings-sidebar #settings .uf-settings-panel__body {
	border-bottom: 1px solid #c3d5e6;
}

#element-settings-sidebar #settings .uf-settings-panel:last-child .uf-settings-panel__body {
	border-bottom: 0 none;
}

#element-settings-sidebar .upfront-settings-button_panel {
	margin-top: 15px;
	text-align: right;
	padding-right: 15px;
	z-index: 0;
	position: static;
	width: 260px;
	height: 50px;
}

#element-settings-sidebar .uf-settings-panel__title {
	height: 30px;
	background: #fff;
	line-height: 30px;
	padding-left: 15px;
 	border-bottom: 1px solid #e8e8e8;
 	color: #969696;
	cursor: pointer;
	font-size: 11px;
    font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#element-settings-sidebar .uf-settings-panel--expanded .uf-settings-panel__title {
	border-bottom: 1px solid #e7e7e7;
	background: #e7e7e7;
	color: #212121;
}

#element-settings-sidebar .uf-settings-panel__title:before {
	content: '+';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 22px;
	border: none;
	font-weight: normal;
	font-size: 20px;
}

#element-settings-sidebar .uf-settings-panel--expanded .uf-settings-panel__title:before {
	content: "\2013";
	top: -2px;
}

#element-settings-sidebar .upfront-settings-item {
	padding-top: 0;
}

#element-settings-sidebar .upfront-settings-item-title:after {
	display: none;
}

#element-settings-sidebar .upfront-settings-item .login-general-settings-description:before {
	content: ' ';
	display: block;
	background: url('../img/uf-core-el-sprite_new.png') no-repeat -484px -142px;;
	background: url('../img/uf-core-el-sprite_new.svg') no-repeat -484px -142px;;
	width: 15px;
	height: 14px;
	margin-right: 5px;
	margin-top: 2px;
	float: left;
}

#element-settings-sidebar .upfront-settings-css .upfront-settings-item-title,
#element-settings-sidebar .uslider-slides .upfront-settings-item-title {
	display: none;
}