#upfront_map-location_overlay,
.image-edit-button,
.existing_menu_list + span,
.new_menu_button input,
.code-element-choose,
.upfront_code-editor-simple,
.upfront-quick-swap p,
.no-widget-notice,
.upfront-general-notice,
.upfront-general-notice a,
.upfront-general-notice a:link,
.upfront-general-notice a:visited,
.uslider-starting-centered a:link,
#upfront-notifier {
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.upfront-code_element-module button.create,
.upfront-code_element-module button.embed,
#upfront_map-location_overlay,
#upfront_map-location_overlay p,
#upfront_map-api_key_overlay p,
.upfront-quick-swap p {
    color: rgba(28,45,61,1);
	font-weight: 200;
	background: transparent;
}
.code-element-choose {
	text-align: center;
}

