.upfront-button .upfront-inline-panel,
.menu-item .upfront-inline-panel {
	-webkit-transition-delay: 0;
	-webkit-transition-duration: 0;
	transition-delay: 0;
	transition-duration: 0;
}

.image-sub-control .upfront-inline-panel-item {
	display: inline-block;
}

.image-sub-control .uimage-control-panel-item {
	position: static;
	top: 0px;
}