.upfront-module.upfront-module-active .upfront-element-controls {
    display: block;
}
.upfront-module .upfront-element-controls {
    display: none;
}
.upfront-element-controls .upfront-inline-panel {
	z-index: 2000;
    box-shadow: 0px 0px 2px #ADADAD;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item {
    background: #F5F5F5;
    border-bottom: 0;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item:hover {
    background: #E8E8E8;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-settings:before {
    background-position: -818px -40px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-padding:before {
    background-position: -908px -296px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-edit:before {
    background-position: -1333px -116px;
    width: 24px;
    height: 24px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control {
    min-width: 140px;
    width:100%;
    font-size: 0.8em;
    padding: 5px 20px 10px 10px;
    background: #E8E8E8;
    box-shadow: 0px 1px 2px #ADADAD;
    color: #ADADAD;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control span.upfront-padding-value {
    color: #00afec;
    font-weight: bold;
    padding-left: 5px
}