.upfront-button .upfront-inline-panel,
.menu-item .upfront-inline-panel {
	-webkit-transition-delay: 0;
	-webkit-transition-duration: 0;
	transition-delay: 0;
	transition-duration: 0;
}
.image-sub-control .upfront-inline-panel-item {
	display: inline-block;
}
.image-sub-control .uimage-control-panel-item {
	position: static;
	top: 0px;
}
.upfront-inline-panel-item.group-link-control {
	z-index: 51;
}
.upfront-field-icon-link-homepage:before {
	background-position: -414px -284px;
}
.upfront-field-icon-link-external:before {
	background-position: -264px -284px;
}
.upfront-field-icon-link-email:before {
	background-position: -354px -284px;
}
.upfront-field-icon-link-phone:before {
	background-position: -385px -284px;
}
.upfront-field-icon-link-entry:before {
	background-position: -294px -284px;
}
.upfront-field-icon-link-anchor:before {
	background-position: -324px -284px;
}
.upfront-field-icon-link-image:before {
	background-position: -324px -284px;
}
.upfront-field-icon-link-lightbox:before {
	background-position: -445px -284px;
}
.upfront-field-icon-link-unlink:before {
	background-position: -293px -104px;
}
.ulinkpanel-dark .upfront-link-back:before {
	background-position: -293px -104px; 
}
.ulinkpanel-dark {
	background: #ffffff;
}
.link-control-panel-content {
	position: relative;
}
.link-control-panel-content .upfront-link-select {
	width: 42px;
}
.link-control-panel-content .upfront-link-select label span,
.link-control-panel-content .upfront-field-select-value span {
	display: none;
}
.ulinkpanel-dark .upfront-link-back,
.ulinkpanel-dark .upfront-apply {
	width: 25px;
	height: 22px;
	position: relative;
}
.ulinkpanel-dark .icon-apply:before {
	background-position: -325px -106px; 
}
.upfront-element-controls .upfront-inline-panel .ulinkpanel-dark {
	left: 0px;
	top: -35px;
}
.upfront-element-controls .link-control-panel-item {
	position: relative;
	z-index: 99;
}
.link-control-panel .upfront-control-arrow{
	top: -39px;
	z-index: 99;
}