.upfront-button .upfront-inline-panel,
.menu-item .upfront-inline-panel {
	-webkit-transition-delay: 0;
	-webkit-transition-duration: 0;
	transition-delay: 0;
	transition-duration: 0;
}
.image-sub-control .upfront-inline-panel-item {
	display: inline-block;
}
.image-sub-control .uimage-control-panel-item {
	position: static;
	top: 0px;
}
.upfront-inline-panel-item.group-link-control {
	z-index: 51;
}
.upfront-element-controls .upfront-inline-panel .image-sub-control.inline-panel-sub-control-no-dropdown {
	top: -1px;
	right: -2px;
	position: absolute;
	left: auto;
}
.upfront-element-controls .upfront-inline-panel .image-sub-control.inline-panel-sub-control-no-dropdown .upfront-control-arrow {
	display: none;
}

/* Group inline panel */
.upfront-module-group .upfront-icon.upfront-icon-region-edit_elements:before {
	background-position: -442px -42px;
}
.upfront-module-group .upfront-icon.upfront-icon-region-ungroup:before {
	background-position: -442px -73px;
}