.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module.upfront-module-active:not(.ui-resizable-resizing):not(.upfront-module-editing) > .upfront-element-controls,
.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module-group.upfront-module-group-active:not(.ui-resizable-resizing):not(.upfront-module-group-on-edit) > .upfront-element-controls,
.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module.upfront-module-active:not(.ui-resizable-resizing):not(.upfront-module-editing) .upfront-object-group-view > .upfront-element-controls
{
    display: block;
}
.upfront-module > .upfront-element-controls,
.upfront-module-group > .upfront-element-controls,
.upfront-object-group-view > .upfront-element-controls
{
    display: none;
}
.upfront-object-group-on-edit > .upfront-element-controls {
    display: none !important;
}
.upfront-element-controls .upfront-inline-panel {
	z-index: 2000;
    box-shadow: 0 0 3px 0 rgba(36,57,77,0.3);
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item {
    background: #FFFFFF;
    border-bottom: 0;
    cursor: default;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open .upfront-inline-panel-item{
    background: #F5F5F5;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon {
    cursor: pointer;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item:hover {
    background: #F5F5F5;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control {
    min-width: 140px;
    width:100%;
    font-size: 0.8em;
    padding: 5px 20px 10px 10px;
    margin-top: 8px;
    background: #F5F5F5;
    box-shadow: 0px 1px 2px #ADADAD;
    color: #ADADAD;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control span.upfront-padding-value {
    color: #00afec;
    font-weight: bold;
    padding-left: 5px
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon {
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open .upfront-icon,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon:hover {
    opacity: 1;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-settings:before {
    background-position: -261px -371px;
    width: 18px;
    height: 18px;
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-padding:before {
    background-position: -261px -341px;
    width: 18px;
    height: 18px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-edit:before {
    background-position: -1333px -116px;
    width: 24px;
    height: 24px;
    background-image: url("../img/uf-ui-sprite.svg")!important;
}
