.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module.upfront-module-active:not(.ui-resizable-resizing):not(.upfront-module-editing) > .upfront-element-controls,
.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module-group.upfront-module-group-active:not(.ui-resizable-resizing):not(.upfront-module-group-on-edit) > .upfront-element-controls,
.upfront-wrapper:not(.ui-resizable-resizing) .upfront-module.upfront-module-active:not(.ui-resizable-resizing):not(.upfront-module-editing) .upfront-object-group-view > .upfront-element-controls
{
    display: block;
}
.upfront-module > .upfront-element-controls,
.upfront-module-group > .upfront-element-controls,
.upfront-object-group-view > .upfront-element-controls
{
    display: none;
}
.upfront-object-group-on-edit > .upfront-element-controls {
    display: none !important;
}
.upfront-element-controls .upfront-inline-panel {
	z-index: 2000;
    box-shadow: 0 0 3px 0 rgba(36,57,77,0.3);
    border: 1px solid #cccccc;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item {
    background: #FFFFFF;
    border-bottom: 0;
    cursor: default;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open .upfront-inline-panel-item{
    background: #E6ECF2;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon {
    cursor: pointer;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item:hover {
    background: #E6ECF2;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control {
    min-width: 150px;
    width:100%;
    font-size: 11px;
    font-family: 'Open Sans';
	padding: 5px 5px 10px 5px;
    margin-top: 0px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 2px #e2e2e2;
    color: #212121;
	border-radius: 1px;
	position: relative;
	top: 9px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-control-arrow {
	width: 8px;
	height: 8px;
    transform: rotate(45deg);
    background: #ffffff;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
	position: absolute;
	top: -5px;
	margin-left: 15px;
	content: '';
}
.upfront-element-controls .upfront-inline-panel .image-sub-control {
    border: 1px solid #cccccc;
    height: 30px;
    box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container .upfront-field-number[type=number] {
	width: 43px;
  	height: 25px;
  	background: #fbfbfb;
  	border: 1px solid #e8e8e8;
}
.upfront-element-controls .upfront-padding-container .upfront-field-wrap {
	margin: 0px;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container-left,
.upfront-element-controls .upfront-inline-panel .upfront-padding-container-right {
	width: 50%;
	display: inline-block;
	position: relative;
	z-index: 91;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container {
	text-align: center;
	position: relative;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container-left {
	text-align: left;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container-right {
	text-align: right;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-title {
	font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
    color: #2f475f;
    font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.34px;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-keyboard {
	background-position: -290px -284px;
    width: 20px;
    height: 11px;
    background-image: url("../img/uf-core-el-sprite.svg");
	position: absolute;
	top: 45px;
	left: 25px;
	z-index: 99;
}
.upfront-element-controls .upfront-inline-panel .upfront-checkbox-info {
	position: absolute;
	top: 38px;
	right: 28px;
	z-index: 99;
	cursor: pointer;
}
.upfront-element-controls .upfront-inline-panel .upfront-checkbox-info:before {
	display: inline-block;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url('../img/uf-core-el-sprite.svg');
	background-position: -483px -141px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: -4px;
}
.upfront-element-controls .upfront-inline-panel .padding-lock input[type=checkbox] {
    position: relative;
    left: 36px;
    top: 6px;
}
.upfront-element-controls .upfront-inline-panel .padding-lock input[type=checkbox]:checked {
    float:none !important;
    left: 38px;
    top: 7px;
}
.upfront-element-controls .upfront-inline-panel .padding-lock input[type=checkbox]{
    display: none;
}
.upfront-element-controls .upfront-inline-panel .padding-lock label {
    display: block;
    height: 25px;
    width: 25px;
    background-image: url('../img/uf-core-el-sprite.png');
    background-image: url('../img/uf-core-el-sprite.svg'), none;
    background-position: -658px -169px;
    left: -4px;
    top: 8px;
    position: relative;
    cursor: pointer;
}
.upfront-element-controls .upfront-inline-panel .padding-lock .upfront-field-multiple-selected label {
    background-position: -658px -137px;
	border-radius: 50%;
}
.upfront-element-controls .upfront-inline-panel .padding-lock {
    position: absolute;
    margin-top: -19px;
    left: 45px;
	top: 22px;
	z-index: 100;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control span.upfront-padding-value {
    color: #00afec;
    font-weight: bold;
    padding-left: 5px
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control .upfront-field-advanced-padding {
    margin-top: 15px;
    margin-left: 5px
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control .upfront-field-advanced-padding input {
    background: #f8fcff;
    color: #6889a9;
    border: 1px solid #6889a9;
    border-radius: 2px;
    padding: 5px 7px;
    font-family: 'Open Sans';
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control .upfront-field-advanced-padding input:hover {
    opacity: 1;
    background: #fff;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon {
    opacity: 0.70;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open .upfront-icon,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .upfront-icon,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon:hover {
    opacity: 1;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-settings:before {
    background-position: -261px -371px;
    width: 18px;
    height: 18px;
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-settings:hover:before {
    background-position: -231px -371px;
    width: 18px;
    height: 18px;
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-control-dialog-open .upfront-icon-region-settings:before {
    background-position: -231px -371px;
    width: 18px;
    height: 18px;
    opacity: 1;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-padding:before {
    background-position: -261px -341px;
    width: 18px;
    height: 18px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-padding:hover:before {
    background-position: -231px -341px;
    width: 18px;
    height: 18px;
	opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-control-dialog-open.upfront-inline-panel-item .upfront-icon-region-padding:before {
    background-position: -231px -341px !important;
    width: 18px;
    height: 18px;
	opacity: 1;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-reorder:before {
    background-position: -261px -521px;
    width: 18px;
    height: 18px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-edit:before {
    background-position: -1333px -116px;
    width: 24px;
    height: 24px;
    background-image: url("../img/uf-ui-sprite.svg")!important;
}
.upfront-icon-region-more {
	height: 28px;
}
.inline-panel-sub-control-dialog {
    position: relative;
    top: 9px;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-more:before {
    background-position: -291px -460px;
    width: 24px;
    height: 24px;
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-icon-region-more:hover:before {
    background-position: -291px -490px;
    width: 24px;
    height: 24px;
    opacity: 0.75;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .upfront-icon-region-more:before {
    background-position: -291px -490px;
    width: 24px;
    height: 24px;
    opacity: 1 !important;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .upfront-inline-panel-item,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open {
    background: #72848d;
}

.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .inline-panel-sub-control-dialog .upfront-inline-panel-item,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .inline-panel-sub-control-dialog {
  background: #FFFFFF;
}


.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .slider-caption-second-level .upfront-inline-panel-item,
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-sub-control-dialog-open .slider-caption-second-level {
	background: #FFFFFF;
}

.upfront-element-controls .control-panel-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	opacity: 0;
}
