.upfront-message-modal {
	font-family: "Source Sans Pro", sans-serif;
	color: #3c5266;
}
.upfront-modal-title {
	font-size: 20px;
	font-weight: bold;
	margin: 12px 0;
}
.upfront-modal-select-wrap {
	float: left;
	margin: 0 25px 0 0;
}
.upfront-modal-select-wrap .upfront-field-select {
	height: 40px;
	max-height: 40px;
	line-height: 36px;
}
.upfront-modal-select-wrap .upfront-field-select:after {
	top: 18px;
}
.upfront-modal-select-wrap .upfront-field-select .upfront-field-select-value {
	height: 38px;
}
.upfront-modal-select-wrap .upfront-field-select-options {
	max-height: 40px;
}
.upfront-modal-select-wrap .upfront-field-select-expanded .upfront-field-select-options,
.upfront-modal-select-wrap .upfront-field-select-multiple:hover .upfront-field-select-options {
	margin-top: -39px !important;
	max-height: 212px;
}
.upfront-modal-select-wrap .upfront-field-select-single .upfront-field-select-option-selected label:before {
	margin-top: 14px;
}

.upfront-apply-page-modal {
	padding: 14px;
	text-align: center;
}
.upfront-apply-page-modal p {
	font-size: 18px;
	line-height: 1.8;
	color: #2f475f;
	font-family: 'Source Sans Pro', sans-serif;
}
.upfront-apply-page-modal p span {
	font-weight: bold;
}
.upfront-apply-page-modal .upfront-field-wrap-button {
  background-image: linear-gradient(to bottom, #fafdff, #f2f9ff);
	display: inline-block;
	width: 150px;
	margin-top: 40px;
}
.upfront-apply-page-modal .upfront-field-wrap-button input {
  text-shadow: 0 1px 0 #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
	font-weight: 600;
  line-height: 1.2;
}
.upfront-apply-page-modal .upfront-field-wrap-button.upfront-cancel-apply-template {
  border: solid 1px #becbd7;
	margin-right: 60px;
}
.upfront-apply-page-modal .upfront-field-wrap-button.upfront-cancel-apply-template input {
	color: #6486a6;
	opacity: 0.7;
}
.upfront-apply-page-modal .upfront-field-wrap-button.upfront-continue-apply-template {
  border: solid 1px #a2bfda;
}
.upfront-apply-page-modal .upfront-field-wrap-button.upfront-continue-apply-template input {
  color: #6486a6;
}

