/* New Color Picker CSS override */
.sp-container {
	background-color: #ffffff;
	width: 245px;
	height: 200px;
	overflow: visible;
	padding-top: 4px;
}
.sp-input-container {
	position:absolute;
	right: 150px;
	width: 250px !important;
}
li#tabbackground-content .sp-palette-row-selection span.sp-thumb-el:last-child > span {
	overflow: hidden;
}
li#tabbackground-content .sp-palette-row-selection span.sp-thumb-el:last-child > span:after {
	content: '';
	width: 155%;
	height: 3px;
	display: block;
	position: relative;
	top: 6px;
	left: -4px;
	background-color: #ff0000;
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.sp-button-container {
	margin-top: -12px;
	margin-right: 1px;
	margin-right: -14px;
}
.redactor-dropdown-box-upfrontColor .sp-button-container {
	margin-top: -11px;
	margin-right: 0;
	margin-right: -14px;
}
.sp-hue {
	width: 14px;
}

.sp-alpha-inner {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgb(0, 0, 0)); background-position: initial initial; background-repeat: initial initial;
	height: 6px;
	width: 111px;
}


.sp-alpha-handle
{
	position: absolute;
	top: -2px;
	bottom: -4px;
	width: 8px;
	height: 14px;
	left: 50%;
	cursor: pointer;
	border: none;
	background: rgba(255,255,255,.7);
	opacity: 1;
	 box-shadow: 0 0 2px 0 rgba(36, 57, 77, 0.3);
	margin-left: -1px;
}

.sp-alpha
{
	position: absolute;
	left: 0;
	bottom: -25px;
	height: 6px;
	width: 111px;
	border-radius: 2px;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
}

.sp-alpha-inner{
    border: none;
}

.redactor-dropdown-box-upfrontColor {
	padding:0;
	width:auto;
	background-color: transparent;
	box-shadow: none;
	/*top: -164px !important;*/
	/*left: -30px !important;*/
	font-family: Verdana, sans-serif!important;
}
.redactor_air.under .redactor-dropdown-box-upfrontColor{
	top: 32px !important;
}
.sp-picker-container
{
    width: 150px;
    position: relative;
    top: -90px;
	left: 100px;
}

.sp-palette-container {
	width: 114px;
	left: 0px;
	height: 110px;
}

.sp-hue {
	margin-left: 4px;
}

.sp-palette.sp-cf {
	margin-top:44px;
}
/* Color Picker Labels */
.sp-input-container:before,
.sp-palette-container:before,
.sp-palette-row.sp-palette-row-selection:before,
{
	font-family: Verdana, sans-serif!important;
	font-size:11px;
	color:#97b8da;
}
.sp-input-container:before {
/*
	content: "Current color:";
*/
	content: attr(data-label);
	margin-bottom:8px;
}

input[type=text].sp-input {
	color: #97b8da;
	width: 100px;
	padding: 6px;
	border: none;
	border-left: 10px #000 solid;
	background-color: #1c2733;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.sp-input-container {
	position: absolute;
	top: -50px;
    left: -85px;
}

.sp-palette-container {
	margin-bottom:0;
	padding-bottom:0;
	border-right:none;
}

.sp-palette-container {
	top: 40px;
}
.sp-palette-container:before {
/*
	content: "Theme colors:";
*/
	content: attr(data-label);
}

.sp-palette.sp-cf {
	margin-top:4px;
}


.sp-palette-row.sp-palette-row-selection {
  margin-top: 4px;
}
.sp-palette-row.sp-palette-row-selection:before {
	content: "Recent colors:";
	content: attr(data-label);
	margin-bottom: 4px;
	height: 15px;
}

.sp-palette .sp-thumb-el {
	border-radius: 2px;
	width: 12px;
	height: 12px;
	margin: 2px 2px;
	border: none;
}

.sp-picker-container .sp-cancel {
	display:none;
}

.sp-picker-container .sp-choose {
	height: 36px;
	width: auto;
	border: 1px solid rgb(0, 219, 143);
	padding: 0 26px 0 20px;
	background: rgb(31, 205, 143);
	line-height: 34px;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	color: rgb(242, 249, 255);
	border-radius: 0;
	margin-right: -30px;
	margin-top: 23px;
	border: solid 1px #a2c5e4;
	border-top: none;
}

/* ------- color picker rgba sidebar ------ */
ul.upfront_color_picker_rgba{
	position: absolute;
	left: 320px;
	width: 35px;
    margin:0;
	margin-top:8px !important;
	padding: 0;
}
.upfront_color_picker_rgba li{
	font:normal 11px Verdana;
	margin-bottom: 9px;
}
.upfront_color_picker_rgba_r{
	color:#E9495D;
}
.upfront_color_picker_rgba_g{
	color:#28DB46;
}
.upfront_color_picker_rgba_b{
	color:#59AAF0;
}
.upfront_color_picker_rgba_a{
	color:#FFFFFF;
}
.upfront_color_picker_rgba input[type="text"] {
	width: 33px;
	height: 25px;
	background: #101E2B;
	color: #95B7DD;
	font: normal 12px Courier;
	border: none;
	padding: 0;
	text-align: center;
}
.upfront_color_picker_reset{
	position: absolute;
	text-indent: 999px;
	right: 57px;
	bottom: 8px;
	cursor: pointer;
}
.noColor {
	background-color: #ccc;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);

	-webkit-background-size: 14px 14px;
	-moz-background-size: 14px 14px;
	background-size: 14px 14px;
	background-position: 0 0, 6px 6px;
	  width:13px;
	  height:13px;
	  display:block;
	  overflow:hidden;
}

.noColor:after{
	  content: '';
	  width:300%;
	  height:3px;
	  display:block;
	  position:relative;
	  top:10px;
	  left:-18px;
	  background-color:#ff0000;
	       -moz-transform: rotate(-45deg);
	       -o-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	      -ms-transform: rotate(-45deg);
	          transform: rotate(-45deg);
}
.redactor-dropdown.redactor-dropdown-box-upfrontColor {
line-height:0;
}

.redactor-dropdown.redactor-dropdown-box-upfrontColor .sp-container {
border:none;
}

.redactor-dropdown-box-upfrontColor ul.tabs, .redactor-dropdown-box-upfrontColor ul.tablist {
	margin:0;
	padding:0;
}

.redactor-dropdown-box-upfrontColor ul.tablist > li {
	background-color: #1e2f3f;
	color:#6c87a2;
	line-height: 1.5;
	font-size: 11px;
	margin-right: 2px !important;
	padding: 4px 16px;
	margin-bottom: -1px !important;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
}
.redactor-dropdown-box-upfrontColor ul.tablist > li.active {
	background-color: #314252;
	color: #97b8da;
}
.redactor-dropdown-box-upfrontColor ul.tabs > li {
	display:none;
}
.redactor-dropdown-box-upfrontColor ul.tabs > li .upfront-field-wrap-color.sp-cf{
	margin-top: 0;
}
.redactor-dropdown-box-upfrontColor ul.tabs > li .upfront-field-wrap-color.sp-cf label{
	display: none;
}
.redactor-dropdown-box-upfrontColor ul.tabs > li.active {
	display:block;
}


.sp-slider{
	background: transparent;
	box-shadow: none;
}

.sp-slider:before{
	content: '';
	border-left: 4px solid #abb2b8;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	position: absolute;
	left: -7px;
	top: 0;
}

.sp-slider:after {
	content: '';
	border-right: 4px solid #abb2b8;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	position: absolute;
	right: -6px;
	top: 0;
}
.sp-alpha-handle {
	background: transparent;
	box-shadow: none;
	left:0;
}
.sp-alpha-handle:before {
	content: '';
    border-left: 1px solid #ffffff;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
    position: absolute;
    z-index: 999;
    left: 2px;
    height: 10px;
    top: -2px;
}
 .sp-alpha-handle:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
	background: #212121;
	width: 5px;
	height: 5px;
	border: 1px solid #fff;
}
div.sp-val:active .sp-dragger:after { display:block;}

.re-icon.re-upfrontColor {
	text-indent: 0;
	position:relative;
	border-radius: 3px;
	color: #000;
}

.sp-picker-container .sp-choose {
	width: 103px;
	/*box-shadow: 0 3px 0 rgba(0,0,0,0.1);*/
}

.re-icon.re-upfrontColor:after {
	content: 'T';
	color: inherit;
	display: block;
	height:0;
	width:0;
	border: 12px solid;
	border-color: inherit;
	font-size: 20px;
	top: 6px;
	left: 8px;
	position: absolute;
	text-indent: -6px;
	font-family:georgia;
	border-radius: 3px;


}

.re-icon.re-upfrontColor.transparent:after {
	border: none;
	height: 24px;
	width: 24px;
	line-height: 24px;
	background-color: #aeb6be;
	text-align:center;
	text-indent: 0;
	background-image: -webkit-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0), -webkit-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0);
	background-image: -moz-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0), -moz-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0);
	background-image: -o-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0), -o-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0);
	background-image: -ms-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0), -ms-linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0);
	background-image: linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0),
	linear-gradient(45deg, #9098a0 25%, transparent 25%, transparent 75%, #9098a0 75%, #9098a0);

  -webkit-background-size:8px 8px;
  -moz-background-size:8px 8px;
  background-size:8px 8px;

  background-position:0 0, 4px 4px;
}

.sp-thumb-inner {
	border-radius: 2px;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
}