/* Pagination */
#upfront-entity_list-pagination {
	clear: both;
	float: left;
	padding-top: 10px;
}
.upfront-pagination_item {
	float: left;
	line-height: 20px;
	margin: 0;
	text-align: center;
	font-size: 16px;
	color: #1691fb;
	cursor: pointer;
	padding: 3px;
	width: 22px;
	height: 22px;
	border-radius: 3px;
}

/* Previous & Next button triangles created with CSS */
.upfront-pagination_item.upfront-pagination_item-prev,
.upfront-pagination_item.upfront-pagination_item-next {
	width: 22px;
	height: 22px;
	padding: 0;
	background: #fff;
	color: #1a1a1a;    
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
}
.upfront-pagination_item.upfront-pagination_item-prev:after,
.upfront-pagination_item.upfront-pagination_item-next:after {
	content: '';
	display: block;
}
.upfront-pagination_item.upfront-pagination_item-prev:after {
	content: "\2039";
}
.upfront-pagination_item.upfront-pagination_item-next:after {
	content: "\203A";
}
.upfront-pagination_item:hover {
	opacity: 1;
}

/* Pagination navigation */
.upfront-pagination_navigation {
	float: left;
	line-height: 20px;
	margin: 0px 10px;
	text-align: center;
	font-size: 11px;
	color: #d2d2d2;
	cursor: pointer;
}
#upfront-popup .upfront-pagination_navigation input,
#upfront-popup .upfront-pagination_navigation input:focus  {
	background: #646560;
	color: #fff;
	height: 22px;
	width: 50px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #d2d2d2;
	margin-right: 4px;
}
#upfront-popup .upfront-pagination_navigation input:focus {
	background:rgba(35,49,64,.7);
	border: 1px solid rgba(229,243,255,1);
}

.upfront-pagination_navigation .upfront-pagination_page-item {
	font-weight: bold;
	color: #1691fb;
	border-bottom: 1px solid #1691fb;
	margin-left: 4px;
}

.upfront-pagination_item.current {
	color: #fff;
	border: 2px solid #2ecc90;
	background:transparent;
}

.upfront-pagination_item i{
	display: block;
	width: 16px;
	height: 20px;
	background-image: url(../img/uf-ui-sprite.svg);
}

.upfront-pagination_item i.icon-angle-left {
	background-position: -1234px -83px;
}

.upfront-pagination_item i.icon-angle-right {
	background-position: -1340px -83px;
}

/* Scrollable pagination */
/*
.upfront-pagination.upfront-numeric_pagination {
	width: 415px;
	height: 42px;
	overflow: hidden;
	float: left;
}
.upfront-pagination.upfront-numeric_pagination .upfront-numeric_pagination-container {
	position: relative;
}
.upfront-pagination_item-next {
	float: left;
}
*/
#upfront-entity_list-pagination small {
	color: #919191;
	text-align: left;
	float: left;
	clear: both;
	font-size: 11px;
	margin-left: 32px;
}

