/* Popup */
#upfront-popup-background {
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	background: #263a4d;
	opacity: .75;
	z-index: 10001003;
}
#upfront-popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10001005;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   #upfront-popup {
		left: 50%;
   }
   
   #upfront-popup-content, #upfront-popup-top, #upfront-popup-bottom, #upfront-popup-close {
		position: relative;
		left: -50%;
   }
	*::-ms-backdrop, #upfront-popup-close { left: 45%; } /* IE11 */
}

#upfront-popup select{
padding: 3px;
border: 1px solid #A4BFD8;
background: #E5F3FE;
color: #A4BFD8;
font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
border-radius: 3px;
box-shadow: inset 0 2px 0 0 #fff;
-webkit-box-shadow: inset 0 2px 0 0 #fff;
}

#upfront-popup input::-webkit-input-placeholder,
#upfront-popup input:-moz-placeholder,
#upfront-popup input::-moz-placeholder,
#upfront-popup input::-ms-input-placeholder {
	color: #A4BFD8;
}

#upfront-popup input[type=text] {
	background: #F2F9FF;
	border: 1px solid #A4BFD8;
	padding: 0px 5px;
	font-size: 13px;
	color: #3A5268;
}

#upfront-popup input[type=text]:focus {
	background: #fff;
}


#upfront-popup  .button,
#upfront-popup  button {
	padding: 7px;
	border: 2px solid #A4B6C6;
	border-radius: 10px;
	width: 100%;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #6C92B1;
	background: none;
}
#upfront-popup  .button:hover,
#upfront-popup  button:hover {
	border: 2px solid #1fcd8f;
	color: #30475e;
}
#upfront-popup .button i,
#upfront-popup button i {
	margin-right: 5px;
	color: #A4B6C6;
}

#upfront-popup .button:hover i,
#upfront-popup button:hover i {
	color: #30475e;
}


/* Border box for everybody! */
#upfront-popup *{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#upfront-popup-content {
	background: #e5f3fe;
}

.upfront-ui .upfront-icon-popup-close {
	position: absolute;
	top: 10px;
	right: 0px;
	cursor: pointer;
	font: 100 30px/16px Helvetica Neue, Helvetica, sans-serif;
	color: #FFF;
}

.upfront-ui .upfront-icon-popup-close:before {
	/*content: "\00d7";*/
}

.discussion-settings-wrapper {
  padding: 10px 30px;
}

#upfront-popup-close:hover {
	color: #2ecc90;
}

.upfront-popup-placeholder {
	margin: 0;
	line-height: 100px;
	text-align: center;
	font-style: italic;
	color: #999;
}

#upfront-popup .bordered-bottom {
	padding-bottom: 5px;
}
#upfront-popup .bordered-bottom:after{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #c3dcf1;
	border-top: 1px solid #a4b9cb;
}

#upfront-popup-content .upfront-settings-item-title span {
	background: #e5f3fe;
}

/* Warning Popup */
#upfront-popup.warning_img {
	width:360px;
	height:340px;
}

