.upfront-popup-posts .upfront-popup-meta {
	background: #f7f7f7;
	border-bottom: 1px solid #e1e1e1;
}

.upfront-popup-posts .upfront-popup-meta:last-of-type {
	background: none;
	border: none;
}

.upfront-ui.upfront-popup-posts .upfront-icon-popup-close:before {
	display: none;
}

.upfront-ui.upfront-popup-posts .upfront-icon-popup-close#upfront-popup-close:hover,
.upfront-ui.upfront-popup-posts .upfront-icon-popup-close {
	top: 15px;
	right: 33px;
	color: #737373;
	font-weight: 400;
	font-size: 24px;
}

/* Filter */
.upfront-popup-posts #upfront-popup-top .upfront-icon-popup-search {
	color: #000;
	background: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	width: 44px;
	height: 30px;
	padding: 4px 9px;
	display: inline-block;
	margin: 10px;
	margin-left: 50px;
	cursor: pointer;
}

.upfront-popup-posts #upfront-popup-top .upfront-icon-popup-search:hover {
	background: #e1e1e1;
}

.upfront-popup-posts #upfront-popup-top .upfront-icon-popup-search:before {
	float: none;
	display: inline-block;
	margin: 0;
}

.upfront-popup-posts #upfront-popup-top .upfront-icon-popup-search:after {
	content: "\f347";
	font-size: 8px;
	float: right;
	line-height: 22px;
	font-family: dashicons;
	margin-right: -2px;
}

.upfront-popup-posts .upfront-list-filter-container {
	background: #f0f0f0;
	padding: 10px 32px;
	height: 44px;
}

.upfront-popup-posts .upfront-field-wrap-select {
	width: 120px;
	display: inline-block;
	margin: 0;
	margin-right: 12px;
}

.upfront-popup-posts .upfront-field-select {
	height: 22px;
	max-height: 22px;
	font-size: 10px;
	line-height: 20px;
}

.upfront-popup-posts #upfront-entity_list-search {
	float: none;
	display: none;
}

.upfront-popup-posts #upfront-search_container {
	float: none;
	display: inline-block;
	height: 22px;
}

.upfront-popup-posts .search_container {
	width: 217px;
	float: right;
}

.upfront-popup-posts #upfront-search_container input[type=text] {
	height: 22px;
	background: #fff;
	padding: 5px;
	font-size: 10px;
	color: #464646;
	border: 1px solid #e1e1e1;
	letter-spacing: 0.3px;
}

#upfront-popup.upfront-popup-posts button.search {
	padding: 0;
	display: inline;
	width: 60px;
	float: none;
	font-size: 12px;
	text-transform: none;
	background: #fff;
	color: #000;
	height: 22px;
	line-height: normal;
	border-radius: 0;
	border: 1px solid #e1e1e1;
	margin-left: 2px;
}

/* Entities(Posts) list */
.upfront-popup-posts #upfront-popup-content {
	background: #fff;
	max-height: 440px;
	max-height: 80%;
	overflow: hidden;
}

.upfront-popup-posts #upfront-popup-content.upfront-filter-panel-open {
	max-height: 484px;
}

.upfront-entity_list-posts {
}

.upfront-popup-posts .upfront-list-items {
	max-height: 440px;
}

#upfront-list {
	width: 100%;
	color: #99b3cc;
	font-size:13px;
}
.upfront-popup-posts #upfront-list .upfront-list_item {
	background: none;
	max-height: 60px;
	margin: 0 32px;
	width: 653px;
	width: -moz-calc(100% - 47px);
	width: -webkit-calc(100% - 47px);
	width: calc(100% - 47px);
}
#upfront-list .upfront-list_item {
	background: #f2f9ff;
	width: 100%;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #e1e1e1;
	line-height: 18px;
	overflow: hidden;
	max-height: 28px;
}

.upfront-list-items .upfront-list_item:hover {
	opacity: 1;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-post-thumbnail img {
	margin: 14px;
	margin-left: 0;
}

.upfront-popup-posts .upfront-entity_list-cpt .upfront-post-thumbnail img {
	max-width: 32px;
	max-height: 32px;
}

#upfront-list .upfront-list_item .upfront-list_item-component.upfront-post-thumbnail {
	padding: 0;
}

#upfront-list .upfront-list_item .upfront-list_item-component {
	padding: 4px 15px;
	float:left;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-title {
	color: rgba(110, 110, 110, 1);
	font-weight: 600;
	font-size: 12px;
}

.upfront-popup-posts #upfront-list .upfront-list_item:hover .upfront-list_item-component.upfront-title {
	color: rgba(33, 33, 33, 1);
}

#upfront-list .upfront-list_item .upfront-list_item-component.upfront-title {
	color:#395269;
}
.upfront-popup-posts #upfront-list .upfront-list-items .upfront-list_item:hover {
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid transparent;
}
#upfront-list .upfront-list-items .upfront-list_item:hover{
	border-top: 1px solid #a4b9cb;
	border-bottom: 1px solid #a4b9cb;
	cursor: pointer;
	background-color:#fff;
}
#upfront-list .upfront-list_item {
	color:#5b5b5b;
}

.upfront-popup-posts #upfront-list.upfront-page-list .upfront-list-items .upfront-list_item {
	height: 40px;
}

#upfront-list .upfront-list_item:first-child:hover{
	border-top: 1px solid transparent;
}
#upfront-list #upfront-list-meta {
	padding-top: 20px;
}
.upfront-popup-posts #upfront-list #upfront-list-meta.upfront-list_item {
	background: none;
}
#upfront-list #upfront-list-meta.upfront-list_item {
	background: #e5f3fe;
	color:#263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component {
	border-bottom: 1px solid #CAD9E4;
	cursor:pointer;
	padding-bottom: 4px;
}

#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component.active {
	padding-bottom: 3px;
}

#upfront-list #upfront-list-meta.upfront-list_item.upfront-comments-count.upfront-header .upfront-list_item-component.active {
	padding-bottom: 3px;
}

#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-down,
#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-up {
	margin-left: 3px;
	font-size:10px;
}
#upfront-list #upfront-list-meta.upfront-list_item:hover .upfront-list_item-component {
	border-bottom: 1px solid #a4b9cb;
	color: #263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component:hover {
	border-bottom: 1px solid #2ecc90;
}

#upfront-list-meta .upfront-header {
	line-height: 20px;
}
#upfront-list-meta .upfront-header.active {
	font-weight: bold;
}

#upfront-list-meta .upfront-header i {
	display: none;
}

#upfront-list-meta .upfront-header.ordered-asc i.icon-caret-up {
	display: inline;
}

#upfront-list-meta .upfront-header.ordered-desc i.icon-caret-down {
	display: inline;
}

#upfront-list .upfront-list_item-main {
	color: #32475c;
}

/* Posts list */
.upfront-popup-posts .upfront-avatar img {
	border-radius: 50%;
}
.upfront-popup-posts #upfront-list .upfront-list_item-component.upfront-title-and-author {
	min-height: 30px;
	padding: 11px 0;
}
.upfront-list_item-component.upfront-date {
	width: 30%;
	vertical-align: middle;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-title-and-author div {
	display: block;
	float: none;
	padding: 0;
	width: 100%;
}

.upfront-list_item-component.upfront-title {
	width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upfront-popup-posts #upfront-list.upfront-page-list .upfront-list_item .upfront-list_item-component.upfront-title {
	margin-left: 0;
	padding-left: 0;
	line-height: 30px;
}

.upfront-popup-posts .upfront-list_item-component.upfront-author {
	font-style: italic;
	color: #a2a2a2;
}

.upfront-list_item-component.upfront-author {
	width: 15%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upfront-list_item-component.upfront-comments-count {
	width: 10%;
}

/* Post Edit Actions */
.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-editactions {
	position: absolute;
	right: 0;
	margin: 15px;
	width: auto;
	height: 30px;
	background: #fff;
	padding: 0;
	border: 1px solid #cccccc;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
	border-radius: 2px;
}

.upfront-popup-posts #upfront-list.upfront-page-list .upfront-list_item .upfront-list_item-component.upfront-editactions {
	margin: 4px 15px;
}

.upfront-list_item-component.upfront-editactions {
	width: 25%;
	display: none;
}

.upfront-popup-posts .upfront-editactions .upfront-icon-region-labelEdit:before {
	background-image: url(../img/uf-core-el-sprite_new.png);
	background-image: url(../img/uf-core-el-sprite_new.svg);
	background-repeat: no-repeat;
	margin: 0;
}

.upfront-popup-posts .upfront-editactions .upfront-icon-region-remove:before {
	background-image: url(../img/uf-core-el-sprite_new.png);
	background-image: url(../img/uf-core-el-sprite_new.svg);
	background-repeat: no-repeat;
}

.upfront-popup-posts .upfront-editactions .edit, .upfront-popup-posts .upfront-editactions .trash {
	background: none;
}

.upfront-popup-posts .upfront-list_item-component.upfront-editactions a.editaction {
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	padding: 5px 6px 5px 5px;
	height: 28px;
	width: 28px;
}

a.editaction.edit, a.editaction.view {
	background-color: #3C5267;
	color:#02CE8D;
	margin-right: 6px;
}

a.editaction.trash {
	background-color:#D53321;
	color:#fff;
	margin-right:0;
}

.upfront-list_item-component.upfront-comments-count.upfront-header i.icon-post-comments {
	display: inline-block !important;
	height: 14px;
	width: 14px;
	padding: 4px;
	color: #a4b9cb;
	background-image: url(../img/uf-ui-sprite.svg);
	background-position: -912px -171px;
	vertical-align:middle;
}

.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-author,
.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-comments-count,
.upfront-list_item-post.status-trash {
	display:none;
}
.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-editactions {
	display:block;
	padding-right:0 !important;
}

/* Date/status */
.upfront-popup-posts #upfront-list.upfront-page-list .upfront-list_item .upfront-list_item-component.upfront-date {
	margin: 7px 15px;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-date {
	position: relative;
	float: right;
	text-align: right;
	width: 86px;
	font-size: 12px;
	margin: 15px 0;
	padding-right: 0;
	padding-left: 0;
}

.upfront-list_item-component.upfront-date:not(.upfront-header):before {
	content: '';
	position: absolute;
	left:0;
	top:0;
	display: block;
	width:15px;
	height:100%;
	background-image: url(../img/uf-ui-sprite.svg);
}

.upfront-list_item-component.upfront-date.post-status-publish:before {
	background-position: -1231px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-publish:before {
	background-position: -1231px -260px;
}

.upfront-list_item-component.upfront-date.post-status-draft:before {
	background-position: -1336px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-draft:before {
	background-position: -1336px -260px;
}

.upfront-list_item-component.upfront-date.post-status-future:before {
	background-position: -1441px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-future:before {
	background-position: -1441px -260px;
}

.upfront-list_item-component.upfront-date.post-status-trash:before {
	background-position: -1231px -224px;
}

/* Pages list */
#upfront-list-page {
	clear: both;
	background: #cfdbe5;
}

#upfront-list-page-path {
	height: 50px;
	line-height: 50px;
	background: #e5f3fe;
	border-bottom: 1px solid #a4b9cb;
	padding-left: 30px;
	font-size: 16px;
}
#upfront-list-page-path a {
	color: #2ecc90;
	text-decoration: none;
}
#upfront-list-page-path .last {
	color: #273a4c;
	font-weight: bold;
}

#upfront-list-page-preview {
	float: left;
	width: 250px;
	background: #cfdbe5;
	border-right: 1px solid #a4b9cb;
	min-height: 350px;
	max-height: 350px;
	position: relative;
}

#upfront-list-page-preview h4 {
	text-transform: uppercase;
	font-size:14px;
	color:#30475e;
	margin: 0 0 10px;
	font-weight: normal;
}

#upfront-page_preview-wrapper {
	padding: 20px 30px;
	max-height: 350px;
}

.upfront-page_preview-item {
	margin-bottom: 20px;
}

#upfront-page_preview-featured_image {
	position:relative;
}
#upfront-page_preview-featured_image img {
	width:100%;
	display:block;
	margin: 0 auto;
	border: 3px solid #A4BFD8;
}
.upfront-thumbnailinfo {
	margin: 0 auto;
	border: 3px solid #A4BFD8;
	height: 100px;
	line-height: 95px;
	text-align: center;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature {
	position:absolute;
	bottom:3px;
	right:3px;
	background: #394a59;
	background: rgba(59,77,91,0.8);
	padding: 5px 10px;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a{
	color:#1fcd8f;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a:hover{
	text-decoration: underline;
}

#upfront-page_preview-template select{
	width: 100%;
}

#upfront-list-page-tree {
	background: #f2f9ff;
	max-height: 350px;
	min-height: 350px;
	overflow-y: scroll;
	width: 380px;
}
#upfront-list-page-tree .upfront-list-page_item {
	padding-left: 40px;
	font-weight: normal;
	color: #33475b;
	line-height: 30px;
	border-top: 1px solid #dde7ef;
	position:relative;
	cursor: pointer;
}
#upfront-list-page-tree .upfront-list-page_item i {
	width:15px;
	margin-top:9px;
	display: block;
	float: left;
}
#upfront-list-page-tree .upfront-list-page_item i.icon-caret-right {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-down {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-right {
	display:block;
}
#upfront-list-page-tree .upfront-list-page_item.closed .upfront-list-page_item {
	display: none;
}
#upfront-list-page-tree .upfront-list-page_item.has_children {
	font-weight: bold;
	padding-left: 25px;
}
#upfront-list-page-tree .upfront-list-page_item.active {
	background: #33475b;
	color: #2ecc90;
}

#upfront-list-page-tree .upfront-list-page_item.active .upfront-list-page_item {
	background: #F2F9FF;
}

#upfront-list-page-tree>.has_children>.upfront-list-page_item {
	margin-left: -40px;
	padding-left: 80px;
}
#upfront-list-page-tree>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -80px;
	padding-left: 120px;
}
#upfront-list-page-tree>.has_children>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -120px;
	padding-left: 160px;
}

.upfront-no-results {
	padding: 15px 20px;
}

/* Delete Confirmation */
.upfront-popup-posts .upfront-delete-confirm {
	position: absolute;
	left: 0;
	width: 100%;
	background: rgba(105, 116, 121, 0.9);
	height: 60px;
	/* Hide Initially */
	display: none;
	/* Get rid of 1px gap */
	margin-top: -1px;
}

.upfront-popup-posts .upfront-page-list .upfront-delete-confirm {
	height: 40px;
}

.upfront-popup-posts .upfront-page-list .upfront-delete-confirm div {
	height: 40px;
	padding: 5px;
}

.upfront-popup-posts .upfront-delete-confirm div {
	margin: auto;
	display: block;
	text-align: center;
	height: 60px;
	padding: 16px;
	line-height: 22px;
}

.upfront-popup-posts .upfront-delete-confirm span {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 0.5px;
	margin-right: 15px;
}

.upfront-popup-posts .upfront-delete-confirm span b {
	font-weight: 600;
}

.upfront-popup-posts #upfront-list .upfront-delete-confirm button {
	color: #595959;
	width: auto;
	border: 1px solid #677780;
	border-radius: 0;
	background: #fff;
	height: 22px;
	line-height: 11px;
	font-size: 11px;
	text-transform: none;
	padding: 0 9px;
	float: none;
}


/* Comments-specific additions to Entities list */
.upfront-comment-approved {
	display: block;
	width: 40px;
	height: 38px;
	line-height: 38px;
	position:absolute;
	top:0;
	left: -40px;
}

.upfront-list-comments .upfront-list-items {
	width: 670px;
	margin-left:-40px;
	border-bottom:0;
}

.upfront-comment-approved {
	width: 40px;
	color: #fff;
	opacity: 0.8;
	text-align: center;
}

.upfront-comment-approved:hover {
	opacity: 1;
}

.upfront-list-comments .upfront-comment_author {
	width: 200px;
}
.upfront-list-comments .upfront-date {
	width: 120px;
}
.upfront-list-comments .upfront-comment_content {
	width: 310px;
}

.upfront-list-comments .expanded .upfront-comment_content {
	width: 310px;
}
#upfront-list .upfront-comment_author {
	color: #2ecc90;
	vertical-align: top;
}

#upfront-list #upfront-list-meta .upfront-comment_author {
	color: #263a4d;
	vertical-align: top;
}

#upfront-list .upfront-comment_author img{
	margin: -7px 5px 0 0;
}

.upfront-list-comments .upfront-list-comment-items .upfront-list_item {
	width: 800px;
	margin-left:40px;
	position: relative;
	height: 40px;
	clear: both;
}


#upfront-list .upfront-list-comment-items .upfront-list_item-component {
	line-height: 1.2em;
	float: left;
	padding: 10px 15px 0;
	min-height: 38px;
}

#upfront-list .upfront-list-comment-items textarea {
	max-height:150px;
	margin-bottom:10px;
	padding: 10px;
	width: 100%;
}

#upfront-list button {
	width:100px;
	float:right;
	margin:0 0 10px 10px;
}


.upfront-list-comments #upfront-list-meta {
	margin-left:0;
}

.upfront-list-comments #upfront-list-meta  .upfront-header {
	float:left;
}

.upfront-list-comments .upfront-list_item:hover {
}

.upfront-list-comments .upfront-list_item .upfront-comment_content-full {
	max-height: 185px;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper {
	position: absolute;
	left: 0;
	bottom: 10px;
	clear: both;
	height: 40px;
	overflow: hidden;
	display: none;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a {
	display: block;
	float: left;
	padding: 0 7px;
	height: 40px;
	padding-top: 5px;
	text-align: center;
	background: #314355;
	color: #2ecc90;
	text-decoration: none;
	font-size: 10px;
	opacity: 0.8;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover {
	opacity: 1;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a i {
	display: block;
	font-size: 12px;
	height: 15px;
	padding: 4px;
	color: #a4b9cb;
	background-image: url(../img/uf-ui-sprite.svg);
}

.upfront-list-comments .icon-reply {
	background-position: -1226px -122px;
}

.upfront-list-comments .icon-pencil {
	background-position: -1335px -158px;
}

.upfront-list-comments .icon-circle-blank {
	background-position: -1321px -193px;
}

.upfront-list-comments .icon-ban-circle {
	background-position: -1332px -123px;
}

.upfront-list-comments .icon-ok {
	background-position: -1432px -123px;
}

.upfront-list-comments .icon-remove {
	background-position: -1332px -157px;
}

.upfront-comment-approved .icon-circle-blank {
	width:30px;
	height: 30px;
	display: block;
	background: transparent url(../img/uf-ui-sprite.svg) no-repeat -1430px -75px;
}

.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover i {
	color: #2ecc90;
}

.upfront-comment_edit,
.upfront-comment_reply,
.upfront-comment_content-full-wrapper {
	display: none;
}

.upfront-comment_reply textarea {
	margin-top: 10px;
}

#upfront-list .upfront-list-items .expanded {
	width:808px;
	margin-left: 36px;
	border: 1px solid #a4b9cb;
	height: auto;
	min-height:96px;
	opacity: 1;
}

#upfront-list .upfront-list-items .expanded .upfront-comment_actions-wrapper{
	display: block;
}

.upfront-list-comments .expanded .upfront-comment_excerpt {
	display:none;
}

.upfront-list-comments .expanded .upfront-comment_content-full-wrapper {
	display:block;
}

.upfront-list_item-comment textarea {
	width: 98%;
}

/* Pagination */
.upfront-popup-posts .upfront-pagination_navigation {
	font-size: 11px;
	color: rgb(156,155,156);
}

.upfront-popup-posts#upfront-popup .upfront-pagination_navigation input {
	background:rgb(96,96,96);
	background:rgba(96, 96, 96, 0.5);
	color: #fff;
	height: 22px;
	width: 50px;
	font-size: 11px;
	border: 1px solid rgb(168, 168, 168);
	border: 1px solid rgba(168, 168, 168, 1);
	margin-right: 2px;
}


/* Hide controls when single page. */
.upfront-popup-posts .upfront-single-page-pagination .upfront-pagination_item, .upfront-popup-posts .upfront-single-page-pagination .upfront-pagination_navigation {
	display: none;
}

.upfront-popup-posts .upfront-pagination_navigation .upfront-pagination_page-item {
	color: #1979cc;
	border-bottom: 1px solid #1979cc;
	font-size: 11px;
	margin: 0 0 0 2px;
}

.upfront-popup-posts .upfront-pagination_item, .upfront-popup-posts .upfront-pagination_item:hover {
	width: 22px;
	height: 22px;
	background: #fff;
	border: 1px solid #cccccc;
	box-shadow: 0 0 3px 0 rgba(36, 57, 77, 0.3);
	border-radius: 2px;
	opacity: 1;
	margin: 0;
}

.upfront-popup-posts .upfront-pagination_item-prev:after, .upfront-popup-posts .upfront-pagination_item-next:after {
	content: "";
	border: none;
}

.upfront-popup-posts .upfront-pagination_item:before {
	color: rgb(25,25,25);
	font-size: 8px;
	/* Temporary Font */
	font-family: dashicons;
	font-weight: bold;
	position: relative;
}

.upfront-popup-posts .upfront-pagination_item-prev:before {
	content: "\f341";
}

.upfront-popup-posts .upfront-pagination_item-next:before {
	content: "\f345";
}

.upfront-popup-posts #upfront-entity_list-pagination small {
	font-size: 10px;
	width: 50px;
	margin-left: 32px;
	color: rgb(156,155,156);
	text-align: center;
}

.upfront-popup-posts #upfront-entity_list-pagination.upfront-single-page-pagination small {
	margin: 0;
	line-height: 10px;
	color: rgb(242,242,242);
}

.upfront-popup-posts #upfront-entity_list-pagination small span {
	text-transform: lowercase;
}

/* Keep CPTs capitalized */
.upfront-popup-posts #upfront-entity_list-pagination small span[data-posttype="cpts"] {
	text-transform: none;
}