/* Entities(Posts) list */
.upfront-popup-posts #upfront-popup-content {
	background: #fff;
}
.upfront-entity_list-posts {
}
#upfront-list {
	width: 100%;
	color: #99b3cc;
	font-size:13px;
}
.upfront-popup-posts #upfront-list .upfront-list_item {
	background: none;
	max-height: 60px;
}
#upfront-list .upfront-list_item {
	background: #f2f9ff;
	width: 100%;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #e1e1e1;
	line-height: 18px;
	overflow: hidden;
	max-height: 28px;
}

.upfront-list-items .upfront-list_item:hover {
	opacity: 1;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-avatar {
	padding: 15px;
	padding-left: 30px;
}

#upfront-list .upfront-list_item .upfront-list_item-component {
	padding: 4px 15px;
	float:left;
}
.upfront-popup-posts #upfront-list .upfront-list_item-component:first-child.upfront-avatar
#upfront-list .upfront-list_item .upfront-list_item-component:first-child {
	padding: 15px;
	padding-left: 30px;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-title {
	color: rgba(110, 110, 110, 1);
	font-weight: 600;
	font-size: 12px;
}

.upfront-popup-posts #upfront-list .upfront-list_item:hover .upfront-list_item-component.upfront-title {
	color: rgba(33, 33, 33, 1);
}

#upfront-list .upfront-list_item .upfront-list_item-component.upfront-title {
	color:#395269;
}
.upfront-popup-posts #upfront-list .upfront-list-items .upfront-list_item:hover {
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid transparent;
}
#upfront-list .upfront-list-items .upfront-list_item:hover{
	border-top: 1px solid #a4b9cb;
	border-bottom: 1px solid #a4b9cb;
	cursor: pointer;
	background-color:#fff;
}
#upfront-list .upfront-list_item {
	color:#5b5b5b;
}

#upfront-list .upfront-list_item:first-child:hover{
	border-top: 1px solid transparent;
}
#upfront-list #upfront-list-meta {
	padding-top: 20px;
}
.upfront-popup-posts #upfront-list #upfront-list-meta.upfront-list_item {
	background: none;
}
#upfront-list #upfront-list-meta.upfront-list_item {
	background: #e5f3fe;
	color:#263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component {
	border-bottom: 1px solid #CAD9E4;
	cursor:pointer;
	padding-bottom: 4px;
}

#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component.active {
	padding-bottom: 3px;
}

#upfront-list #upfront-list-meta.upfront-list_item.upfront-comments-count.upfront-header .upfront-list_item-component.active {
	padding-bottom: 3px;
}

#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-down,
#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-up {
	margin-left: 3px;
	font-size:10px;
}
#upfront-list #upfront-list-meta.upfront-list_item:hover .upfront-list_item-component {
	border-bottom: 1px solid #a4b9cb;
	color: #263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component:hover {
	border-bottom: 1px solid #2ecc90;
}

#upfront-list-meta .upfront-header {
	line-height: 20px;
}
#upfront-list-meta .upfront-header.active {
	font-weight: bold;
}

#upfront-list-meta .upfront-header i {
	display: none;
}

#upfront-list-meta .upfront-header.ordered-asc i.icon-caret-up {
	display: inline;
}

#upfront-list-meta .upfront-header.ordered-desc i.icon-caret-down {
	display: inline;
}

#upfront-list .upfront-list_item-main {
	color: #32475c;
}

/* Posts list */
.upfront-popup-posts .upfront-avatar img {
	border-radius: 50%;
}
.upfront-popup-posts #upfront-list .upfront-list_item-component.upfront-title-and-author {
	min-height: 30px;
	padding: 11px 0;
}
.upfront-list_item-component.upfront-date {
	width: 30%;
	vertical-align: middle;
}
.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-title-and-author div {
	display: block;
	float: none;
	padding: 0;
	width: 100%;
}
.upfront-list_item-component.upfront-title {
	width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.upfront-popup-posts .upfront-list_item-component.upfront-author {
	font-style: italic;
	color: #a2a2a2;
}
.upfront-list_item-component.upfront-author {
	width: 15%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upfront-list_item-component.upfront-comments-count {
	width: 10%;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-editactions {
	position: absolute;
	right: 0;
	margin: 15px;
	width: auto;
	border: 1px solid #cccccc;
	height: 30px;
	background: #fff;
	padding: 0;
}

.upfront-list_item-component.upfront-editactions {
	width: 25%;
	display: none;
}

.upfront-popup-posts .upfront-editactions .upfront-icon-region-labelEdit:before {
	background-image: url(../img/uf-core-el-sprite_new.png);
	background-image: url(../img/uf-core-el-sprite_new.svg);
	background-repeat: no-repeat;
	margin: 0;
}

.upfront-popup-posts .upfront-editactions .upfront-icon-region-remove:before {
	background-image: url(../img/uf-core-el-sprite_new.png);
	background-image: url(../img/uf-core-el-sprite_new.svg);
	background-repeat: no-repeat;
}

.upfront-popup-posts #upfront-list .upfront-list_item .upfront-list_item-component.upfront-date {
	position: relative;
	float: right;
	text-align: right;
	width: 86px;
	font-size: 12px;
	margin: 15px;
	padding-right: 0;
	padding-left: 0;
}

.upfront-list_item-component.upfront-date:not(.upfront-header):before {
	content: '';
	position: absolute;
	left:0;
	top:0;
	display: block;
	width:15px;
	height:100%;
	background-image: url(../img/uf-ui-sprite.svg);
}

.upfront-list_item-component.upfront-date.post-status-publish:before {
	background-position: -1231px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-publish:before {
	background-position: -1231px -260px;
}

.upfront-list_item-component.upfront-date.post-status-draft:before {
	background-position: -1336px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-draft:before {
	background-position: -1336px -260px;
}

.upfront-list_item-component.upfront-date.post-status-future:before {
	background-position: -1441px -224px;
}

.upfront-list_item:hover .upfront-list_item-component.upfront-date.post-status-future:before {
	background-position: -1441px -260px;
}

.upfront-list_item-component.upfront-date.post-status-trash:before {
	background-position: -1231px -224px;
}

.upfront-popup-posts .upfront-editactions .edit, .upfront-popup-posts .upfront-editactions .trash {
	background: none;
}

.upfront-popup-posts .upfront-list_item-component.upfront-editactions a.editaction {
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	padding: 5px 6px 5px 5px;
	height: 28px;
	width: 28px;
}

a.editaction.edit, a.editaction.view {
	background-color: #3C5267;
	color:#02CE8D;
	margin-right: 6px;
}

a.editaction.trash {
	background-color:#D53321;
	color:#fff;
	margin-right:0;
}

.upfront-list_item-component.upfront-comments-count.upfront-header i.icon-post-comments {
	display: inline-block !important;
	height: 14px;
	width: 14px;
	padding: 4px;
	color: #a4b9cb;
	background-image: url(../img/uf-ui-sprite.svg);
	background-position: -912px -171px;
	vertical-align:middle;
}

.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-author,
.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-comments-count,
.upfront-list_item-post.status-trash {
	display:none;
}
.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-editactions {
	display:block;
	padding-right:0 !important;
}
/* Pages list */
#upfront-list-page {
	clear: both;
	background: #cfdbe5;
}

#upfront-list-page-path {
	height: 50px;
	line-height: 50px;
	background: #e5f3fe;
	border-bottom: 1px solid #a4b9cb;
	padding-left: 30px;
	font-size: 16px;
}
#upfront-list-page-path a {
	color: #2ecc90;
	text-decoration: none;
}
#upfront-list-page-path .last {
	color: #273a4c;
	font-weight: bold;
}

#upfront-list-page-preview {
	float: left;
	width: 250px;
	background: #cfdbe5;
	border-right: 1px solid #a4b9cb;
	min-height: 350px;
	max-height: 350px;
	position: relative;
}

#upfront-list-page-preview h4 {
	text-transform: uppercase;
	font-size:14px;
	color:#30475e;
	margin: 0 0 10px;
	font-weight: normal;

}

#upfront-page_preview-wrapper {
	padding: 20px 30px;
	max-height: 350px;
}

.upfront-page_preview-item {
	margin-bottom: 20px;
}

#upfront-page_preview-featured_image {
	position:relative;
}
#upfront-page_preview-featured_image img {
	width:100%;
	display:block;
	margin: 0 auto;
	border: 3px solid #A4BFD8;
}
.upfront-thumbnailinfo {
	margin: 0 auto;
	border: 3px solid #A4BFD8;
	height: 100px;
	line-height: 95px;
	text-align: center;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature {
	position:absolute;
	bottom:3px;
	right:3px;
	background: #394a59;
	background: rgba(59,77,91,0.8);
	padding: 5px 10px;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a{
	color:#1fcd8f;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a:hover{
	text-decoration: underline;
}

#upfront-page_preview-template select{
	width: 100%;
}

#upfront-list-page-tree {
	background: #f2f9ff;
	max-height: 350px;
	min-height: 350px;
	overflow-y: scroll;
	width: 380px;
}
#upfront-list-page-tree .upfront-list-page_item {
	padding-left: 40px;
	font-weight: normal;
	color: #33475b;
	line-height: 30px;
	border-top: 1px solid #dde7ef;
	position:relative;
	cursor: pointer;
}
#upfront-list-page-tree .upfront-list-page_item i {
	width:15px;
	margin-top:9px;
	display: block;
	float: left;
}
#upfront-list-page-tree .upfront-list-page_item i.icon-caret-right {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-down {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-right {
	display:block;
}
#upfront-list-page-tree .upfront-list-page_item.closed .upfront-list-page_item {
	display: none;
}
#upfront-list-page-tree .upfront-list-page_item.has_children {
	font-weight: bold;
	padding-left: 25px;
}
#upfront-list-page-tree .upfront-list-page_item.active {
	background: #33475b;
	color: #2ecc90;
}

#upfront-list-page-tree .upfront-list-page_item.active .upfront-list-page_item {
	background: #F2F9FF;
}

#upfront-list-page-tree>.has_children>.upfront-list-page_item {
	margin-left: -40px;
	padding-left: 80px;
}
#upfront-list-page-tree>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -80px;
	padding-left: 120px;
}
#upfront-list-page-tree>.has_children>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -120px;
	padding-left: 160px;
}

.upfront-no-results {
	padding: 15px 20px;
}


/* Comments-specific additions to Entities list */
.upfront-comment-approved {
	display: block;
	width: 40px;
	height: 38px;
	line-height: 38px;
	position:absolute;
	top:0;
	left: -40px;
}

.upfront-list-comments .upfront-list-items {
	width: 670px;
	margin-left:-40px;
	border-bottom:0;
}

.upfront-comment-approved {
	width: 40px;
	color: #fff;
	opacity: 0.8;
	text-align: center;
}

.upfront-comment-approved:hover {
	opacity: 1;
}

.upfront-list-comments .upfront-comment_author {
	width: 200px;
}
.upfront-list-comments .upfront-date {
	width: 120px;
}
.upfront-list-comments .upfront-comment_content {
	width: 310px;
}

.upfront-list-comments .expanded .upfront-comment_content {
	width: 310px;
}
#upfront-list .upfront-comment_author {
	color: #2ecc90;
	vertical-align: top;
}

#upfront-list #upfront-list-meta .upfront-comment_author {
	color: #263a4d;
	vertical-align: top;
}

#upfront-list .upfront-comment_author img{
	margin: -7px 5px 0 0;
}

.upfront-list-comments .upfront-list-comment-items .upfront-list_item {
	width: 800px;
	margin-left:40px;
	position: relative;
	height: 40px;
	clear: both;
}


#upfront-list .upfront-list-comment-items .upfront-list_item-component {
	line-height: 1.2em;
	float: left;
	padding: 10px 15px 0;
	min-height: 38px;
}

#upfront-list .upfront-list-comment-items textarea {
	max-height:150px;
	margin-bottom:10px;
	padding: 10px;
	width: 100%;
}

#upfront-list button {
	width:100px;
	float:right;
	margin:0 0 10px 10px;
}


.upfront-list-comments #upfront-list-meta {
	margin-left:0;
}

.upfront-list-comments #upfront-list-meta  .upfront-header {
	float:left;
}

.upfront-list-comments .upfront-list_item:hover {
}

.upfront-list-comments .upfront-list_item .upfront-comment_content-full {
	max-height: 185px;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper {
	position: absolute;
	left: 0;
	bottom: 10px;
	clear: both;
	height: 40px;
	overflow: hidden;
	display: none;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a {
	display: block;
	float: left;
	padding: 0 7px;
	height: 40px;
	padding-top: 5px;
	text-align: center;
	background: #314355;
	color: #2ecc90;
	text-decoration: none;
	font-size: 10px;
	opacity: 0.8;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover {
	opacity: 1;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a i {
	display: block;
	font-size: 12px;
	height: 15px;
	padding: 4px;
	color: #a4b9cb;
	background-image: url(../img/uf-ui-sprite.svg);
}

.upfront-list-comments .icon-reply {
	background-position: -1226px -122px;
}

.upfront-list-comments .icon-pencil {
	background-position: -1335px -158px;
}

.upfront-list-comments .icon-circle-blank {
	background-position: -1321px -193px;
}

.upfront-list-comments .icon-ban-circle {
	background-position: -1332px -123px;
}

.upfront-list-comments .icon-ok {
	background-position: -1432px -123px;
}

.upfront-list-comments .icon-remove {
	background-position: -1332px -157px;
}

.upfront-comment-approved .icon-circle-blank {
	width:30px;
	height: 30px;
	display: block;
	background: transparent url(../img/uf-ui-sprite.svg) no-repeat -1430px -75px;
}

.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover i {
	color: #2ecc90;
}

.upfront-comment_edit,
.upfront-comment_reply,
.upfront-comment_content-full-wrapper {
	display: none;
}

.upfront-comment_reply textarea {
	margin-top: 10px;
}

#upfront-list .upfront-list-items .expanded {
	width:808px;
	margin-left: 36px;
	border: 1px solid #a4b9cb;
	height: auto;
	min-height:96px;
	opacity: 1;
}

#upfront-list .upfront-list-items .expanded .upfront-comment_actions-wrapper{
	display: block;
}

.upfront-list-comments .expanded .upfront-comment_excerpt {
	display:none;
}

.upfront-list-comments .expanded .upfront-comment_content-full-wrapper {
	display:block;
}

.upfront-list_item-comment textarea {
	width: 98%;
}

