/* Posts settings */
.posts-settings-query {
  overflow: hidden;
}
.posts-settings-query .upfront-field-wrap-select {
  float: left;
}
.post-settings-type .upfront-field-select {
  width: 78px;
}
.post-settings-taxonomy {
  margin-left: 15px;
}
.post-settings-taxonomy .upfront-field-select {
  width: 115px;
}
.post-settings-term .upfront-field-select {
  width: 148px;
}
.post-settings-limit {
  margin-left: 15px;
}
.post-settings-limit .upfront-field-select {
  width: 45px;
}
.post-settings-data .upfront-field-multiple {
  margin-top: 8px;
}

