/* Preset manager panels in elements' settings */
div.preset-manager-panel a.upfront-preset-edit {
	font-size: 12px;
	color: #009a68;
	text-decoration: underline;
}
div.preset-manager-panel .hover_preset,
div.preset-manager-panel .state_settings_button,
div.preset-manager-panel .static_preset {
	display: inline;
	margin-right: 15px;
}
div.preset-manager-panel .hover_preset input,
div.preset-manager-panel .state_settings_button input,
div.preset-manager-panel .static_preset input,
div.preset-manager-panel .delete_preset input{
	font-size: 13px;
	padding: 1px 5px 2px;
	border-radius: 5px;
}
div.preset-manager-panel .hover_preset input,
div.preset-manager-panel .state_settings_button input,
div.preset-manager-panel .static_preset input {
	color: #009a68;
	background: none;
	text-decoration: underline;
}
div.preset-manager-panel .hover_preset.active input,
div.preset-manager-panel .state_settings_button.active input,
div.preset-manager-panel .static_preset.active input{
	background-color:#84a8ce !important;
	color:#fff;
	text-decoration: none;
}
div.preset-manager-panel .delete_preset input {
	background-color:#d71b12 !important;
	color:#fff;
	float: right;
	margin-top: -25px;
}
div.preset-manager-panel .delete_preset {
	position: relative;
	z-index: 99;
}
div.preset-manager-panel div.preset_specific div.upfront-settings-item {
	padding-top: 0;
}
div.preset-manager-panel div.preset_specific div.upfront-settings-item div.upfront-settings-item-title:after {
	display: none;
}
div.preset-manager-panel div.preset_specific div.upfront-settings-item div.upfront-settings-item-content {
	margin-top: 10px;
}
div.preset-manager-panel div.preset_specific div.border_radius input,
div.preset-manager-panel div.preset_specific div.inline-number input,
div.preset-manager-panel div.preset_specific div.font input,
div.preset-manager-panel div.preset_specific div.duration input
{
	width: 45px;
	font-size: 12px;
}
div.preset-manager-panel div.preset_specific div.border_radius1 {
	position: relative;
}
div.preset-manager-panel div.preset_specific div.border_radius1 label {
	position: absolute;
	top: -20px;
	width: 150px;
}
div.preset-manager-panel div.preset_specific div.border_radius {
	display: inline-block;
	margin-top: 35px;
	position: relative;
}
div.preset-manager-panel div.preset_specific div.border_radius3, div.preset-manager-panel div.preset_specific div.border_radius4 {
	top:-42px;
}
div.preset-manager-panel div.preset_specific div.border_radius2 {
	left:30px;
}
div.preset-manager-panel div.preset_specific div.border_radius3 {
	left: -15px;
}
div.preset-manager-panel div.preset_specific div.border_radius4 {
	left: -45px;
}
div.preset-manager-panel div.preset_specific div.border_radius4.hover {
	left: 0;
}
div.preset-manager-panel div.preset_specific div.border_radius3.hover {
	left: 30px;
}
div.preset-manager-panel div.preset_specific div.bg-color {
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 70px;
	margin-bottom: -2px;
}
div.preset-manager-panel div.preset_specific div.border-color {
	margin-left: 28px;
}
div.preset-manager-panel div.preset_specific div.font {
	margin-top: 52px;
	display: inline-block;
	float: left;
	clear: left;
	vertical-align: text-bottom;
}
div.preset-manager-panel div.preset_specific div.font.hover {
	margin-top: -21px;
}
div.preset-manager-panel div.preset_specific div.font_face div.upfront-field-select {
	width: 110px !important;
	margin-bottom: -2px;
	margin-left:20px;
}
div.preset-manager-panel div.preset_specific div.font_color {
	float: right;
	margin-top: -30px;
}
div.preset-manager-panel div.preset_specific div.duration {
	margin-top: 15px;
}
div.preset-manager-panel div.preset_specific div.transition{
	margin-top: -28px;
	margin-left:80px;
}
div.preset-manager-panel div.preset_specific div.font_face > label,
div.preset-manager-panel div.preset_specific div.transition label {
	font-size: 12px;
	display: inline;
	vertical-align: top;
}
div.preset-manager-panel div.preset_specific div.transition label {
	margin-left:-30px;
	margin-right: 10px;
}
div.preset-manager-panel div.preset_specific div.font_face > label {
	position: relative;
	left: 6px;
}
div.preset-manager-panel div.new_preset input {
	background: transparent;
	border: 2px #818d96 solid;
	font-size: 12px;
	padding: 3px 16px;
}
div.preset-manager-panel div.new_preset_name{
	width: 140px;
	margin-right: 10px;
	display: inline-block;
}
div.preset-manager-panel div.new_preset {
	display: inline-block;
	width: 80px;
	margin-top: 10px;
}
div.preset-manager-panel div.preset {
	margin-top: 10px;
}
div.preset-manager-panel div.or_divider div.upfront-settings-item-title {
	text-align: center;
}
div.preset-manager-panel div.or_divider div.upfront-settings-item-title > span {
	display: inline-block;
	background-color:#84a8ce;
	height: 22px;
	width: 24px;
	border-radius: 50%;
	position: relative;
	top: -6px;
	padding-top: 6px;
	color:#fff;
	text-transform: lowercase;
}
div.preset-manager-panel div.upfront-settings-common_panel {
	padding-bottom: 15px;
}
div.preset-manager-panel div.border_radius_lock input[type=checkbox] {
	position: relative;
	left: 36px;
	top: 6px;
}
div.preset-manager-panel div.border_radius_lock input[type=checkbox]:checked {
	float:none !important;
	left: 38px;
	top: 7px;
}
div.preset-manager-panel div.border_radius_lock input[type=checkbox]:after {
	content: '';
	display: block;
	height: 15px;
	width: 15px;
	background-image: url('../../../img/uf-core-el-sprite.png');
	background-image: url('../../../img/uf-core-el-sprite.svg'), none;
	background-position: -661px -172px;
	background-color: rgb(242, 249, 255);
	left: -3px;
	top: -3px;
	position: relative;
}
div.preset-manager-panel div.border_radius_lock input[type=checkbox]:checked:after {
	background-position: -661px -140px;
}

#settings .preset_specific .upfront-settings-item-content .upfront-settings-item-content {
	margin: 0;
	padding: 0;
}
.font_settings_item .upfront-settings-item-content > div {
	display: inline-block;
	vertical-align: bottom;
}
.font_settings_item .font-size {
	width: 70px;
}
.font_settings_item .font-size input {
	width: 50px;
}
.font_settings_item .font-size label {
	white-space: nowrap;
}
.font_settings_item .font-face {
	width: 125px;
}
.font_settings_item .font-face .upfront-field-select {
	vertical-align: bottom;
}
.font_settings_item .font-color {
}
.select-preset-field .upfront-field-select {
	width: 150px;
}
.colors_settings_item .upfront-settings-item-title span {
	padding: 0;
	margin: 0;
}
.colors_settings_item .upfront-field-wrap-color {
	float: left;
	clear: none;
	margin-right: 10px;
}
.state_settings > .upfront-settings-item-content > div {
	margin-top: 20px;
}
