.upfront-region-container {
	position: relative;
	/*z-index: 0;*/ /* Don't use z-index on region-container for compatibility with floated region */
}

.upfront-region-container-hidden .upfront-grid-layout:before,
.upfront-region-container-hidden .upfront-grid-layout:after {
	content: none;
}

.upfront-region-container-bg {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.upfront-region-container-has-posts .upfront-region,
.upfront-region-container-has-this_post .upfront-region {
  min-height: 0 !important;
}

.upfront-region-current {
	z-index: 10;
}

.upfront-region-sub-container {
	position: relative;
	z-index: 12;
}
.upfront-region {
  /*background-color: rgba(127, 127, 127, .5);*/
  padding: 0;
  float: left;
  /*width: 100%;*/
  position: relative;
  min-height: 90px;
  /*z-index: 1;*/
}
.upfront-region-side-fixed,
.upfront-region-side-lightbox {
	position: fixed;
	z-index: 12;
}

.upfront-region-container-sticky {
	z-index: 99;
}

.upfront-region-hidden {
	height: auto !important;
	min-height: 0 !important;
	width: 100% !important;
	float: none;
}

.upfront-region-wrapper {
	width: 100%;
}
.upfront-modules_container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
}

.upfront-region-side-lightbox> b.upfront-entity_meta {
	display: block;
	position: fixed;
	top: 50px;
	right:50px
}
.upfront-region-side-lightbox> b.upfront-entity_meta > a.upfront-entity-delete_trigger,
.upfront-region-side-lightbox> b.upfront-entity_meta > a.upfront-entity-settings_trigger {
	display: block;
	opacity: 1;
	visibility: visible;

}

.upfront-region-bg-overlay,
.upfront-region-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.upfront-region-bg-overlay {
  overflow: hidden;
}
.upfront-region-bg-map {
	position: absolute !important;
}
.upfront-region-bg-video {
	overflow: hidden;
}
.upfront-region-edit-trigger {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	z-index: 999999;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.upfront-region-edit-trigger-full {
	left: 0;
	bottom: 0;
	height: auto;
	text-align: center;
	color: #fdfdfd;
	font-size: 17px;
}
.upfront-region-edit-fixed-trigger {
	position: fixed;
	left: 30px;
	top: 30px;
	width: 150px;
	height: 150px;
	text-align: center;
	background: #aeb8c2;
	color: #fdfdfd;
	font-size: 17px;
	cursor: pointer;
	z-index: 9999;
}
.upfront-region-edit-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 48px;
	margin: auto;
}
.upfront-region-edit-trigger .upfront-icon:before {
	margin: 0;
}
.upfront-edit-layout .upfront-region-container:hover > .upfront-region-edit-trigger,
.upfront-edit-theme .upfront-region-container:hover > .upfront-region-edit-trigger,
.upfront-edit-responsive .default-breakpoint .upfront-region-container:hover > .upfront-region-edit-trigger,
.upfront-edit-layout .upfront-region-has-modules:hover > .upfront-region-edit-trigger-small,
.upfront-edit-theme .upfront-region-has-modules:hover > .upfront-region-edit-trigger-small,
.upfront-edit-responsive .upfront-region-has-modules:hover > .upfront-region-edit-trigger-small,
.upfront-edit-responsive .responsive-breakpoint .upfront-region:hover > .upfront-region-edit-trigger-small,
.upfront-edit-layout .upfront-region-empty:hover > .upfront-region-edit-trigger-full,
.upfront-edit-theme .upfront-region-empty:hover > .upfront-region-edit-trigger-full,
.upfront-edit-responsive .upfront-region-empty:hover > .upfront-region-edit-trigger-full,
.upfront-region-editing .upfront-region-container .upfront-region-side-fixed:hover > .upfront-region-edit-trigger-full
{
	visibility: visible;
	opacity: 1;
}
.upfront-region-container.upfront-region-module-activated .upfront-region-edit-trigger,
.upfront-region-container.upfront-region-module-activated:hover .upfront-region-edit-trigger,
.upfront-region-container.upfront-region-module-activated .upfront-region:hover .upfront-region-edit-trigger,
.upfront-region-editing .upfront-region-container .upfront-region-edit-trigger,
.upfront-region-editing .upfront-region-container:hover .upfront-region-edit-trigger,
.upfront-region-fixed-editing .upfront-region-container .upfront-region-edit-trigger,
.upfront-region-fixed-editing .upfront-region-container:hover .upfront-region-edit-trigger,
.upfront-edit-responsive .upfront-region-hidden > .upfront-region-edit-trigger,
.upfront-edit-responsive .upfront-region-editing.responsive-breakpoint .upfront-region:hover > .upfront-region-edit-trigger-small,
.upfront-edit-responsive .responsive-breakpoint .upfront-region-hidden:hover > .upfront-region-edit-trigger-small,
.upfront-region-container.upfront-region-container-nav-open .upfront-region-edit-trigger,
.upfront-region-container.upfront-region-container-nav-open:hover .upfront-region-edit-trigger,
.upfront-edit-responsive .upfront-region-container.upfront-region-container-nav-open .upfront-region-edit-trigger,
.upfront-edit-responsive .upfront-region-container.upfront-region-container-nav-open:hover .upfront-region-edit-trigger {
	visibility: hidden;
	opacity: 0;
}
.upfront-region-finish-edit,
.upfront-region-finish-edit-fixed,
.upfront-region-finish-edit-lightbox,
.upfront-module-group-finish-edit {
	position: absolute;
	bottom: -51px;
	right: 0;
	color: #fdfdfd;
	font-size: 17px;
	line-height: 24px;
	background: #1fcd8f;
	padding: 14px 22px 12px;
	border-bottom: none;
	z-index: 1999999;
	cursor: pointer;
	white-space: nowrap;
	display: none;
}
.upfront-region-finish-edit .upfront-field-icon {
	margin: 0 7px 0 0;
}
.upfront-region-fixed-editing .upfront-region-finish-edit {
	bottom: 10px;
}
.upfront-region-finish-edit-fixed {
	bottom: -35px;
	border-bottom: 1px solid rgba(27,45,63,.5);
	padding: 5px 36px;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-finish-edit,
.upfront-region-fixed-editing .upfront-region-side-fixed .upfront-region-finish-edit-fixed/*,
.upfront-region-fixed-editing .upfront-region-container-active .upfront-region-finish-edit*/,
.upfront-module-group-on-edit .upfront-module-group-finish-edit,
.upfront-region-lightbox-editing .upfront-region-side-lightbox .upfront-region-finish-edit-lightbox {
	display: block;
}
.upfront-module-group-nav-open.upfront-module-group-on-edit .upfront-module-group-finish-edit {
	display: none;
}
.upfront-region-title {
	position: absolute;
	top: -11px;
	left: 25px;
	z-index: 200;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 5px 5px;
	background: #2e4459;
	background: rgba(46, 68, 89, .9);
	color: #d9eafa;
	display: none;
}
.upfront-region-container:first-child .upfront-region-title {
	top: auto;
	bottom: -11px;
}
.upfront-dragging .upfront-region {
	opacity: .4;
	/*-webkit-transform: scale(.96, .96);*/
}
.upfront-dragging .upfront-region-drag-active {
	opacity: 1;
	/*-webkit-transform: scale(1, 1);*/
	outline: 1px dotted #858585;
}

.upfront-dragging .upfront-region-drag-active .upfront-region-title {
	display: block;
}

.upfront-region-size-hint,
.upfront-region-position-hint {
	position: absolute;
	top: 0;
	left: 0;
	background: #3d5266;
	color: #dcebf8;
	font-size: 14px !important;
	padding: 0 5px;
	z-index: 10;
	display: none;
}
.upfront-region-size-hint b,
.upfront-region-position-hint b {
	color: #ADC3D8;
}
.upfront-region-side-fixed .upfront-region-size-hint {
	top: 15px;
	left: 15px;
}
.upfront-region-side-fixed .upfront-region-position-hint {
	top: 46px;
	left: 15px;
}
.upfront-region-editing .upfront-region-size-hint,
.upfront-region-fixed-editing .upfront-region-side-fixed .upfront-region-size-hint,
.upfront-region-fixed-editing .upfront-region-side-fixed .upfront-region-position-hint {
	display: block;
}

/* Region edit panel */
.upfront-region-active {
}
.upfront-region:hover {
}
.upfront-region-editing .upfront-module {
}
.upfront-region-editing .upfront-regions {
	padding-bottom: 260px;
}
.upfront-region-editing .upfront-region-container {
	opacity: 0.5;
	/*min-height: 90px;*/
	z-index: 1;
}
.upfront-region-editing .upfront-region-container-shadow {
	min-height: 0;
}
.upfront-region-editing.responsive-breakpoint .upfront-region-container {
	min-height: 0;
}
.upfront-region-editing .upfront-region-side-fixed {
	display: none !important;
}
.upfront-region-editing .upfront-region-container-active .upfront-module,
.upfront-region-fixed-editing .upfront-region-container-active .upfront-module {
	opacity: 0.5;
}
.upfront-region-resize-handle {
	position: absolute;
	bottom: -14px;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	z-index: 9997;
	cursor: ns-resize;
	display: block;
	visibility: hidden;
}
.upfront-region-resize-handle-n {
  top: -14px;
  bottom: auto;
  cursor: ns-resize;
}
.upfront-region-resize-handle-e {
	top: 0;
	bottom: 0;
	left: auto;
	right: -13px;
	width: 24px;
	cursor: ew-resize;
}
.upfront-region-resize-handle-w {
	top: 0;
	bottom: 0;
	left: -13px;
	right: auto;
	width: 24px;
	cursor: ew-resize;
}
.upfront-region-editing .upfront-region-container-active > .upfront-region-resize-handle,
.upfront-region-editing .upfront-region-container-active .upfront-region-side-left > .upfront-region-resize-handle-e,
.upfront-region-editing .upfront-region-container-active .upfront-region-side-right > .upfront-region-resize-handle-w,
.upfront-region-editing .upfront-region-container-active .upfront-region-sub-container > .upfront-region-resize-handle,
.responsive-breakpoint.upfront-region-editing .upfront-region-container-active .upfront-region > .upfront-region-resize-handle-s,
.upfront-region-fixed-editing .upfront-region-side-fixed .upfront-region-resize-handle {
	visibility: visible;
	/*z-index: 9997;*/
	z-index: 2000000;
}
/*.responsive-breakpoint.upfront-region-editing .upfront-region-container-active > .upfront-region-resize-handle,*/
.responsive-breakpoint.upfront-region-editing .upfront-region-container-active .upfront-region-side-left > .upfront-region-resize-handle-e,
.responsive-breakpoint.upfront-region-editing .upfront-region-container-active .upfront-region-side-right > .upfront-region-resize-handle-w,
.responsive-breakpoint.upfront-region-editing .upfront-region-container-active .upfront-region-hidden > .upfront-region-resize-handle-s,
.upfront-region-editing .upfront-region-container-full > .upfront-region-resize-handle,
.upfront-region-editing .upfront-region-bg-setting-open .upfront-region-resize-handle {
	visibility: hidden;
}
.upfront-region-editing .upfront-region-active-overlay,
.upfront-inline-panels,
.upfront-inline-panels-wrap,
.upfront-add-region-ani:after,
.upfront-region-editing .upfront-region-editing-overlay,
.upfront-region-fixed-editing .upfront-region:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9996;
}
.upfront-region-editing .upfront-region-container-active,
.upfront-region-fixed-editing .upfront-region-side-fixed {
	opacity: 1;
	z-index: 9997;
	-webkit-backface-visibility:hidden;
}

.upfront-region-editing .upfront-grid-layout {
	-webkit-backface-visibility:hidden;
}

.upfront-region-editing .upfront-region-active,
.upfront-region-editing .upfront-region-container-active .upfront-region-sub-container {
	z-index: 9997;
}
.upfront-region-editing .upfront-region-container-active div.upfront-grid-layout {
    z-index: 9998;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-sub-container-active {
    z-index: 9999;
}

.upfront-region-editing-modal {
	z-index: 999999999;
}

.upfront-region-sub-container-top {
	z-index:13;
}

.upfront-region-editing-modal .upfront-entity_meta{
	display: none !important;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-active-overlay,
.upfront-region-editing .upfront-region-active .upfront-region-active-overlay,
.upfront-region-side-left.upfront-add-region-ani:after,
.upfront-region-side-right.upfront-add-region-ani:after {
	border-top: 3px solid #2f3a44;
	border-bottom: 3px solid #2f3a44;
	top: -3px;
	bottom: -3px;
}
.upfront-region-editing .upfront-region-active .upfront-region-title,
.upfront-region-fixed-editing .upfront-region-active .upfront-region-title {
	top: 0;
	bottom: auto;
	/*display: block;*/
}
.upfront-region-editing .upfront-region-editing-overlay {
	z-index: 20;
	background: rgba(31, 48, 63, 0.8);
}
.upfront-region-editing .upfront-region-container-active .upfront-region-side,
.upfront-region-editing .upfront-region-container-active .upfront-region-sub-container,
.upfront-region-fixed-editing .upfront-region-side-fixed {
	background: rgba(175, 185, 195, 0.5);
}
.upfront-region-editing .upfront-region-container-active .upfront-region-sub-container .upfront-region-side {
  background: none;
}
.upfront-region-editing .upfront-region-container-active .upfront-region:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	border-left: 1px dotted #7f7f7f;
	border-right: 1px dotted #7f7f7f;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-side-left:after {
	border-right: none;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-side-right:after {
	border-left: none;
}
.upfront-region-fixed-editing .upfront-region-side-fixed {
	border: 1px dotted #7f7f7f;
}
.upfront-region-fixed-edit-pos {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 0;
	background: #e5f3ff;
	display: none;
}
.upfront-region-fixed-edit-pos .upfront-field-wrap {
	float: left;
	line-height: 16px;
	margin: 0 5px 3px;
}
.upfront-region-fixed-edit-pos .upfront-field-wrap:nth-child(3) {
	clear: both;
}
.upfront-region-fixed-edit-pos .upfront-field-number[type=number] {
	width: 48px;
	height: 18px;
	padding: 0 5px;
	font-size: 11px;
}
.upfront-region-fixed-edit-pos .upfront-field-wrap .upfront-field-label {
	font-weight: bold;
	color: #2f4355;
}
.upfront-region-fixed-editing .upfront-region-fixed-edit-pos {
	display: block;
}
/* Experimental animation */
@-webkit-keyframes upfront-add-region-top {
	0% {
		-webkit-transform: translateY(100%) scale(0.9);
	}
	50% {
		-webkit-transform: translateY(-15px) scale(1);
	}
	100% {
		-webkit-transform: translateY(0) scale(1);
	}
}
@keyframes upfront-add-region-top {
	0% {
		transform: translateY(100%) scale(0.9);
	}
	50% {
		transform: translateY(-15px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-bottom {
	0% {
		-webkit-transform: translateY(-100%) scale(0.9);
	}
	50% {
		-webkit-transform: translateY(15px) scale(1);
	}
	100% {
		-webkit-transform: translateY(0) scale(1);
	}
}
@keyframes upfront-add-region-bottom {
	0% {
		transform: translateY(-100%) scale(0.9);
	}
	50% {
		transform: translateY(15px) scale(1);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-left {
	0% {
		-webkit-transform: translateX(0) scale(0.9);
	}
	33% {
		-webkit-transform: translateX(-15px) scale(1);
	}
	100% {
		-webkit-transform: translateX(0) scale(1);
	}
}
@keyframes upfront-add-region-left {
	0% {
		transform: translateX(0) scale(0.9);
	}
	33% {
		transform: translateX(-15px) scale(1);
	}
	100% {
		transform: translateX(0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-right {
	0% {
		-webkit-transform: translateX(0) scale(0.9);
	}
	33% {
		-webkit-transform: translateX(15px) scale(1);
	}
	100% {
		-webkit-transform: translateX(0) scale(1);
	}
}
@keyframes upfront-add-region-right {
	0% {
		transform: translateX(0) scale(0.9);
	}
	33% {
		transform: translateX(15px) scale(1);
	}
	100% {
		transform: translateX(0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-top-left {
	0% {
		-webkit-transform: translate(-100%, -100%) scale(0.9);
	}
	50% {
		-webkit-transform: translate(15px, 15px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
	}
}
@keyframes upfront-add-region-top-left {
	0% {
		transform: translate(-100%, -100%) scale(0.9);
	}
	50% {
		transform: translate(15px, 15px) scale(1);
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-top-right {
	0% {
		-webkit-transform: translate(100%, -100%) scale(0.9);
	}
	50% {
		-webkit-transform: translate(-15px, 15px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
	}
}
@keyframes upfront-add-region-top-right {
	0% {
		transform: translate(100%, -100%) scale(0.9);
	}
	50% {
		transform: translate(-15px, 15px) scale(1);
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-bottom-left {
	0% {
		-webkit-transform: translate(-100%, 100%) scale(0.9);
	}
	50% {
		-webkit-transform: translate(15px, -15px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
	}
}
@keyframes upfront-add-region-bottom-left {
	0% {
		transform: translate(-100%, 100%) scale(0.9);
	}
	50% {
		transform: translate(15px, -15px) scale(1);
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}
@-webkit-keyframes upfront-add-region-bottom-right {
	0% {
		-webkit-transform: translate(100%, 100%) scale(0.9);
	}
	50% {
		-webkit-transform: translate(-15px, -15px) scale(1);
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
	}
}
@keyframes upfront-add-region-bottom-right {
	0% {
		transform: translate(100%, 100%) scale(0.9);
	}
	50% {
		transform: translate(-15px, -15px) scale(1);
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}
.upfront-region-editing .upfront-add-region-ani {
	opacity: 1;
	z-index: 0;
}
.upfront-add-region-ani-top {
	-webkit-animation: upfront-add-region-top 1s linear 0s 1 both;
	animation: upfront-add-region-top 1s linear 0s 1 both;
}
.upfront-add-region-ani-bottom {
	-webkit-animation: upfront-add-region-bottom 1s linear 0s 1 both;
	animation: upfront-add-region-bottom 1s linear 0s 1 both;
}
.upfront-add-region-ani-left {
	-webkit-animation: upfront-add-region-left 0.8s linear 0s 1 both;
	animation: upfront-add-region-left 0.8s linear 0s 1 both;
}
.upfront-add-region-ani-right {
	-webkit-animation: upfront-add-region-right 0.8s linear 0s 1 both;
	animation: upfront-add-region-right 0.8s linear 0s 1 both;
}
.upfront-add-region-ani-top-left {
	-webkit-animation: upfront-add-region-top-left 1s linear 0s 1 both;
	animation: upfront-add-region-top-left 1s linear 0s 1 both;
}
.upfront-add-region-ani-top-right {
	-webkit-animation: upfront-add-region-top-right 1s linear 0s 1 both;
	animation: upfront-add-region-top-right 1s linear 0s 1 both;
}
.upfront-add-region-ani-bottom-left {
	-webkit-animation: upfront-add-region-bottom-left 1s linear 0s 1 both;
	animation: upfront-add-region-bottom-left 1s linear 0s 1 both;
}
.upfront-add-region-ani-bottom-right {
	-webkit-animation: upfront-add-region-bottom-right 1s linear 0s 1 both;
	animation: upfront-add-region-bottom-right 1s linear 0s 1 both;
}
.upfront-inline-panels {
	display: none;
}
.upfront-region-editing .upfront-region-container-active .upfront-region-panels {
	display: block;
	z-index: 9996;
}
.upfront-edit-responsive .upfront-region-editing .upfront-region-panels {
	display: none;
}
.upfront-region-fixed-editing .upfront-region-fixed-panels {
	display: block;
}
.upfront-region-editing .upfront-region-panels.upfront-inline-panels-active {
	z-index: 9999;
}
.upfront-region-fixed-panels {
}
.upfront-inline-panels-wrap {
	/*overflow: hidden;*/
}
.upfront-inline-panel {
	position: absolute;
	width: 40px;
	height: 40px;
	margin: auto;
	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0s linear 0.6s, -webkit-transform 0.6s, opacity 0.6s;
	transition: visibility 0s linear 0.6s, transform 0.6s, opacity 0.6s;
}
.upfront-inline-panel-top {
	top: 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 50% 0;
	transform: scale(1);
	transform-origin: 50% 0;
}
.upfront-region-panels .upfront-inline-panel-top {
	margin-top: 20px;
}
.upfront-inline-panel-top-center {
	left: 0;
	right: 0;
}
.upfront-inline-panel-top-left {
	left: 8.3%;
}
.upfront-region-fixed-panels .upfront-inline-panel-top-left {
	left: 0;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: 0 0;
	transform: scale(0, 0);
	transform-origin: 0 0;
}
.upfront-inline-panel-top-right {
	right: 8.3%;
}
.upfront-region-fixed-panels .upfront-inline-panel-top-right {
	right: 0;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: 100% 0;
	transform: scale(0, 0);
	transform-origin: 100% 0;
}
.upfront-inline-panel-center {
	top: 0;
	bottom: 0;
}
.upfront-inline-panel-center-center {
	left: 0;
	right: 0;
}
.upfront-inline-panel-center-left {
	left: 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 0 50%;
	transform: scale(1);
	transform-origin: 0 50%;
}
.upfront-region-panels .upfront-inline-panel-center-left {
	left: 20px;
}
.upfront-inline-panel-center-right {
	right: 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 100% 50%;
	transform: scale(1);
	transform-origin: 100% 50%;
}
.upfront-region-panels .upfront-inline-panel-center-right {
	right: 20px;
}
.upfront-inline-panel-bottom {
	bottom: 0;
	-webkit-transform: scale(1);
	-webkit-transform-origin: 50% 100%;
	transform: scale(1);
	transform-origin: 50% 100%;
}
.upfront-region-panels .upfront-inline-panel-bottom {
	margin-bottom: 20px;
}
.upfront-inline-panels-active .upfront-inline-panel-bottom {
	/*-webkit-animation: upfront-inline-panel-bottom 0.6s 1;*/
}
.upfront-inline-panel-bottom-center {
	left: 0;
	right: 0;
}
.upfront-inline-panel-bottom-left {
	left: 8.3%;
}
.uimage-controls .upfront-inline-panel-bottom-left {
	bottom: 15px;
	left: 15px;
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-left {
	left: 0;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: 0 100%;
	transform: scale(0, 0);
	transform-origin: 0 100%;
}
.upfront-inline-panel-bottom-right {
	right: 8.3%;
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-right {
	right: 0;
	-webkit-transform: scale(0, 0);
	-webkit-transform-origin: 100% 100%;
	transform: scale(0, 0);
	transform-origin: 100% 100%;
}
.upfront-inline-panels-active .upfront-inline-panel {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-webkit-transition-delay: 0s;
	transform: scale(1);
	transition-delay: 0s;
}
.upfront-inline-panel-size-2 {
	width: 80px;
}
.upfront-inline-panel-size-3 {
	width: 120px;
}
.upfront-inline-panel-size-4 {
	width: 160px;
}
.upfront-inline-panel-size-5 {
	width: 200px;
}
.upfront-inline-panel-size-6 {
	width: 240px;
}
.upfront-inline-panel-size-7 {
	width: 280px;
}
.upfront-inline-panel-size-8 {
	width: 320px;
}
.upfront-inline-panel-size-9 {
	width: 360px;
}
.upfront-inline-panel-item {
	width: 30px;
	height: 30px;
	background: rgba(31, 48, 63, 0.8);
	border-bottom: 1px solid #162433;
	cursor: pointer;
	float: left;
	position: relative;
	z-index: 50;
}
.inline-panel-item-selected .upfront-icon:before {
	cursor: default;
	opacity: 0.4;
}
.upfront-region-panel-item-add-region {
	width: 24px;
	height: 24px;
	border-bottom: none;
}
.upfront-region-panel-item-bg.upfront-inline-panel-subitem-active {
	background: #1f303f;
}
.upfront-inline-panel-subitem-active .upfront-inline-panel-subitem {
	border-bottom: 1px solid #2d3945;
}
.inline-panel-collapsed-control .upfront-inline-panel-subitem {
	width: 90px;
}
.upfront-inline-panel-item.inline-panel-collapsed-control {
	height: 10px;
	position: relative;
	z-index: 50;
}
.upfront-inline-panel-item.inline-panel-collapsed-control .upfront-icon-region-collapsedControl-active {
	height: 10px;
}
.upfront-inline-panel-item.inline-panel-collapsed-control .upfront-icon-region-collapsedControl-active:before {
	height: 6px;
}
.upfront-inline-panel-subitem {
	position: relative;
	z-index: -1;
}
.upfront-inline-panel-subitem .upfront-inline-panel-item {
	visibility: hidden;
	border-bottom: none;
	position: relative;
	opacity: 0;
}
.uimage-controls .upfront-inline-panel-subitem-active .upfront-inline-panel-item {
	visibility: visible;
	background: #284159;
	opacity: 1;
}
.upfront-inline-panel-subitem .upfront-inline-panel-item:hover {
	background: #22384c;
	z-index: 100;
}
.upfront-inline-panel-item .upfront-icon {
	display: block;
	padding: 6px 6px 0 6px;
}
.upfront-inline-panel-item.labeled{
    line-height: 40px !important;
    color:#fff;
    min-width: 200px !important;
    padding: 0 10px;
}
.upfront-inline-panel-item .upfront-inline-panel-item-label{
    display: block;
    width: 100%;
    height: 100%;
		overflow: hidden;
		font:normal 11px/2.7 Verdana, sans serif;
}
.upfront-region-panel-item-add-region .upfront-icon {
	padding: 2px;
}
.upfront-inline-panel-item .upfront-icon:before {
	float: none !important;
	margin: 0;
}
.upfront-region-fixed-panels .upfront-inline-panel-item {
	border-bottom: none;
	width: 50px;
	height: 50px;
}
.upfront-region-fixed-panels .upfront-inline-panel-top-left .upfront-inline-panel-item {
	background: -moz-linear-gradient(-45deg, rgba(229,243,255,1) 0%, rgba(229,243,255,1) 40%, rgba(61,82,102,.5) 41%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(229,243,255,1)), color-stop(40%,rgba(229,243,255,1)), color-stop(41%,rgba(61,82,102,.5)), color-stop(45%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(-45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(-45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(-45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: linear-gradient(135deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
}
.upfront-region-fixed-panels .upfront-inline-panel-top-right .upfront-inline-panel-item {
	background: -moz-linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(61,82,102,.5) 59%, rgba(229,243,255,1) 60%, rgba(229,243,255,1) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(59%,rgba(61,82,102,.5)), color-stop(60%,rgba(229,243,255,1)), color-stop(100%,rgba(229,243,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-left .upfront-inline-panel-item {
	background: -moz-linear-gradient(45deg, rgba(229,243,255,1) 0%, rgba(229,243,255,1) 40%, rgba(61,82,102,.5) 41%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(229,243,255,1)), color-stop(40%,rgba(229,243,255,1)), color-stop(41%,rgba(61,82,102,.5)), color-stop(45%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
	background: linear-gradient(45deg, rgba(229,243,255,1) 0%,rgba(229,243,255,1) 40%,rgba(61,82,102,.5) 41%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 100%);
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-right .upfront-inline-panel-item {
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(61,82,102,.5) 59%, rgba(229,243,255,1) 60%, rgba(229,243,255,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(59%,rgba(61,82,102,.5)), color-stop(60%,rgba(229,243,255,1)), color-stop(100%,rgba(229,243,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(61,82,102,.5) 59%,rgba(229,243,255,1) 60%,rgba(229,243,255,1) 100%);
}
.upfront-region-fixed-panels .upfront-region-panel-item-add-region:before {
	content: "+";
	color: #3d5266;
	font-size: 28px;
	line-height: 0;
	margin: 12px 0 0 6px;
	float: left;
	display: block;
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-left .upfront-region-panel-item-add-region:before {
	margin: 36px 0 0 6px;
}
.upfront-region-fixed-panels .upfront-inline-panel-top-right .upfront-region-panel-item-add-region:before {
	margin: 12px 6px 0 0;
	float: right;
}
.upfront-region-fixed-panels .upfront-inline-panel-bottom-right .upfront-region-panel-item-add-region:before {
	margin: 36px 6px 0 0;
	float: right;
}
.upfront-inline-modal,
.upfront-inline-modal-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10001000;
}
.upfront-inline-modal {
}
.upfront-inline-modal-wrap {
	margin: auto;
	width: 50%;
	border: 1px solid #fff;
	background: #e5f3ff;
	-moz-box-shadow: 0 0 20px rgba(39,58,76,.8);
	-webkit-box-shadow: 0 0 20px rgba(39,58,76,.8);
	box-shadow: 0 0 20px rgba(39,58,76,.8);
}
.upfront-inline-modal-wrap .upfront-inline-modal-content {
	padding: 16px;
}
.upfront-inline-modal-wrap .upfront-inline-modal-content:before,
.upfront-inline-modal-wrap .upfront-inline-modal-content:after {
  content: " ";
  display: table;
}
.upfront-inline-modal-wrap .upfront-inline-modal-content:after {
  clear: both;
}
.upfront-inline-modal-save,
.upfront-inline-modal-save:hover {
	position: absolute;
	bottom: -35px;
	right: 0;
	color: #f1f8ff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	padding: 0 36px;
	background: #2ecb90;
	border: none;
	border-bottom: 1px solid rgba(27,45,63,.5);
}
.upfront-region-modal-color {
	background: none;
	border-bottom: none;
	padding: 0;
}
.upfront-region-modal-color .upfront-inline-modal-wrap {
	width: 255px;
	height: 210px;
	background: none;
}
.upfront-region-modal-color .upfront-region-color-picker {
	display: block;
	width: 120px;
	margin: 0 auto;
}
.upfront-region-modal-bg .upfront-inline-modal-wrap {
	width: 384px;
}
.upfront-region-bg-setting-fixed-region {
	margin: 0 0 10px;
}
.upfront-region-bg-setting-fixed-region .upfront-region-bg-setting-label {
	margin: 0 0 5px;
}
.upfront-region-bg-setting-fixed-region .upfront-field-wrap {
	width: 50%;
	float: left;
}
.upfront-region-bg-setting-fixed-region .upfront-field-number[type=number] {
	width: 80px;
}
.upfront-region-bg-setting-fixed-region .upfront-field-wrap .upfront-field-label {
	display: inline-block;
	width: 40px;
}
.upfront-region-bg-setting-header {
  margin: -16px -16px 0;
  padding: 0 16px 12px;
  border-bottom: 1px solid #cce1f4;
  position: relative;
}
.upfront-region-bg-setting-name {
	color: #6a8eb5;
}
.upfront-region-bg-setting-name-wrap {
	padding: 16px 0 0;
}
.upfront-region-bg-setting-is-global {
  display: inline-block;
  background: #20394f;
  color: #e2f3ff;
  border-radius: 3px;
  font: 10px/10px Verdana, sans-serif;
  padding: 2px 3px;
  margin: 0 0 0 5px;
}
a.upfront-region-name-edit-trigger {
	font-size: 11px;
	font-family: verdana, sans-serif;
	color: #243877;
	text-decoration: none;
	position: relative;
	margin: 0 0 0 25px;
	display: inline-block;
	height: 18px;
	line-height: 20px;
}
a.upfront-region-name-edit-trigger:hover {
	border-bottom: 1px solid #00cf8b;
	color: #243877;
	text-decoration: none;
}
a.upfront-region-name-edit-trigger:before {
	position: absolute;
	top: 0;
	left: -20px;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap-text {
	width: 170px;
	margin-right: 10px;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap {
  float: left;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap-checkboxes {
  position: relative;
  top: 7px;
}
.upfront-region-bg-setting-name-edit .upfront-region-bg-setting-localize {
  position: relative;
  top: 4px;
  border-bottom: 1px solid #00d78b;
}
.upfront-region-bg-setting-name-edit .upfront-region-bg-setting-localize:before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url('../img/uf-core-el-sprite.svg');
  background-position: -483px -141px;
  position: absolute;
  top: 2px;
  right: -20px;
}
.upfront-region-bg-setting-name-edit .upfront-region-bg-setting-name-save {
  float: right;
  background: #e6f3ff;
  height: 26px;
  line-height: 26px;
  border: 1px solid rgb(163, 191, 217);
  border-radius: 3px;
  padding: 0 10px;
}
.upfront-region-bg-setting-region-type {
	margin: 0 0 20px;
}
.upfront-region-bg-setting-region-nav {
	width: 45%;
	float: right;
	margin: 0 0 20px;
}
.upfront-region-bg-setting-region-behavior {
	width: 50%;
	float: left;
  margin: 0 0 20px;
}
.upfront-region-bg-setting-type {
	clear: both;
	width: 36%;
	float: left;
}
.upfront-region-bg-setting-tab .upfront-field-number{
	width: 55px;
}
.upfront-region-bg-setting-tab .sp-replacer {
	float: none;
	width: auto;
}
.upfront-region-bg-setting-footer {
	color: #1f2f3f;
	font-family: "Verdana";
	font-size: 11px;
	padding: 0 24px;
	background: #cee1f2;
	margin: 0 -16px;
	position: relative;
	top: 16px;
	clear: both;
}

.upfront-region-bg-setting-auto-resize {
	cursor: pointer;
	float: right;
	white-space: nowrap;
	color: #513a4e;
	font-family: "Verdana";
	font-size: 11px;
	line-height: 16px;
	margin: 20px 0 0;
}
.upfront-region-bg-setting-auto-resize-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.auto-resize-off, .auto-resize-on {
	display: inline-block;
	float: right;
	width: 40px;
	height: 16px;
	padding: 3px 4px;
	margin: 0 0 0 10px;
	border-radius: 8px;
	background: #98a8b8;
}
.auto-resize-off:after, .auto-resize-on:after {
	content: " ";
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #f5f5f5;
}
.auto-resize-on {
	background: #00ce8d;
}
.auto-resize-on:after {
	float: right;
}

.upfront-region-bg-setting-change-image {
	cursor: pointer;
	float: left;
	white-space: nowrap;
	padding: 0 10px;
	background: #e6f3ff;
	color: #253a4e;
	font-family: "Verdana";
	font-size: 11px;
	box-shadow: inset 0 2px 0 rgb(242, 249, 255);
	border: 1px solid rgb(163, 191, 217);
	border-radius: 3px;
	margin: 10px 30px 0 0;
}
.upfront-region-bg-setting-change-image:hover {
	border-color: rgb(96, 127, 153);
}
.upfront-region-bg-setting-edit-css {
	display: inline-block;
	vertical-align: top;
	padding: 10px 0;
}
.upfront-region-bg-setting-edit-css.upfront-icon:before {
	background-position: -660px -44px;
	width: 18px;
	height: 15px;
	margin-right: 5px;
	margin-top: 6px;
}
.upfront-region-bg-setting-edit-css span {
	display: inline-block;
	color: #513a4e;
	font-family: "Verdana";
	font-size: 11px;
  	border-bottom: 1px solid #1fcd8f;
  	line-height: 1;
	cursor: pointer;
}
.upfront-region-bg-setting-floating-restrict,
.upfront-region-bg-setting-sticky {
	float: right;
	margin: 4px 0 10px;
}
.upfront-region-bg-setting-tab-primary {
	width: 62%;
	float: right;
}
.upfront-region-bg-setting-tab-secondary {
	padding: 10px 0 0;
	clear: both;
}

.upfront-region-bg-setting-heading {
	color: #27394b;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
}
.upfront-region-bg-setting-label {
	color: #3f617f;
	font-size: 14px;
	line-height: 20px;
}
.upfront-region-bg-setting-label-alt {
	color: #2f475d;
	font-family: "Verdana";
	font-size: 11px;
}

.region-resizable-helper {
	background: rgba(0,0,0,.1);
}

.upfront-region-container .upfront-region-shadow {
	visibility: hidden;
	min-height: 0 !important;
	height: 0;
	max-height: 0;
	overflow: hidden;
}

.upfront-region-bg-setting-lightbox-region .upfront-field-wrap-number,
.upfront-region-bg-setting-lightbox-region .sp-cf,
.upfront-region-bg-setting-lightbox-region .sp-cf label {
  display: inline-block;
}

.upfront-region-bg-setting-lightbox-region .sp-cf.overlay_color,
.upfront-region-bg-setting-lightbox-region .upfront-field-wrap-number.width_cols {
  margin-right:40px;
}

.upfront-region-container .open-responsive-item-controls {
	display: none;
	z-index: 1000000;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 30px;
	height: 10px;
	background: #2F445D;
	background-image: -moz-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
	background-image: -ms-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
	background-image: linear-gradient(-179deg, #2F445D 0%, #152841 100%);
}
.upfront-region-container .open-responsive-item-controls:before {
	background-image: url(../img/uf-core-el-sprite.svg);
	content: " ";
	background-repeat: no-repeat;
	display: block;
	height: 6px;
	width: 24px;
	background-position: -699px -721px;
	margin: 2px 0 0 3px;
}
.upfront-region-container .responsive-item-controls {
	display: none;
	z-index: 1000001;
	position: absolute;
	top: 10px;
	left: 0px;
	padding: 10px;
	background: #2F445D;
	background-image: -moz-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
	background-image: -ms-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
	background-image: linear-gradient(-179deg, #2F445D 0%, #152841 100%);
	color: #90B0D2;
	font-family: Verdana;
	font-size: 11px;
}
.upfront-region-container .responsive-item-controls > .responsive-item-control {
	cursor: pointer;
	border-radius: 4px;
	padding: 4px;
	background: #eeeeee;
	margin-top: 4px;
	color: #2F445D;
}
.upfront-region-container .responsive-item-controls > .responsive-item-control:first-child {
	margin-top: 10px;
}
.upfront-region-container .responsive-item-controls > .responsive-item-control:hover {
	background: #90B0D2;
	color: #2F445D;
}
.upfront-region-editing .upfront-region.controls-visible .responsive-item-controls {
	display: block;
}

/* Hide 'Add Region' triggers & 'Region Resize' handle when settings panel is open */
.upfront-region-editing .upfront-region-bg-setting-open .upfront-region-panel-item-add-region,
.upfront-region-editing .upfront-region-bg-setting-open .upfront-icon-control-region-resize-e:before,
.upfront-region-editing .upfront-region-bg-setting-open .upfront-icon-control-region-resize-w:before {
	display:none;
}
.upfront-ui .upfront-region-panel-item-add-region .upfront-icon-region-add:before {
	background-position: -260px -130px;
}
