/* ----- Save As dialog ----- */

#upfront-save-dialog-background {
  background: rgba(31, 48, 63, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001003;
  width:100%;
  height:100%;
}

#upfront-save-dialog {
  background: #e5f3ff;
  box-shadow: 0 0 20px rgba(39,58,76,.8);
  position: fixed;
  top: 100px;
  left: 50%;
  width: 520px;
  margin-left: -210px;
  z-index: 10001004;
  padding: 40px;
  text-align: center;
}
#upfront-save-dialog p {
  font:100 20px/32px Open Sans, Helvetica Neueu, Helvetica, sans-serif;
  color:#1C2D3D;
  margin-bottom:30px;
}

.upfront-save-button {
	display: inline-block;
	font:400 14px/26px Open Sans, Helvetica Neueu, Helvetica, sans-serif;
	color: #6486A6;
	margin: 0 20px 0;
	padding: 5px 20px;
	cursor: pointer;
  background-image: linear-gradient(-180deg, #FAFDFF 0%, #F2F9FF 100%);
  border: 1px solid #A2BFDA;
  border-radius: 3px;
  text-shadow: 0px 1px 0px #FFFFFF;
}
.upfront-save-button:hover {
	border-color: #537ea6;
}

