/* Sidebar UI */

#sidebar-ui {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 260px;
	border-right: none;
	color: #2c2c2c;
	display: none;
	font: 16px/24px 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	z-index: 10001002;
	background: rgb(247, 247, 247);
	
	/* Disable text selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#sidebar-ui-wrapper {
	width: 260px;
}

.upfront-edit-content #sidebar-ui {
	bottom: auto;
	width: 139px;
}

.upfront-edit-content #sidebar-ui-wrapper {
	width: 139px;
}

#sidebar-ui.collapsed #sidebar-ui-wrapper {
	display:none;
}

.upfront-edit_content {
	right: 5px;
	left: auto;
}

#sidebar-ui .sidebar-commands li,
#sidebar-ui .sidebar-panel-title,
#sidebar-ui .sidebar-panel-content,
.draggable-element,
#sidebar-ui .panel-setting-button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#sidebar-ui .sidebar-commands-header,
#element-settings-sidebar .sidebar-commands-header {
	background: rgb(247, 247, 247);
	overflow: hidden;
}

#element-settings-sidebar .sidebar-commands-header {
	position: absolute;
	right: 0px;
	top: -2px;
	overflow: visible;
	cursor: pointer;
}

#sidebar-ui .sidebar-commands-header.more-menu-open,
#element-settings-sidebar  .sidebar-commands-header.more-menu-open {
	overflow: visible;
}

#sidebar-ui .command-logo {
	padding: 7px 15px 7px;
	float: left;
	opacity:0.85;
}

#sidebar-ui .upfront-logo {
	margin: 0;
}

#sidebar-ui .command-exit {
	padding: 11px 15px;
	float: right;
	opacity:.6;
}

#sidebar-ui .command-more-menu,
#element-settings-sidebar .command-more-menu {
	float: right;
	width: 26px;
	height: 18px;
	margin: 15px 16px 0 0;
	opacity: 1;
	transition: opacity;
	position: relative;
	background: #fdfdfd;
}

#sidebar-ui .command-more-menu:hover,
#element-settings-sidebar .command-more-menu:hover {
	opacity: 0.8;
}

#sidebar-ui .command-more-menu.menu-open,
#element-settings-sidebar .command-more-menu.menu-open {
	opacity: 1;
	overflow: visible;
}

#sidebar-ui .command-more-menu .upfront-icon-more-menu,
#element-settings-sidebar .command-more-menu .upfront-icon-more-menu {
	display: block;
	width: 26px;
	height: 18px;
	border-radius: 2px;
	position: relative;
	z-index: 1100;
	color: #a5a5a5;
	opacity: 0.4;
	border: 1px solid rgba(140, 140, 140, 0.5);
}

#sidebar-ui .command-more-menu.menu-open .upfront-icon-more-menu,
#element-settings-sidebar .command-more-menu.menu-open .upfront-icon-more-menu {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#sidebar-ui .command-more-menu .upfront-icon-more-menu:before,
#element-settings-sidebar .command-more-menu .upfront-icon-more-menu:before {
	margin: -3px 0 0;
}

#sidebar-ui .command-more-menu .command-more-menu-list,
#element-settings-sidebar .command-more-menu .command-more-menu-list {
	display: block;
	position: absolute;
	top: 18px;
	right: 0;
	width: 140px;
	background: #fff;
	border-radius: 3px;
	color: #395773;
	padding: 3px;
	z-index: 1000;
	display: none;
}

#sidebar-ui .command-more-menu.menu-open .command-more-menu-list,
#element-settings-sidebar .command-more-menu.menu-open .command-more-menu-list {
	display: block;
	border-top-right-radius: 0;
	box-shadow: 0 0 10px rgba(39,58,76,.8);
}

#sidebar-ui .command-more-menu .command-more-menu-list li,
#element-settings-sidebar .command-more-menu .command-more-menu-list li {
	display: block;
	height: 25px;
	line-height: 25px;
	font-size: 11px;
	font-weight: bold;
	color: #263A4D;
	letter-spacing: 0.46px;
	padding: 0 6px;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

#sidebar-ui .command-more-menu .command-more-menu-list li:hover,
#element-settings-sidebar .command-more-menu .command-more-menu-list li:hover {
	color: #fff;
	background: #3aa3e3;
}

#sidebar-ui .sidebar-editor-mode {
	border-top: 1px solid #3f5870;
	border-bottom: 1px solid #31485e;
	padding: 16px 0 20px 24px;
	color: #a1c5e6;
	overflow: hidden;
}

#sidebar-ui .sidebar-editor-mode-label {
	display: block;
	float: left;
	margin: 0 28px 0 0;
	padding: 15px 0 0;
}

#sidebar-ui .switch-mode-ui {
	display: block;
	float: left;
}

#sidebar-ui .switch-mode {
	display: block;
	float: left;
	cursor: pointer;
	font-size: 13px;
	line-height: 13px;
	color: #5c7993;
}

#sidebar-ui .switch-mode:hover,
#sidebar-ui .switch-mode.active {
	color: #1fcd8f;
}

#sidebar-ui .switch-mode .upfront-icon:before {
	float: none;
	margin: 5px auto 0;
}

#sidebar-ui .switch-slider {
	display: block;
	float: left;
	background: #263a4d;
	width: 50px;
	height: 10px;
	border-radius: 5px;
	margin: 20px -3px 0 0;
}

#sidebar-ui .switch-slider .knob {
	display: block;
	width: 6px;
	height: 6px;
	background: #adc4d9;
	border: 5px solid #cce6ff;
	border-radius: 8px;
	margin: -3px 0 0;
	cursor: pointer;
	-webkit-transition: margin .3s;
	-moz-transition: margin .3s;
	-ms-transition: margin .3s;
	-o-transition: margin .3s;
	transition: margin .3s;
}

#sidebar-ui .switch-slider-full .knob {
	margin-left: 34px;
}

#sidebar-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar-ui .sidebar-commands li {
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}

#sidebar-ui .sidebar-commands-primary {
	padding: 15px 15px 0;
}

#sidebar-ui .sidebar-commands-primary .command-new-page,
#sidebar-ui .sidebar-commands-primary .command-new-post {
	font-weight: bold;
	width: 200px;
	text-align: center;
	vertical-align: middle;
}

#sidebar-ui .sidebar-commands-primary .command-new-layout{
	height: 40px;
}

.upfront-edit-content #sidebar-ui .sidebar-commands-primary .command-new-page,
.upfront-edit-content #sidebar-ui .sidebar-commands-primary .command-new-post,
.upfront-edit-content #sidebar-ui .sidebar-commands-primary .command-new-layout {
	padding-right: 5px;
}

#sidebar-ui .sidebar-commands-primary .command-new-post{
	float: left;
	max-width: 102px;
}

#sidebar-ui .sidebar-commands-primary .command-new-layout {
  float: left;
  max-width: 117px;
}

#sidebar-ui .sidebar-commands-primary .command-new-page {
	float: right;
	max-width: 103px;
}

#sidebar-ui .sidebar-commands-primary .command-new-page:hover,
#sidebar-ui .sidebar-commands-primary .command-new-post:hover {
	opacity: 1;
}

#sidebar-ui .sidebar-commands-primary .command-new-page:active,
#sidebar-ui .sidebar-commands-primary .command-new-post:active {
	opacity:0.75;
	background: rgb(230,230,230);
}

#sidebar-ui .sidebar-commands-primary .command-open-media-gallery,
#sidebar-ui .sidebar-commands-primary .command-popup-list {
	display: inline-block;
	font-size: 11px;
	color: #1fcc8f;
	margin: 12px 0 0;
	clear: both;
	padding: 0;
	margin-bottom: 4px;
}

#sidebar-ui .command-open-media-gallery a,
#sidebar-ui .command-popup-list a,
#sidebar-ui .sidebar-profile-edit a {
	margin: 0;
}

#sidebar-ui .command-open-media-gallery a:hover,
#sidebar-ui .command-popup-list a:hover,
#sidebar-ui .sidebar-profile-edit a:hover {
	border-color: rgb(31,205,143);
}

#sidebar-ui .sidebar-commands-primary .command-popup-list {
	max-width: 170px;
	height: 28px;
	font:11px/22px Verdana, sans-serif;
}

#sidebar-ui .sidebar-commands-primary .command-open-media-gallery {
	width: auto;
	margin-bottom: 0;
	font: 11px/22px Verdana, sans-serif;
	float: none;
	max-width: 51px;
	height: 28px;
	margin-left: 30px;
}

#sidebar-ui .upfront-icon-open-gallery:before {
	background-position: -263px -400px;
	width: 14px;
	margin-right: 4px;
	display: inline-block;
	opacity: 1;
}

#sidebar-ui .upfront-icon-browse-layouts:before {
	background-position: -45px -80px;
	width: 14px;
	height: 13px;
	margin-right: 6px;
	margin-top: 11px;
}

#sidebar-ui .sidebar-commands-primary .command-toggle-mode {
	margin: -23px -15px 0 0;
	width: 23px;
	height: 25px;
	padding: 6px 5px;
	background: #1a2d40;
	float: right;
}

.upfront-edit-content #sidebar-ui .sidebar-commands-primary .command-toggle-mode {
	margin-top: -18px;
	width: 20px;
	height: 20px;
	padding: 4px;
}

#sidebar-ui .sidebar-profile {
	padding: 0 15px 0;
	font: 11px/11px Verdana, sans-serif;
	overflow: hidden; /* reset float */
}

#sidebar-ui .sidebar-profile-avatar {
	float: left;
	margin: 6px 0 0;
}

#sidebar-ui .sidebar-profile-avatar img {
	display: block;
	border-radius: 50%;
}

#sidebar-ui .sidebar-profile-detail {
	margin: 0 0 0 10px;
	width: 100px;
	font-size: 11px;
	font-family: "Open Sans";
	line-height: 11px;
	float: left;
}

#sidebar-ui .sidebar-profile-name,
#sidebar-ui .sidebar-profile-role {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#sidebar-ui .sidebar-profile-name {
	color: #282828;
	font-weight: 600;
	margin-top: 5px;
}

#sidebar-ui .sidebar-profile-role {
	color: #b0b0b0;
	margin-top: 3px;
}

#sidebar-ui .sidebar-profile-edit {
	float: right;
	margin: 0;
	padding-top: 14px;
	margin-left: 0;
	width: 77px;
	height: 29px;
	overflow: hidden;
	line-height: 15px;
}

.upfront-edit-content #sidebar-ui .sidebar-profile-edit {
	display: none;
}

#sidebar-ui .sidebar-profile-edit a {
	margin: 0 0 0 5px;
}

#sidebar-ui .sidebar-profile-edit .upfront-icon:before {
	margin: 2px 0 0 0;
	padding: 0 0 0 10px;
}

#sidebar-ui .sidebar-commands-control {
	padding: 10px 5px 10px 0;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(228, 228, 228);
}

#sidebar-ui .sidebar-commands-control li {
	height: 40px;
	line-height: 24px;
	padding: 8px 0 0;
	margin: 0 6px 8px 10px;
	color: #626262;
	background: rgb(255, 255, 255);
}

#sidebar-ui .sidebar-commands-control .command-undo,
#sidebar-ui .sidebar-commands-control .command-redo {
	padding: 4px 0 0;
	line-height: 18px;
	margin-bottom: 0;
	border: 1px solid #a7a7a7;
	border-radius: 2px;
	width: 26px;
	height: 26px;
}

#sidebar-ui .sidebar-commands-control .command-undo {
	margin-left: 10px !important;
}

#sidebar-ui .sidebar-commands-control .command-redo {
	margin-left: 4px;
}

#sidebar-ui .sidebar-commands-control .command-save:before{
	margin-top: 8px;
}

#sidebar-ui .sidebar-commands-control .command-start-responsive {
	margin: 0px;
	font-size: 13px;
	max-width: 122px;
	line-height: 26px;
	padding: 0px 6px;
	height: auto;
	max-height: 26px;
	border: 1px solid #a7a7a7;
	border-radius: 2px;
	margin-left: 15px !important;
}

#sidebar-ui .sidebar-commands-control .command-start-responsive:before {
	opacity: 1;
}

#sidebar-ui .sidebar-commands-control .command-grid {
	border: 1px solid #a7a7a7;
	border-radius: 2px;
	width: 26px;
	height: 26px;
	padding: 2px;
	margin: 0 0 8px 15px;
}

#sidebar-ui .sidebar-commands-control .command-trash {
	float: left;
	color: #e75757;
	padding: 1px 10px 1px 23px;
	border: 1px solid #E5575A;
	border-radius: 3px;
	height: auto;
	position: relative;
	margin-top: 15px;
	opacity: 1;
}

#sidebar-ui .sidebar-commands-control .command-trash:before {
	left: 8px; 
	top: 7px; 
	position: absolute;
}

#sidebar-ui .sidebar-panels {
	color: #395773;
	border-right: none;
}

#sidebar-ui .sidebar-panel {
	background: #f2f2f2;
	margin: 0;
}

#sidebar-ui .sidebar-panel-title {
	font-size: 11px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0.5px;
	height: 30px;
	background: #fff;
	color: #969696;
	padding: 0 0 0 15px;
	margin: 0;
	cursor: pointer;
	position: relative;
}

#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title {
	border-bottom: none;
	background: #e7e7e7;
	color: #212121;
}

#sidebar-ui .sidebar-panel-title:before {
	display: block;
	content: "";
	width: 16px;
	height: 16px;
	border-radius: 16px;
	position: absolute;
	right: 15px;
	top: 10px;
}

#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title:before {
	top: 9px;
}

#sidebar-ui .sidebar-panel-title:after {
	content: "+";
	font-size: 20px;
	display: block;
	width: 0;
	height: 0;
	z-index: 5;
	position: absolute;
	bottom: 30px;
	right: 22px;
	font-weight: normal;
}

#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title:after {
	border: none;
	content: "\2013";
	font-weight: normal;
}

#sidebar-ui .sidebar-panel-content {
	background: #f2f2f2;
	-webkit-transition: height .3s, opacity .3s;
	-moz-transition: height .3s, opacity .3s;
	-ms-transition: height .3s, opacity .3s;
	-o-transition: height .3s, opacity .3s;
	transition: height .3s, opacity .3s;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

#sidebar-ui .sidebar-panel-elements .sidebar-panel-content,
#sidebar-ui .sidebar-panel-elements .sidebar-tab-content .panel-section {
	padding: 0;
	margin: 0;
}

#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
	height: auto;
	max-height: 450px;
	padding: 0;
	opacity: 1;
	position: relative;
}

#sidebar-ui .sidebar-panel-elements.expanded .sidebar-panel-content {
	height: 262px;
}

#sidebar-ui .sidebar-panel-elements.expanded + .sidebar-panel {
	margin-top: -5px;
}

#sidebar-ui-toggler{
	display: none;
	border-left: 3px solid #1fcd8f;
	overflow:hidden;
	width: 20px;
	position:absolute;
	top: 0;
	left: 100%;
	z-index:1000;
}

.collapsed #sidebar-ui-toggler{
	display: block !important;
	border-left: 5px solid #1fcd8f;
}

#sidebar-ui-toggler-handle {
	background: url(../img/collapsible.png);
	color: #fff;
	position: absolute;
	height: 90px;
	width: 20px;
	left: -20px;
	top: 45%;
	cursor:pointer;
	-webkit-transition: left .3s;
	-moz-transition: left .3s;
	-ms-transition: left .3s;
	-o-transition: left .3s;
	transition: left .3s;
}

#sidebar-ui-toggler-handle:before {
	position:absolute;
	top: 32px;
	left: 3px;
	font-size:24px;
}

#sidebar-ui-toggler-handle.sidebar-ui-show:before {
	content: 'â–¸';
}

#sidebar-ui-toggler-handle.sidebar-ui-hide:before {
	content: 'â—‚';
}

#sidebar-ui:hover #sidebar-ui-toggler-handle {
	left: 0;
}

#sidebar-ui-toggler:hover #sidebar-ui-toggler-handle{
	left: 0;
}

#sidebar-ui-toggler-handle:hover {
	left: 0;
}


#sidebar-ui a {
	margin: 1em;
	color: #757575;
	text-decoration: none;
	margin: 0 10px;
	font-family: "Open Sans";
	font-weight: 400;
}

#sidebar-ui i {
	font-size: 14px;
	color: #6C92B1;
}

#sidebar-ui a i {
	color: #757575;
	text-decoration: none;
}

/* Commands */

#commands {
	position: fixed;
	top: 50px;
	left: 0;
	z-index: 5;
}

#commands {
	border: 1px solid #bbb;
	background: #eee;
	width: 180px;
	padding: 15px;
	padding-top: 0;
}

#commands li {
	margin: 5px 0 0;
	padding: 5px 10px;
	list-style: none;
	cursor: pointer;
}

#commands li:hover {
	background: #888;
	color: #fff;
}

#sidebar-ui .command-edit-css {
	clear: both;
	margin-top: 3px;
	padding: 0;
}

#sidebar-ui .command-edit-bg, #sidebar-ui .command-edit-global-regions {
	margin-top: 10px !important;
}

#sidebar-ui .command-link {
	display: inline;
	cursor: pointer;
}

/* Made this to inline-block and gave width since later is positioned with margin-right. */
#sidebar-ui .command-edit-structure {
	margin-right: 80px;
	display: inline-block;
	width: 50px;
}

#sidebar-ui .command-edit-bg {
	display: inline-block;
	width: 150px;
}

#sidebar-ui .command-edit-global-regions {
  display: inline-block;
}

/* Corrections for create theme mode sidebar */
#sidebar-ui .create-theme-sidebar .sidebar-commands-primary {
	padding: 15px;
}

/* debug mode */
#sidebar-ui .sidebar-commands-control .command-toggle-mode,
#sidebar-ui .sidebar-commands-control .command-reset-everything,
#sidebar-ui .sidebar-commands-control .command-publish-layout {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 595px;
	right: 15px;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
}

#sidebar-ui .sidebar-commands-control .command-toggle-mode:hover,
#sidebar-ui .sidebar-commands-control .command-reset-everything:hover,
#sidebar-ui .sidebar-commands-control .command-publish-layout:hover {
	color: white;
}

#sidebar-ui .sidebar-commands-control .command-toggle-mode {
	left: 15px;
	right: auto;
}

#sidebar-ui .sidebar-commands-control .command-publish-layout {
	top: 670px;
	right: 20px;
}


#sidebar-ui .button {
	width: 118px;
	display: block;
	text-align: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;	/* Firefox, other Gecko */
	box-sizing: border-box;			/* Opera/IE 8+ */
	height: 39px;
	line-height: 33px;
	margin: 0 10px 10px;
	font-size: 16px;
	border: 2px solid #273A4C;
	border-radius: 10px;
	color: #B9CFE5;
}

#sidebar-ui .button:hover {
	border-color: #1fcd8f;
	text-decoration: none;
}

.upfront-post-state b, .upfront-post-state a {
	font-size: 15px;

}

.upfront-command_inline {
	float: left;
	margin: 0 0 15px 20px;
	font-size: 15px;
}

#sidebar-ui .upfront-command_inline a {
	margin: 0;
}

#sidebar-ui .upfront-post-trash a {
	color: #6C92B1;
	margin: 0;
}
#sidebar-ui .upfront-post-trash a:hover {
	color: #E3474A;
}

#sidebar-ui [class^=command-],
#sidebar-ui [class^=sidebar-command-] {
	overflow: hidden;
	white-space:nowrap;
	max-width: 230px;
}

#sidebar-ui .sidebar-commands li.themes-dropdown {
	float: left;
	margin-bottom: 15px;
	width: 230px;
}

#sidebar-ui.element-settings-activated ul.sidebar-commands.sidebar-commands-header,
#sidebar-ui.region-settings-activated ul.sidebar-commands.sidebar-commands-header,
#sidebar-ui.element-settings-activated,
#sidebar-ui.region-settings-activated {
	z-index: 10001004;
	height: 46px;
}

#sidebar-ui.element-settings-activated .sidebar-commands,
#sidebar-ui.element-settings-activated .sidebar-panels,
#sidebar-ui.element-settings-activated .sidebar-profile,
#sidebar-ui.region-settings-activated .sidebar-commands,
#sidebar-ui.region-settings-activated .sidebar-panels,
#sidebar-ui.region-settings-activated .sidebar-profile {
	display: none;
}

#sidebar-ui.element-settings-activated .sidebar-commands-header,
#sidebar-ui.region-settings-activated .sidebar-commands-header {
	display: block;
}


.upfront-save_state {
	float:left;
	clear:none;
	display:block;
	margin-right: 0;
}
#sidebar-ui .upfront-save_state a {
	margin-right: 0;
}
.upfront-save_state:hover {
	border-color: #1fcd8f;
	color: #cce6ff;
}

/* Properties */

#properties {
	position: fixed;
	top: 50px;
	right: -160px;
	border: 1px solid #bbb;
	background: #eee;
	width: 180px;
	padding: 15px;
	padding-top: 0;
	z-index: 5;
	-webkit-transition: right .3s;
	display: none !important;
}

#properties:hover {
	right: 0;
}

#properties, #commands {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

/* Settings */

.upfront-scroll-panel {
	overflow-x: hidden;
	overflow-y: scroll;
}

.draggable-element {
	display: block;
	margin: -1px 0 0 0;
	padding: 38px 0 0;
	width: 65px;
	height: 65px;
	float: left;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 11px;
	line-height: 24px;
	background: #f2f2f2;
	color: #395269;
	text-align: center;
	overflow: hidden;
	position: relative;
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	border: 1px solid #f2f2f2;
}

.sidebar-panel-content .draggable-element {
	width: 25%;
	border-left: none;
}

.draggable-element.upfront-icon-element {
	padding: 12px 0 0;
}

.upfront-ui .draggable-element.upfront-icon-element:before {
	float: none;
	display: block;
	margin: 0 auto;
}

.draggable-element:active, .draggable-element.element-dragging {
	cursor: move;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.draggable-element:hover {
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
}

.draggable-element:hover, .draggable-element.element-dragging {
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	padding-top: 40px;
	z-index: 2;
}

.draggable-element.upfront-icon-element:hover, .draggable-element.upfront-icon-element.element-dragging {
	padding-top: 12px;
}

.draggable-element.element-drag-active {
	background: #E7E7E7;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.50);
	width: 25.38%;
	margin-left: -1px;
	box-shadow: none;
	color: #6b92b2;
	opacity: .6;
	z-index: 1;
}

.draggable-element.element-dragging-no-drop {
	cursor: no-drop;
	cursor: not-allowed;
}

span.draggable-post-element {
	line-height: 1.5em;
	padding-top: 15px;
}

span.draggable-post-element:hover,
span.draggable-post-element.element-dragging
{
	padding-top: 17px;
}

#sidebar-ui .panel-section {
	font-size: 15px;
	padding: 5px 0 15px;
	margin: 0 15px;
	border-bottom: 1px solid #8fa9bf;
}

#sidebar-ui .panel-section:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

#sidebar-ui .panel-section-title {
	color: #27394b;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 19px;
	margin: 0;
	padding: 5px 0;
}

#sidebar-ui .panel-setting-item {
	padding: 15px 0 0;
}

#sidebar-ui .panel-setting-label {
	color: #263a4d;
}

#sidebar-ui .upfront-field-wrap {
	margin: 0;
}

#sidebar-ui .upfront-field-wrap .upfront-field-label-block {
	color: #26394d;
	font-size: 11px;
	float: none;
	font-weight: normal;
}

#sidebar-ui .panel-setting-switcher,
#sidebar-ui .command-edit-switcher {
	margin: -12px 0 0 158px;
	width: 66px;
	height: 10px;
	background: #85aacc;
	border-radius: 5px;
	position: relative;
}

#sidebar-ui .command-edit-switcher {
	margin-left: 180px;
}

#sidebar-ui .panel-setting-switcher .switch,
#sidebar-ui .command-edit-switcher .switch {
	display: block;
	font-size: 13px;
	line-height: 13px;
	width: 50%;
	height: 32px;
	text-transform: lowercase;
	float: left;
	color: #8db4d9;
	margin: -19px 0 0;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

#sidebar-ui .panel-setting-switcher .switch.active,
#sidebar-ui .command-edit-switcher .switch.active {
	color: #13bf82;
}

#sidebar-ui .panel-setting-switcher .switch-on,
#sidebar-ui .command-edit-switcher .switch-on {
	text-align: right;
}

#sidebar-ui .panel-setting-switcher .knob,
#sidebar-ui .command-edit-switcher .knob {
	display: block;
	width: 16px;
	height: 16px;
	background: #1fcd8f;
	border: 5px solid #334b61;
	border-radius: 8px;
	position: absolute;
	top: -3px;
	left: 0;
	-webkit-transition: left .3s;
}

#sidebar-ui .panel-setting-switcher .switch-on.active + .knob,
#sidebar-ui .command-edit-switcher .switch-on.active + .knob {
	left: 50px;
}

#sidebar-ui .panel-setting-dialog {
	background: #c2dcf2;
	border: 1px dotted #a3bfd9;
	padding: 10px;
	margin: 15px 0 0;
}

#sidebar-ui .panel-setting-dialog-region {
	color: #263a4d;
}

#sidebar-ui .panel-setting-dialog-image {
	color: #6b8399;
	margin: 10px 0 15px;
}

#sidebar-ui .panel-setting-dialog-info {
	color: #6183a2;
	padding-left: 40px;
	line-height: 20px;
}

#sidebar-ui .panel-setting-sub-label {
	font-weight: bold;
	color: #688aa6;
	text-transform: uppercase;
	clear: both;
}

#sidebar-ui .panel-setting-background .wp-picker-container {
	float: left;
}

#sidebar-ui .panel-setting-button {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	height: 29px;
	color: #334b61;
	border: 2px solid #a9c5df;
	border-radius: 10px;
	padding: 2px 10px 0 5px;
	text-decoration: none;
}

#sidebar-ui .panel-setting-background-more {
	-webkit-transition: all .3s;
	height: 0;
	max-height: 0;
	opacity: 0;
}

#sidebar-ui .panel-setting-background-more > div {
	display: none;
}

#sidebar-ui .panel-setting-background-more.expanded {
	height: auto;
	max-height: 200px;
	opacity: 1;
}

#sidebar-ui .panel-setting-background-more.expanded > div {
	display: block;
}

#sidebar-ui .panel-setting-background .panel-setting-button {
	float: right;
}

#sidebar-ui .sp-replacer {
	margin: 0;
}

#sidebar-ui .sidebar-panel-settings .panel-section {
	padding-bottom: 0;
}

#sidebar-ui .upfront-typography-fields-left {
	float: left;
	width: 48%;
}

#sidebar-ui .upfront-typography-fields-right {
	float: right;
	width: 48%;
}

/* Context menu */

/* Page */

/* Scrollbar */
#sidebar-ui .sidebar-panel-content::-webkit-scrollbar,
.upfront-scroll-panel::-webkit-scrollbar,
.upfront-settings_panel_scroll::-webkit-scrollbar,
.upfront-field-select-options::-webkit-scrollbar,
.upfront-suggest-lists::-webkit-scrollbar,
.upfront-additive_multiselection .labels_list ul::-webkit-scrollbar,
.upfront-media_collection::-webkit-scrollbar,
.upfront-item-control::-webkit-scrollbar,
.upfront-filter-control::-webkit-scrollbar,
#upfront-csseditor .ace_scrollbar-inner::-webkit-scrollbar,
#upfront-csseditor .ace_scrollbar::-webkit-scrollbar,
.upfront-inserts-markup .ace_scrollbar-inner::-webkit-scrollbar,
.upfront-inserts-markup .ace_scrollbar::-webkit-scrollbar,
#upfront-general-csseditor .ace_scrollbar-inner::-webkit-scrollbar,
#upfront-general-csseditor .ace_scrollbar::-webkit-scrollbar,
.upfront_code-editor-complex-wrapper .ace_scrollbar-inner::-webkit-scrollbar,
.upfront_code-editor-complex-wrapper .ace_scrollbar::-webkit-scrollbar,
.redactor-dropdown-box-upfrontIcons div.icons::-webkit-scrollbar,
.redactor-dropdown-box-upfrontFormatting::-webkit-scrollbar,
.upfront_map-editor-complex-wrapper .ace_scrollbar-inner::-webkit-scrollbar,
.upfront_map-editor-complex-wrapper .ace_scrollbar::-webkit-scrollbar,
#element-settings-sidebar #settings #sidebar-scroll-wrapper::-webkit-scrollbar
{
	background: none;
	width: 5px;
}

/* overwriting Ace editor scrollbar */
#upfront-csseditor .ace_scrollbar,
#upfront-general-csseditor .ace_scrollbar,
.upfront_code-editor-complex-wrapper .ace_scrollbar,
.upfront_map-editor-complex-wrapper .ace_scrollbar
{
	width: 12px! important;
}

#upfront-csseditor .ace_scrollbar.ps-container > .ps-scrollbar-y-rail {
	display: block;
	opacity: 1;
}

#upfront-csseditor .ace_scrollbar {
	z-index: 9;
}

#sidebar-ui .sidebar-panel-content::-webkit-scrollbar-thumb,
.upfront-scroll-panel::-webkit-scrollbar-thumb,
.upfront-settings_panel_scroll::-webkit-scrollbar-thumb,
.upfront-field-select-options::-webkit-scrollbar-thumb,
.upfront-suggest-lists::-webkit-scrollbar-thumb,
.upfront-additive_multiselection .labels_list ul::-webkit-scrollbar-thumb,
.upfront-media_collection::-webkit-scrollbar-thumb,
.upfront-item-control::-webkit-scrollbar-thumb,
.upfront-filter-control::-webkit-scrollbar-thumb,
#upfront-csseditor .ace_scrollbar-inner::-webkit-scrollbar-thumb,
#upfront-csseditor .ace_scrollbar::-webkit-scrollbar-thumb,
#upfront-general-csseditor .ace_scrollbar-inner::-webkit-scrollbar-thumb,
#upfront-general-csseditor .ace_scrollbar::-webkit-scrollbar-thumb,
.upfront_code-editor-complex-wrapper .ace_scrollbar-inner::-webkit-scrollbar-thumb,
.upfront_code-editor-complex-wrapper .ace_scrollbar::-webkit-scrollbar-thumb,
.redactor-dropdown-box-upfrontIcons div.icons::-webkit-scrollbar-thumb,
.redactor-dropdown-box-upfrontFormatting::-webkit-scrollbar-thumb,
.upfront_map-editor-complex-wrapper .ace_scrollbar-inner::-webkit-scrollbar-thumb,
.upfront_map-editor-complex-wrapper .ace_scrollbar::-webkit-scrollbar-thumb,
.redactor-dropdown-box-upfrontIcons div.icons::-webkit-scrollbar-thumb,
#element-settings-sidebar #settings #sidebar-scroll-wrapper::-webkit-scrollbar-thumb
{
	border-right: 5px solid #1fcd8f;
}

/* ContentEditor sidebar */
.upfront-sidebar-content_editor-sidebar_command {
	font-size: 15px;
	margin: 0 10px;
}
.upfront-sidebar-content_editor-sidebar_command i {
	font-size: 14px;
	color: #6C92B1;
}

/* Normal Buttons */

#sidebar-ui .sidebar-commands li.sidebar-commands-button,
#sidebar-ui .sidebar-commands-button,
#element-settings-sidebar .sidebar-commands-button {
	font-size: 13px;
	opacity: .75;
	margin: 5px;
	padding: 0px 10px;
	line-height: 27px;
	height: 30px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
	display: inline-block;
	cursor: pointer;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button:hover,
#sidebar-ui .sidebar-commands-button:hover,
#element-settings-sidebar .sidebar-commands-button:hover {
	opacity: 1;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button:active,
#sidebar-ui .sidebar-commands-button:active,
#element-settings-sidebar .sidebar-commands-button:active {
	opacity: .75;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.disabled,
#sidebar-ui.sidebar-commands-button.disabled,
#element-settings-sidebar .sidebar-commands-button.disabled {
	opacity: .4;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.light,
#sidebar-ui .sidebar-commands-button.light,
#element-settings-sidebar .sidebar-commands-button.light {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(182, 182, 182);
	color: #484848;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.light:active,
#sidebar-ui .sidebar-commands-button.light:active,
#element-settings-sidebar .sidebar-commands-button.light:active {
	background: rgb(230, 230, 230);
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.blue,
#sidebar-ui .sidebar-commands-button.blue,
#element-settings-sidebar .sidebar-commands-button.blue {
	background: rgb(23, 147, 255);
	border: 1px solid rgb(14, 133, 237);
	color: #fff;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.command-save {
	float: right;
	padding: 0px 30px;
	margin: 25px 15px;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.command-new-post,
#sidebar-ui .sidebar-commands li.sidebar-commands-button.command-new-page {
	font-size: 12px;
}

/* Small Buttons */

#sidebar-ui .sidebar-commands li.sidebar-commands-small-button,
#sidebar-ui .sidebar-commands-small-button,
#element-settings-sidebar .sidebar-commands-small-button,
#sidebar-ui .upfront-small-button .upfront-field-button,
#element-settings-sidebar .upfront-small-button .upfront-field-button,
#region-settings-sidebar .upfront-small-button .upfront-field-button {
	font-size: 13px;
	opacity: .75;
	margin: 5px;
	padding: 0px 10px;
	line-height: 19px;
	height: 22px;
	text-align: center;
	border-radius: 3px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(182, 182, 182);
	color: #484848;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
	display: inline-block;
	cursor: pointer;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-small-button.icon-button,
#element-settings-sidebar sidebar-commands-small-button.icon-button,
#sidebar-ui .sidebar-commands-small-button.icon-button,
#sidebar-ui .upfront-small-button .upfront-field-button.icon-button,
#element-settings-sidebar .upfront-small-button .upfront-field-button.icon-button {
	padding-left: 3px;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-small-button:hover,
#element-settings-sidebar .sidebar-commands-small-button:hover,
#sidebar-ui .sidebar-commands-small-button:hover,
#sidebar-ui .upfront-small-button .upfront-field-button:hover,
#element-settings-sidebar .upfront-small-button .upfront-field-button:hover {
	opacity: 1;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-small-button:active,
#element-settings-sidebar .sidebar-commands-small-button:active,
#sidebar-ui .sidebar-commands-small-button:active,
#sidebar-ui .upfront-small-button .upfront-field-button:active,
#element-settings-sidebar .upfront-small-button .upfront-field-button:active {
	background: rgb(230, 230, 230);
	opacity: .75;
}

#sidebar-ui .sidebar-commands li.sidebar-commands-button.disabled,
#element-settings-sidebar .sidebar-commands-button.disabled,
#sidebar-ui .sidebar-commands-small-button.disabled,
#sidebar-ui .upfront-small-button .upfront-field-button.disabled,
#element-settings-sidebar .upfront-small-button .upfront-field-button.disabled {
	opacity: .4;
}

#sidebar-ui .field-grid-half,
#element-settings-sidebar .field-grid-half {
	clear: left;
	width: 48%;
	float: left;
	margin: 0;
}

#sidebar-ui .field-grid-half-last,
#element-settings-sidebar .field-grid-half-last {
	float: left;
	margin-left: 2%;
	clear: right;
}
	
/* Height Media Queries Fixes
	========================== */

@media screen and ( max-height: 650px ){
	#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
		height: 149px;
	}
	
	#sidebar-ui .sidebar-panel-settings.expanded .sidebar-panel-content {
		height: 130px;
	}
	
	#sidebar-ui .sidebar-commands-control .command-save,
	#sidebar-ui .sidebar-commands-control .command-start-responsive {
		top: 454px;
	}
}

@media screen and (min-height: 650px) and ( max-height: 750px ){
	#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
		height: 209px;
	}
	
	#sidebar-ui .sidebar-panel-settings.expanded .sidebar-panel-content {
		height: 190px;
	}
	
	#sidebar-ui .sidebar-commands-control .command-save,
	#sidebar-ui .sidebar-commands-control .command-start-responsive {
		top: 514px;
	}
}

@media screen and (min-height: 750px) and ( max-height: 850px ){
	#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
		height: 249px;
	}
	
	#sidebar-ui .sidebar-panel-settings.expanded .sidebar-panel-content {
		height: 230px;
	}
	
	#sidebar-ui .sidebar-commands-control .command-save,
	#sidebar-ui .sidebar-commands-control .command-start-responsive {
		top: 554px;
	}
}

@media screen and (min-height: 850px) and ( max-height: 100px ){
	#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
		height: 329px;
	}
	
	#sidebar-ui .sidebar-panel-settings.expanded .sidebar-panel-content {
		height: 310px;
	}
	
	#sidebar-ui .sidebar-commands-control .command-save,
	#sidebar-ui .sidebar-commands-control .command-start-responsive {
		top: 634px;
	}
}

/* Shrink Sidebar for Low Resolutions */
@media screen and (max-width: 1366px) {
	#sidebar-ui.upfront-sidebar-hover, #element-settings-sidebar.upfront-sidebar-hover, #region-settings-sidebar.upfront-sidebar-hover .upfront-region-modal-bg {
		transform: translateX(0);
		box-shadow: -20px 0 0 10px #334454;
		transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
	}
	
	#sidebar-ui, #element-settings-sidebar, #region-settings-sidebar .upfront-region-modal-bg {
		transform: translateX(-130px);
		transition: transform .2s cubic-bezier(0.47, 0, 0.75, 0.72);
	}
	
	.upfront-edit-layout #page {
		margin: 0 0 0 130px;
	}
}
