.upfront-structure-modal .upfront-field-wrap .upfront-field-label-block {
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	color: #27394b;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px;
}
.upfront-structure-modal .upfront-field-multiple-vertical {
	margin-right: 38px;
}
.upfront-structure-modal .upfront-field-multiple-vertical:last-child {
	margin-right: 0;
}
.upfront-structure-modal .upfront-field-multiple-horizontal-inline {
	margin-right: 60px;
}

.upfront-edit-grid-wrap {
	margin: 0 0 10px;
}
.upfront-edit-grid {
	width: 190px;
	margin-right: 20px;
	float: left;
}
.upfront-edit-grid-custom {
	width: 280px;
}
.upfront-edit-page-color {
	float: left;
	width: 190px;
}
.upfront-grid-width-preview {
	color: #85a9cb;
	font-family: "Verdana";
	font-size: 11px;
	line-height: 12px;
}
.upfront-edit-grid-custom .upfront-grid-width-preview {
	float: right;
	margin-top: -27px;
}
.upfront-edit-grid-custom .upfront-field-number[type=number] {
	width: 60px;
}
.upfront-edit-page-color .upfront-field-wrap-color label {
	float: none;
}

