/* Tabs */
.upfront-popup-meta {
	height: 38px;
}
.upfront-popup-meta .upfront-tabs {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0; padding: 0;
}
.upfront-popup-meta .upfront-tabs.upfront-media_manager-tabs {
	display: none;
}
.upfront-popup-meta .upfront-tabs li {
	display: inline-block;
	padding: 0 32px;
	height: 36px;
	background: #a4b9cb;
	font-size: 20px;
	line-height: 38px;
	text-align: center;
	color: #4e5e6d;
	margin-right: 1px;
	cursor: pointer;
	margin-left: -2px;
}
.upfront-popup-meta .upfront-tabs li:hover {
	border-top: 1px solid #2ecc90;
	height: 37px;
}


.upfront-popup-meta .upfront-tabs li.active {
	background: #e5f3fe;
	border-top: 2px solid #e5f3fe;
	position:relative;
	margin-left: -1px;
	margin-right: 0;
	color: #2F475F;
	height: 38px;
}

.upfront-popup-meta .upfront-tabs li.active:hover {

}

.upfront-popup-meta ul.upfront-tabs li:first-child {
	margin-left:0;
}
