/* Tax */

#upfront-taxonomy-list, #upfront-taxonomy-add {
	color: #476d8a;
}
#upfront-taxonomy-list {
	max-height: 150px;
}
#upfront-taxonomy-list label {
	clear:right;
	margin-bottom: 10px;
}

#upfront-taxonomy-add input#upfront-new_term,
.upfront-tax-new_term{
	width: 100%;
	background: #E5F3FE;
}
#upfront-taxonomy-add select{
	width: 100%;
}

.upfront-taxonomy-hierarchical .upfront-taxonomy_item {
	float: left;
	margin: 0px;
    clear: both;
}
.upfront-taxonomy-hierarchical .upfront-taxonomy_item input {
	margin-right: 5px;
}
.upfront-taxonomy-hierarchical .upfront-taxonomy_item .upfront-taxonomy_item {
	clear:left;
	width: 100%;
	padding: 3px 0 0 10px;
	margin: 0 0 0 7px;
}

/* Flat tax */
.upfront-taxonomy-flat #upfront-taxonomy-list {
	padding: 0;
}
.upfront-taxonomy-list-panel {
  width: 100%;
  color: #7a94ac;
  clear: both;
}

.upfront-taxonomy-list-panel i {
	margin: 3px 3px 0 0;
	display: block;
	background-image: url(../img/uf-ui-sprite.svg);
	height: 20px;
	width: 16px;
	float: left;
}

.upfront-taxonomy_item .icon-remove-circle {
	background-position: -1336px -191px;
}

.upfront-taxonomy_item:hover .icon-remove-circle {
	background-position: -1441px -191px;
}

.upfront-taxonomy_item .icon-plus {
	background-position: -1438px -155px;
}

.upfront-taxonomy_item:hover .icon-plus {
	background-position: -1228px -191px;
}

#upfront-taxonomy-list-current .icon-plus,
#upfront-taxonomy-list-all .icon-remove-circle {
	display: none;
}


.upfront-taxonomy-list-title {
	font-size: 18px;
	margin-bottom: 5px;
	color: #476d8a;
}
#upfront-taxonomy-list-current {
	max-height: 200px;
}
#upfront-taxonomy-list-all {
	background: #d9edfe;
}
.upfront-taxonomy-list-panel-previously-used {
	padding:0 5px;
	max-height: 200px;
}
.upfront-taxonomy-flat #upfront-new_term {
	width: 250px;
}
.upfront-taxonomy-flat .upfront-taxonomy_item {
  cursor: pointer;
  display: inline-block;
}
.upfront-flat-tax-new_term{
  border: 1px solid #a3bfd9;
  height: 25px;
  width: 79.5%;
}
.upfront-taxonomy-list-choose-from-prev{
  font-size: 13px;
  line-height: 1.5;
}