/* Theme fonts managesr */
#text-fonts-manager {
  width: 750px;
  background: #e5f3fe;
  z-index: 1;
}
#icon-fonts-manager .fonts-manager-panel-title,
#text-fonts-manager .panel-title {
	font:700 11px/15px 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	color: rgba(38,58,77,.5);
	text-transform:uppercase;
	letter-spacing: 0.25px;
	margin: 16px 0 5px 0;
}
#text-fonts-manager .panel {
  float: left;
}

#text-fonts-manager .add-font-panel {
	width: 500px;
}
#text-fonts-manager .choose-font {
  margin: 20px 0 10px 15px;
}
#text-fonts-manager .font-weights-list {
  height: 346px;
	width: 400px;
	margin-left: 15px;
	background: #f2f9fe;
}
#text-fonts-manager .font-weights-list {
}
#text-fonts-manager .font-weights-list .upfront-field-multiple {
  margin: 0;
  line-height: 25px;
}
#text-fonts-manager .font-weights-list .upfront-field-multiple:hover,
#text-fonts-manager .font-weights-list .upfront-field-multiple-selected {
  background: #85a9cc;
}
#text-fonts-manager .font-weights-list .upfront-field-multiple:hover label,
#text-fonts-manager .font-weights-list .upfront-field-multiple-selected label {
  color: #f2f7ea;
}
#text-fonts-manager .font-weights-list .upfront-field-multiple label {
  margin-left: 20px;
}
.icon-font-icons-preview::-webkit-scrollbar,
#text-fonts-manager .font-weights-list-wrapper::-webkit-scrollbar,
#text-fonts-manager .font-list::-webkit-scrollbar,
.icon-fonts-list::-webkit-scrollbar {
  background: none;
  width: 5px;
}
.icon-font-icons-preview::-webkit-scrollbar-thumb,
#text-fonts-manager .font-weights-list-wrapper::-webkit-scrollbar-thumb,
#text-fonts-manager .font-list::-webkit-scrollbar-thumb,
.icon-fonts-list::-webkit-scrollbar-thumb {
  border-right: 5px solid #1fcd8f;
}
#text-fonts-manager .font-weights-list input {
  bottom: 7px;
  left: 20px;
}
#text-fonts-manager .font-weights-list .upfront-field-wrap {
  margin: 0;
}
#text-fonts-manager .font-weights-list .upfront-field-label {
  margin-left: 20px;
}
#text-fonts-manager .font-weights-list-wrapper {
	border: 1px solid #a4bfd8;
  height: 346px;
  overflow: hidden;
  overflow-y: scroll;
}
#text-fonts-manager .theme-font-list-item {
  color: rgb(48, 71, 94);
  position: relative;
  font-size: 11px;
  font-weight: normal;
  font-family: verdana, sans-serif;
  padding-left: 20px;
  cursor: pointer;
  line-height: 23px;
}
#text-fonts-manager .theme-font-list-item:hover,
#text-fonts-manager .theme-font-list-item-selected {
  background: #85a9cc;
  color: #f2f7ea;
}
#text-fonts-manager .theme-font-list-item .delete {
  display: none;
  position: absolute;
  right: 10px;
  top: 3px;
}
#text-fonts-manager .theme-font-list-item .upfront-icon:before {
	background-position: -1080px -121px;
	width: 16px;
	height: 16px;
	margin: 0;
}
#text-fonts-manager .theme-font-list-item-selected .delete {
  display: inline;
}
#text-fonts-manager .font-list {
  background: #f2f9fe;
	height: 346px;
	overflow: hidden;
	overflow-y: scroll;
	border: 1px solid #a4bfd8;
	width: 228px;
}
#text-fonts-manager .add-font-button {
  line-height: 12px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-family: verdana, sans-serif;
  color: #537ea6;
  cursor: pointer;
	position: absolute;
	top: 262px;
	left: 424px;
	padding: 10px 17px;
	border: 1px solid #a4bfd8;
	box-shadow: 1px 1px 1px #537ea6;
	border-radius: 4px;
}
#text-fonts-manager .font-stats {
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 10px;
  font-family: verdana, sans-serif;
  background: #d7e6f1;
  color: #687887;
	position: absolute;
	left: 0;
	width: 750px;
	background: #e5f3ff;
}
.font-stats strong {
	font-weight: bold;
}
.font-variant-preview {
	border-top: 1px solid #e4eef6;
	cursor: pointer;
	padding: 0 0 10px 10px;
	color: #181818;
}
.font-variant-preview .font-family {
	color: #85a9d0;
  font:normal 11px/1 Verdana, sans-serif;
}
.font-variant-preivew .font-preview {
	color: #181834;
}
.font-variant-already-added .font-preview {
	color: #a3a3a3;
}
.font-variant-preview:first-child {
	border-top: 0 none;
}
.font-variant-selected {
	background: #e9faf4;
	position: relative;
}
.font-variant-selected:after {
	content: "";
	display: block;
	background: transparent url(../img/uf-ui-sprite.svg);
	background-position: -735px -142px;
	width: 12px;
	height: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.heading-font-preview {
	font-size: 35px;
	line-height: 41px;
	white-space: nowrap;
	color: #000000;
}
.font-variant-already-added {
	cursor: default;
}
.font-variant-already-added .already-added {
	background-color: #00CE8D;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 #00B47C;
	padding: 2px 5px;
	display: inline-block;
	font:normal 11px/1 Verdana, sans-serif;
}
.font-variant-already-added .font-family {
	color: #cfdde8;
}
.theme-fonts-panel {
	padding-top: 29px;
	padding-left: 8px;
}
#icon-fonts-manager {
	text-align: left;
}
#icon-fonts-manager .fonts-manager-panel-title {
	text-align: left;
	margin-left: 15px;
}
#icon-fonts-manager .preview-icon-fonts .fonts-manager-panel-title {
	margin-left:	248px;
}
.manage-icon-fonts {
	float: left;
	width: 233px;
	height: 350px;
}
.icon-fonts-message i {
	position: absolute;
	top: 0;
	left: 15px;
	width: 16px;
	height: 16px;
	background: url(../img/uf-core-el-sprite.svg) no-repeat -484px -140px;
}
.icon-fonts-message {
	color: #263a4d;
	padding-left: 35px;
	font-size: 11px;
	line-height:16px;
	position: relative;
	margin-top:5px;
}
.icon-fonts-list {
	background: white;
	margin: 0 3px 0 15px;
	height: 221px;
	border: 1px solid #a4bfd8;
	overflow-y: auto;
}
.icon-fonts-list-item {
	border-bottom: 1px solid #e4eef6;
	/* padding-left: 10px; */
	cursor: pointer;
	color: #263a4d;
	font:400 13px/18px 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
}

.icon-fonts-list-item {

	.font-fileset {
		display: none;
		background: rgb(245,248,251);
	}

	.font-name {
		width: 120px;
		overflow: hidden;
		padding:10px 0;
		display:inline-block;
		vertical-align: middle;
		margin-left:10px;

		.icon-font-family {
			width:100%;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
			position: relative;

			&:after {
				content: '';
		    width: 20px;
		    height: 20px;
		    background: linear-gradient(270deg, rgba(255,255,255,1), rgba(255,255,255,0.3));
		    position: absolute;
		    right: 0;
			}
		}

	}

	a.expand-toggle {
		display:inline-block;
		vertical-align: middle;

		span.fileset-count {
			color: rgba(38,58,77,0.5);
			text-transform: uppercase;
			font:800 10px/2 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
			margin-right:5px;
		}

		i {
			content: "";
			display: inline-block;
			width: 26px;
			height: 18px;
			background: rgb(242,249,255) url(../img/uf-core-el-sprite.svg) no-repeat -288px -492px;
			color: transparent;
			border: 1px solid rgba(36,58,78,0.15);
    	border-radius: 2px;
		}
	}

	.font-filename {
		font-size: 12px;
		font-weight: 400;
		line-height:2; 
		position: relative;
		padding:5px 10px;
		opacity: 0.8;

		a {
				position: absolute;
		  	right: 10px;
				top: 8px;
		    height: 16px;
		    width: 16px;
		    display: none;
		    font-size: 1px;

		    &:after {
		    	content: '';
			    background: url(../img/uf-core-el-sprite.svg) no-repeat -484px -170px;
			    width: 16px;
			    height: 16px;
			    position: absolute;
			    top:0;
			    left:0;
		    }
		}

		&:hover {
			opacity: 1;
			background: rgb(237,240,242);
		}

		&:hover a {
			display: block;
		}
	}
	&.expanded .font-fileset {
		display: block;
	}
}

.icon-fonts-list-item-active {
	box-shadow:inset 2px 0px 0px 0px rgb(31,205,143);
	position: relative;
}

.upload-icon-font {
	background-image: linear-gradient(-180deg, #FAFDFF 0%, #F2F9FF 100%);
	border: 1px solid #A2BFDA;
	border-radius: 3px;
	color: #6486A6;
	cursor: pointer;
	display: inline-block;
	font:400 12px/16px 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	margin: 15px 3px 0 14px;
	padding: 5px 10px;
}
.upload-icon-font .uf_font_icon {
	font-family: 'icomoon' !important;
}
.icon-font-icons-preview {
	float: left;
	margin-left: 15px;
	background: white;
	width: 493px;
	height: 300px;
	overflow: auto;
	border: 1px solid #bdd0e2;
	box-shadow: inset 0px -5px 10px 0px rgba(36,58,78,0.15);
}
.icon-font-icon-preview {
	width: 81px;
	height: 81px;
	float: left;
	line-height: 81px !important;
	font-size: 40px;
	text-align: center;
	border-right: 1px solid #bdd0e2;
	border-bottom: 1px solid #bdd0e2;
	color: #263a4d;
}
.icon-font-icon-preview:nth-child(6n) {
	border-right: 0 none;
}


.icon-font-upload-status {
	display: inline-block;
	padding: 0 3px;
	color: #ff0000;
	font-weight: bold;
	cursor: help;
}
.font-manager-popup .upfront-tabs li  {
	font:300 16px/2.4 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	padding:0 15px;
}
.font-manager-popup .icon-fonts-list-item {
	position: relative;
}
