/*---------------------- Settings Theme colors -------------------------*/
#theme-colors-no-color-notice{
    height: 60px;
    padding-top: 10px;
    font:normal 11px verdana, sans-serif;
    line-height: 18px;
    color: #607F99;
}
#theme-colors-no-color-notice:before{
    content: "";
    background-image: url('../img/uf-core-el-sprite.svg');
    background-position: -469px -139px;
    display: block;
    height: 30px;
    width: 34px;
}
#panel-setting-theme-colors-pane{
    border-bottom: 1px solid #C8DFF2;
}
#sidebar-ui .upfront-field-wrap.theme_color_swatch{
    display: inline-block;
    margin:10px;
}
#sidebar-ui .theme_color_swatch .sp-preview{
    margin: 0;
    border: none;
    border-radius: 0;
}
.upfront-field-wrap-color .theme_color_swatch .sp-preview{
    border: none;
    border-radius: 0;
}
.theme_color_swatch .sp-replacer{
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 1px solid #253a4e;
    cursor: pointer;
}
.theme_color_swatch_empty .sp-replacer{
    border-color: #9dbbd8;
    text-align: center;
    line-height: 19px;
    font-size: 20px;
    background: none;
}
.theme_color_swatch_empty .sp-preview{
    background-image: url('../img/uf-core-el-sprite.svg');
    background-position: -1362px -170px;
    border-radius: 0;
}
#panel-setting-theme-colors-shades{

}
#sidebar-ui .panel-setting-theme-colors-shades-range a{
    margin: 0;
}
.theme-colors-color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.panel-setting-theme-colors-shades-range{
    width: 100%;
}
#panel-setting-theme-colors-shades-label{
    font:bold 11px verdana, sans-serif;
}
.panel-setting-theme-colors-shades-wrap p{
    margin: 0;
    margin-top: 10px;
}
.panel-setting-theme-colors-meta p{
    color: #263A4D;
}
.theme-colors-color-box-selected{
    background-image: url('../img/uf-core-el-sprite.svg');
}
.theme-colors-color-box-selected.dark{
    background-position: -809px -201px;
}
.theme-colors-color-box-selected.light{
    background-position: -809px -169px;
}
.panel-setting-theme-colors .upfront-field-slider .ui-slider-handle{
    background-color: #1fcd8f;
    border-width: 4px;
}

/* Colors panel */
#sidebar-ui .colors-panel-section {
	padding-top: 0;
	margin: 0;
}
#theme-colors-swatches {
	padding: 0 15px;
	width: 255px;
}
#sidebar-ui .panel-setting-theme-colors-bottom {
	margin: 0 15px;
	font-size: 11px;
	font-family: verdana;
	padding-top: 3px;
	line-height: 32px;
}
#panel-setting-theme-colors-shades-label {
	font-weight: bold;
	margin-bottom: 7px;
	display: block;
}
#sidebar-ui .panel-setting-theme-colors-bottom .hovers {
	font-family: "Courier New", monospace;
	font-weight: bold;
	font-size: 12px;
}
#sidebar-ui #theme-colors-swatches .theme-colors-color-picker.color-0 .upfront-field-wrap {
	margin-left: 0;
}
#sidebar-ui #theme-colors-swatches .upfront-field-wrap {
	margin: 14px 0 13px 28px;
}
#sidebar-ui .colors-panel-section .sp-preview {
	width: 19px !important;
	height: 19px !important;
	border-radius: 0;
	-webkit-border-radius: 0px;
}
#sidebar-ui .colors-panel-section .sp-replacer {
    padding: 2px;
}
#sidebar-ui .colors-panel-section .sp-replacer:before {
    display: none;
}
.theme_color_swatch .sp-replacer {
	height: auto;
	width: auto;
}
.panel-setting-theme-colors-meta {
	margin-top: 15px;
	line-height: 13px;
}
#sidebar-ui .swatch-title {
	margin-top: 9px;
	color: #263a4d;
}

.panel-setting-theme-colors-highlights,
.panel-setting-theme-colors-shades {
	text-align: justify;
}
.panel-setting-theme-colors-highlights:after,
.panel-setting-theme-colors-shades:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#sidebar-ui .panel-setting-theme-colors-highlights + .swatch-title {
	margin-top: 4px;
}
.theme-colors-color-box:first-child {
	margin-left: 0;
}
