/* Typography panel */
.typography-panel {
	clear: both;
	overflow: hidden;
	padding-bottom: 2px;
	margin-bottom: 12px;
	padding-top: 10px;
	border-bottom: 1px solid rgb(229, 229, 229);
}
#sidebar-ui .typography-panel .upfront-field-wrap {
	margin-top: 4px;
}
#sidebar-ui .typography-panel .upfront-field-wrap:first-child {
	margin-top: 0;
}
#sidebar-ui .typography-panel label {
	margin-bottom: 3px;
}
#sidebar-ui .typography-panel .upfront-typography-fields-right .upfront-field-wrap-color label {
	margin-bottom: 1px;
}
.typography-panel .upfront-field-number[type=number] {
	height: 22px;
	font-size: 11px;
}
#sidebar-ui .typography-section-content {
	width: 230px;
}
#sidebar-ui .typography-section-content .sp-container.sp-light.sp-alpha-enabled {
	z-index: 99999999;
}
#sidebar-ui .typography-panel .upfront-field-wrap {
	margin-bottom: 10px;
}