/* Typography panel */
.typography-panel .upfront-field-select {
	width: 230px;
	height: 24px;

}
#sidebar-ui .typography-panel .upfront-field-wrap {
	margin-top: 4px;
}
#sidebar-ui .typography-panel .upfront-field-wrap:first-child {
	margin-top: 0;
}
#sidebar-ui .typography-panel .upfront-typography-fields-left,
#sidebar-ui .typography-panel .upfront-typography-fields-right {
	margin-top: 4px;
}
#sidebar-ui .typography-panel .upfront-typography-fields-left .upfront-field-select {
	width: 120px;
}
.typography-panel .upfront-typography-fields-right .upfront-field-wrap:first-child label {
	margin-bottom: 2px;
}
.typography-panel .upfront-field-wrap-number label {
	margin-bottom: 5px;
}
.typography-panel .upfront-field-number[type=number] {
	height: 22px;
	font-size: 11px;
}
#sidebar-ui .typography-section-content {
	width: 230px;
}
#sidebar-ui .typography-section-content .sp-container.sp-light.sp-alpha-enabled {
	z-index: 99999999;
}
