.ulinkpanel {
	width: 230px;
}

.ulinpanel-dark {
	background: initial !important;
	text-transform: initial !important;
	font: normal 13px/16px Verdana, sans-serif !important;
}

.ulinkpanel .upfront-field-select-value {
	color: #2F475F !important;
    font-size: 11px !important;
    font-family: Verdana, sans-serif !important;
    line-height: 22px !important;
	text-transform: initial !important;
}

.ulinkpanel-title {
	margin-bottom: 10px;
	line-height: 1em;
}

.ulinkpanel .upfront-field-wrap {
	margin: 5px 0px 5px 0px !important;
	float: left;
}

.ulinkpanel-dark .upfront-field-wrap {
	margin: 5px 0px 5px 0px !important;
}

.ulinkpanel .ulinkpanel-external-wrap {
	margin: 0;
}

.ulinkpanel .ulinkpanel-external-wrap input {
	margin: 0 0 3px 0;
}

.ulinkpanel-external-wrap {
	width: 100%;
}

.ulinkpanel-image-wrap {
	width: 120px;
}

.ulinkpanel-anchor-wrap,
.ulinkpanel-lightbox-wrap {
	width: 110px;
}

.ulinkpanel div.ulinkpanel-image-wrap,
.ulinkpanel div.ulinkpanel-lightbox-wrap {
	margin-bottom: 0;
}

.ulinkpanel-selected-entry .ulinkpanel-entry-wrap,
.ulinkpanel-selected-entry .ulinkpanel-anchor-wrap {
	margin-bottom: 2px;
}

.ulinkpanel .upfront-field-radio {
	margin-right: 5px;
}

.ulinkpanel-external-wrap label {
	width: 30px;
	display: inline-block;
}

.ulinkpanel #ulinkpanel-link-url {
	width: 230px;
	padding: 2px 4px;
	height: 24px;
}

a.ulinkpanel-entry-url,
a.ulinkpanel-entry-url:link {
	display: block !important;
	width: 100%;
	margin-bottom: 5px !important;
	font-size: 13px;
	float: left;
	line-height: 1em;
	color: #7c9dbf;
}

a.ulinkpanel-entry-url:hover {
	color: #3ea;
}

.ueditor-placeholder {
	opacity: 0.5;
}

.ulinkpanel-anchor-selector {
	height: 18px;
	width: 100%;
}

#ulinkpanel-lightbox-extra {
	width: 100%;
	clear: both;
	font-size: 13px;
	line-height: 15px;
}

#ulinkpanel-create-lightbox {
	color: #7c9dbf;
	border: 1px solid #7c9dbf;
	width: 90px;
	text-align: center;
	display: block;
	padding: 2px;
	float: right;
	margin-top: 5px;
}

#ulinkpanel-create-lightbox:hover {
	color: rgb(48, 71, 94);
	border: 1px solid #3ea;
}

.ulinkpanel-dark #ulinkpanel-create-lightbox:hover {
	color: #cbe5ff;
}

.ulinkpanel-new-lightbox,
.ulinkpanel-lightbox-selector {
	margin-top: 5px;
}

.ulinkpanel-lightbox-selector {
	border: 1px solid #7c9dbf;
}

.ulinkpanel input.ulinkpanel-lightbox-input {
	height: 21px;
	background: #fff;
	margin-right: 2px;
	vertical-align: top;
}

.ulinkpanel a.ulinkpanel-lightbox-cancel {
	background-image: url('../img/uf-core-el-sprite.png');
	background-image: url('../img/uf-core-el-sprite.svg'), none;

	background-position: -483px -170px;
	display: inline-block;
	width: 15px;
	height: 18px;

	opacity: .7;
}

.ulinkpanel a.ulinkpanel-lightbox-cancel:hover {
	opacity: .9;
}

div.ulinkpanel.ulinkpanel-dark .upfront-field-wrap{
	color: #cbe5ff;
}

.ulinkpanel-dark a.ulinkpanel-entry-url, .ulinkpanel-dark a.ulinkpanel-entry-url:link {
	background: initial !important;
	padding: initial !important;
	text-transform: initial !important;
	margin: initial !important;
	font: normal 13px/16px Verdana, sans-serif !important;
	color: rgb(0, 219, 143) !important;
}

.ulinkpanel-dark a.ulinkpanel-entry-url:hover {
	color: #3ea !important;
}

.ulinkpanel-dark .upfront-field-radio {
	border-color: #85a9cb;
}

.ulinkpanel-dark .upfront-field-radio:checked {
	border-color: #fff;
	background: rgb(0, 219, 143);
}

.ulinkpanel-dark .ulinkpanel-title {
	color: rgb(83,97,109);
	margin-bottom:3px;
	background: initial !important;
	padding: initial !important;
	text-transform: initial !important;
	margin: initial !important;
	font: normal 13px/16px Verdana, sans-serif !important;
}
.redactor-dropdown .ulinkpanel-dark .ulinkpanel-title{
	color: #cbe5ff;
}
.upfront-ui.uimage-control-panel label {
	background: initial !important;
	text-transform: initial !important;
	font: normal 13px/16px Verdana, sans-serif !important;
}

.ulinkpanel-dark .upfront-settings-button_panel{
	bottom: -36px;
	right: 0;
}


.ulinkpanel .anchor-selector {
	clear: both;
}

.ulinkpanel .upfront-field-select {
	width: 230px;
}

.redactor-toolbar li.upfront-field-select-option {
	float: none;
}

.ulinkpanel form > :first-child,
.ulinkpanel-dark form > :first-child {
	margin-top: 0;
}

/* dark UI overwrtites */

.ulinkpanel-dark .upfront-field-select,
.ulinkpanel-dark .upfront-field-select:hover,
.ulinkpanel-dark .upfront-field-select-options,
.ulinkpanel-dark #ulinkpanel-link-url {
	border-color:#c3d3e0;
}
.ulinkpanel-dark .no-lightboxes-msg {
	font:normal 11px/13px verdana, sans-serif;
	color:#FF8787;
}

.ui-resizable-autohide.upfront-control-visible .uimage-controls {
	display: block;
}

.uimage-control-panel-content .ulinkpanel .upfront-field-select label,
.uimage-control-panel-content .ulinkpanel-dark .upfront-field-select label {
	color: #606f99;
}
.uimage-control-panel-content .ulinkpanel .upfront-field-select li:hover label,
.uimage-control-panel-content .ulinkpanel-dark .upfront-field-select li:hover label {
	color: inherit;
}

/* Image / Gallery / Slider Panels */

.upfront-image_module .ulinkpanel-dark,
.upfront-gallery .ulinkpanel-dark,
.upfront-slider_module .ulinkpanel-dark {
	min-width:180px;
}
.link-panel-lightbox-trigger {
	color: #00db8f;
	font-size: 12px;
}
