.upfront-ui, .upfront-ui *, .upfront-ui *:before, .upfront-ui *:after {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.upfront-ui *, .upfront-ui *:before, .upfront-ui *:after {
	font-weight: inherit;
	font-style: inherit;
	text-transform: inherit;
	text-decoration: inherit;
	letter-spacing: inherit;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	background:none;
	border-radius:0;
	position: static;
	-webkit-transform: none;
	   -moz-transform: none;
	    -ms-transform: none;
	     -o-transform: none;
	        transform: none;
}

.upfront-ui li:before, .upfront-ui li:after {
	content:normal;
	background-color:transparent;
	background-image:none;
}

.upfront-ui {
	font: 16px/24px 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.upfront-object-content .ueditor-box-wrapper h1, 
.upfront-object-content .ueditor-box-wrapper h2,
.upfront-object-content .ueditor-box-wrapper h3, 
.upfront-object-content .ueditor-box-wrapper h4,
.upfront-object-content .ueditor-box-wrapper h5,
.upfront-object-content .ueditor-box-wrapper h6,
.upfront-object-content .ueditor-box-wrapper p,
.upfront-object-content .ueditor-box-wrapper a,
.upfront-object-content .ueditor-box-wrapper a:hover,
.upfront-object-content .ueditor-box-wrapper ul,
.upfront-object-content .ueditor-box-wrapper ol,
.upfront-object-content .ueditor-box-wrapper blockquote, .upfront-object-content .ueditor-box-wrapper  blockquote p,
.upfront-object-content .ueditor-box-wrapper blockquote.upfront-quote-alternative {
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
}
.upfront-object-content .ueditor-box-wrapper ul,
.upfront-object-content .ueditor-box-wrapper ol {
	margin: 0;
	padding: 0;
}
.upfront-ui a,
.upfront-ui button,
.upfront-ui input {
	-webkit-transition: color,background-color,border,opacity .25s;
	-o-transition: color,background-color,border,opacity .25s;
	transition: color,background-color,border,opacity .25s;
}
.upfront-ui input.ace_search_field {
	color: #30475e;
}
.upfront-ui a:hover,
.upfront-ui button:hover,
.upfront-ui input:hover {
	border:initial;
}

.upfront-ui h1,
.upfront-ui h2,
.upfront-ui h3,
.upfront-ui h4,
.upfront-ui h5,
.upfront-ui h6 {
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	text-transform: none;
}

.upfront-ui ul {
	list-style: none;
}

.upfront-ui ul li:before {
	display: none;
}

