.video-insert-controls {
	width: 28px;
	height: 28px;
	background-image: url(../img/uf-core-el-sprite.svg);
	border-radius: 3px;
	background-position: -286px -486px;
	background-color: rgba(242,249,255,1);
	position: absolute;
	top: 15px;
	left: 15px;
	display: none;
	cursor: pointer;
}

.uinsert-video-insert .ueditor-insert-remove {
	top: 10px;
	right: 10px;
	position: absolute;
	display: none;
}

.uinsert-video-insert:hover .video-insert-controls,
.uinsert-video-insert:hover .ueditor-insert-remove,
.video-insert-controls.video-insert-controls-expanded {
	display: block;
}
.video-insert-controls-panel {
	display: none;
	min-width: 122px;
	width: 100%;
	font-size: 0.8em;
	padding: 10px 10px 10px 10px;
	margin-top: 29px;
	background-color: rgba(242,249,255,1);
	color: #ADADAD;
	box-shadow: 0px 2px 10px 0px rgba(34,50,64,1);
	border: none;
	z-index: 2000000000000;
	right: 95px;
	position: relative;
	text-align: right;
}
.video-insert-controls-panel > div {
	margin-bottom: 10px;
}
.video-insert-controls-panel .upfront_toggle {
	margin-left: 10px;
}

.upfront-output-layout .uinsert-video-insert .video-insert-controls,
.upfront-output-layout .uinsert-video-insert .ueditor-insert-remove {
	display: none;
}

.swap-video-insert-button {
	background: transparent;
}
.video-insert-controls-panel .image-crop-edit-button:before {
	background-position: -380px -100px;
	top: 6px;
	left: 6px;
	width: 13px;
	height: 13px;
}
