/*------------------- Setting sections tabs -----------------------*/
#sidebar-ui ul.sidebar-panel-tabspane {
    width: 100%;
    background: #d9edff;
    padding: 0 0 5px 10px;
    display: none;
		line-height: 10px;
}
#sidebar-ui .expanded ul.sidebar-panel-tabspane {
	display: block;
}
#sidebar-ui .expanded ul.sidebar-panel-tabspane-hidden {
  display: none;
}
.sidebar-panel-tabspane li {
    display: inline-block;
    margin-left: 5px;
    color: #0F9969;
    cursor: pointer;
    padding: 3px 5px;
    font:normal 11px/10px Verdana, sans-serif;
}
#sidebar-ui ul.panel-setting-theme-colors-shades-range-labels {
    width: 100%;
    overflow: hidden;
    margin-top: 9px;
}
.panel-setting-theme-colors-shades-range-labels li {
    display: inline-block;
    float: left;
    font:11px normal verdana, sans-serif;
    color: #476580;
}
.panel-setting-theme-colors-shades-range-labels li:last-child {
    float: right;
}
.sidebar-panel-tabspane li.active{
    color:#E5F3FF;
    background: #85A9CC;
    border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
}
.sidebar-tab-content{
    display: none;
}

