/*------------------- Setting sections tabs -----------------------*/
#sidebar-ui ul.sidebar-panel-tabspane {
	width: 100%;
	background: #e7e7e7;
	padding: 0 0 0 10px;
	display: none;
	line-height: 10px;
}
#sidebar-ui .expanded ul.sidebar-panel-tabspane {
	display: block;
}
#sidebar-ui .expanded ul.sidebar-panel-tabspane-hidden {
	display: none;
}
.sidebar-panel-tabspane li:last-of-type,
.state_settings_button:last-of-type {
	margin-right: 0;
}
.sidebar-panel-tabspane li,
.state_settings_button {
	display: inline-block;
	margin-left: 5px;
	margin-right: 25px;
	color: #909090;
	cursor: pointer;
	font-size: 9px;
	margin-bottom: 0;
	letter-spacing: 0.5px;
	line-height: 27px;
	height: 27px;
}
.state_settings_button input {
	letter-spacing: 0.5px;
	line-height: 27px;
	height: 27px;
}
#sidebar-ui ul.panel-setting-theme-colors-shades-range-labels {
	width: 100%;
	overflow: hidden;
	margin-top: 9px;
}
.panel-setting-theme-colors-shades-range-labels li {
	display: inline-block;
	float: left;
	font:11px normal verdana, sans-serif;
	color: #476580;
}
.panel-setting-theme-colors-shades-range-labels li:last-child {
	float: right;
}
.sidebar-panel-tabspane li.active,
.state_settings_button.active {
	color:#212121;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.sidebar-tab-content{
	display: none;
}

