.upfront_logo {
    background-image: url("../../img/uf-admin-sprite.svg");
    background-repeat: no-repeat;
    float: right;
    background-position: -10px -10px;
    width: 122px;
    height: 25px;
    overflow: hidden;
    display: block;
}
.upfront_admin {
    padding:0 10px;
}
.upfront_admin h1 {
    text-transform: uppercase;
    color: #777;
    font: bold 32px/1 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
    letter-spacing: -0.54px;
    padding: 20px 0;
    -webkit-font-smoothing: antialiased;
}
.upfront_admin p.info {
    font: normal 16px/1 'Roboto', Helvetica Neueu, Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    margin-top: 0px;
    margin-bottom: 40px;
}
.upfront_admin .float_left {
    float: left;
}
.upfront_admin .float_right {
    float: right;
}
.upfront_admin .clear_before:before {
    clear: both;
    display: table;
    content: " ";
}
.upfront_admin .clear_after:after {
    clear: both;
    display: table;
    content: " ";
}

#toplevel_page_upfront .wp-menu-image:before {
    content: "";
    background-image: url("../../img/uf-admin-sprite.svg");
    background-repeat: no-repeat;
    background-position: -10px -85px;
    width: 18px;
    height: 18px;
    margin-top: 7px;
}

.upfront_admin h1,
.upfront_admin h2,
.upfront_admin h3,
.upfront_admin h4 {
    text-transform: uppercase;
}

/* META BOXES */
.upfront_admin .postbox-container {
    width: 100%;
}
.upfront_admin .postbox {
    border: none;
    border-radius: 6px;
    border-bottom: 2px #E4E4E4 solid;
    box-shadow: none;
}


.upfront_admin .postbox h2.title {
    border-bottom: 1px solid #eee;
    padding: 0 30px 0;
    margin-bottom: 0;
    color: #777;
    margin-top:0;
    font: bold 18px/60px 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
}

/* EDIT THEME - ICON BUTTONS */
.postbox.themes .download,
.postbox.themes .edit.info {
    width:48px;
    padding:13px;
    vertical-align: top;
    background: url("../../img/uf-admin-sprite.svg") #AFAFAF;
}
.postbox.themes .download:hover,
.postbox.themes .edit.info:hover {
    background: url("../../img/uf-admin-sprite.svg") #999;
}
.postbox.themes .download,
.postbox.themes .download:hover {
    background-position: -100px -80px;
}
.postbox.themes .edit.info,
.postbox.themes .edit.info:hover {
    background-position: -100px -146px;
}

/* NO THUMBNAIL THEME STYLING */

.uf-thx-theme a:before {
    content: '';
    background: url("../../img/uf-admin-sprite.svg") #F1F1F1;
    width: 140px;
    height: 45px;
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


@media screen and (min-width: 920px) {
    .upfront-col-left, .upfront-col-right {
        width: 49%;
        float: left;
    }
    .upfront-col-left {
        margin-right: 2%;
    }
}