
.upfront-accordion-container .accordion-panel-title {
	position: relative;	
	padding: 7px 15px;
}
.upfront-accordion-container .accordion-panel {
	position: relative;	
}
.upfront-accordion-container .accordion-panel-title {
	border-top: 2px #000 solid;	
}

.upfront-accordion-wrap {
	border-bottom: 2px #000 solid;
}

.upfront-accordion-container .accordion-panel-title:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	top: 45%;
	right: 22px;
}

.upfront-accordion-container .accordion-panel-active .accordion-panel-title:after {
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent !important;
	border-left: 5px solid #000;
	border-bottom: 5px solid transparent;
	position: absolute;
	top: 45%;
	right: 22px;
}

.upfront-accordion-container .accordion-panel i {
  display: block;
  width: 14px;
  height: 14px;
  color: white;
  background: red;
  border-radius: 20px;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  right: 50px;
  top: 20px;
  visibility: hidden;
  cursor: pointer;
}

.upfront-accordion_module .upfront-accordion-container .accordion-panel-active:hover i {
  visibility: visible;
}

.upfront-accordion-container .accordion-panel-content {
	overflow: hidden;
	padding: 7px 15px !important;
}


.upfront-accordion-container .upfront-entity_meta {
	top: 48px;
	right: 5px;	
}

.upfront-accordion-container .upfront-icon-button-accordion-add-panel:before {
background-position: -260px -130px;
}

.upfront-accordion-container .upfront-icon-button-accordion-add-panel
{
	box-shadow: inset 0 0 0 1px #e6ab2e;
	background: #f2b530 -moz-linear-gradient(-45deg, rgba(255,190,51,1) 0%, rgba(255,190,51,1) 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: #f2b530 -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,190,51,1)), color-stop(50%,rgba(255,190,51,1)), color-stop(51%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: #f2b530 -webkit-linear-gradient(-45deg, rgba(255,190,51,1) 0%,rgba(255,190,51,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: #f2b530 -o-linear-gradient(-45deg, rgba(255,190,51,1) 0%,rgba(255,190,51,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: #f2b530 -ms-linear-gradient(-45deg, rgba(255,190,51,1) 0%,rgba(255,190,51,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: #f2b530 linear-gradient(135deg, rgba(255,190,51,1) 0%,rgba(255,190,51,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* W3C */
}

.uaccordion-settings-panel .inline-radios {
	float: left;
	margin-top: 3px;
	width: 15px;
}

.uaccordion-settings-panel .upfront-field-select {
	vertical-align: middle;
	width: 110px;
}

.uaccordion-settings-panel .upfront-field-wrap .upfront-field-label {
	font-size: 11px;
}

.uaccordion-settings-panel span.upfront-field-label-text {
	font-size: 11px;
	color:rgb(124, 158, 191);
}

.uaccordion-settings-panel a.sp-replacer {
  width: 92px;
}

.uaccordion-settings-panel .upfront-field-wrap-select .upfront-field-label {
	display: inline-block;
	vertical-align: middle;
	width: 87px;
}