<ul class="upfront_color_picker_rgba">
	<li class="upfront_color_picker_rgba_r">
		R:
		<input type="text" value="{{r}}" data-type='r' name="upfront_color_picker_rgba_r">
	</li>
	<li class="upfront_color_picker_rgba_g">
		G:
		<input type="text" value="{{g}}" data-type='g' name="upfront_color_picker_rgba_g">
	</li>
	<li class="upfront_color_picker_rgba_b">
		B:
		<input type="text" value="{{b}}" data-type='b'  name="upfront_color_picker_rgba_b">		
	</li>
	<li class="upfront_color_picker_rgba_a">
		A:
		<input type="text" value="{{a}}" data-type='a' name="upfront_color_picker_rgba_a">			
	</li>
</ul>
<span class="upfront_color_picker_reset noColor"></span>