<div>
    <script type="text/template" id="upfront-post-image-variant-tpl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid asperiores dolor dolorum eaque enim esse, est harum ipsum iusto molestiae natus nostrum porro, quia quidem suscipit veniam voluptatem.        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid asperiores dolor dolorum eaque enim esse, est harum ipsum iusto molestiae natus nostrum porro, quia quidem suscipit veniam voluptatem.
        <div class="ueditor-insert ueditor-insert-variant upfront-inserted_image-wrapper {{group.width_cls}}" style="height: {{group.height}}px;float:{{group.float}}">
            <div class="ueditor-insert-variant-wrap">
                <div class="upfront-wrapper ueditor-insert-variant-image {{image.width_cls}} {{image.left_cls}} " style="height: {{image.height}}px;left:{{image.left}}px; top:{{image.top}}px;">
                    <div class="ueditor-insert-variant-image-inside c24"></div>
                </div>
                <span class="upfront-wrapper ueditor-insert-variant-caption {{caption.width_cls}}" style="height: {{caption.height}}px;left:{{caption.left}}px; top:{{caption.top}}px;">Type your caption here ...</span>
            </div>
            <div class="upfront_edit_image_insert">Edit Image Insert</div>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti deserunt eaque eligendi est excepturi, id magni molestias nesciunt odio perspiciatis porro possimus provident reprehenderit sapiente sit vel vitae voluptas.        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti deserunt eaque eligendi est excepturi, id magni molestias nesciunt odio perspiciatis porro possimus provident reprehenderit sapiente sit vel vitae voluptas.
    </script>
</div>