<div class="ulinkpanel-back"><button class="upfront-icon upfront-icon-button upfront-link-back"></button></div>
<div class="upfront-settings-link-select"></div>
{[if(type == 'external') { ]}
<div class="upfront-settings-link-field upfront-field-wrap ulinkpanel-external-wrap">
	<input type="text" value="{{link.url}}" placeholder="http://example.com" class="upfront-field-text js-ulinkpanel-input-url js-ulinkpanel-input-external">
</div>
{[ } ]}
{[if(type == 'phone') { ]}
<div class="upfront-settings-link-field upfront-field-wrap ulinkpanel-external-wrap">
	<input type="text" value="{{link.url}}" placeholder="{{Upfront.Settings.l10n.global.ueditor.type_link_phone}}" class="upfront-field-text js-ulinkpanel-input-url js-ulinkpanel-input-external">
</div>
{[ } ]}
{[if(type == 'email') { ]}
<div class="upfront-settings-link-field upfront-field-wrap ulinkpanel-external-wrap">
	<input type="text" value="{{link.url}}" placeholder="johnsmith@example.com" class="upfront-field-text js-ulinkpanel-input-url js-ulinkpanel-input-external">
</div>
{[ } ]}
{[if(type == 'entry') { ]}
<div class="upfront-settings-link-field upfront-field-wrap ulinkpanel-entry-wrap">
	{[if(!link.url || link.url=='' || link.url=='http://') { ]}
		<a title="{{Upfront.Settings.l10n.global.content.change_link}}" class="ulinkpanel-entry-url ulinkpanel-entry-browse js-ulinkpanel-input-entry" href="#">{{Upfront.Settings.l10n.global.views.browse}}</a>
	{[ } else { ]}
		<a title="{{Upfront.Settings.l10n.global.content.change_link}}" class="ulinkpanel-entry-url js-ulinkpanel-input-url js-ulinkpanel-input-entry" href="#">{{(link.title) ? link.title : link.url}}</a>
	{[ } ]}
</div>
{[ } ]}
{[if(type == 'anchor') { ]}
<div class="upfront-settings-link-field anchor-selector">
</div>
{[ } ]}
{[if(type == 'homepage') { ]}
<div class="upfront-settings-link-field upfront-home-link">
	{{Upfront.Settings.l10n.global.content.home_link}}
</div>
{[ } ]}
{[if(type == 'lightbox') { ]}
<div class="upfront-settings-link-field js-ulinkpanel-input-url js-ulinkpanel-input-lightbox clearfix">
	{[ if(lightboxes.length) { ]}
		<div class="lightbox-selector">
		</div>
	{[ } ]}
	<div class="js-ulinkpanel-new-lightbox ulinkpanel-new-lightbox">
		<input type="text" name="new_lightbox" class="upfront-field upfront-field-text upfront-field-empty ulinkpanel-lightbox-input js-ulinkpanel-lightbox-input" value="" placeholder="{{Upfront.Settings.l10n.global.content.lightbox_name}}" />
	</div>
</div>
{[ } ]}
<div class="upfront-settings-link-target"></div>
<button type="button" class="upfront-apply upfront-icon-control icon-apply"></button>
