<div class="upfront-editable_entity upfront-module {{properties.class}}" id="{{properties.element_id}}" {[ if (height > 0){ ]}style="min-height: {{height}}px;"{[ } ]} data-row="{{properties.row}}">
	<b class="upfront-entity_meta upfront-ui">
		{{name}} 
		{[ if (parseInt(properties.has_settings, 10)) { ]} <a href="#" class="upfront-icon-button upfront-icon-button-setting upfront-entity-settings_trigger"></a> {[ } ]}
		{[ if (!properties.sticky) { ]} <a href="#" class="upfront-icon-button upfront-icon-button-delete upfront-entity-delete_trigger"></a> {[ } ]}
	</b>
	<div class="upfront-objects_container"></div>
</div>