    <!--menu content start-->
        <div class="upfront_menu_contents_box">
        	<div class="upfront_menu_contents_tabs">
            	<ul>
                    <li><a class="tab-pages act_tabs" href="#">Pages</a></li>
                    <li><a class="tab-categories" href="#">Categories</a></li>
                    <li><a class="tab-customlinks" href="#">Custom Links</a></li>
                </ul>
            </div>

            <div class="upfront_menu_pages_box">
              <header class="upfront-settings-item-title"><span>Select Pages to add to menu:</span></header>
                <div class="upfront_page_scroll_box">

                </div>

            <div class="upfront_menu_selected_pages_box">
            	<header class="upfront-settings-item-title"><span>This menu items:</span></header>
                <div class="upfront_selected_pages_box">
                </div>
            </div>
            </div>

            <div class="upfront_menu_categories_box">
            	<header class="upfront-settings-item-title"><span>Select Categories to add to menu:</span></header>
                <div class="upfront_categories_scroll_box">
                </div>

            <div class="upfront_menu_selected_pages_box">
            	<header class="upfront-settings-item-title"><span>This menu items:</span></header>
                <div class="upfront_selected_pages_box">
                </div>
            </div>
            </div>

            <div class="upfront_menu_customlink_box">
            	<header class="upfront-settings-item-title"><span>Select custom links to add to menu:</span></header>
            <div class="upfront_menu_selected_pages_box">
                    <div class="upfront_customlink_area">
                        <div class="link">
                        	http:// <input name="url" type="text" placeholder="www.dribbble.com/victorrrr">
                        </div>
                        <div class="label">
                        	Lable   <input name="label" type="text" placeholder="Dribbble">
                        </div>
                        <div class="label">
                        	<button class="add_custom_link">Add Custom Link</button>
                        </div>
                    </div>
                <div class="upfront_menu_selected_pages_box">
                    <header class="upfront-settings-item-title"><span>This menu items:</span></header>
                    <div class="upfront_selected_pages_box">
                    </div>
                </div>

            </div>

            </div>
        </div>
    <!--menu content end-->
