<div class="upfront-editable_entity upfront-object {{properties.class}} {{properties.preset}}" id="{{properties.element_id}}" style="{[ if (height > 0){ ]}min-height: {{height}}px;{[ } ]} {[ if (hide == 1) { ]}display: none;{[ } ]}">
	<b class="upfront-entity_meta upfront-ui">
		<!-- {[ if (parseInt(properties.has_settings, 10)) { ]} <a href="#" class="upfront-icon-button upfront-icon-button-setting upfront-entity-settings_trigger"></a> {[ } ]} -->
        {{extra_buttons}}
		<!--<a href="#" class="upfront-icon-button upfront-icon-button-delete upfront-entity-delete_trigger"></a>-->
	</b>
	{[ if (buttons){ ]}
	<b class="upfront-entity_meta upfront-ui upfront-entity_meta_extra">{{buttons}}</b>
	{[ } ]}
	<div class="upfront-object-content upfront-output-{{properties.id_slug}}">
		{{content}}
	</div>
</div>
