<div class="upfront-editable_entity upfront-object {{properties.class}}" id="{{properties.element_id}}" {[ if (height > 0){ ]}style="min-height: {{height}}px;"{[ } ]}>
	<b class="upfront-entity_meta">
		{{name}} 
		{[ if (parseInt(properties.has_settings, 10)) { ]} <a href="#" class="upfront-entity-settings_trigger"><i class="icon-cogs"></i></a> {[ } ]}
		<!--<a href="#" class="upfront-entity-delete_trigger"><i class="icon-remove"></i></a>-->
	</b>
	<div class="upfront-object-content">
		{{content}}
	</div>
</div>