<div>
	<!--
        Wrap everything in a div to convert this file's content in a jquery element
        so it is possible to use $.find.
    -->
	<script type="text/template" id="upfront-post-list-tpl">
		<div id="upfront-list">
			<div id="upfront-list-meta" class="upfront-list_item clearfix">
				<div class="upfront-list_item-component upfront-date upfront-header {{ orderby == 'post_date' ? 'active ordered-' + order : '' }}" data-sortby="post_date">{{Upfront.Settings.l10n.global.content.date}} <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-title upfront-header {{ orderby == 'post_title' ? 'active ordered-' + order : '' }}"  data-sortby="post_title">Post Title <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-author upfront-header {{ orderby == 'post_author' ? 'active ordered-' + order : '' }}" data-sortby="post_author">Author <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-comments-count upfront-header {{ orderby == 'post_comments' ? 'active ordered-' + order : '' }}" data-sortby="post_comments"><i class="icon-post-comments"></i> <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
			</div>
			<div class="upfront-list-items upfront-scroll-panel">
				{[ if(!posts.length){ ]}
				<p class="upfront-no-results">{{Upfront.Settings.l10n.global.content.no_posts}}</p>
				{[ } else { ]}
				{[ _.each(posts, function (post, idx){ ]}
				<div class="upfront-list_item-post upfront-list_item clearfix status-{{ post.get("post_status") }}" data-post_id="{{ post.get("ID") }}">
				<div class="upfront-list_item-component upfront-date post-status-{{ post.get("post_status") }}" title="{[ if(post.get("post_status") == "publish") { ]}Published{[ } else if(post.get("post_status") == "future") { ]}Scheduled{[ } else { ]}Draft{[ } ]}">{[ if(post.get("post_status") == "future") { ]}sched. for{[ } ]}
				{{ Upfront.Util.format_date(post.get("post_date")) }}</div>
			<div class="upfront-list_item-component upfront-title upfront-list_item-main">{{ post.get("post_title") }}</div>
			<div class="upfront-list_item-component upfront-author">{[ if(post.author.get('data')){ ]} {{ post.author.get('data').display_name }} {[ } ]}</div>
			<div class="upfront-list_item-component upfront-comments-count">{{ post.get("comment_count") }}</div>
			<div class="upfront-list_item-component upfront-editactions">
				{[ if (canEdit || (canEditOwn && parseInt(post.get('post_author'), 10) === Upfront.data.currentUser.id)) { ]}
				<a href="/edit/post/{{ post.get("ID") }}" class="editaction edit">
					{{Upfront.Settings.l10n.global.content.edit}}
				</a>{[ } ]}<a href="{{ post.get("permalink") }}" class="editaction view">
					{{Upfront.Settings.l10n.global.content.view}}
				</a>{[ if (canEdit || (canEditOwn && parseInt(post.get('post_author'), 10) === Upfront.data.currentUser.id)) { ]}<a href="#" class="editaction trash">
					{{Upfront.Settings.l10n.global.content.trash}}
				</a>
				{[ } ]}
			</div>
		</div>
		{[ }); } ]}
		</div>
		</div>
	</script>

	<script type="text/template" type="text/template" id="upfront-post-single-tpl">
		<div id="upfront-list-page" style="display:none">
			<div id="upfront-list-page-path">
				<a href="#" class="upfront-path-back">{{Upfront.Settings.l10n.global.content.posts}}</a> &nbsp;&raquo;&nbsp;
				<a href="#" class="last">{{ post.get('post_title') }}</a>
			</div>
			<div id="upfront-list-page-preview">
				<div id="upfront-page_preview-wrapper">
					<div id="upfront-page_preview-featured_image" class="upfront-page_preview-item">
						<h4>Featured Image: </h4>
						<div class="upfront-thumbnailinfo">{{Upfront.Settings.l10n.global.content.loading}}</div>
						<img src="{{post.featuredImage }}" style="{{post.featuredImage ? '' : 'display:none'}}" />
						<div class="upfront-page_preview-edit_feature"><a href="#">{{Upfront.Settings.l10n.global.content.edit}} <i class="icon-pencil"></i></a></div>
					</div>
					<div class="upfront-page_preview-bottom" id="upfront-page_preview-edit">
						<button type="button"><i class="icon-pencil"></i> {{Upfront.Settings.l10n.global.content.edit_post}}</button>
					</div>
				</div>
			</div>
			<div id="upfront-list-page-tree" class="upfront-scroll-panel">
				<div class="upfront-post_content-wrapper">
					<div class="upfront-post_content">
						<h3>{{ post.get('post_title') }}</h3>
						{{ post.get('post_content') }}
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="upfront-page-list-old-tpl">
		<div id="upfront-list-page" class="bordered-bottom clearfix">
			<div id="upfront-list-page-path"></div>
			<div id="upfront-list-page-preview">
				<div id="upfront-page_preview-wrapper">
					<h4>{{Upfront.Settings.l10n.global.content.select_page}}</h4>
				</div>
			</div>
			<div id="upfront-list-page-tree" class="upfront-list-items upfront-scroll-panel">
				{[ _.each(pages, function (page){ ]}
				{{ pageItemTemplate({page: page, pageItemTemplate: pageItemTemplate}) }}
				{[ }); ]}
			</div>
		</div>
	</script>

	<script type="text/template"  id="upfront-page-list-item-tpl">
		<div class="upfront-list-page_item {{ page.children.length ? 'has_children closed' : '' }}" id="upfront-list-page_item-{{ page.get("ID") }}" data-post_id="{{ page.get("ID") }}">
		{[if(page.children.length){ ]}
		<i class="icon-caret-right"></i>
		<i class="icon-caret-down"></i>
		{[ } ]}
		{{ page.get("post_title") }}
		{[if(page.children.length){ page.children.each(function(child, idx) { ]}
		{{ pageItemTemplate({page: child, pageItemTemplate: pageItemTemplate}) }}
		{[ })}; ]}
		</div>
	</script>


	<script type="text/template" id="upfront-page-list-tpl">
		<div id="upfront-list">
			<div id="upfront-list-meta" class="upfront-list_item clearfix">
				<div class="upfront-list_item-component upfront-date upfront-header {{ orderby == 'post_date' ? 'active ordered-' + order : '' }}" data-sortby="post_date">{{Upfront.Settings.l10n.global.content.date}} <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-title upfront-header {{ orderby == 'post_title' ? 'active ordered-' + order : '' }}"  data-sortby="post_title">Page Title <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-author upfront-header {{ orderby == 'post_author' ? 'active ordered-' + order : '' }}" data-sortby="post_author">Author <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-comments-count upfront-header {{ orderby == 'post_comments' ? 'active ordered-' + order : '' }}" data-sortby="post_comments"><i class="icon-post-comments"></i> <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
			</div>
			<div class="upfront-list-items upfront-scroll-panel">
				{[ if(!pages.length){ ]}
				<p class="upfront-no-results">{{Upfront.Settings.l10n.global.content.no_posts}}</p>
				{[ } else { ]}
				{[ _.each(pages, function (post){ ]}
				<div class="upfront-list_item-post upfront-list_item clearfix status-{{ post.get("post_status") }}" data-post_id="{{ post.get("ID") }}">
				<div class="upfront-list_item-component upfront-date post-status-{{ post.get("post_status") }}" title="{[ if(post.get("post_status") == "publish") { ]}Published{[ } else if(post.get("post_status") == "future") { ]}Scheduled{[ } else { ]}Draft{[ } ]}">{[ if(post.get("post_status") == "future") { ]}sched. for{[ } ]}
				{{ Upfront.Util.format_date(post.get("post_date")) }}</div>
			<div class="upfront-list_item-component upfront-title upfront-list_item-main">{{ post.get("post_title") }}</div>
			<div class="upfront-list_item-component upfront-author">{[ if(post.author.get('data')){ ]} {{ post.author.get('data').display_name }} {[ } ]}</div>
			<div class="upfront-list_item-component upfront-comments-count">{{ post.get("comment_count") }}</div>
			<div class="upfront-list_item-component upfront-editactions">
				{[ if (canEdit || (canEditOwn && parseInt(post.get('post_author'), 10) === Upfront.data.currentUser.id)) { ]}
				<a href="/edit/page/{{ post.get("ID") }}" class="editaction edit">
					{{Upfront.Settings.l10n.global.content.edit}}
				</a>{[ } ]}<a href="{{ post.get("permalink") }}" class="editaction view">
					{{Upfront.Settings.l10n.global.content.view}}
				</a>{[ if (canEdit || (canEditOwn && parseInt(post.get('post_author'), 10) === Upfront.data.currentUser.id)) { ]}<a href="#" class="editaction trash">
					{{Upfront.Settings.l10n.global.content.trash}}
				</a>
				{[ } ]}
			</div>
		</div>
		{[ }); } ]}
		</div>
		</div>
	</script>



	<script type="text/template" id="upfront-page-preview-tpl">
		<div id="upfront-page_preview-wrapper" class="upfront-scroll-panel">
			<div id="upfront-page_preview-featured_image" class="upfront-page_preview-item">
				<h4>{{Upfront.Settings.l10n.global.content.featured_image}}: </h4>
				<div class="upfront-thumbnailinfo" style="{{page.thumbnail ? 'display:none' : ''}}">Loading...</div>
				<img src="{{page.thumbnail }}" style="{{page.thumbnail ? '' : 'display:none'}}" />
				<div class="upfront-page_preview-edit_feature"><a href="#">{{Upfront.Settings.l10n.global.content.edit}} <i class="icon-pencil"></i></a></div>
			</div>
			<div id="upfront-page_preview-template" class="upfront-page_preview-item">
				<h4>{{Upfront.Settings.l10n.global.content.template}}: </h4>
				<select id="upfront-page_template-select">
					<option value="0">{{Upfront.Settings.l10n.global.content.default_opt}}</option>
					{[ _.each(allTemplates, function(tpl, name){ var selected = tpl == template ? 'selected="selected"' : ""; ]}
					<option value="{{tpl}}" {{selected}}>{{name}}</option>
					{[ }) ]}
				</select>
			</div>
			<div id="upfront-page_preview-edit">
				<button type="button"><i class="icon-pencil"></i> {{Upfront.Settings.l10n.global.content.edit_page}}</button>
			</div>
		</div>
	</script>

	<script type="text/template"  id="upfront-comments-tpl">
		<div id="upfront-list" class="upfront-list-comments clearfix bordered-bottom">
			{[ if(!comments.length){ ]}
			<p class="upfront-no-results">{{Upfront.Settings.l10n.global.content.no_comments}}</p>
			{[ } else { ]}
			<div id="upfront-list-meta" class="upfront-list_item">
				<div class="upfront-list_item-component upfront-comment_author upfront-header {{ orderby == 'comment_author' ? 'active ordered-' + order : '' }}" data-sortby="comment_author">{{Upfront.Settings.l10n.global.content.author}} <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-date upfront-header {{ orderby == 'comment_date' ? 'active ordered-' + order : '' }}" data-sortby="comment_date">{{Upfront.Settings.l10n.global.content.date}} <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
				<div class="upfront-list_item-component upfront-comment_content upfront-header {{ orderby == 'comment_content' ? 'active ordered-' + order : '' }}" data-sortby="comment_content">{{Upfront.Settings.l10n.global.content.comment}} <i class="icon-caret-down">&#9660;</i><i class="icon-caret-up">&#9650;</i></div>
			</div>
			<div class="upfront-list-items upfront-list-comment-items upfront-scroll-panel">

				{[ _.each(comments, function(comment){ ]}
				<div class="upfront-list_item-comment upfront-list_item clearfix" id="upfront-list_item-comment-{{ comment.get("comment_ID") }}" data-comment_id="{{ comment.get("comment_ID") }}">
				{{ commentTpl({comment:comment, excerptLength: excerptLength}) }}
			</div>
			{[ }) ]}
		</div>
		{[ } ]}
		</div>
	</script>

	<script type="text/template"  id="upfront-comment-single-tpl">
		{[ var excerpt = jQuery('<div></div>').html(comment.get('comment_content')).text(); ]}
		<div class="upfront-comment-approved">
			{[ if(comment.get("comment_approved") === '0'){ ]}
			<i class="upfront-comments-approve icon-circle-blank" data-comment_id="{{ comment.get("comment_ID") }}"></i>
			{[ } ]}
		</div>
		<div class="upfront-list_item-component upfront-comment_author">
			<img src="{{ Upfront.Util.get_avatar(comment) }}" title="{{comment.get("comment_author")}}" class="avatar" /> {{comment.get("comment_author")}}</div>
		<div class="upfront-list_item-component upfront-date">{{ Upfront.Util.format_date(comment.get("comment_date")) }}</div>
		<div class="upfront-list_item-component upfront-comment_content upfront-comment_excerpt upfront-list_item-main upfront-post_content">{{ excerpt.length > excerptLength ? excerpt.substring(0, excerptLength) + ' [...]' : excerpt }}</div>
		<div class="upfront-list_item-component upfront-comment_content upfront-comment_content-full-wrapper upfront-list_item-main upfront-post_content  upfront-scroll-panel">
			<div class="upfront-comment_content-full upfront-comment_togglable">{{ comment.get("comment_content") }}</div>
			<div class="upfront-comment_edit upfront-comment_togglable" data-comment_id="{{ comment.get('comment_ID') }}">
				<textarea class="comment-edit-box" class="edit" rows="16">{{ comment.get("comment_content") }}</textarea>
				<button type="button" class="comment-edit-ok">{{Upfront.Settings.l10n.global.content.ok}}</button>
				<button type="button" class="comment-edit-cancel">{{Upfront.Settings.l10n.global.content.cancel}}</button>
			</div>
			<div class="upfront-comment_reply upfront-comment_togglable" data-comment_id="{{ comment.get('comment_ID') }}">
				<textarea class="comment-edit-box" class="edit" rows="16" placeholder="Reply here..."></textarea>
				<button type="button" class="comment-reply-ok">{{Upfront.Settings.l10n.global.content.ok}}</button>
				<button type="button" class="comment-reply-cancel">{{Upfront.Settings.l10n.global.content.cancel}}</button>
			</div>
		</div>
		<div class="upfront-comment_actions-wrapper">
			{[ if(comment.get("comment_approved") !== 'trash'){ ]}
			<a href="#reply" class="reply"><i class="icon-reply"></i> {{Upfront.Settings.l10n.global.content.reply}}</a>
			{[ } ]}
			<a href="#edit" class="edit"><i class="icon-pencil"></i> {{Upfront.Settings.l10n.global.content.edit}}</a>
			{[ if(comment.get("comment_approved") === '0'){ ]}
			<a href="#approve" class="approve"><i class="icon-ok"></i> {{Upfront.Settings.l10n.global.content.approve}}</a>
			{[ } else if(comment.get("comment_approved") === '1'){ ]}
			<a href="#unapprove" class="unapprove"><i class="icon-circle-blank"></i> {{Upfront.Settings.l10n.global.content.unapprove}}</a>
			{[ } if(comment.get("comment_approved") === 'spam'){ ]}
			<a href="#unspam" class="unspam"><i class="icon-comment-alt"></i> {{Upfront.Settings.l10n.global.content.unspam}}</a>
			{[ } else if(comment.get("comment_approved") !== 'trash') { ]}
			<a href="#spam" class="spam"><i class="icon-ban-circle"></i> {{Upfront.Settings.l10n.global.content.spam}}</a>
			{[ } if(comment.get("comment_approved") === 'trash'){ ]}
			<a href="#unthrash" class="unthrash"><i class="icon-comment"></i> {{Upfront.Settings.l10n.global.content.untrash}}</a>
			{[ } else { ]}
			<a href="#thrash" class="thrash"><i class="icon-remove"></i> {{Upfront.Settings.l10n.global.content.trash}}</a>
			{[ } ]}
		</div>
	</script>

	<script type="text/template" id="upfront-slug-tpl">
		<div class="upfront-slug_editor">
			<div class="upfront-slug_editor-title">{{Upfront.Settings.l10n.global.content.edit_post_url}}</div>
			<p class="upfront-slug_editor-info">{{Upfront.Settings.l10n.global.content.post_url_info}}</p>
			<p class="upfront-slug_editor-url">
				{{ rootURL }}
				<input type="text" id="upfront-post_slug" value	="{{ slug }}" />
				<button id="upfront-post_slug-send" value="{{Upfront.Settings.l10n.global.content.ok}}"><i class="icon-ok"></i> {{Upfront.Settings.l10n.global.content.ok}}</button>
			</p>
		</div>
	</script>
	<script type="text/template" id="upfront-pagination-tpl">
		<div id="upfront-entity_list-pagination">
			<a class="upfront-pagination_item upfront-pagination_item-skip upfront-pagination_item-prev"></a>


			<div class="upfront-pagination_navigation">
				<input type="text" class="upfront-pagination_page-current" value="{{currentPage+1}}" /> of <a class="upfront-pagination_page-item" data-idx="{{pages}}">{{pages}}</a>
			</div>

			<a class="upfront-pagination_item upfront-pagination_item-skip upfront-pagination_item-next"></a>

			<small>{{totalElements}} items</small>
		</div>
	</script>

	<script type="text/template" id="upfront-pagination-tpl-old">
		<div id="upfront-entity_list-pagination" data-total="{{ pages }}" data-page_size="{{pageSize}}">
			{[ if(pages > 1) { ]}
			<div class="upfront-pagination_item upfront-pagination_item-skip upfront-pagination_item-prev">

			</div>

			{[ _.each(_.range(pages), function(i){ ]}
			<div class="upfront-pagination_item upfront-pagination_page-item {{ i == currentPage ? 'current' : '' }}" data-page_idx="{{ i }}">{{ i + 1}}</div>
			{[ }) ]}

			<div class="upfront-pagination_item upfront-pagination_item-skip upfront-pagination_item-next">

			</div>
			{[ } ]}
		</div>
	</script>

	<script type="text/template" id="upfront-tabs-tpl">
		<ul class="upfront-tabs">
			{[ _.each(tabs, function(tab){ ]}
			<li data-type="{{tab.id}}" class="{{ tab.id == active ? 'active' : '' }}">{{tab.text}}</li>
			{[ }); ]}
		</ul>
	</script>

	<script type="text/template" id="upfront-search-tpl">
		<div class="search_container clearfix">
			<div id="upfront-search_action" class="search upfront-icon upfront-icon-popup-search"></div>
			<div id="upfront-search_container" style="display:{{ query ? 'block' : 'none' }}">
				<input type="text" id="upfront-list-search_input" value="{{ query ? query : '' }}" />
			</div>
		</div>
	</script>

	<script type="text/template" id="upfront-notifier-tpl">
		<div id="upfront-notifier">
			<div id="upfront-notice"></div>
		</div>
	</script>

	<script type="text/template" id="selector-post_type-tpl">
		{[if(postTypes.length > 1){ ]}
		<div id="upfront-selector-post_type">
			{{Upfront.Settings.l10n.global.views.select_post_type}}
			<div class="upfront-field-select">
				<div class="upfront-field-select-value">{{postTypes[0].label}}</div>
				<ul class="upfront-field-select-options">
					{[ _.each(postTypes, function(type){ ]}
					<li class="upfront-field-select-option upfront-selector-option" rel="{{ type.name }}">
						{{ type.label }}
					</li>
					{[ }); ]}
				</ul>
			</div>
		</div>
		{[ } ]}
		<div id="upfront-selector-posts" class="upfront-scroll-panel">

		</div>
	</script>
	<script type="text/template" id="selector-post-tpl">
		<table id="upfront-list" class="upfront-list-items">
			{[ _.each(posts, function(post){ ]}
			<tr class="upfront-selector-post upfront-list_item" rel="{{post.id}}">
				<td class="upfront-selector-post-checked upfront-list_item-component"></td>
				<td class="upfront-selector-post-title upfront-list_item-component upfront-list_item-main">{{post.get('post_title')}}</td>
				<td class="upfront-selector-post-date upfront-list_item-component">{{ Upfront.Util.format_date(post.get('post_date'), false) }}</td>
			</tr>
			{[ }) ]}
		</table>
	</script>


	<script type="text/template" id="datepicker-tpl">
		<div class="upfront-date_picker upfront-ui">
			<div class="upfront-bar-datepicker">
			</div>
			<div class="upfront-time_picker">
				Time:
				<select class="ueditor-hours-select">
					{[ _.each(hours, function(h){ ]}
					<option value="{{h}}" {{h == currentHour ? 'selected=\'selected\'' : ''}} >{{h}}</option>
					{[ }); ]}
				</select>:
				<select class="ueditor-minutes-select">
					{[ _.each(minutes, function(m){ ]}
					<option value="{{m}}" {{m == currentMinute ? 'selected=\'selected\'' : ''}} >{{m}}</option>
					{[ }); ]}
				</select>
			</div>
			<div class="ueditor-datepicker-buttons">
				<a class="ueditor-action-pickercancel">Cancel</a>
				<a class="ueditor-action-pickerok button small-button">Ok</a>
			</div>
		</div>
	</script>

	<script type="text/template" id="microselect-tpl">
		<div class="ueditor-select-options">
			{[ _.each(options, function(option){ ]}
			<a class="ueditor-select-option ueditor-action-status" data-id="{{option.value}}">{{option.name}}</a>
			{[ }); ]}
		</div>
		<input type="text" class="ueditor-select-focus">
	</script>

	<script id="csseditor-tpl" type="text/template">
		<div class="upfront-css-resizable">
			<div class="upfront-css-top">
				{[ if (elementType) { ]}
				<span class="upfront-css-type">{{ elementType }} Element</span>
				{[ } ]}
				{[ if (showToolbar) { ]}
				<div id="insert-font-widget" class="upfront-icon">
					<a class="upfront-css-font" href="#">{{Upfront.Settings.l10n.global.content.insert_font}}</a>
				</div>
				<a class="upfront-css-theme_image upfront-css-image" href="#">{{Upfront.Settings.l10n.global.content.insert_theme_image}}</a>
				<a class="upfront-css-media_image upfront-css-image" href="#">{{Upfront.Settings.l10n.global.content.insert_image}}</a>
				<span class="upfront-css-color"></span>
				{[ } ]}
				<a class="upfront-css-close" href="#">close</a>
			</div>
			<div class="upfront-css-body">
				<div class="upfront-css-ace"></div>
				<div class="upfront-css-sidebar">
					{[ if (selectors) { ]}
					<div class="upfront-css-selectors upfront-scroll-panel">
						<p>{{Upfront.Settings.l10n.global.content.available_element_selectors}}</p>
						{[ _.each(selectors, function(data, s){ ]}
						<span class="upfront-css-selector" title="{{ data.info }}" data-selector="{{ s }}">{{data.label}}</span>
						{[ }); ]}
						{[ if (elementType) { ]}
						{{ _.size(selectors) ? '' : 'No selectors available for the ' + elementType.toLowerCase() + ' element.'}}
						{[ } ]}
					</div>
					{[ } ]}
					<div class="upfront-css-save-form">
						{[ if (show_style_name) { ]}
						<p>{{Upfront.Settings.l10n.global.views.style_name}}</p>
						<input type="text" class="upfront-css-save-name-field" value="{{ name }}">
						{[ } ]}
						<button class="upfront-css-save-ok">{{Upfront.Settings.l10n.global.content.save}}</button>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script id="icon-fonts-manager-tpl" type="text/template">
		<div class="manage-icon-fonts">
			<div class="fonts-manager-panel-title">
				{{Upfront.Settings.l10n.global.content.choose_icon_fonts}}
			</div>
			<div class="icon-fonts-list">
				{[ _.each(fonts, function(font) { ]}
				<div data-family="{{ font.get('family') }}" class="icon-fonts-list-item {[ if (font.get('active')) { ]}icon-fonts-list-item-active{[ } ]}">
					{{ font.get('name') }}{[ if (font.getUploadStatus() !== true) { ]} <span class="icon-font-upload-status" title="{{ font.getUploadStatus() }}">*</span>{[ } ]}
					{[ _.each((font.get("files") || []), function (fname, fidx) { ]}
						<div class="font-filename" data-name="{{fname}}" data-idx="{{fidx}}">
							{{fname}}
						{[ if ("theme-defined" === font.get("type")) { ]}
							<a href="#remove">&times;</a>
						{[ } ]}
						</div>
					{[ });]}
				</div>
				{[ }); ]}
			</div>
		{[ if(Upfront.themeExporter && location.pathname.match(/\/create_new\/theme/) === null) { ]}
			<div class="icon-fonts-message"><i></i>{{Upfront.Settings.l10n.global.views.icon_font_type_recommendation}}</div>
			<div class="upload-icon-font">{{Upfront.Settings.l10n.global.views.upload_icon_font}}</div>
			<form style="display: none" id="upfront-upload-icon-font" name="upfront-upload-icon-font" enctype="multipart/form-data" method="post" action="{{url}}" data-url="{{url}}?action=upfront-upload-icon-font">
				<input type="file" accept=".eot,.woff,.woff2,.ttf,.svg" name="media" id="upfront-icon-font-input">
				<input type="hidden" name="action" value="upfront-upload-icon-font">
				<input type="submit" value="Upload">
			</form>
		{[ } ]}
		</div>
		<div class="preview-icon-fonts">
			<div class="fonts-manager-panel-title">
				{{Upfront.Settings.l10n.global.content.icon_font_icons_preview}}
			</div>
			<div class="icon-font-icons-preview">
				<div class="icon-font-icon-preview uf_font_icon" title="A">A</div>
				<div class="icon-font-icon-preview uf_font_icon" title="B">B</div>
				<div class="icon-font-icon-preview uf_font_icon" title="C">C</div>
				<div class="icon-font-icon-preview uf_font_icon" title="D">D</div>
				<div class="icon-font-icon-preview uf_font_icon" title="E">E</div>
				<div class="icon-font-icon-preview uf_font_icon" title="F">F</div>
				<div class="icon-font-icon-preview uf_font_icon" title="G">G</div>
				<div class="icon-font-icon-preview uf_font_icon" title="H">H</div>
				<div class="icon-font-icon-preview uf_font_icon" title="I">I</div>
				<div class="icon-font-icon-preview uf_font_icon" title="J">J</div>
				<div class="icon-font-icon-preview uf_font_icon" title="K">K</div>
				<div class="icon-font-icon-preview uf_font_icon" title="L">L</div>
				<div class="icon-font-icon-preview uf_font_icon" title="M">M</div>
				<div class="icon-font-icon-preview uf_font_icon" title="N">N</div>
				<div class="icon-font-icon-preview uf_font_icon" title="O">O</div>
				<div class="icon-font-icon-preview uf_font_icon" title="P">P</div>
				<div class="icon-font-icon-preview uf_font_icon" title="Q">Q</div>
				<div class="icon-font-icon-preview uf_font_icon" title="R">R</div>
				<div class="icon-font-icon-preview uf_font_icon" title="S">S</div>
				<div class="icon-font-icon-preview uf_font_icon" title="T">T</div>
				<div class="icon-font-icon-preview uf_font_icon" title="U">U</div>
				<div class="icon-font-icon-preview uf_font_icon" title="V">V</div>
				<div class="icon-font-icon-preview uf_font_icon" title="W">W</div>
				<div class="icon-font-icon-preview uf_font_icon" title="X">X</div>
				<div class="icon-font-icon-preview uf_font_icon" title="Y">Y</div>
				<div class="icon-font-icon-preview uf_font_icon" title="Z">Z</div>
				<div class="icon-font-icon-preview uf_font_icon" title="a">a</div>
				<div class="icon-font-icon-preview uf_font_icon" title="b">b</div>
				<div class="icon-font-icon-preview uf_font_icon" title="c">c</div>
				<div class="icon-font-icon-preview uf_font_icon" title="d">d</div>
				<div class="icon-font-icon-preview uf_font_icon" title="e">e</div>
				<div class="icon-font-icon-preview uf_font_icon" title="f">f</div>
				<div class="icon-font-icon-preview uf_font_icon" title="g">g</div>
				<div class="icon-font-icon-preview uf_font_icon" title="h">h</div>
				<div class="icon-font-icon-preview uf_font_icon" title="i">i</div>
				<div class="icon-font-icon-preview uf_font_icon" title="j">j</div>
				<div class="icon-font-icon-preview uf_font_icon" title="k">k</div>
				<div class="icon-font-icon-preview uf_font_icon" title="l">l</div>
				<div class="icon-font-icon-preview uf_font_icon" title="m">m</div>
				<div class="icon-font-icon-preview uf_font_icon" title="n">n</div>
				<div class="icon-font-icon-preview uf_font_icon" title="o">o</div>
				<div class="icon-font-icon-preview uf_font_icon" title="p">p</div>
				<div class="icon-font-icon-preview uf_font_icon" title="q">q</div>
				<div class="icon-font-icon-preview uf_font_icon" title="r">r</div>
				<div class="icon-font-icon-preview uf_font_icon" title="s">s</div>
				<div class="icon-font-icon-preview uf_font_icon" title="t">t</div>
				<div class="icon-font-icon-preview uf_font_icon" title="u">u</div>
				<div class="icon-font-icon-preview uf_font_icon" title="v">v</div>
				<div class="icon-font-icon-preview uf_font_icon" title="w">w</div>
				<div class="icon-font-icon-preview uf_font_icon" title="x">x</div>
				<div class="icon-font-icon-preview uf_font_icon" title="y">y</div>
				<div class="icon-font-icon-preview uf_font_icon" title="z">z</div>
			</div>
		</div>
	</script>

	<script id="text-fonts-manager-tpl" type="text/template">
		<div class="add-font-panel panel">
			<div class="loading-fonts">{{Upfront.Settings.l10n.global.content.loading_fonts}}</div>
			<div class="font-weights-list">
				<div class="font-weights-list-wrapper">
					<div class="fonts-manager-panel-title">
						{{Upfront.Settings.l10n.global.content.choose_typeface}}
					</div>
					{[ if (show_no_styles_notice) { ]}
					<div class="fonts-weights-notice-text">
						{{Upfront.Settings.l10n.global.content.typeface_info_text}}
					</div>
					{[ } ]}
				</div>
			</div>
			<span class="add-font-button">Add &raquo;</span>
		</div>
	</script>

	<script id="theme-fonts-panel" type="text/template">
		<h3 class="panel-title">{{Upfront.Settings.l10n.global.content.theme_font_styles}}</h3>
		<div class="font-list">
			{[ if (show_no_styles_notice) { ]}
			<div class="fonts-manager-panel-title">{{Upfront.Settings.l10n.global.content.no_fonts_added}}</div>
			{[ } ]}
		</div>
		<div class="font-stats">
		</div>
	</script>

	<script id="theme-font-list-item" type="text/template">
		{{ family }} ({{ variant }})<span class="delete upfront-icon"></span>
	</script>

	<script id="save-dialog-tpl" type="text/template">
		<div id="upfront-save-dialog">
			<p>{{ question }}</p>
			<span class="upfront-save-button" data-save-as="this-post">{{ thisPostButton }}</span>
			<span class="upfront-save-button" data-save-as="all-posts">{{ allPostsButton }}</span>
		</div>
	</script>


	<!-- end of the wrap div -->
</div>
