<div class="upfront-grid-layout">
	<div class="upfront-grid-layout-gutter">
		<div class="upfront-grid-layout-gutter-left"></div>
		<div class="upfront-grid-layout-gutter-right"></div>
	</div>
	<div class="upfront-region-finish-edit upfront-ui">
		<i class="upfront-field-icon upfront-field-icon-tick"></i> Finish editing background
	</div>
</div>
<div class="upfront-region-edit-trigger tooltip tooltip-left upfront-ui" data-tooltip="Change Background">
	<i class="upfront-icon upfront-icon-region-edit"></i>
</div>