<div>
<!-- 
	Wrap everything in a div to convert this file's content in a jquery element 
	so it is possible to use $.find.
-->
<script type="text/template" id="upfront-region-bg-setting">
	<div class="upfront-region-bg-setting-region-global"></div>
	<div class="upfront-region-bg-setting-region-type">
		<div class="upfront-region-bg-setting-label">Area Type</div>
	</div>
	<div class="upfront-region-bg-setting-region-nav">
		<div class="upfront-region-bg-setting-label">Include area for navigation</div>
	</div>
	<div class="upfront-region-bg-setting-type">
		<div class="upfront-region-bg-setting-label">Background Type</div>
	</div>
	<div class="upfront-region-bg-setting-tab upfront-region-bg-setting-tab-color"></div>
	<div class="upfront-region-bg-setting-tab upfront-region-bg-setting-tab-image"></div>
	<div class="upfront-region-bg-setting-tab upfront-region-bg-setting-tab-slider"></div>
	<div class="upfront-region-bg-setting-tab upfront-region-bg-setting-tab-map"></div>
	<div class="upfront-region-bg-setting-tab upfront-region-bg-setting-tab-video"></div>
	<div class="upfront-region-bg-setting-footer clearfix">
		<div class="upfront-region-bg-setting-auto-resize"></div>
		<div class="upfront-region-bg-setting-change-image">
			<i class="upfront-field-icon upfront-region-field-icon upfront-region-field-icon-bg-image-change"></i> Use different image
		</div>
	</div>
</script>

<script type="text/template" id="upfront-region-bg-setting-tab">
	<div class="upfront-region-bg-setting-tab-primary"></div>
	<div class="upfront-region-bg-setting-tab-secondary"></div>
</script>

<script type="text/template" id="upfront-region-bg-setting-tab-color">
	<div class="upfront-region-bg-setting-tab-primary">
		<div class="upfront-region-bg-setting-label">Pick Color</div>
	</div>
	<div class="upfront-region-bg-setting-tab-secondary"></div>
</script>

<script type="text/template" id="upfront-region-bg-setting-tab-image">
	<div class="upfront-region-bg-setting-tab-primary">
		<div class="upfront-region-bg-setting-label">Image Variation</div>
	</div>
	<div class="upfront-region-bg-setting-tab-secondary"></div>
</script>

<script type="text/template" id="upfront-region-bg-setting-tab-slider">
	<div class="upfront-region-bg-setting-tab-primary">
		<div class="upfront-region-bg-setting-label">Slider Transition</div>
	</div>
	<div class="upfront-region-bg-setting-tab-secondary"></div>
</script>


<script type="text/template" id="upfront-region-bg-setting-tab-video">
	<div class="upfront-region-bg-setting-tab-primary">
		<div class="upfront-region-bg-setting-label">&nbsp;</div>
	</div>
	<div class="upfront-region-bg-setting-tab-secondary"></div>
</script>

</div>