<div class="panel-setting-item">
	<div class="panel-setting-sub-label">Background:</div>
	<div class="panel-setting-background clearfix">
		<input type="text" id="region-bg-color" name="color" />
		<a href="#" id="region-bg-image-upload" class="panel-setting-button upfront-icon upfront-icon-edit thickbox">Upload Image</a>
		<a href="#" id="region-bg-image-edit" class="panel-setting-button upfront-icon upfront-icon-edit" style="display: none;">Edit Image</a>
	</div>
	<div class="panel-setting-background-more">
		<div class="background-image-wrap"></div>
		<div class="panel-setting-sub-label">Background Image Position:</div>
		<div class="panel-setting-background-position">
			<div class="background-position-select">
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="left top" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="center top" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="right top" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="left center" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="center" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="right center" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="left bottom" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="center bottom" /></span>
				<span class="position-select-wrap"><input type="radio" class="position-select" name="position" value="right bottom" /></span>
			</div>
			<div class="or-round">or</div>
			<div class="background-tile-select">
				<label class="tile-select-wrap"><input type="checkbox" class="tile-select" name="tile" value="repeat-x" />Tile Horizontally</label>
				<label class="tile-select-wrap"><input type="checkbox" class="tile-select" name="tile" value="repeat-y" />Tile Vertically</label>
				<label class="tile-select-wrap"><input type="checkbox" class="tile-select" name="tile" value="fill" />Fill the Space</label>
			</div>
		</div>
	</div>
</div>