<b class="upfront-wrapper-meta upfront-wrapper-meta-left upfront-ui upfront-resize-handle-wrapper upfront-resize-handle-wrapper-w ui-resizable-handle ui-resizable-w">
	<a href="#" class="upfront-icon-button upfront-icon-button-add-spacer upfront-add-spacer" data-position="left" title="Add spacer"></a>
</b>
<b class="upfront-wrapper-meta upfront-wrapper-meta-right upfront-ui upfront-resize-handle-wrapper upfront-resize-handle-wrapper-e ui-resizable-handle ui-resizable-e">
	<a href="#" class="upfront-icon-button upfront-icon-button-add-spacer upfront-add-spacer" data-position="right" title="Add spacer"></a>
</b>
