.upfront-editable_entity .ufm-gmap-container img {
  max-width: none !important;
  max-height: none !important;
}
.upfront_map-fields-simple_location .upfront-field-wrap-text {
	float: left;
	width: 80%;
}
.upfront_map-fields-simple_location .upfront-field-wrap-refresh button {
	width: 24px;
	height: 30px;
	border: none;
	background: none;
	padding: 0;
}
#settings .upfront-settings-item-maps_element-location .upfront-settings-item {
	border: none;
	padding-right: 0;
}
#settings .ufpront-maps_element-settings_panel .upfront-settings_panel {
	width: 180px;
}
#settings .ufpront-maps_element-settings_panel .upfront-settings_panel .upfront-settings_panel_scroll {
	min-width: 180px;
}

.ufm-context-menu{
background:white;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.ufm-context-menu-item{
padding:0px 10px;
}

.ufm-context-menu-item:hover{
background:#f0f0f0;
}

.ufm-context-menu .ufm-context-menu-item:first-child{
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
.ufm-context-menu .ufm-context-menu-item:last-child{
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.ufm-map-marker-select{
position:absolute;
background:white;
border:1px solid #cccccc;
padding:10px;
}

.ufm-map-marker-select .marker-url label{
display: block;
line-height: 20px;
}

.ufm-map-marker-select .marker-url [name="marker-url"]{
width:100%;
height:44px;
}

.ufm-map-marker-select .marker-url{
margin-top: 10px;
}

.ufm-marker-demo{
width:38px;
height:38px;
line-height: 35px;
border:1px solid transparent;

text-align:center;
display:inline-block;
}
.ufm-marker-demo img{
display:inline-block;
vertical-align: middle;
}
.ufm-marker-demo:hover{
border: 1px solid #cccccc;
cursor: pointer;
}
.ufm-marker-demo.ufm-current{
border: 1px dashed #cccccc;
}
.ufm-marker-demo.ufm-current:hover{
border: 1px solid red;
}



.ufm-rounded{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


/* override upfront styles that cause visual google maps bugs */
.upfront-map_module .upfront-editable_entity img {
max-width: none;
}

.marker-imgs{
max-height:120px;
overflow-x: auto;
}

/* triagnle pointer */
.ufm-map-marker-select{
position: relative;
}
.ufm-map-marker-select:after{
content: '';
display: block;
position: absolute;
top: -20px;
left: 159px;
width: 0;
height: 0;
border-color: transparent transparent #ffffff transparent;
border-style: solid;
border-width: 10px;
}

.ufm-map-marker-select:before{
content: '';
display: block;
position: absolute;
top: -23px;
left: 158px;
width: 0;
height: 0;
border-color: transparent transparent #cccccc transparent;
border-style: solid;
border-width: 11px;
}

.ufm-map-main img {
	height: auto;
	width: auto;
}

/* initial experience layout */

#upfront_map-location_overlay-wrapper, #upfront_map-location_overlay {
	background:rgb(227, 227, 220);
	color:#fff;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align:center;
	font-size:24px;
	line-height: 80%;
	font-weight: 300;
}

#upfront_map-location_overlay {
	height: 160px;
	padding:15px;
}
#upfront_map-location_overlay-location {
	background:rgb(201,201,195);
	font-size: 0.8em;
	width:80%;
}
#upfront_map-location_overlay-use_location {
	width:10%;
	background-color: transparent;
}

#upfront_map-location_overlay-location , #upfront_map-location_overlay-use_location {
	display: inline-block;
	margin:0;
}

#upfront_map-location_overlay-address {
	margin:0 auto;
	max-width:400px;
}

#upfront_map-location_overlay-use_current {
	background:transparent;
	color:#395269;
	text-decoration: underline;
	font-size: 0.8em;
	padding:0;
	margin:0;
}