.draggable-checkbox {
	margin-right: 25px;
}

.custom-map-code {
	margin-top: -1px;
}

.map_location {
	margin-top: 10px;
}

.map-style, .map-zoom-level {
	width: 225px;
}


.upfront_map-fields-simple_location .upfront-field-wrap-refresh button {
	background: rgb(251, 251, 251) !important;
	border: 1px solid rgb(169, 169, 169);
	border-left: none;
	height: 22px;
	display: inline-block;
	width: 30px;
}

.upfront_map-fields-simple_location .upfront-field-wrap-refresh button img {
	opacity: 0.7;
	width: 15px;
	margin-top: 2px;
}

#upfront_map-location_overlay-use_location {
	right: 25px;
}