.uslider-texts {
	position: relative;
}

.uslide-text {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-ms-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
}

div.uslide-text-current {
	opacity:1;
	z-index: 1;
	position: static;
}

.uslides {
	z-index: 1;
}

.uslides .upfront-default-slider-wrap {
	overflow: visible;
}

.uslider-topOver .uslider-texts,
.uslider-bottomOver .uslider-texts,
.uslider-bottomCover .uslider-texts,
.uslider-middleCover .uslider-texts,
.uslider-topCover .uslider-texts {
	position:absolute;
	width: 100%;
	z-index:1;
}

.uslider .uimage-controls {
	z-index: 3;
}

.uslides .uslider-texts {
	position:absolute;
	width: 100%;
	z-index:1;	
}

.uslide-text {
	width: 100%;
}

.upfront-default-slider-nav,
.upfront-default-slider-nav-prev,
.upfront-default-slider-nav-next {
	z-index: 2;
}

.upfront-editing .upfront-default-slider-nav,
.upfront-editing .upfront-default-slider-nav-prev,
.upfront-editing .upfront-default-slider-nav-next {
	display: none;
}

.uslides .uslide-text {
	padding: 15px;
}

.uslider-bottomOver .uslider-texts,
.uslider-bottomOver .uslide-text {
	bottom: 0;
	top: auto;
}

.uslider-bottomCover .uslider-texts,
.uslider-middleCover .uslider-texts,
.uslider-topCover .uslider-texts {
	height: 100%;
}

.uslider-bottomCover .uslide-text,
.uslider-middleCover .uslide-text,
.uslider-topCover .uslide-text {
	height: 100%;
}
.uslider-bottomCover .uslide-text:before,
.uslider-middleCover .uslide-text:before,
.uslider-topCover .uslide-text:before {
	height: 100%;
	content: ' ';
	width: 1px;
	margin-right: -0.25em;
	display: inline-block;
	vertical-align: middle
}

.uslider-bottomCover .uslide-editable-text,
.uslider-middleCover .uslide-editable-text,
.uslider-topCover .uslide-editable-text,
.uslider-bottomCover .redactor_box,
.uslider-middleCover .redactor_box,
.uslider-topCover .redactor_box {
	width:99%;
	display: inline-block;
}

.uslider-bottomCover .uslide-editable-text,
.uslider-bottomCover .redactor_box {
	vertical-align: bottom;
}
.uslider-middleCover .uslide-editable-text,
.uslider-middleCover .redactor_box {
	vertical-align: middle;
}
.uslider-topCover .uslide-editable-text,
.uslider-topCover .redactor_box {
	vertical-align: top;
}

.uslider-right .uslide-text {
	padding-left: 15px;
}

.tooltip-open .uimage-controls{
	display: block !important;
}

div.uslide-image img {
	position: static;
}

.uslider .ui-resizable-handle {
	display: none;
}

.uslider .ui-resizable-handle.ui-resizable-e {
	background: #3f5870;
	border: 1px solid #A1C5E6;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin: auto;
	top: 0;
	bottom: 0;
	right: -16px;
	opacity: .9;
}

.uslider .ui-resizable-handle.ui-resizable-e:hover {
	opacity: 1;
}

.uslides.ui-resizable {
	border-right: 1px solid #3f5870;
}