/*
#settings .upfront-settings-item:last-child {
    border-bottom: 0px solid #DEE3E3;
    padding: 5px 5px 0em;
}
*/

#settings .upfront-settings_panel ul.uslider-slides-thumbs {
	width: 210px; height: 190px; overflow: scroll;
}

#settings .upfront-settings_panel ul.uslider-slides-thumbs li.uslider-slide-item {
	margin: 3px; padding: 0; width: 40px; height: 40px; float: left; border: 1px solid transparent;
}

#settings .upfront-settings_panel ul.uslider-slides-thumbs li.uslider-slide-item.uslider-slide-item-delete {
	border: 1px solid #FF0000;
}

#settings .upfront-settings_panel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#settings .upfront-settings_panel ul li {
	list-style: none;
	margin: 0 0 5px 0;
	padding: 0;
}

#settings .upfront-settings_panel ul.uslider-slides-thumbs li.uslider-slide-item a {
	cursor: move; display: block; width: 40px; height: 40px;
	
}

#settings .upfront-settings_panel ul.uslider-slides-thumbs li.uslider-slide-item a img {
	width: 40px; border: 0px solid #CCC;
}

#settings .upfront-settings_panel ul.uslider-slides-thumbs li.uslider-slide-item .meta {
	display:none
}

/*
#settings .upfront-settings_panel ul.uslider-slides-admin {
	border: 1px solid red;
}
*/

/* Styles for the Slider edit modal dialog */
#uslider-slide-edit-dialog-form table {
	width: 100%;
}

#uslider-slide-edit-dialog-form table td {
	padding: 10px;
}

#uslider-slide-edit-dialog-form table td.uslider-slide-image-col {
	width: 40%;
}

#uslider-slide-edit-dialog-form table td.uslider-slide-info-col {
	width: 60%;
}

#uslider-slide-edit-dialog-form label {
	display: block;
	width: 100%;
}

#uslider-slide-edit-dialog-form input[type="text"] {
	display: block;
	width: 100%;
}

#uslider-slide-edit-dialog-form textarea {
	display: block;
	width: 100%;
	height: 140px;
}

#uslider-slide-edit-dialog-form img#uslider-slide-image-thumb {
	width: 100px;
}

.uslider-frame .media-sidebar label.setting,
.uslider-frame .media-sidebar .compat-item {
	display: none;
}

.uslider-frame #uslider-editor h3 {
	margin-top: 10px;
}

.uslider-frame #uslider-editor label.setting{
	display: block;
}

.uslider_content_slide {
	border:2px solid transparent;
	cursor: pointer;
	opacity: 0.8;
}

.uslider_content_slide:hover {
	border-color: #ccc;
	opacity: 1;
}

.uslider_content_imgslide {
	width:40%;
	margin-left:5%;
	float:left;
}

.uslider_content_imgslide img{
	width: 100%;
}

.slide-selected {
	border-color: #4cd285;
	opacity: 1;
}
.uslider_content_slide.slide-selected:hover {
	border-color: #4cd285 ;
}

.uslider_content_buttons {
	clear:both;
}


