.uslider-transition-setting>span{
	margin-right: 10px;
}

.uslider-transition-setting>span:nth-child(2n){
	margin-right: 0;
}

.uslider-controlswhen-setting>span:last-child{
	margin-right: 0;
}

.uslider-rotate-settings .upfront-field-wrap {
	display: inline-block;
	vertical-align: middle;
}


.uslider-rotate-settings{
	padding: 5px 15px 0;
}




.uslider_content_slide {
	border:2px solid transparent;
	cursor: pointer;
	opacity: 0.8;
}

.uslider_content_slide:hover {
	border-color: #ccc;
	opacity: 1;
	background: #DAE7F2;
}

.uslider_content_imgslide {
	width:44%;
	margin-left:5%;
	float:left;
	height: 60px;
	overflow: hidden;
	margin-bottom: 10px;
}

.uslider_content_imgslide img{
	width: 100%;
}

.slide-selected {
	border-color: #4cd285;
	opacity: 1;
}
.uslider_content_slide.slide-selected:hover {
	border-color: #4cd285 ;
}

.uslider-slides-setting:before,
.uslider-slides-setting:after {
    content: " ";
    display: table; 
}

.uslider-slides-setting:after {
    clear: both;
}

.uslider-slides-setting .upfront-region-bg-slider-add-image {
	width:44%;
	margin-left:5%;
	float:left;
	height: 60px;
	overflow: hidden;
	padding-top: 10px;
}

.uslider-slides-setting .upfront-region-bg-slider-add-image:hover {
	background: #DAE7F2;
}

.uslider-right .uslides {
	float:left;
}
