/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

  article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
  audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
  audio:not([controls]) { display: none; }
  [hidden] { display: none; }

  html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
  body { margin: 0; font-size: 13px; line-height: 1.231; }
  body, button, input, select, textarea { font-family: sans-serif; color: #222; }

  ::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
  ::selection { background: #fe57a1; color: #fff; text-shadow: none; }

  a { color: #00e; }
  a:visited { color: #551a8b; }
  a:hover { color: #06e; }
  a:focus { outline: thin dotted; }
  a:hover, a:active { outline: 0; }

  abbr[title] { border-bottom: 1px dotted; }
  b, strong { font-weight: bold; }
  blockquote { margin: 1em 40px; }
  dfn { font-style: italic; }
  hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
  ins { background: #ff9; color: #000; text-decoration: none; }
  mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
  pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
  pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
  q { quotes: none; }
  q:before, q:after { content: ""; content: none; }
  small { font-size: 85%; }
  sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
  sup { top: -0.5em; }
  sub { bottom: -0.25em; }
  ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
  dd { margin: 0 0 0 40px; }
  nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
  img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
  svg:not(:root) { overflow: hidden; }
  figure { margin: 0; }

  form { margin: 0; }
  fieldset { border: 0; margin: 0; padding: 0; }
  label { cursor: pointer; }
  legend { border: 0; *margin-left: -7px; padding: 0; }
  button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
  button, input { line-height: normal; *overflow: visible; }
  table button, table input { *overflow: auto; }
  button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
  input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
  input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
  button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
  textarea { overflow: auto; vertical-align: top; resize: vertical; }
  input:valid, textarea:valid {  }
  input:invalid, textarea:invalid { background-color: #f0dddd; }

  table { border-collapse: collapse; border-spacing: 0; }
  td { vertical-align: top; 
}


/* ==|== primary styles =====================================================
   Author: Victor Ivanov
   ========================================================================== */

/* typography */

@font-face{ 
	font-family: 'MyWebFont';
	src: url('../ui/fonts/websymbols-regular-webfont.eot');
	src: url('../ui/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../ui/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../ui/fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../ui/fonts/websymbols-regular-webfont.svg') format('svg');
}

/* grid experiment */

#main { 
  width:100%; 
  max-width: 1232px; 
  margin:0 auto;
  background-color: #ebebeb;
  background-image: -webkit-linear-gradient(0deg, #fce1ec 50%, #fff 50%);
  background-size: 56px 56px;
  height: 1000px;
  padding: 0 15px; 
}

/* width */
.c1  { width:4.5454545455%; }
.c2  { width:9.090909091%; }
.c3  { width:13.6363636365%; }
.c4  { width:18.181818182%; }
.c5  { width:22.7272727275%; }
.c6  { width:27.272727273%; }
.c7  { width:31.8181818185%; }
.c8  { width:36.363636364%; }
.c9  { width:40.9090909095%; }
.c10 { width:45.454545455%; }
.c11 { width:50.0000000005%; }
.c12 { width:54.545454546%; }
.c13 { width:59.0909090915%; }
.c14 { width:63.636363637%; }
.c15 { width:68.1818181825%; }
.c16 { width:72.727272728%; }
.c17 { width:77.27272727350001%; }
.c18 { width:81.818181819%; }
.c19 { width:86.3636363645%; }
.c20 { width:90.90909091%; }
.c21 { width:95.45454545550001%; }
.c22 { width:100%; }

/* margin-left */
.ml1  { margin-left:4.5454545455%; }
.ml2  { margin-left:9.090909091%; }
.ml3  { margin-left:13.6363636365%; }
.ml4  { margin-left:18.181818182%; }
.ml5  { margin-left:22.7272727275%; }
.ml6  { margin-left:27.272727273%; }
.ml7  { margin-left:31.8181818185%; }
.ml8  { margin-left:36.363636364%; }
.ml9  { margin-left:40.9090909095%; }
.ml10 { margin-left:45.454545455%; }
.ml11 { margin-left:50.0000000005%; }
.ml12 { margin-left:54.545454546%; }
.ml13 { margin-left:59.0909090915%; }
.ml14 { margin-left:63.636363637%; }
.ml15 { margin-left:68.1818181825%; }
.ml16 { margin-left:72.727272728%; }
.ml17 { margin-left:77.27272727350001%; }
.ml18 { margin-left:81.818181819%; }
.ml19 { margin-left:86.3636363645%; }
.ml20 { margin-left:90.90909091%; }
.ml21 { margin-left:95.45454545550001%; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20, .c21, .c22 { 
  float: left; min-height: 10px; margin-bottom: 10px; background-color: #bada55; color:#fff; padding:0 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.clear-example div { clear:both; }
.example { width: 100%; clear: both; }










/* ==|== non-semantic helper classes ======================================== */
  .ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
  .ir br { display: none; }
  .hidden { display: none !important; visibility: hidden; }
  .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
  .invisible { visibility: hidden; }
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }


  /* ==|== media queries ====================================================== */

  @media only screen and (min-width: 480px) {


  }

  @media only screen and (min-width: 768px) {

  }

  /* ==|== print styles ======================================================= */
   
  @media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}



#upfront-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12000px;
  background-color: rgba(33,33,33,.7);
  color: #fff;
  font-size: 72pt;
  font-weight: bold;
  padding-top: 2em;
  text-align: center;
}

#properties {
  position: absolute;
  top: 0;
  right: 0;
  background: #eee;
  width: 200px;
  padding: 2em;
  padding-top: 0;
}
#commands, .upfront-editable_trigger {
  position: absolute;
  top: 0;
  left: 0;
}
.upfront-edit_content {
  right: 5px;
  left: auto;
}
#commands {
  background: #eee;
  width: 200px;
  padding: 2em;
  padding-top: 0; 
}
.upfront-active_entity .upfront-editable_entity {
  background: #b3da11;
}
.upfront-placeholder {
  background-color: red;
  height: 20px;
  width: 100px;
  float: left;
}

.upfront-region {
  background-color: #ccc;
}
.upfront-region:after,
.upfront-region:before
 {
  content: " "; /* 1 */
  display: table; /* 2 */
 }
.upfront-region:after {
  clear: both;
}