.upfront_posts-list > ul, .upfront_posts-list > ul li, 
.upfront_posts-single > ul, .upfront_posts-single > ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.upfront_posts-list > ul li,
.upfront_posts-single > ul li {
    padding: 15px;
}

.upfront_posts-list *,
.upfront_posts-single * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* --- Initial screen --- */
.uposts-list-object {
	min-height: 220px;
}
.upfront_posts-list-initial-wrapper {
    position: relative;
	top: 0; bottom: 0; right: 0; left: 0;
}
.upfront_posts-list-initial-content {
    margin: auto;
    text-align: center;
}
.upfront_posts-list-initial-content .upfront-field-wrap {
    margin: 0;
}
.upfront_posts-list-initial-content .upfront-field-wrap-radios .upfront-field-label-block {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px;
}
.upfront_posts-list-initial-content .upfront-field-multiple-horizontal-inline {
    margin: 0 20px;
}
.upfront_posts-list-initial-content .options {
    padding: 8px 0 0;
    margin: 0 0 15px;
}
.upfront-object-content .upfront_posts-list-initial-content a.continue,
.upfront-object-content .upfront_posts-list-initial-content a.continue:link,
.upfront-object-content .upfront_posts-list-initial-content a.continue:visited {
    display: inline-block;
    border: 2px solid #99c3e9;
    padding: 8px 25px;
    color: #284662;
    font-size: 11px;
    text-decoration: none;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}

/* --- Custom posts list --- */
.upfront-settings-item-content .custom_posts ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.upfront-settings-item-content .custom_posts ul li {
    color: #a7bfde;
	height: 20px;
	line-height: 20px;
	margin: 0px -15px;
	padding: 0px 15px;
}
.upfront-settings-item-content .custom_posts ul li .post-count {
	color: #44698d;
	font-weight: bold;
	padding-right: 6px;
}
.upfront-settings-item-content .custom_posts ul li .permalink {
    color: #30475e;
}
.upfront-settings-item-content .custom_posts ul li a {
	display: none;
	border-bottom: none;
}
.upfront-settings-item-content .custom_posts ul li:hover a {
	display: inline;
}
.upfront-settings-item-content .custom_posts ul li a i {
	display: inline-block;
	color: white;
	background: red;
	height: 14px;
	width: 14px;
	line-height: 14px;
	font-size: 12px;
	border-radius: 7px;
	margin-left: 1em;
	text-align: center;
	float: right;
	position: relative;
	top: 3px;
}
.upfront-settings-item-content .custom_posts a.upfront-add-posts {
	background-image: linear-gradient(-179deg, #fafdff 0%, #f3faff 100%);
    border: 1px solid #b7c9d9;
    border-radius: 3px;
    font: 600 12px/16px Open Sans, Helvetica Neueu, Helvetica, Arial, sans-serif;
    color: #6486A6;
    text-shadow: 0px 1px 0px #FFFFFF;
    padding: 0px 10px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
    position: relative;
	margin: 10px 0px;
}
.upfront-settings-item-content .custom_posts a.upfront-add-posts:hover {
	border: 1px solid #607f99;
}

/* --- Post settings styles --- */

#sidebar-scroll-wrapper .upfront-display-type-section {
	border-bottom: 1px solid #e5ecf4;
	padding-bottom: 5px;
}

#sidebar-scroll-wrapper .upfront-display-type-section .upfront-settings-item-content .upfront-field-wrap,
#sidebar-scroll-wrapper .upfront-list-type-section .upfront-settings-item-content .upfront-field-wrap {
	margin: 0px;
}

#sidebar-scroll-wrapper .upfront-display-type-section label,
#sidebar-scroll-wrapper .upfront-post-settings label.upfront-field-label {
	font-size: 11px;
    display: block;
    font-family: verdana, sans-serif;
	color: #7d99b6;
	font-weight: normal;
}

#sidebar-scroll-wrapper .custom_posts li:hover {
	background: #e6edf2;
}

/* --- Post parts list --- */

div.upfront-post-wrappers, div.upfront-post-modules {
	padding: 2px 15px
}

div.upfront-post-wrappers {
	padding-bottom: 10px;
}

.upfront-add-post-module .upfront-field-select {
	border: #f7fbff;
	background: none;
	width: 135px;
	margin-top: 10px;
	cursor: initial;
}

.upfront-add-post-module .upfront-field-select:after {
	display: none;
}

.upfront-add-post-module .upfront-field-select-options {
	background: #fff;
	top: 40px;
}

.upfront-add-post-module .upfront-field-select-value {
	border: 1px solid #a2bfda;
	width: 48px;
	height: 24px;
	cursor: pointer;
	float: right;
}

.upfront-post-modules .upfront-posts-module:first-child {
	margin-top: 10px;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part {
	background: none;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part:before {
	display: none;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title {
	border: 1px solid #a2bfda;
	display: block;
	height: 24px;
	line-height: 22px;
	border-radius: 3px;
	margin-bottom: 2px;
	position: relative;
	cursor: pointer;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title:hover:before,
div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title.active-panel:before {
	right: 10px;
    top: 4px;
    width: 15px;
    height: 14px;
    content: "";
    display: block;
    position: absolute;
	z-index: 998;
	background-position: -823px -44px !important;
	background-image: url(../../../img/uf-ui-sprite.png);
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-module-title {
	display: inline-block;
	color: #4e4770;
    font-size: 11px;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	text-transform: capitalize;
	position: relative;
	left: 6px;
	overflow: hidden;
	z-index: 99;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title.active-panel {
	box-shadow:0 0 10px 3000px rgba(60,82,103,.3);
	border-radius: 3px;
	z-index: 998;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-preview {
	display: inline-block;
	box-sizing: border-box;
	width: 12px;
	height: 20px;
    margin: 1px;
	overflow: hidden;
	position: relative;
	/* magic happens below */
	background-color: #DFE9F2;
	background-image: -webkit-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: -moz-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: -o-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -o-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
	background-position: 2px 0px, 6px 4px;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-preview .styles-holder {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12px;
	height: 20px;
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 19px;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-post-delete-part {
	display: none;
	position: absolute;
	top: -5px;
	right: -5px;
	z-index: 99;
	background: #ed5248;
	border: 1px solid #cf433a;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	font-weight: bold;
	line-height: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title:hover .upfront-post-delete-part {
	display: block;
}

div.preset-manager-panel .upfront-settings-post-wrapper {
	position: fixed;
	width: 240px;
	margin-left: -5px;
	z-index: 99999999;
	background: #f7fbff;
	border-radius: 3px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}

div.preset-manager-panel .upfront-post-wrapper-title {
    font-size: 11px;
	font-weight: bold;
    color: #2f475f;
    font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

div.preset-manager-panel .upfront-post-wrappers {
	border-bottom: 1px solid #e5eef8;
	position: relative;
}

.upfront-post-modules .upfront-post-wrapper-title {
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
}

div.preset-manager-panel .upfront-add-post-module {
	position: absolute;
	top: 92px;
    right: 15px;
}

div.preset-manager-panel .upfront-add-post-module .upfront-field-select-options {
    box-shadow: 0 0 5px rgba(104, 104, 104, 0.3);
	border: 1px solid #cbdbec;
	border-radius: 6px;
	max-height: 200px;
	z-index: 1000;
}

div.preset-manager-panel .upfront-add-post-module .upfront-field-select-options li {
	color: #7d8186;
	border-radius: 6px;
}

div.preset-manager-panel .upfront-add-post-module .upfront-field-select-options li:hover {
	color: #fff;
	background: #3aa3e3;
	border-radius: 6px;
}

div.preset-manager-panel .upfront-add-post-module .upfront-field-select-options li label {
	cursor: pointer;
}

div.preset-manager-panel .upfront-add-post-module .upfront-field-select-value:before {
	content: '+';
	width: 10px;
	height: 10px;
	position: absolute;
	z-index: 10;
	margin-top: -1px;
    margin-left: 4px;
	color: #44698d;
	font-size: 18px;
	font-weight: bold;
}

/* --- Icons --- */
.upfront-field-icon.upfront-posts-display_type {
	background-image: url(../../../img/uf-core-el-sprite.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 22px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-single {
	background-position: -480px -490px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-list {
	background-position: -570px -490px;
}

.upfront-posts-custom-add_post {
	background-image: url(../../../img/uf-ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -728px -74px;
	height: 14px;
	width: 18px;
	display: none;
}

.upfront-display-type-section .upfront-posts-display-type {
	margin-top: -7px;
}

.upfront-display-type-single .upfront-settings-item-content .upfront-post-term,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-type,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-taxonomy {
	margin-top: 10px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-term {
	margin-top: 5px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-limit,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-type {
	margin-top: 15px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-settings-item-content .upfront-post-type,
.upfront-settings-item-content .upfront-offset-number,
.upfront-settings-item-content .upfront-post-taxonomy {
	display: inline-block;
}

.upfront-post-limit .upfront-field-label-block,
.upfront-post-type .upfront-field-label-block,
.upfront-offset-number .upfront-field-label-block,
.upfront-post-taxonomy .upfront-field-label-block,
.upfront-post-term .upfront-field-label-block {
	margin-bottom: 3px !important;
}

.upfront-settings-item-content .upfront-post-limit input,
.upfront-settings-item-content .upfront-offset-number input {
	font-size: 12px;
	height: 26px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-settings-item-content .upfront-offset-number {
	width: 65px;
	position: relative;
	top: -9px;
}

.upfront-settings-item-content .upfront-post-type,
.upfront-settings-item-content .upfront-post-taxonomy {
	width: 160px;
	margin-top: 5px;
}

.upfront-display-type-single .upfront-settings-item-content .upfront-post-type {
	width: 230px;
}

.upfront-settings-item-content .post_parts.ui-sortable li .part_action:after {
	display: inline-block;
	background-image: url(../../../img/uf-ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -43px -112px;
	top: 1px;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 7px;
	content: "";
}
.upfront-settings-item-content .post_parts.ui-sortable li.active .part_action:after {
	background-position: -43px -145px;
}

div.preset-manager-panel .upfront-post-modules .settings_module {
	clear: both;
}

div.preset-manager-panel .upfront-post-modules .gravatar_radius {
	top: -15px;
}

div.preset-manager-panel .upfront-post-modules .gravatar_border_width {
	margin-top: 0px;
}

div.preset-manager-panel .upfront-post-modules .gravatar_size {
	padding: 5px 0px 5px 10px;
    position: relative;
    top: 0px;
    border-left: 2px solid #dae6f2;
}

div.preset-manager-panel .upfront-post-modules .gravatar_size input {
	width: 60px;
}

div.preset-manager-panel div.borderColor.gravatar_border_color {
	margin-top: -7px;
}

/* Content part styles */

div.preset-manager-panel .uf-posts-content-length {
	font-size: 11px;
    display: block;
    font-family: verdana, sans-serif;
	margin-top: 8px;
}

div.preset-manager-panel .uf-posts-content-length label {
	width: 45px;
	display: inline-block;
}

div.preset-manager-panel .uf-posts-content-length input {
	width: 100px;
	margin-right: 3px;
	display: inline-block;
}

/* Date part styles */

div.preset-manager-panel .php-date-format {
	width: 140px;
	float: left;
}

div.preset-manager-panel .php-date-format label {
	top: 4px;
    position: relative;
}

div.preset-manager-panel .php-date-reference {
	font-size: 11px;
	width: 60px;
	margin-left: 10px;
	color: #3cd8a8;
	float: left;
	position: relative;
	top: 25px;
}

/* Author part styles */

div.preset-manager-panel .gravatar-size {
	position: relative;
    border-left: 2px solid #dae6f2;
    padding-left: 10px;
	width: 75px;
	top: 5px;
}

div.preset-manager-panel .gravatar-size input {
	width: 75px;
	position: relative;
	top: -4px;
}

div.preset-manager-panel .gravatar-size label {
	color: #96acc3;
}

div.preset-manager-panel .gravatar-border-width {
	font-size: 11px;
	top: -5px;
}

div.preset-manager-panel .gravatar-border-width,
div.preset-manager-panel .gravatar-border-type
div.preset-manager-panel .gravatar-border-color {
	padding-top: 10px;
}

div.preset-manager-panel .gravatar-border-color .sp-replacer {
	top: 12px;
}

div.preset-manager-panel .gravatar-radius {
	margin-top: 5px;
}

div.preset-manager-panel .gravatar-radius label {
	margin-bottom: 10px;
}

div.preset-manager-panel .gravatar-radius-number {
	top: 13px;
}

/* Featured image part styles */

div.preset-manager-panel .uf-posts-image-custom-width,
div.preset-manager-panel .uf-posts-image-custom-height {
	width: 45%;
	font-size: 11px;
	float: left;
}

div.preset-manager-panel .uf-posts-image-custom-height {
	float: right;
}

div.preset-manager-panel .uf-posts-image-custom-width input,
div.preset-manager-panel .uf-posts-image-custom-height input {
	width: 80%;
}

div.preset-manager-panel .uf-posts-image-custom-width label,
div.preset-manager-panel .uf-posts-image-custom-height label {
	top: 4px;
	position: relative;
}

div.preset-manager-panel .uf-posts-image-custom-size label.upfront-field-label-inline,
div.preset-manager-panel .uf-posts-image-custom-width label,
div.preset-manager-panel .uf-posts-image-custom-height label {
	color: #96acc3;
}

div.preset-manager-panel .uf-posts-image-resize {
	clear: both;
	padding-top: 10px;
}

/* Category & Tags parts styling */

div.preset-manager-panel .category-show-max,
div.preset-manager-panel .category-separate,
div.preset-manager-panel .tags-show-max,
div.preset-manager-panel .tags-separate {
	width: 50%;
	display: inline-block;
}

div.preset-manager-panel .category-show-max inline,
div.preset-manager-panel .category-separate inline,
div.preset-manager-panel .tags-show-max inline,
div.preset-manager-panel .tags-separate inline {
	width: 95%;
}

div.preset-manager-panel .category-show-max label,
div.preset-manager-panel .category-separate label,
div.preset-manager-panel .category-padding-top-bottom label,
div.preset-manager-panel .category-margin-top-bottom label,
div.preset-manager-panel .category-background label,
div.preset-manager-panel .tags-show-max label,
div.preset-manager-panel .tags-separate label,
div.preset-manager-panel .tags-padding-top-bottom label,
div.preset-manager-panel .tags-margin-top-bottom label,
div.preset-manager-panel .tags-background label {
	color: #96acc3;
}

div.preset-manager-panel .category-padding-top-bottom,
div.preset-manager-panel .category-margin-top-bottom,
div.preset-manager-panel .tags-padding-top-bottom,
div.preset-manager-panel .tags-margin-top-bottom {
	width: 48%;
	float: left;
	border-left: 2px solid #dae6f2;
    padding-left: 10px;
	clear: left;
	font-size: 11px;
	position: relative;
}

div.preset-manager-panel .category-background,
div.preset-manager-panel .tags-background {
	border-left: 2px solid #dae6f2;
    padding-left: 10px;
}

div.preset-manager-panel .category-background label,
div.preset-manager-panel .tags-background label {
	position: relative;
	top: 5px;
}

div.preset-manager-panel .category-padding-left-right,
div.preset-manager-panel .category-margin-left-right,
div.preset-manager-panel .tags-padding-left-right,
div.preset-manager-panel .tags-margin-left-right {
	width: 48%;
	float: left;
	font-size: 11px;
	margin-top: 28px;
	position: relative;
}

div.preset-manager-panel .category-margin-left-right,
div.preset-manager-panel .tags-margin-left-right {
	margin-top: 24px;
}

div.preset-manager-panel .category-padding-top-bottom,
div.preset-manager-panel .tags-padding-top-bottom {
	top: 5px;
}

div.preset-manager-panel .category-padding-top-bottom input,
div.preset-manager-panel .category-margin-top-bottom input,
div.preset-manager-panel .category-padding-left-right input,
div.preset-manager-panel .category-margin-left-right input,
div.preset-manager-panel .tags-padding-top-bottom input,
div.preset-manager-panel .tags-margin-top-bottom input,
div.preset-manager-panel .tags-padding-left-right input,
div.preset-manager-panel .tags-margin-left-right input {
	margin-left: 15px;
	width: 45px;
}

div.preset-manager-panel .category-padding-top-bottom:before,
div.preset-manager-panel .category-margin-top-bottom:before,
div.preset-manager-panel .category-padding-left-right:before,
div.preset-manager-panel .category-margin-left-right:before,
div.preset-manager-panel .tags-padding-top-bottom:before,
div.preset-manager-panel .tags-margin-top-bottom:before,
div.preset-manager-panel .tags-padding-left-right:before,
div.preset-manager-panel .tags-margin-left-right:before {
	background-image: url(../../../img/uf-core-el-sprite_new.svg);
    width: 21px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    z-index: 11;
}

div.preset-manager-panel .category-padding-top-bottom:before,
div.preset-manager-panel .category-margin-top-bottom:before,
div.preset-manager-panel .tags-padding-top-bottom:before,
div.preset-manager-panel .tags-margin-top-bottom:before {
	background-position: -660px -204px;
	top: 29px;
    left: 3px;
}

div.preset-manager-panel .category-padding-left-right:before,
div.preset-manager-panel .category-margin-left-right:before,
div.preset-manager-panel .tags-padding-left-right:before,
div.preset-manager-panel .tags-margin-left-right:before {
	background-position: -660px -236px;
	top: 5px;
	left: -7px;
}

.reorder-overlay {
	background: rgba(255, 255, 255, 0.6);
	display: none;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

div.preset-manager-panel .category-padding-margin {
	margin-top: 10px;
}

.reorder-overlay p:hover {
	cursor:pointer;
}

.reorder-overlay p {
	background-image: -ms-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -moz-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -o-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8FBFF), color-stop(100, #f3faff));
	background-image: -webkit-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: linear-gradient(to bottom, #F8FBFF 0%, #f3faff 100%);
	border: 1px solid #c7d9ea;
	color: #6f8fad;
	top:0; bottom:0; left:0; right:0;
	border-radius: 3px;
	min-width: 230px;
	max-width: 230px;
	min-height: 40px;
	max-height: 40px;
	line-height: 40px;
	margin: auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
}

.reorder-overlay p:hover {
	background-image: -ms-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -moz-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -o-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E8F4FF), color-stop(100, #F3FAFF));
	background-image: -webkit-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: linear-gradient(to bottom, #E8F4FF 0%, #F3FAFF 100%);
}

.uf-post-layout-edit:not(.upfront-object-group-on-edit):hover .reorder-overlay {
	display: block;
}

.upfront_posts-list-initial {
	background: #fff;
	text-align: center;
	padding-top: 50px;
}

.upfront_posts-list-initial-content input {
	background-image: -ms-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -moz-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -o-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F8FBFF), color-stop(100, #f3faff));
	background-image: -webkit-linear-gradient(top, #F8FBFF 0%, #f3faff 100%);
	background-image: linear-gradient(to bottom, #F8FBFF 0%, #f3faff 100%);
	border: 1px solid #c7d9ea;
	color: #6f8fad;
	border-radius: 3px;
	padding: 0px 30px;
	height: 40px;
	line-height: 40px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	font: 600 14px/100% "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif;
}

.upfront_posts-list-initial-content input:hover {
	background-image: -ms-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -moz-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -o-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E8F4FF), color-stop(100, #F3FAFF));
	background-image: -webkit-linear-gradient(top, #E8F4FF 0%, #F3FAFF 100%);
	background-image: linear-gradient(to bottom, #E8F4FF 0%, #F3FAFF 100%);
}

.upfront_posts-list-initial-content  .upfront-field-wrap-button {
	display: inline-block;
	margin: 25px 15px;
}

.upfront_posts-list-initial-wrapper .upfront_posts-list-initial-heading {
	color: #5b6e81;
	font: 200 24px/100% "Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif;
}

/* Remove space under last element in wrappers */
div.preset-manager-panel .settings_module.module_no_border.colors_settings_item {
	padding-bottom: 0px;
	padding-top: 13px;
}

#page.upfront-layout-view .upostslist-object ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#page.upfront-layout-view .upostslist-object .upfront-object {
	padding: 0px;
}
#page.upfront-layout-view .upostslist-object .uf-post article {
	margin: 10px;
}
