.uyoutube-player {
    background: #ccc;
}

.uyoutube-main-video {
    margin-bottom: 10px;
}

.uyoutube-gallery-item {
    overflow:hidden;
    margin: 0 7px 10px;
    width: 190px;/* remove, make dynamic */
    float: left;
}

.uyoutube-gallery-item .uyoutube-thumb-mask {
    width: 190px;/* remove, make dynamic */
    height: 105px;/* remove, make dynamic */
    overflow: hidden;
    background: #ccc;
}

.uyoutube-gallery-item .uyoutube-thumb {
    max-height: none;
    margin-top: -19px;
}

.uyoutube-gallery-item .uyoutube-title {
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    text-transform: none;
    margin-top: 10px;
}

.uyoutube-list-item {
    display: table;
    width: 100%;
    overflow:hidden;
    margin: 0 0 10px;
}

.uyoutube-list-item .uyoutube-thumb-holder {
    display: table-cell;
    width: 90px;
}

.uyoutube-list-item .uyoutube-thumb-mask {
    width: 80px;
    height: 45px;
    overflow: hidden;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-thumb {
    max-height: none;
    margin-top: -8px;
}

.uyoutube-list-item .uyoutube-content-holder {
    display: table-cell;
    vertical-align: middle;
}

.uyoutube-list-item .uyoutube-title {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    text-transform: none;
    margin-bottom: 4px;
}

.uyoutube-list-item .uyoutube-description {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.uyoutube-list-item .uyoutube-fake-title {
    height: 14px;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-fake-description {
    height: 12px;
    background: #ccc;
}
