.uyoutube-player {
    background: #ccc;
}

.uyoutube-main-video {
    margin-bottom: 10px;
}

.uyoutube-main-video iframe {
    background: black;
    border: 0 none;
}

.uyoutube-gallery-item {
    overflow:hidden;
    margin: 0 7px 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.uyoutube-gallery-item .uyoutube-thumb-mask {
    overflow: hidden;
    background: #ccc;
}

.uyoutube-gallery-item .uyoutube-thumb {
    max-height: none;
    margin-top: -19px;
}

.uyoutube-gallery-item .uyoutube-title {
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    text-transform: none;
    margin-top: 10px;
}

.uyoutube-list-item {
    display: table;
    width: 100%;
    overflow:hidden;
    margin: 0 0 10px;
    cursor: pointer;
}

.uyoutube-list-item .uyoutube-thumb-holder {
    display: table-cell;
    padding-right: 10px;
}

.uyoutube-list-item .uyoutube-thumb-mask {
    overflow: hidden;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-thumb {
    max-height: none;
    margin-top: -8px;
}

.uyoutube-list-item .uyoutube-content-holder {
    display: table-cell;
    vertical-align: middle;
}

.uyoutube-list-item .uyoutube-title {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    text-transform: none;
    margin-bottom: 4px;
}

.uyoutube-list-item .uyoutube-description {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.uyoutube-list-item .uyoutube-fake-title {
    height: 14px;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-fake-description {
    height: 12px;
    background: #ccc;
}

.upfront-field-wrap-disabled {
	color: rgb(171, 177, 184);
}

.uyoutube-settings .upfront-field-number[type=number] {
  width: 60px;
}
