.uyoutube-player {
    background: #ccc;
}

.uyoutube-main-video {
    margin-bottom: 10px;
}

.uyoutube-main-video iframe {
    background: black;
    border: 0 none;
}

.uyoutube-gallery-item {
    overflow:hidden;
    margin: 0 7px 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.uyoutube-gallery-item .uyoutube-thumb-mask {
    overflow: hidden;
    background: #ccc;
}

.uyoutube-gallery-item .uyoutube-thumb {
    max-height: none;
    margin-top: -19px;
}

.uyoutube-gallery-item .uyoutube-title {
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    text-transform: none;
    margin-top: 10px;
}

.uyoutube-list-item {
    display: table;
    width: 100%;
    overflow:hidden;
    margin: 0 0 10px;
    cursor: pointer;
}

.uyoutube-list-item .uyoutube-thumb-holder {
    display: table-cell;
    padding-right: 10px;
}

.uyoutube-list-item .uyoutube-thumb-mask {
    overflow: hidden;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-thumb {
    max-height: none;
    margin-top: -8px;
}

.uyoutube-list-item .uyoutube-content-holder {
    display: table-cell;
    vertical-align: middle;
}

.uyoutube-list-item .uyoutube-title {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    text-transform: none;
    margin-bottom: 4px;
}

.uyoutube-list-item .uyoutube-description {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.uyoutube-list-item .uyoutube-fake-title {
    height: 14px;
    background: #ccc;
}

.uyoutube-list-item .uyoutube-fake-description {
    height: 12px;
    background: #ccc;
}

.upfront-field-wrap-disabled {
	color: rgb(171, 177, 184);
}

.uyoutube-settings .upfront-field-number[type=number] {
	width: 46px;
	padding-right: 0;
}

#settings .uyoutube-settings .upfront-settings_panel_scroll {
	height: 470px;
	max-height: 470px;
}
#settings .uyoutube-settings .field-display_style .upfront-field-multiple {
	display: inline-block;
}
#settings .uyoutube-settings .field-display_style .upfront-field-multiple:first-child {
	margin-right: 50px;
}

#settings .uyoutube-settings .upfront-settings-item-tab-content {
	overflow-y: auto;
	max-height: 370px;
}

#settings .uyoutube-settings .upfront-settings-item-tab-content .multiple_video_section .upfront-settings-item {
	margin-bottom: 15px;
}

.multiple_video_section {
	margin-top: 15px;
}

.upfront-field-wrap-multiple span.upfront-field-multiple-horizontal {
	margin-right: 15px;
	margin-top: 5px;
}

.multiple_settings .upfront-settings-item-title {
	display: none;
}

.multiple_settings .upfront-settings-item {
	padding-top: 0px;
	margin-top: -7px;
}

.multiple_settings .upfront-field-wrap-checkboxes {
	margin-top: 0px;
}

.multiple_sources.yt_first_video {
	margin-top: 15px;
}

/* Starting */
.upfront-youtube-starting-select {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	color: #28DC96;
	font-family: 'Source Sans Pro';
	font-size:18px;
	width: 385px;
	height: 228px;
	background: #eeeff0;
	text-align: left;
	padding: 70px 15px 0;
}

.upfront-youtube-resizing-icons {
	width: 200px;
    margin: 20px auto 0;
}

.upfront-youtube-starting-text {
	font-size: 14px;
	color: #999;
	padding-bottom: 5px;
	text-align: left;
}

.upfront-youtube-box-wrapper{
	background: #dcdddb;
	border: 1px solid #ccc;
	padding: 0 10px;
	margin-bottom: 10px;
	width: 70%;
	display: block;
	float: left;
}

input.upfront-youtube-url {
	font-size: 1em;
	padding: 10px 0 !important;
	outline: none;
	width: 100%;
	display: block;
	background-color:transparent;
	font-size: 14px;
	height: 38px !important;
}

input.upfront-youtube-url::-webkit-input-placeholder {
	color: #999;
}

input.upfront-youtube-url:-moz-placeholder { /* Firefox 18- */
	color: #999;  
}

input.upfront-like-box_url::-moz-placeholder {  /* Firefox 19+ */
	color: #999;  
}

input.upfront-like-box_url:-ms-input-placeholder {  
	color: #99;  
}

.upfront-youtube-button-wrapper {
	width: 30%;
	display: block;
	float: left;
}

.upfront-youtube-button {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background-color: #00ce8d;
	color: #fff;
	text-align: center;
	height: 40px;
}

.upfront-add-another input {
	border: 1px solid #a1c4e5;
	background: #e5f3ff;
	display: inline-block;
	padding: 3px 8px;
	border-radius: 4px;
	font-size: 13px;
}

.upfront-add-another input:hover {
	background: #d4e9fb;
	border: 1px solid #a1c4e5;
}

.upfront-add-another-wrapper .upfront-settings-item-title {
	display: none;
}

.uyoutube-gallery-item { margin-left:0 !important; }