@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

/* Border-box layout for everything inside the contact form */
.upfront-contact-form * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.upfront-contact-form label {
	line-height: 1.1em;
}

.upfront-field-container {
	margin-bottom: 0.5em;
}

.ucontact-label-above label {
	display:block;
}

.ucontact-label-over label {
	display:none;
}

.ucontact-label-above input,
.ucontact-label-above textarea,
.ucontact-label-over input,
.ucontact-label-over textarea {
	display:block;
	width: 95%;
}

.upfront-submit-container input[type="submit"] {
	width: auto;
	display: inline;
}

/*clearfix for inline fields*/
.ucontact-label-inline:before,
.ucontact-label-inline:after {
    content: " ";
    display: table;
}
.ucontact-label-inline:after {
    clear: both;
}
.ucontact-label-inline {
	zoom:1;
}
.ucontact-label-inline label {
	display:block;
	float:left;
	width:25% !important;
}
.ucontact-label-inline input,
.ucontact-label-inline textarea {
	display:block;
	float:right;
	width:75% !important;
}
.ucontact-label-inline.upfront-submit-container {
	float:none;
}