<div class="blank"></div>
<input type="checkbox" name="menu-item[-{{ ID }}][menu-item-object-id]" id="{{ slug }}" class="regular-checkbox" value="{{ ID }}"/><label for="{{ slug }}"></label>
<span>{{ name }}</span>
<input type="hidden" class="menu-item-db-id" name="menu-item[-{{ ID }}][menu-item-db-id]" value="0">
<input type="hidden" class="menu-item-object" name="menu-item[-{{ ID }}][menu-item-object]" value="{{type}}">
<input type="hidden" class="menu-item-parent-id" name="menu-item[-{{ ID }}][menu-item-parent-id]" value="0">
<input type="hidden" class="menu-item-type" name="menu-item[-{{ ID }}][menu-item-type]" value="{{item_type}}">
<input type="hidden" class="menu-item-title" name="menu-item[-{{ ID }}][menu-item-title]" value="{{ name }}">
<input type="hidden" class="menu-item-url" name="menu-item[-{{ ID }}][menu-item-url]" value="{{url}}">
<input type="hidden" class="menu-item-target" name="menu-item[-{{ ID }}][menu-item-target]" value="">
<input type="hidden" class="menu-item-attr_title" name="menu-item[-{{ ID }}][menu-item-attr_title]" value="">
<input type="hidden" class="menu-item-classes" name="menu-item[-{{ ID }}][menu-item-classes]" value="">
<input type="hidden" class="menu-item-xfn" name="menu-item[-{{ ID }}][menu-item-xfn]" value="">