/*/////////Menu start////////*/
.upfront-navigation
{
    padding:0;
}
.upfront-navigation .menu{
    list-style:none;
    margin:0;
    padding:0 30px;
    position:relative;
    z-index:999999;
}
[data-aliment="left"] .menu
{
    text-align:left;
}
[data-aliment="center"] .menu
{
    text-align:center;
}
[data-aliment="right"] .menu
{
    text-align:right;
}
.upfront-navigation .menu li{
    position:relative;
    display:inline;
}
[data-style="vertical"] .menu li
{
    width: 100%;
    float: left;
}
.upfront-navigation .menu a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    color:#a3c1d9;
    text-transform:uppercase;
}
.upfront-navigation .menu ul{
    position:absolute;
    /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
    left:0;
    margin:0;
    padding:0;
    text-align:left;
    display:none;
    border:1px solid #5c7c9b;
    z-index:9999;
}
.upfront-navigation .menu ul li{
    display:block;
}
[data-allow-sub-nav="true"] .menu li:hover > ul,
[data-allow-sub-nav="1"] .menu li:hover > ul{
    display:block;
}
.upfront-navigation .menu ul ul { /* this is applied to 3rd and all after ULs as well */
    left: 100%;
    top: 0;
}
.upfront-navigation .menu li:hover a{
    color:#1fcd8f;
}
.upfront-navigation .menu li:hover ul a{
    text-decoration:none;
    background:none;
    color:#a3c1d9;
}
.upfront-navigation .menu li:hover ul a:hover{
    color:#1fcd8f;
}
.upfront-navigation .menu ul a{
    white-space:nowrap;
    display:block;
    font-size:12px;
    border-bottom:1px solid #ccc;
}
.upfront-navigation .menu li.current_page_item > a,
.upfront-navigation .menu ul li.current_page_item > a,
.upfront-navigation .menu li.current_page_parent > a
{
    color:#1fcd8f;
}
/*/////////Menu Editor start////////*/
.upfront_page_scroll_box::-webkit-scrollbar,
.upfront_categories_scroll_box::-webkit-scrollbar,
.upfront_menuorder_scroll_box::-webkit-scrollbar
{
    background: none;
    width: 6px;
}
.spinner
{
    background: url("../images/loading.gif") no-repeat;
    background-size: 16px 16px;
    display: none;
    float: left;
    opacity: .7;
    width: 16px;
    height: 16px;
    margin: 10px 5px 0 94px;
}
.upfront_menu_pages_box .spinner,
.upfront_menu_categories_box .spinner
{
    position: relative;
    margin-bottom: -26px;
    margin-left: 269px;
}
.upfront_menu_order_box .spinner
{
    margin: 4px 0 0 0;
}
.upfront_page_scroll_box::-webkit-scrollbar-thumb,
.upfront_categories_scroll_box::-webkit-scrollbar-thumb,
.upfront_menuorder_scroll_box::-webkit-scrollbar-thumb
{
    border-right: 3px solid #1fcd8f;
    width: 3px;
}
.act_green
{
    background:#1fcd8f;
}
.de_act_blue
{
    background:#6386a6;
}
label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: transparent;
    border: 2px solid #8c99a6;
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:checked + label {
    background-color: #263a4d;
    border: 2px solid #263a4d;
    color: #1fcd8f;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 1px;
    line-height: 12px;
    color: #1fcd8f;
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #f2f9ff;
    border: 1px solid #788694;
    padding: 6px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 6px;
    height: 6px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #1fcd8f;
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #263a4d;
    color: #99a1a7;
    border: 1px solid #263a4d;
}
.upfront-settings_panel div .upfront-settings-item:nth-child(1)
{
    float:left;
    margin:0;
    /*width:114px;*/
    border-right:solid 1px #bad2e8;
}
.upfront-settings_panel div .upfront-settings-item:nth-child(2)
{
    float:left;
    margin:0;
    width:172px;
    height:85px;
}
#settings .upfront-settings_panel div .upfront-settings-item:nth-child(2) .upfront-settings-item-title
{
    padding:0 0 0 15px;
}
.upfront-settings_panel div .upfront-settings-item:nth-child(3)
{
    margin:15px 0 29px 0;
    padding:0;
    float:left;
    width:287px;
}
.horizontal
{
    width:55px;
    float:left;
    margin:15px 8px 0 0;
}
.horizontal_label
{
    width:55px;
    float:left;
}
.upfront-settings_panel .horizontal_label label
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#30475e;
    float: left;
    line-height: 8px;
    margin-bottom: 4px;
    margin-top: 5px;
    font-weight: normal;
}
.horizontal_style
{
    width:42px;
    height:8px;
    border:solid 1px #7aa5cc;
    padding:2px;
    float:left;
    margin:0 0 9px 3px
}
.horizontal_style_bar
{
    width:10px;
    height:2px;
    float:left;
    margin-right:3px;
}
.horizontal_style_bar:last-child
{
    margin:0;
}
.horizontal .regular-radio + label
{
    margin-left:17px;
}
.vertical
{
    width:49px;
    float:left;
    margin-top:10px;
}
.vertical_label
{
    width:49px;
    float:left;
}
.upfront-settings_panel .vertical_label label
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#30475e;
    float: left;
    line-height: 8px;
    margin-bottom: 4px;
    font-weight: normal;
}
.vertical_style
{
    width:16px;
    height:18px;
    border:solid 1px #7aa5cc;
    padding:2px;
    float:left;
    margin:0 0 5px 11px
}
.upfront-settings_panel .vertical_style_bar
{
    width:10px;
    height:2px;
    margin-bottom:3px;
    float:left;
}
.upfront-settings_panel .vertical_style_bar:last-child
{
    margin:0;
}
.vertical .regular-radio + label
{
    margin-left:12px;
}
.upfront_menu_alignment_right
{
    float:left;
    margin:0;
    width:172px;
    height:85px;
}
.alignment_left
{
    width:42px;
    float:left;
    margin:15px 0 0 15px;
}
.alignment_left_label
{
    width:42px;
    float:left;
}
.upfront-settings_panel  .alignment_left_label label
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#30475e;
    float: left;
    line-height: 8px;
    margin-bottom: 4px;
    margin-bottom: 4px;
    margin-top: 5px;
    text-align:center;
    width:42px;
    font-weight:normal;
}
.alignment_left_style
{
    width:42px;
    height:8px;
    border:solid 1px #7aa5cc;
    padding:2px;
    float:left;
    margin:0 0 9px 0;
}
.alignment_left_style_bar
{
    width:10px;
    height:2px;
    margin-right:2px;
    float:left;
}
.alignment_left_style_bar:last-child
{
    margin:0;
    width:7px;
}
.alignment_left .regular-radio + label
{
    margin-left:14px;
}
.alignment_center
{
    width:42px;
    float:left;
    margin:15px 0 0 15px;
}
.alignment_center_label
{
    width:42px;
    float:left;
}
.upfront-settings_panel .alignment_center_label label
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#30475e;
    float: left;
    line-height: 8px;
    margin-bottom: 4px;
    margin-top: 5px;
    text-align:center;
    width:42px;
    font-weight: normal;
}
.alignment_center_style
{
    width:42px;
    height:8px;
    border:solid 1px #7aa5cc;
    padding:2px;
    float:left;
    margin:0 0 9px 0;
}
.alignment_center_style_bar
{
    width:11px;
    height:2px;
    margin-right:2px;
    float:left;
}
.alignment_center_style_bar:last-child
{
    margin:0;
    width:10px;
}
.alignment_center .regular-radio + label
{
    margin-left:14px;
}

.alignment_right
{
    width:42px;
    float:left;
    margin:15px 0 0 15px;
}
.alignment_right_label
{
    width:42px;
    float:left;
}
.upfront-settings_panel .alignment_right_label label
{
    font-family:Verdana, Geneva, sans-serif;
    font-size:9px;
    color:#30475e;
    float: left;
    line-height: 8px;
    margin-bottom: 4px;
    margin-top: 5px;
    text-align:center;
    width:42px;
    font-weight: normal;
}
.alignment_right_style
{
    width:42px;
    height:8px;
    border:solid 1px #7aa5cc;
    padding:2px;
    float:left;
    margin:0 0 9px 0;
}
.alignment_right_style_bar
{
    width:10px;
    height:2px;
    margin-left:2px;
    float:right;
}
.alignment_right_style_bar:first-child
{
    width:7px;
}
.alignment_right .regular-radio + label
{
    margin-left:14px;
}
.upfront_misc_setting_box
{
    margin:15px 0 29px 0;
    padding:0;
    float:left;
    width:287px;
}
.misc_option_box
{
    width: 287px;
    float:left;
    color:#30475e;
    font-size:12px;
    font-family:Verdana, Geneva, sans-serif;
}
.misc_option
{
    width:100%;
    line-height:10px;
    float:left;
    margin-top:14px;
}
.misc_option:last-child
{
    margin-top:10px;
}
.upfront-settings_panel .misc_option label
{
    float:left;
    font-weight: normal;
}
.misc_option .label
{
    margin:0 0 0 8px;
    line-height: 15px;
}
.upfront_menu_contents_box
{
    font-family: 'Source Sans Pro', sans-serif;
}
.upfront_menu_contents_tabs
{
    float:left;
    width:287px;
}
.upfront_menu_contents_tabs ul
{
    float:left;
    width:274px;
    margin:0;
    height:29px;
    padding:0 0 0 10px;
    border-bottom:solid 1px #95b8d9;
}
.upfront_menu_contents_tabs ul li
{
    float:left;
    list-style:none;
    margin-right:1px;
}
.upfront_menu_contents_tabs ul li a
{
    float:left;
    text-decoration:none;
    font-size:14px;
    color:#30475e;
    background:#d9e8f6;
    padding:0 12px;
    line-height:28px;
}
.upfront_menu_contents_tabs a:hover,
.upfront_menu_contents_tabs .act_tabs
{
    background:#f2f9ff;
    border:solid 1px #95b8d9;
    border-bottom:none;
    padding:0 11px;
    margin-top:-3px;
    margin-bottom:-1px;
    line-height:31px;
}
.upfront_menu_pages_box,
.upfront_menu_categories_box,
.upfront_menu_customlink_box
{
    margin:0;
    padding:0;
    float:left;
    width:287px;
}
#settings .upfront_menu_pages_box header,
#settings .upfront_menu_categories_box header,
#settings .upfront_menu_customlink_box header,
#settings .upfront_menu_customlink_box header
{
    height: 9px;
    margin-top:14px;
    margin-bottom:11px;
    border-bottom:none;
}
.upfront_page_scroll_box,
.upfront_categories_scroll_box,
.upfront_menuorder_scroll_box
{
    margin:0;
    padding:0;
    float:left;
    width:286px;
    height:128px;
    background:#fcfeff;
    border:solid 1px #d9edff;
    overflow: auto;
    overflow-x: hidden;
}
.upfront_page_scroll_box ul, .upfront_categories_scroll_box ul
{
    margin:15px 0 0 8px;
    padding:0;
    float:left;
    width:286px;
    position:relative;
}
.upfront_page_scroll_box ul ul, .upfront_categories_scroll_box ul ul
{
    margin:12px 0 0 8px;
    padding:0;
    float:left;
    width:135px;
    position:relative;
    display: none;
}
.upfront_page_scroll_box ul li, .upfront_categories_scroll_box ul li
{
    padding:0 0 8px 0;
    margin:0;
    float:left;
    list-style:none;
    width:135px;
    color:#6b8399;
    font-size:15px;
}
.upfront_page_scroll_box ul li li, .upfront_categories_scroll_box ul li li
{
    position:relative;
    margin:1px 0 0 0;
}
.upfront_page_scroll_box ul li li::before, .upfront_categories_scroll_box ul li li::before
{
    content: '';
    position: absolute;
    top: -17px;
    width: 1px;
    height: 100%;
    right: auto;
    left: -4px;
    border-left: 1px dotted #ccc;
}
.upfront_page_scroll_box ul li li::after, .upfront_categories_scroll_box ul li li::after
{
    content: '';
    position: absolute;
    top: 8px;
    width: 12px;
    height: 20px;
    right: auto;
    left: -1px;
    border-top: 1px dotted #ccc;
}
/*Remove connectors before root*/
.upfront_page_scroll_box > ul > li::before, .tree > ul > li::after, .upfront_categories_scroll_box > ul > li::before, .tree > ul > li::after
{
    border: 0;
}
/*Remove connectors after last child*/
.upfront_page_scroll_box li:last-child::before, .upfront_categories_scroll_box li:last-child::before
{
    height: 26px;
}

.upfront_page_scroll_box ul li label, .upfront_categories_scroll_box ul li label
{
    float:left;
}
.upfront_page_scroll_box ul li span, .upfront_categories_scroll_box ul li span
{
    float:left;
    line-height: 18px;
    padding:0 0 0 11px;
}
.upfront_page_scroll_box ul li .plus,
.upfront_page_scroll_box ul li .minus,
.upfront_page_scroll_box ul li .blank,
.upfront_categories_scroll_box ul li .plus,
.upfront_categories_scroll_box ul li .minus,
.upfront_categories_scroll_box ul li .blank
{
    float:left;
    width:9px;
    height:9px;
    margin:4px 3px 3px 0;
    border:solid 1px #919ca6;
}
.upfront_page_scroll_box ul li .blank,
.upfront_categories_scroll_box ul li .blank
{
    border:none;
    width:9px;
    height:9px;
}
.upfront_page_scroll_box ul li .plus:before,
.upfront_categories_scroll_box ul li .plus:before
{
    content: "+";
    position: relative;
    top: -8px;
    font-size: 9px;
    left: 1px;
}
.upfront_page_scroll_box ul li .plus,
.upfront_page_scroll_box ul li .minus,
.upfront_categories_scroll_box ul li .plus,
.upfront_categories_scroll_box ul li .minus
{
    cursor: pointer;
}
.upfront_page_scroll_box ul li .minus:before,
.upfront_categories_scroll_box ul li .minus:before {
    content: "-";
    position: relative;
    top: -7px;
    font-size: 15px;
    left: 1px;
}
.upfront_page_scroll_box ul, .upfront_categories_scroll_box ul
{
    margin:15px 0 0 8px;
    padding:0;
    float:left;
    width:286px;
}
.upfront_menu_selected_pages_box
{
    margin:0;
    padding:0;
    float:left;
    width:287px;
}
.upfront_menu_selected_pages_box header
{
    text-transform: uppercase;
    font-size: 14px;
    color: #30475e;
    line-height: 9px;
    width: 287px;
    margin-top:20px;
    margin-bottom:10px;
}
.upfront_selected_pages_box
{
    margin:0 0 14px 0;
    padding:0;
    float:left;
    width:297px;
}
.upfront_selected_pages_box span
{
    margin:0 13px 10px 0;
    padding:0 5px 0 13px;
    line-height:21px;
    font-size:13px;
    color:#30475e;
    display:inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #dae7f2;
    cursor:pointer;
}
.upfront_selected_pages_box span:before {
    content: "x";
    font-weight: normal;
    font-size: 14px;
    left: -7px;
    position: relative;
    color: #698baa;
    top: -1px;
}
.upfront_menu_selected_pages_box
{
    margin:19px 0 0 0;
    padding:0;
}
.upfront_menu_selected_pages_box .link, .upfront_menu_selected_pages_box .label
{
    float:left;
    width:100%;
    font-size:14px;
    color:#263a4d;
    line-height:33px;
    text-align: right;
}
.upfront_menu_selected_pages_box input[type="text"]
{
    width:199px;
    height:33px;
    background:#fcfeff;
    font-size:14px;
    color:#263a4d;
    border:solid 1px #d9edff;
    float:right;
    padding:0 13px 0 13px;
    margin:0 0 15px 5px;
    outline:none;
}
.upfront_menu_selected_pages_box input::-webkit-input-placeholder
{
    color:#263a4d;
}

.upfront_menu_selected_pages_box button
{
    width:162px;
    height:35px;
    border:solid 2px #a5c3db;
    background:transparent;
    color:#6b92b2;
    font-size:16px;
    float:right;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.upfront_menu_selected_pages_box button:hover
{
    border:solid 2px #8fb4d2;
}
.upfront_customlink_area
{
    float:left;
    width:100%;
    margin-bottom:11px;
}
#settings .upfront_menu_order_box header
{
    margin-top: 0;
    border-bottom: 0;
}
.upfront_menuorder_scroll_box
{
    height:272px;
    margin-bottom:15px;
    margin-top:5px;
}
.upfront_menuorder
{
    width:278px;
    float:left;
}
.upfront_menuorder > ul
{
    width:266px;
    float:left;
    margin:0 10px 10px;

    padding:0;
}
.upfront_menuorder ul ul
{
    float:left;
    padding:0;
    margin:0;
}
.upfront_menuorder ul li
{
    margin-bottom: 0;
    position: relative;
    list-style: none;
}
.menu-item-bar {
    clear: both;
    line-height: 1.5em;
    position: relative;
    margin: 13px 0 0 0;
}
.menu-item-handle
{
    cursor: move;
    background:#dae7f2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding-left: 15px;
    height: auto;
    width: 175px;
    line-height: 31px;
    overflow: hidden;
    word-wrap: break-word;
}
.menu-item-handle .item-title {
    font-size: 14px;
    line-height: 31px;
    display: block;
    margin-right: 5px;
    color:#30475e;
    font-family: 'Source Sans Pro', sans-serif;
}
.item-controls {
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: -1px;
    color: #94a3b1;
}
/* Sortables */
li.menu-item.ui-sortable-helper dl {
    margin-top: 0;
}

li.menu-item.ui-sortable-helper .menu-item-transport dl {
    margin-top: 13px;
}

.menu .sortable-placeholder {
    height: 31px;
    margin-top: 13px;
    width: 175px;
    border: dotted 1px #6386a6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* WARNING: The factor of 20px is hardcoded into the nav-menus javascript. */
.menu-item-depth-0 { margin-left: 0px; }
.menu-item-depth-1 { margin-left: 20px; }
.menu-item-depth-2 { margin-left: 40px; }
.menu-item-depth-3 { margin-left: 60px; }
.menu-item-depth-4 { margin-left: 80px; }
.menu-item-depth-5 { margin-left: 120px; }
.menu-item-depth-6 { margin-left: 140px; }
.menu-item-depth-7 { margin-left: 160px; }
.menu-item-depth-8 { margin-left: 180px; }
.menu-item-depth-9 { margin-left: 200px; }
.menu-item-depth-10 { margin-left: 220px; }
.menu-item-depth-11 { margin-left: 240px; }

.menu-item-depth-0 .menu-item-transport { margin-left: 0px; }
.menu-item-depth-1 .menu-item-transport { margin-left: -20px; }
.menu-item-depth-2 .menu-item-transport { margin-left: -40px; }
.menu-item-depth-3 .menu-item-transport { margin-left: -60px; }
.menu-item-depth-4 .menu-item-transport { margin-left: -80px; }
.menu-item-depth-5 .menu-item-transport { margin-left: -120px; }
.menu-item-depth-6 .menu-item-transport { margin-left: -140px; }
.menu-item-depth-7 .menu-item-transport { margin-left: -160px; }
.menu-item-depth-8 .menu-item-transport { margin-left: -180px; }
.menu-item-depth-9 .menu-item-transport { margin-left: -200px; }
.menu-item-depth-10 .menu-item-transport { margin-left: -220px; }
.menu-item-depth-11 .menu-item-transport { margin-left: -240px; }

.upfront-save_settings
{
    background: #4cd285;
    color: #ccffe2;
    width: 74px;
    height: 29px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45bf7a;
    box-shadow: inset 0px 1px 0px 0px #45bf7a;
}
.upfront-save_settings i
{
    color: #379962;
}
