/*/////////Menu start////////*/
[data-aliment="left"] .menu
{
    text-align:left;
}
[data-aliment="center"] .menu
{
    text-align:center;
}
[data-aliment="right"] .menu
{
    text-align:right;
}
[data-style="vertical"] .menu li
{
    width: 100%;
    float: left;
}
[data-style="vertical"] .menu li ul
{
    top: 0;
    left: 100%;
}
[data-allow-sub-nav="yes"] .menu li:hover > ul{
    display:block;
}
[data-allow-sub-nav="no"] .menu li:hover > ul, .menu li:hover > ul {
    display:none;
}


[data-already_floating="yes"] {
    position: fixed;
    top: 0px;
    z-index: 99999999;
}
.admin-bar [data-already_floating="yes"] {
    top: 30px;
}