/*/////////Menu Editor start////////*/
.upfront-nav-this-menu-items .upfront-field-wrap span
{
    margin:0 10px 10px 0;
    padding:0 5px 0 13px;
    line-height:21px;
    font-size:13px;
    color:#30475e;
    display:inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #dae7f2;
    cursor:pointer;
}
.upfront-nav-this-menu-items .upfront-field-wrap span:before {
    content: "x";
    font-weight: normal;
    font-size: 14px;
    left: -7px;
    position: relative;
    color: #698baa;
    top: -1px;
}
#settings .upfront-settings_panel .menu-item-bar {
    margin: 13px 0 0 0;
}
#settings .upfront-settings_panel .menu-item-handle
{
    cursor: move;
    background:#dae7f2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding-left: 15px;
    height: auto;
    width: 175px;
    line-height: 31px;
    overflow: hidden;
    word-wrap: break-word;
}
#settings .upfront-settings_panel .menu-item-handle .item-title {
    font-size: 12px;
}
#settings .upfront-settings_panel .item-controls {
    font-size: 12px;
    position: absolute;
    right: 15px;
    color: #94a3b1;
}
/* Sortables */
.menu-item-transport{
    margin: 0;
}
#settings .upfront-settings_panel li.menu-item.ui-sortable-helper dl {
    margin-top: 0;
}

#settings .upfront-settings_panel li.menu-item.ui-sortable-helper .menu-item-transport dl {
    margin-top: 13px;
}

#settings .upfront-settings_panel .menu .sortable-placeholder {
    height: 31px;
    margin-top: 13px;
    width: 175px;
    border: dotted 1px #6386a6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* WARNING: The factor of 20px is hardcoded into the nav-menus javascript. */
#settings .upfront-settings_panel .menu-item-depth-0 { margin-left: 0px; }
#settings .upfront-settings_panel .menu-item-depth-1 { margin-left: 20px; }
#settings .upfront-settings_panel .menu-item-depth-2 { margin-left: 40px; }
#settings .upfront-settings_panel .menu-item-depth-3 { margin-left: 60px; }
#settings .upfront-settings_panel .menu-item-depth-4 { margin-left: 80px; }
#settings .upfront-settings_panel .menu-item-depth-5 { margin-left: 120px; }
#settings .upfront-settings_panel .menu-item-depth-6 { margin-left: 140px; }
#settings .upfront-settings_panel .menu-item-depth-7 { margin-left: 160px; }
#settings .upfront-settings_panel .menu-item-depth-8 { margin-left: 180px; }
#settings .upfront-settings_panel .menu-item-depth-9 { margin-left: 200px; }
#settings .upfront-settings_panel .menu-item-depth-10 { margin-left: 220px; }
#settings .upfront-settings_panel .menu-item-depth-11 { margin-left: 240px; }

#settings .upfront-settings_panel .menu-item-depth-0 .menu-item-transport { margin-left: 0px; }
#settings .upfront-settings_panel .menu-item-depth-1 .menu-item-transport { margin-left: -20px; }
#settings .upfront-settings_panel .menu-item-depth-2 .menu-item-transport { margin-left: -40px; }
#settings .upfront-settings_panel .menu-item-depth-3 .menu-item-transport { margin-left: -60px; }
#settings .upfront-settings_panel .menu-item-depth-4 .menu-item-transport { margin-left: -80px; }
#settings .upfront-settings_panel .menu-item-depth-5 .menu-item-transport { margin-left: -120px; }
#settings .upfront-settings_panel .menu-item-depth-6 .menu-item-transport { margin-left: -140px; }
#settings .upfront-settings_panel .menu-item-depth-7 .menu-item-transport { margin-left: -160px; }
#settings .upfront-settings_panel .menu-item-depth-8 .menu-item-transport { margin-left: -180px; }
#settings .upfront-settings_panel .menu-item-depth-9 .menu-item-transport { margin-left: -200px; }
#settings .upfront-settings_panel .menu-item-depth-10 .menu-item-transport { margin-left: -220px; }
#settings .upfront-settings_panel .menu-item-depth-11 .menu-item-transport { margin-left: -240px; }


.upfront-field-icon.upfront-field-icon-navigation-open,
.upfront-field-icon.upfront-field-icon-navigation-link {
    margin-right: 0px;
}
.nav_tooltip .edit_url, .nav_tooltip .visit_page
{
    width: 78px;
    font-family: verdana;
    font-size: 10px !important;
    color: #1fcd8f !important;
    line-height: 15px !important;
    height: 15px !important;
    display: block !important;
    text-align: left !important;
    text-decoration: none;
    text-transform:none !important;
}
.nav_tooltip a:hover
{
    text-decoration: underline;
}
/*new settings*/
#settings .upfront-nav-this-menu-items .upfront-settings-item{
    padding-bottom: 0;
}
.upfront-nav-get-menu-items{
    display: inline-block;
    width: 100%;
}
.upfront-nav-menu-order .upfront-settings-item
{
    min-height: 200px;
}
.upfront-nav-menu-order ul{
    padding: 0;
}
.upfront-nav-get-menu-items .upfront-field-wrap ul {
    margin: 0;
    padding: 0;
    display:inline-block;
}
.upfront-nav-get-menu-items .upfront-field-wrap ul li {
    width: 100%;
    display:inline-block;
}
.upfront-nav-get-menu-items .upfront-field-wrap ul li ul {
    padding: 0 0 0 14px;
}
.upfront-nav-get-menu-items .upfront-field-multiple{
    margin:0;
}
