/* Default overlay */

div.preset-manager-panel .default-overlay-wrapper {
	position: relative;
	min-height: 300px;
}

div.preset-manager-panel .default-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.85) 100%);
	z-index: 999;
	padding: 30px 15px;
	font-family:Open Sans, Helvetica Neueu, Helvetica, Arial, sans-serif;
}

div.preset-manager-panel .overlay-title:before {
	content: '';
	width: 20px;
	height: 19px;
	background-image: url('../img/uf-ui-sprite.svg');
	background-position: -193px -247px;
	left: 17px;
	top: 32px;
	opacity: .8;
	position: absolute;
	display: block;
}

div.preset-manager-panel .overlay-title {
	padding-left: 30px;
	color:rgba(47,71,95,.8);
	font-size:14px;
	font-weight:600;
}

div.preset-manager-panel .overlay-text p {
	font-size: 12px;
	display: inline-block;
	color: #596c7f;
	position: relative;
	font-weight: normal;
	line-height: 1.4;
	padding-top: 12px;
}

div.preset-manager-panel .overlay-text p strong {
	font-weight:600;
}

div.preset-manager-panel .overlay-button-input {
	width: 85%;
	margin: 20px auto 0;
	display: block;
	border: 1px solid rgba(151,163,174, 0.5);
	padding:6px;
	font-size:14px;
	color: rgba(47,71,95, .85);
}

div.preset-manager-panel .overlay-button-input:hover {
	border: 1px solid rgba(151,163,174, 1);
	color: rgba(47,71,95, 1);
}