div.preset-manager-panel .upfront-settings-css {
	padding: 0px;
	background: rgb(242, 242, 242);
}

#element-settings-sidebar .upfront-css-edit,
div.preset-manager-panel .edit_preset_css {
	position: relative;
	margin-top: -12px;
	left: 90px;
}

#element-settings-sidebar .edit-preset-css-label,
div.preset-manager-panel .edit_preset_label {
	font-weight: bold;
	font-size: 13px;
	color: #2f475f;
	text-transform: uppercase;
}

#element-settings-sidebar .edit-preset-css-label input,
div.preset-manager-panel .edit_preset_label input {
	cursor: default;
	position: relative;
	top: 15px;
}

#element-settings-sidebar .upfront-css-edit {
	position: relative;
}

#element-settings-sidebar .upfront-css-edit {
	margin-bottom: 10px;
}

.upfront-settings-css .upfront-settings-item-content {
	padding-left: 10px !important;
}

.upfront-social-services-item .upfront-settings-css {
	margin-left: -15px;
}

div.preset-manager-panel .upfront-settings-css {
	padding-bottom: 15px;
}