div.button-settings-panel a.upfront-buttonpreset-edit {
	font-size: 12px;
	color: #009a68;
	text-decoration: underline;
}

div.button-settings-panel .hover_button_preset,
div.button-settings-panel .static_button_preset {
  display: inline;
  margin-right: 15px;
}
div.button-settings-panel .hover_button_preset input,
div.button-settings-panel .static_button_preset input,
div.button-settings-panel .delete_button_preset input{
  font-size: 13px;
  padding: 1px 5px 2px;
  border-radius: 5px;
}
div.button-settings-panel .hover_button_preset input,
div.button-settings-panel .static_button_preset input {
  color: #009a68;
  background: none;
  text-decoration: underline;
}

div.button-settings-panel .hover_button_preset.active input,
div.button-settings-panel .static_button_preset.active input{
  background-color:#84a8ce !important;
  color:#fff;
  text-decoration: none;
}

div.button-settings-panel .delete_button_preset input {
  background-color:#d71b12 !important;
  color:#fff;
  float: right;
  margin-top: -25px;
}

div.button-settings-panel .delete_button_preset {
	position: relative;
	z-index: 99;
}

div.button-settings-panel div.preset_specific div.upfront-settings-item {
  padding-top: 0;
}

div.button-settings-panel div.preset_specific div.upfront-settings-item div.upfront-settings-item-title:after {
  display: none;
}

div.button-settings-panel div.preset_specific div.upfront-settings-item div.upfront-settings-item-content {
  margin-top: 10px;
}



div.button-settings-panel div.preset_specific div.border_radius input,
div.button-settings-panel div.preset_specific div.inline-number input,
div.button-settings-panel div.preset_specific div.font input,
div.button-settings-panel div.preset_specific div.duration input
 {
  width: 45px;
  font-size: 12px;
}
div.button-settings-panel div.preset_specific div.border_radius1 {
  position: relative;
}
div.button-settings-panel div.preset_specific div.border_radius1 label {
  position: absolute;
  top: -20px;
  width: 150px;
}
div.button-settings-panel div.preset_specific div.border_radius {
  display: inline-block;
  margin-top: 35px;
  position: relative;
}
div.button-settings-panel div.preset_specific div.border_radius3, div.button-settings-panel div.preset_specific div.border_radius4 {
  top:-42px;
}

div.button-settings-panel div.preset_specific div.border_radius2 {
  left:30px;
}

div.button-settings-panel div.preset_specific div.border_radius3 {
  left: -15px;
}

div.button-settings-panel div.preset_specific div.border_radius4 {
  left: -45px;
}

div.button-settings-panel div.preset_specific div.border_radius4.hover {
  left: 0;
}

div.button-settings-panel div.preset_specific div.border_radius3.hover {
  left: 30px;
}

div.button-settings-panel div.preset_specific div.bg-color {
 display: inline-block;
  vertical-align: text-bottom;
  margin-left: 70px;
  margin-bottom: -2px;
}

div.button-settings-panel div.preset_specific
div.border-color {
  margin-left: 28px;
}

div.button-settings-panel div.preset_specific div.font {
  margin-top: 52px;
  display: inline-block;
  float: left;
clear: left;

  vertical-align: text-bottom;
}
div.button-settings-panel div.preset_specific div.font.hover {
  margin-top: -21px;
}



div.button-settings-panel div.preset_specific div.font_face div.upfront-field-select {
  width: 110px !important;
  margin-bottom: -2px;
  margin-left:20px;
}

div.button-settings-panel div.preset_specific div.font_color {
  float: right;
  margin-top: -30px;
}

div.button-settings-panel div.preset_specific div.duration {
  margin-top: 15px;
}
div.button-settings-panel div.preset_specific div.transition{
  margin-top: -28px;
  margin-left:80px;
}

div.button-settings-panel div.preset_specific div.font_face > label,
div.button-settings-panel div.preset_specific div.transition label {
  font-size: 12px;
  display: inline;
  vertical-align: top;
}
div.button-settings-panel div.preset_specific div.transition label {
 margin-left:-30px;
  margin-right: 10px;
}

div.button-settings-panel div.preset_specific div.font_face > label {
  position: relative;
  left: 6px;
}

div.button-settings-panel div.new_button_preset input {
	background: transparent;
	border: 2px #818d96 solid;
	font-size: 12px;
	padding: 3px 16px;
}

div.button-settings-panel div.new_preset_name{
  width: 140px;
  margin-right: 10px;
  display: inline-block;
}

div.button-settings-panel div.new_button_preset {
  display: inline-block;
  width: 80px;
  margin-top: 10px;
}
div.button-settings-panel div.button_preset {
  margin-top: 10px;
}

div.button-settings-panel div.or_divider div.upfront-settings-item-title {
  text-align: center;
}
div.button-settings-panel div.or_divider div.upfront-settings-item-title > span {
  display: inline-block;
  background-color:#84a8ce;
  height: 22px;
  width: 24px;
  border-radius: 50%;
  position: relative;
  top: -6px;
  padding-top: 6px;
  color:#fff;
  text-transform: lowercase;
}
div.upfront-editable_entity.upfront-button {
	display: table;
}
div.upfront-output-button, div.upfront-output-button div.redactor_box {
	display: table-row;
}

div.upfront-output-button.being_edited {
  display: inline-table;
  height: 100%;
  width: 100%;
}

div.button-settings-panel div.upfront-settings-common_panel {
	padding-bottom: 15px;
}

div.button-settings-panel div.border_radius_lock input[type=checkbox] {
  position: relative;
  left: 36px;
  top: 6px;
}
div.button-settings-panel div.border_radius_lock input[type=checkbox]:checked {
  float:none !important;
  left: 38px;
  top: 7px;
}
div.button-settings-panel div.border_radius_lock input[type=checkbox]:after {

  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background-image: url('../../../img/uf-core-el-sprite.png');
  background-image: url('../../../img/uf-core-el-sprite.svg'), none;
  background-position: -661px -172px;
  background-color: rgb(242, 249, 255);
  left: -3px;
  top: -3px;
  position: relative;
}

div.button-settings-panel div.border_radius_lock input[type=checkbox]:checked:after {

  background-position: -661px -140px;

}



div.upfront-output-button i.visit_link {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  opacity: 0;
}
div.upfront-output-button.being_edited i.visit_link {
  display:none !important;
}
div.upfront-output-button:hover i.visit_link {
  opacity: 1;

}

