div.upfront-editable_entity.upfront-button {
	display: table;
}
div.upfront-output-button, div.upfront-output-button div.redactor-box {
	display: table-row;
}
div.upfront-output-button div.redactor-box {
  display: table-row;
}
div.upfront-output-button.being_edited {
  display: inline-table;
  height: 100%;
  width: 100%;
}

div.upfront-output-button i.visit_link {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  opacity: 0;
}
div.upfront-output-button.being_edited i.visit_link {
  display:none !important;
}
div.upfront-output-button:hover i.visit_link {
  opacity: 1;
}
a.upfront_cta.ueditor-placeholder{
  position: relative !important;
  left: inherit !important;
  top: inherit !important;
  right: inherit !important;
  display: none !important;
}
/* Small adjustemnts for linking panel, it uses redactor template */
.upfront-button .redactor_air {
	left: 50%;
	margin-left: -20px;
	display: none;
}
.upfront-button.stayOpen .redactor_air,
.upfront-button:hover .redactor_air {
	display: block!important;
}
