.upfront_login-settings-panel .upfront-settings_panel {
	width: 290px;
}

.upfront_login-fields-complex_boolean {
	width: 48%;
	float: left;
}
.upfront_login-fields-complex_boolean .upfront-field-wrap-radios {
	float: left;
}
.upfront_login-fields-complex_boolean .upfront-field-wrap-text {
	width: 80%;
	float: left;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon {
	width: 60%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront-field-text {
	width: 80%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-label {
	width: 40%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront_login-icon {
	float: left;
	width: 85%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront_login-icon input {
	width: 80%;
}

.upfront_login-item-display_behavior .upfront-field-multiple,
.upfront_login-logout_style .upfront-field-multiple {
	max-width: 48%;
	margin-right: 1%;
	float: left;
}

.upfront_login-logout_text {
	clear:both;
} 

div.upfront_login-item-display_behavior div.upfront-settings-item-title > span {
  display: block;
  color: #7d99b3;
  font-size: 11px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  line-height: 1;
  margin-bottom: 0 !important;
  text-transform: none;
}


div.upfront_login-item-display_behavior div.upfront-settings-item-title:after {
  display:none;
}

div.upfront_login-item-display_trigger div.upfront-field-wrap-text {
  margin-top:0 !important;
}

div.upfront_login-item-display_trigger div.upfront-settings-item {
  padding-top: 0;
}

div.upfront-login_element-module,
div.upfront-login_element-module.upfront-module-active {
  z-index: 80;
}

div.upfront-login_element-module .upfront_login.upfront_login-hover,
div.upfront-login_element-module.upfront-module-active .upfront_login.upfront_login-hover,
div.upfront-login_element-module .upfront_login.upfront_login-click,
div.upfront-login_element-module.upfront-module-active .upfront_login.upfront_login-click {
  z-index: 15;
}