.upfront_login {
	width: 100%;
	height: 5px;
	background: rgba(0,0,0,.7);
	border-top: 2px solid #20ca8b;
	border-bottom: 2px solid #20ca8b;
	transition: all 1s;
	overflow: hidden;
}
.upfront_login:hover {
	height: 180px;
}
.upfront-login_element-object {
	min-height: 1em; /* Editor fix */
}
.upfront_login form {
	color: #fff;
	width: 30%;
	margin: 5px auto;
}