#upfront-image-overlay * {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
#upfront-image-overlay {
	position:fixed;
	width: 100%;
	background: rgba(57,82,105,0.9);
	top:0;
	z-index: 20001;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	font-weight: 200;
	cursor: pointer;
}

.upfront-image-section {
	cursor: default;
}

.upfront-image .upfront-object-content{
	height: 100%;
}

#upront-image-placeholder, #upfront-image-uploading {
	width: 80%;
	margin: 60px auto;
	text-align: center;
	border-radius: 100px;
	border: 5px dashed #C3DCF1;
	color: #C3DCF1;
}

.small_placeholder #upront-image-placeholder {
	border-radius: 40px;
	font-size: 18px;
	width: 90%;
}

.upfront-image-selector-container {
	width: 280px;
	margin: 0 auto;
}

#upfront-image-overlay h2 {
	font-size: 42px;
	color: #F2F9FF;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 200;
}

#upfront-image-overlay h2:before,
#upfront-image-overlay h2:after {
	display: none;
}

.small_placeholder #upront-image-placeholder h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

#upfront-image-file-input {
}


#upfront-image-maxsize {
	font-size: 12px;
	margin-bottom: 20px;
}

#upfront-image-overlay .select-files {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	height: 56px;
	width: 200px;
	line-height: 48px;
	color: #fff;
	border: 4px solid #1fcd8f;
	border-radius: 20px;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	background: none;
	padding: 0;
}

#upfront-image-overlay.small_placeholder .select-files {
	height:40px;
	line-height: 32px;
	font-weight: 400;
	font-size: 18px;
}

#upfront-image-overlay a.open-media-gallery {
	color: #1fcd8f;
	font-weight: 400;
	margin-top: 10px;
	border-bottom: 1px dotted #fff;
}

a.open-media-gallery:hover {
	color: #fff;
}

a.open-media-gallery:hover i {
	text-decoration: none;
}

.small_placeholder .upfront-image-media-container {
	display: inline;
}

.dragimagehand {
	background: url(../img/hand.png) no-repeat center bottom;
	background-size: contain;
	height: 150px;
	width: 13%;
	display: block;
	position: absolute;
	left: 20%;
	bottom: 0;
}

.upfront-progress-container {
	background: #1E2D3B;
	border-radius: 15px;
	width: 50%;
	padding: 5px;
	margin: 0 auto;
}

#upfront-progress {
	background: #2FCC90 ;
	height: 10px;
	border-radius: 5px;
	border-top: 1px solid #2EE49F;
}

.small_placeholder .dragimagehand {
	left: 12%;
}

#upfront-image-overlay .icon-picture{
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat -806px -327px;
	padding: 0 15px;
}

.upfront-image {
}
.uimage-status-starting {
	background: #eeeff0;
}

.upfront-image-container {
	position: relative;
}

.upfront-image-starting-select {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
	color: #273A4C;
	font-family: 'Source Sans Pro';
	font-size:18px;
	width:100%;
	background: #eeeff0;
	text-align: center;
	padding: 0;
	position: relative;
	overflow: hidden;
	border: 1px solid #ddd;
}

/**********************************
OLD STYLE
******************/
.upfront-image-resizing-icons {
	width: 138px;
	height: 60px;
	margin: 10px auto;
}

.upfront-image-resize-icon {
	display: block;
	width: 56px;
	height: 56px;
	border: 2px solid #F2B530;
	border-radius: 56px;
	float: left;
	margin-right: 10px;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat -1558px -17px;
}

.upfront-image-starting-select a.upfront-image-select-button {
	background: #28DC96 url(../../../img/uf-core-el-sprite.svg) no-repeat -1659px -30px;
	border-radius: 60px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	border:none;
	border: 3px solid rgba(255,255,255,0.3);
	display: block;
	text-align: center;
	font-weight: 200;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	height: 60px;
	width: 60px;
	float:left;
	margin:0;
}

.upfront-image-starting-select a.upfront-image-select-button:hover {
	background-color: #3ea;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

.upfront-image-and {
	display: block;
	text-indent: -4000px;
	background: url('../img/ampersand.png') no-repeat center center;
	height: 40px;
	background-size: contain;
	float: left;
	width: 40px;
	margin: 0 0 10px -10px;
}

.upfront-image-resizethiselement {
	line-height: 1.1;
	text-align: center;
}

/******** end OLD STYLE */

.uimage-centered {
	position: absolute;
	width: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 90px;
}

a.upfront-image-select,
a.upfront-image-select:visited {
	border: 2px solid #B5BBC1;
	color: #B5BBC1;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 0 auto;
	background: none;
	font-size: 31px;
	line-height: 35px;
	padding: 0;
}

a.upfront-image-select:hover {
	border: 2px solid #3ea;
	color: #3ea;
	background: none;
}

.uimage-small .uimage-centered,
.uimage-narrow .uimage-centered {
	position: absolute;
	width: 40px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 40px;
}

.upfront-image-resizethiselement {
	font-size: 20px;
	margin-bottom: 10px;
}

.uimage-small .upfront-image-resizethiselement,
.uimage-narrow .upfront-image-resizethiselement {
	display: none;
}

.uimage-tiny .upfront-image-select.button {
	border:0;
	width: 10px;
	font-size: 14px;
	margin-left: -1px;
}


.upfront-image-resize-buttons {
	width: 120px;
}

#upfront-image-uploading {
	display: none;
}

#image-edit-container {
	position: relative;
	opacity:1 !important;
}

.image-edit-canvas-container {
	float:left;
	background: #DAEDFE;
	box-shadow: 0 0 5px #000;
	border: 3px solid #DAEDFE;
	z-index:10;
	overflow:hidden;
}

#upfront-image-overlay img.image-edit-canvas {
	max-height: none;
	max-width: none;
	position:absolute;
	border: 5px solid #DAEDFE;
	box-shadow: 0 0 5px #000;
	z-index:10;
}

.image-edit-save-container {
	box-shadow: 0 0 5px #000;
	float: left;
	position: absolute;
	text-align: center;
}

.image-edit-save-container .no-shadow {
	width: 200px;
	background: #DAEDFE;
	position:relative;
	z-index:11;
	padding:15px;
}

#upfront-image-edit {
	position: absolute;
	top: 0;
	left: 0;
	z-index:10000;
	cursor: pointer;
}

#upfront-image-edit *,
#upfront-image-edit *:before,
#upfront-image-edit *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#uimage-cover {
	background: #cee1f2;
}

#upfront-image-edit a.image-edit-save {
	border-radius: 20px;
	color: #1C7F5B;
	font-family: 'Source Sans Pro', sans-serif;
	border: 3px solid #1fcd8f;
	padding: 0.3em 0;
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 400;
	clear: both;
	margin:  0 auto 10px;
}

#upfront-image-edit a.image-edit-save i{
	font-size: 18px;
}

#upfront-image-edit a.image-edit-option  {
	font-size: 14px;
	color: #1C7F5B;
	border-bottom: 2px dotted #86AACA;
	font-weight: 400;
	display: block;
}

#upfront-image-edit a.image-edit-option:hover  {
	border-bottom: 2px dotted #1fcd8f;
}

#upfront-image-edit a.image-edit-option  i {
	font-size: 12px;
	color: #86AACA;
}

.image-edit-control {
	position:absolute;
	width: 35px;
	height: 35px;
	z-index: 11;
}

#uimage-drag-handle {
	position: absolute;
	top:0;
	left:0;
	z-index:10;
	opacity: 1 !important;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.image-edit-control>i {
	color: #DAEDFE;
	background: rgba(255, 255, 255, .9) url(../../../img/uf-core-el-sprite.svg) no-repeat;
	position: relative;
	z-index:12;
	width: 35px;
	height: 35px;
	display: block;
	font-weight: 200;
	cursor:pointer;
	padding: 9px 10px;
	font-size: 16px;
}

.image-edit-control>i:hover {
}

.image-edit-rotate {
	top: 5px;
	left: 5px;
}
.image-edit-rotate i:hover{
	background-color: #3ea;
}

.image-edit-mask {
	width: 300px;
	height: 300px;
	border-collapse: separate;
	-moz-box-shadow: 0 0 0 20000px rgba(34, 49, 64, 0.6);
	-webkit-box-shadow: 0 0 0 20000px rgba(34, 49, 64, 0.6);
	box-shadow: 0 0 0 20000px rgba(34, 49, 64, 0.6);
	z-index:10;
	position:absolute;
}

#image-edit-buttons {
	z-index: 11;
	width: 160px;
}

a.image-edit-button,
a.image-edit-button:link {
	display: inline-block;
	line-height: 36px;
	background: rgba(255, 255, 255, .9);
	margin-bottom: 5px;
	cursor: pointer;
	color:#304050;
	padding:0 10px;
	font-size: 14px;
	clear: both;
	float: left;
}

#image-edit-buttons-bottom a {
	float: left;
	margin: 0 5px 0 0;
}

a.image-edit-button:hover {
	background: #3ea;
	color:#fff;
}

.image-fit-element-button {
	background: rgba(255, 255, 255, .9);
	color:#2B3B4A;
	display: inline-block;
	line-height: 36px;
	padding: 0 10px;
	vertical-align: top;
}

.image-fit-element-button:hover {
	background-color: #28DC96;
	color: #fff;
}

.image-edit-button:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(../../../img/uf-core-el-sprite.png);
	background: url(../../../img/uf-core-el-sprite.svg), none;
}

a.image-edit-button.deactivated {
	cursor: default;
	background: rgba(255,255,255,0.4);
	color: #568;
}

a.image-edit-button.deactivated:hover {
	background: rgba(255,255,255,0.4);
	color: #568;
}

#image-edit-button-fit:before{
	background-position: -701px -841px;
	width: 24px;
	height: 20px;
	margin-top: -3px;
}

#image-edit-button-reset:before{
	background-position: -809px -841px;
	width: 24px;
	height: 20px;
	margin-top: -3px;
}
#image-edit-button-swap:before{
	background-position: -693px -162px;
}
#image-edit-button-ok:before{
	background-position: -801px -160px;
}

#image-edit-button-ok {
	background: #1FCD8F;
	color: #11A56C;
}
#image-edit-button-ok:hover {
	background: #3ea;
}

#image-edit-button-align{
	display: inline-block;
	margin-left: 0;
	clear: none;
}

#image-edit-button-align:before{
	height: 25px;
	width: 17px;
}
#image-edit-button-align.align-left:before{
	background-position: -703px -231px;
}
#image-edit-button-align.align-center:before{
	background-position: -703px -263px;
}
#image-edit-button-align.align-right:before{
	background-position: -703px -295px;
}

#image-edit-button-fit:hover:before{
	/*background-position: -693px -129px;*/
}
#image-edit-button-reset:hover:before{
	/*background-position: -801px -130px;	*/
}
#image-edit-button-swap:hover:before{
	background-position: -693px -194px;
}
#image-edit-button-ok:hover:before{
	background-position: -801px -192px;
}
#image-edit-button-align.align-left:hover:before{
	background-position: -810px -263px;
}
#image-edit-button-align.align-center:hover:before{
	background-position: -810px -295px;
}
#image-edit-button-align.align-right:hover:before{
	background-position: -810px -231px;
}

.image-edit-rotate i {
	background-position: -694px -354px;
}

.image-edit-resize {
	position:absolute;
	bottom: 0;
	right: 0;
	height: 20px;
	width: 20px;
	border-right: 5px solid #F2B530;
	border-bottom: 5px solid #F2B530;
}

.image-edit-resize i{
	height: 20px;
	width: 20px;
	background: none;
	cursor: nw-resize;
}

.rotate_90 {
	-webkit-transform: rotate(90deg) !important;
	-moz-transform: rotate(90deg) !important;
	-o-transform: rotate(90deg) !important;
	-ms-transform: rotate(90deg) !important;
	transform: rotate(90deg) !important;
}

.rotate_180 {
	-webkit-transform: rotate(180deg) !important;
	-moz-transform: rotate(180deg) !important;
	-o-transform: rotate(180deg) !important;
	-ms-transform: rotate(180deg) !important;
	transform: rotate(180deg) !important;
}

.rotate_270 {
	-webkit-transform: rotate(270deg) !important;
	-moz-transform: rotate(270deg) !important;
	-o-transform: rotate(270deg) !important;
	-ms-transform: rotate(270deg) !important;
	transform: rotate(270deg) !important;
}

#uimage-canvas{
	z-index: 10;
}

/*.uimage-mode-small .image-edit-resize,*/
.uimage-mode-tiny .image-edit-resize,
.uimage-mode-tiny .image-edit-rotate,
.uimage-mode-big #image-edit-button-align,
.uimage-mode-horizontal #image-edit-button-align{
	display:none !important;
}

 #image-edit-buttons-bottom.image-edit-buttons-toleft a{
	float: right;
	margin: 0 0 5px 0;
	clear: both;
}

#uimage-tooltip {
	display:none;
	width: auto;
	color: #eeeff0;
	font-size: 12px;
	text-align: center;
	height: auto;
	padding: 0 5px;
}

.uimage-drop-hint {
	/*border:3px dashed #3f5870;*/
    content:'Drop Image Here';
    color:rgba(37,58,78,1);
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
	top:0;
	bottom:0;
    overflow: hidden;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    font:300 24px Helvetica Neue, Helvetica, sans-serif;
}
.uimage-drop-hint div{
    display: block;
    top: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    line-height: 0;
    text-align: center;
}

.uimage-drop-hint.uimage-dragenter {
    transition:border .3s ease-in-out;-moz-transition:border .3s ease-in-out; -webkit-transition:border .3s ease-in-out;
    background:rgba(255,255,255,.7);
    border:5px solid rgba(0,206,141,1);
    /*width: 105%;*/
    /*height: 105%;*/
}
.uimage-drop-hint.uimage-dragenter div{
    /*top:47.5%;*/
    /*left: -2.5%;*/
}
.upfront-quick-swap.uimage-quick-swap-small {
	font-size: 18px;
}

.upfront-image:hover .upfront-quick-swap{
	display: block;
}

#upfront-upload-image {
	display:none;
}


.uimage-controls {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2001;
}

.uimage-controls .upfront-inline-panel {
	opacity: 1;
	visibility: visible;
}

.uimage-controls div.upfront-inline-panel-subitem div.upfront-inline-panel-item:last-child,
.upfront-editing .uimage-controls {
	display: none;
}

.ui-resizable-autohide .upfront-active_entity .uimage-controls .upfront-inline-panel-top,
.uimage-controls .upfront-inline-panel-top {
	-webkit-transform: translate(0,0);
	display: block;
}

.uimage-controls .upfront-inline-panel-subitem .upfront-inline-panel-item {
	-webkit-transform: translate(0,0);
}

/*
.uimage-controls .upfront-inline-panel-subitem {
	display: none;
}
.uimage-controls .upfront-inline-panel-subitem-active:hover>.upfront-inline-panel-subitem {
	display: block;
}
*/
.ui-resizable-autohide .uimage-controls {
	display: none;
}

.ui-resizable-autohide .uimage-controls.upfront-control-visible {
	display: block;
}

.uimage-control-panel-light {
	position: absolute;
	min-width: 150px;
	z-index: 2001;
	background: rgb(242, 249, 255);
	box-shadow: 3px 3px 0 rgba(99, 134, 166, 0.25);
	border: 1px solid rgb(99, 134, 166);
	padding: 10px;
	left: -65px;
	top: 45px;
	text-align: left;
}

.uimage-control-panel {
	position: absolute;
	min-width: 150px;
	z-index: 2001;
	background: #3d5266;
	box-shadow: 3px 3px 0 rgba(99, 134, 166, 0.25);
	padding: 10px;
	left: 0px;
	top: 39px;
	text-align: left;
}

.uimage-control-panel-light:before {
	content: ' ';
	position: absolute;
	display: block;
	top: -18px;
	left: 72px;
	border: 9px solid transparent;
	border-bottom-color: rgb(99, 134, 166);
}

.upfront-inline-panel-item.upfront-control-dialog-open {
	background: #3d5266;
	border-bottom: 1px solid #3d5266;
	z-index: 51;
}

.uimage-control-panel-light:after {
	display: block;
	position: absolute;
	top: -16px;
	left: 73px;
	border: 8px solid transparent;
	border-bottom-color: rgb(242, 249, 255);
	content: ' ';
}

.uimage-control-panel button {
	position: absolute;
	top: 100%;
	right: 0px;
}



/* Controls */

div.uimage-controls i.upfront-icon:before {
	background-image: url(../../../img/uf-core-el-sprite.svg);
}

.upfront-icon-region-crop:before {
	background-position: -699px -391px;
}
.upfront-icon-region-crop:hover:before {
	background-position: -807px -391px;
}

.upfront-icon-region-link:before {
	background-position: -699px -423px;
}
.upfront-icon-region-link:hover:before {
	background-position: -807px -423px;
}

.upfront-icon-region-nocaption:before {
	background-position: -699px -454px;
}
.upfront-icon-region-nocaption:hover:before {
	background-position: -807px -454px;
}
.upfront-icon-region-nocaption-active:before {
	background-position: -699px -454px;
}
.upfront-icon-region-nocaption-active:hover:before {
	background-position: -807px -454px;
}

.upfront-icon-region-topOver:before {
	background-position: -699px -519px;
}
.upfront-icon-region-topOver:hover:before {
	background-position: -807px -519px;
}
.upfront-icon-region-topOver-active:before {
	background-position: -699px -519px;
}
.upfront-icon-region-topOver-active:hover:before {
	background-position: -807px -519px;
}

.upfront-icon-region-bottomOver:before {
	background-position: -699px -487px;
}
.upfront-icon-region-bottomOver:hover:before {
	background-position: -807px -487px;
}
.upfront-icon-region-bottomOver-active:before {
	background-position: -699px -486px;
}
.upfront-icon-region-bottomOver-active:hover:before {
	background-position: -807px -486px;
}

.upfront-icon-region-topCover:before {
	background-position: -699px -551px;
}
.upfront-icon-region-topCover:hover:before {
	background-position: -807px -551px;
}
.upfront-icon-region-topCover-active:before {
	background-position: -699px -551px;
}
.upfront-icon-region-topCover-active:hover:before {
	background-position: -807px -551px;
}

.upfront-icon-region-middleCover:before {
	background-position: -699px -583px;
}
.upfront-icon-region-middleCover:hover:before {
	background-position: -807px -583px;
}
.upfront-icon-region-middleCover-active:before {
	background-position: -699px -583px;
}
.upfront-icon-region-middleCover-active:hover:before {
	background-position: -807px -583px;
}

.upfront-icon-region-bottomCover:before {
	background-position: -699px -615px;
}
.upfront-icon-region-bottomCover:hover:before {
	background-position: -807px -615px;
}
.upfront-icon-region-bottomCover-active:before {
	background-position: -699px -615px;
}
.upfront-icon-region-bottomCover-active:hover:before {
	background-position: -807px -615px;
}

.upfront-icon-region-above:before {
	background-position: -699px -680px;
}
.upfront-icon-region-above:hover:before {
	background-position: -807px -680px;
}
.upfront-icon-region-above-active:before {
	background-position: -699px -680px;
}
.upfront-icon-region-above-active:hover:before {
	background-position: -807px -680px;
}

.upfront-icon-region-below:before {
	background-position: -699px -646px;
}
.upfront-icon-region-below:hover:before {
	background-position: -807px -646px;
}
.upfront-icon-region-below-active:before {
	background-position: -699px -646px;
}
.upfront-icon-region-below-active:hover:before {
	background-position: -807px -646px;
}

.upfront-icon-region-collapsedControl:before {
	background-position: -699px -710px;
}
.upfront-icon-region-collapsedControl:hover:before {
	background-position: -807px -710px;
}
.upfront-icon-region-collapsedControl-active:before {
	background-position: -699px -710px;
}
.upfront-icon-region-collapsedControl-active:hover:before {
	background-position: -807px -710px;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem {
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item {
	position:absolute;
}


.ugallery-controls .upfront-inline-panel-subitem .upfront-inline-panel-item:hover{
	box-shadow: none;
}
.ugallery-controls .upfront-inline-panel-subitem  i:hover {
	box-shadow: 0 0 0 2px rgba(219,236,252,.9);
	z-index: 20;
	position: relative;
}

.ugallery-controls .upfront-inline-panel-subitem .upfront-inline-panel-subitem-inactive .upfront-inline-panel-subitem {
	display: none;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item:first-child {
	left: 40px;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item:nth-child(2){
	left: -40px;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item:nth-child(3){
	left: 80px;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item:nth-child(4){
	left: -80px;
}

.upfront-inline-panel-subitem .upfront-inline-panel-subitem .upfront-inline-panel-item:last-child {
	left: 0;
}

.uimage-fill .redactor_box,
.uimage-fill_middle .redactor_box,
.uimage-fill_bottom .redactor_box{
	display: inline-block;
	width:99%;
}
.uimage-fill .redactor_box {
	vertical-align: top;
}
.uimage-fill_middle .redactor_box{
	vertical-align: middle;
}
.uimage-fill_bottom .redactor_box{
	vertical-align: bottom;
}

.uimage-caption-over_image-bottom .redactor_box {
	bottom: 0;
	width: 100%;
}

.uimage-resize-hint {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: #3d5266;
	color: #ADC3D8;
	font-size: 14px !important;
	padding: 0 5px;
}
.uimage-resize-hint.sizehint-top {
	bottom: 15px;
	top: auto;
}

.ui-resizable-autohide .uimage-resize-hint {
	display: none;
}

.uimage-small .uimage-resize-hint,
.uimage-narrow .uimage-resize-hint {
	font-size: 12px !important;
	padding: 0;
	line-height: 14px;
	bottom: -15px;
	left: 0;
	width:45px;
	text-align: center;
}

.uimage-small .uimage-resize-hint .uimage-sizehint-big,
.uimage-narrow .uimage-resize-hint .uimage-sizehint-big {
	display: none;
}

.uimage-sizehint-small {
	display: none;
}

.uimage-small .uimage-resize-hint .uimage-sizehint-small,
.uimage-narrow .uimage-resize-hint .uimage-sizehint-small {
	display: inline;
}

.uimage-controls-toggle {
	width: 100%;
	height: 10px;
	background: rgba(31, 48, 63, 0.8);
	border-bottom: 1px solid #162433;
	color: #ADC3D8;
	display: none;
	cursor: default;
}

.uimage-controls-toggle:before {
	content: '▼';
	display: block;
	text-align: center;
	font-size: 8px;
	line-height: 8px;
}

.uimage-small .uimage-controls {
	top: 100%;
	margin-top: -10px;
}

.uimage-small .upfront-inline-panel-item {
	display: none;
}

.uimage-small .uimage-controls:hover .upfront-inline-panel-item {
	display: block;
}

.uimage-small .uimage-controls-toggle {
	display: block;
}

.uimage-small .uimage-controls:hover .uimage-controls-toggle:before {
	content: '▲';
}

.uimage-narrow .uimage-controls {
	width: 60px;
	height: 30px;
}
.uimage-narrow .uimage-control-tooltip-item {
	display: none !important;
}

.uimage-narrow .uimage-controls .upfront-inline-panel-item {
	height: 30px !important;
	width: 30px !important;
}

.uimage-narrow .upfront-inline-panel-item .upfront-icon {
	padding: 4px;
}

.uimage-narrow .upfront-inline-panel {
	width: 60px !important;
}

.uimage-fullwidth-alert {
	padding: 15px;
}

.uimage-fullwidth-info {
	width: 30%;
	height: 90px;
	float: left;
	margin-right: 5%;
	background-image: url(../../../img/uf-core-el-sprite.svg);
}

.uimage-fullwidth-info-1{
	background-position: -560px -40px;
}
.uimage-fullwidth-info-2{
	background-position: -560px -136px;
}
.uimage-fullwidth-info-3{
	background-position: -560px -232px;
}

.uimage-fullwidth-info:last-child{
	margin-right: 0;
}

.uimage-fullwidth-alert input {
	margin: 6px 10px 0 0 !important;
}

.uimage-control-tooltip:before {

}

.uimage-control-tooltip {
	display: none;
	width: 120px;
	line-height: 0px;
	margin-left: -41px;
}

.open .uimage-control-tooltip {
	display: block;
}

.uimage-control-tooltip-item.open>.tooltip-content {
	display: none !important;
}

.uimage-control-tooltip .upfront-inline-panel-item{
	display: inline-block;
	position: static;
	float: none;
	border: 0;
}

.uimage-control-tooltip-tip {
	width: 100%;
	height: 10px;
}

.uimage-control-tooltip-tip:before {
	content: '';
	display: block;
	width: 10px;
	border: 5px solid transparent;
	border-bottom: 5px solid rgba(31, 48, 63, 0.8);
	margin: 0 auto;
}

.uimage-control-tooltip .tooltip-bottom .tooltip-content {
	top: auto;
	bottom: auto;
	margin: 100% 0 0;
}

.uimage-settings .upfront-settings-item{
	padding-bottom: 0;
}


.uimage-settings .sp-replacer {
	vertical-align: top;
}

.upfront-image-caption-container {
	position: relative;
	display: inline-block;
}

.upfront-field-wrap.image-alternative-text {
  margin-top: 6px;
}
