<div class="upfront-contact-form">
<?php if ($form_add_title) { ?>
	<div class="upfront-contact-form-title"><?php echo $form_title ?></div>
<?php } ?>
	<form action="" method="POST">
		<div class="ucontact-message-container">
		<?php if ($message) { ?>
			<div class="ucontact-msg msg <?php echo $message_class ?>"><?php echo $message ?></div>
		<?php } ?>
		</div>
		<input type="hidden" name="ucontact" value="sent">
		<input type="hidden" name="contactformid" value="<?php echo $element_id ?>">
		<input type="hidden" name="entity_ids" value='<?php echo $entity_id ?>'>
		<div class="upfront-field-container upfront-field-name-container <?php echo $field_classes ?>">
			<label for="<?php echo $ids['name'] ?>"><?php echo $form_name_label ?></label>
			<input type="text"
				class="text-field <?php echo $validate ?> ucontact-input"
				name="sendername"
				value="<?php echo $values['name'] ?>"
				data-string="<?php echo $l10n['missing_name'] ?>"
				<?php echo $placeholders['name'] ?>
				id="<?php echo $ids['name'] ?>"
			/>
		</div>
		<div class="upfront-field-container upfront-field-email-container <?php echo $field_classes ?>">
			<label for="<?php echo $ids['email'] ?>"><?php echo $form_email_label ?></label>
			<input type="email"
				class="email-field <?php echo $validate ?> ucontact-input"
				name="senderemail"
				value="<?php echo $values['email'] ?>"
				data-string="<?php echo $l10n['invalid_email'] ?>"
				<?php echo $placeholders['email'] ?>
				id="<?php echo $ids['email'] ?>"
			/>
		</div>
	<?php if ($show_subject) { ?>
		<div class="upfront-field-container upfront-field-subject-container <?php echo $field_classes ?>">
			<label for="<?php echo $ids['subject'] ?>"><?php echo $form_subject_label ?></label>
			<input type="text"
				class="text-field <?php echo $validate ?> ucontact-input"
				name="subject"
				value="<?php echo $values['subject'] ?>"
				data-string="<?php echo $l10n['missing_subject'] ?>"
				<?php echo $placeholders['subject'] ?>
				id="<?php echo $ids['subject'] ?>"
			/>
		</div>
	<?php } ?>
		<div class="upfront-field-container upfront-field-message-container <?php echo $field_classes ?>">
			<label for="<?php echo $ids['message'] ?>"><?php echo $form_message_label ?></label>
			<textarea
				class="textarea-field <?php echo $validate ?> ucontact-input"
				data-string="<?php echo $l10n['missing_body'] ?>"
				name="sendermessage" <?php echo $placeholders['message'] ?>
				id="<?php echo $ids['message'] ?>"><?php echo $values['message'] ?></textarea>
		</div>
	<?php if ($show_captcha) { ?>
		<div class="upfront-field-container upfront-field-captcha-container <?php echo $field_classes ?>">
			<label for="<?php echo $ids['captcha'] ?>"><?php echo $form_captcha_label ?></label>
			<input type="text"
				class="text-field <?php echo $validate ?> ucontact-input"
				name="realPerson"
				data-string="<?php echo $l10n['realperson_regenerate'] ?>"
				<?php echo $placeholders['captcha'] ?>
				id="<?php echo $ids['captcha'] ?>"
			/>
		</div>
	<?php } ?>
		<div class="upfront-field-container upfront-submit-container <?php echo $field_classes ?>">
			<button type="submit" name="send" class="button submit-field"><span><?php echo $form_button_text ?></span></button>
		</div>
	</form>
</div>
