<div class=" upfront-contact-form">
	<?php if($form_add_title){ ?>
	<div class="upfront-contact-form-title"><?php echo $form_title ?></div>
	<?php } ?>
	<form action="" method="POST">
		<div class="ucontact-message-container">
			<?php if($message){ ?>
			<div class="ucontact-msg msg <?php echo $message_class ?>"><?php echo $message ?></div>
			<?php } ?>
		</div>
		<input type="hidden" name="ucontact" value="sent">
		<input type="hidden" name="contactformid" value="<?php echo $element_id ?>">
		<input type="hidden" name="entity_ids" value='<?php echo $entity_id ?>'>
		<div class="upfront-field-container <?php echo $field_classes ?>">
			<label for="sendername"><?php echo $form_name_label ?></label>
			<input type="text" class="text-field <?php echo $validate ?> ucontact-input" name="sendername" value="<?php echo $values['name'] ?>" <?php echo $placeholders['name'] ?> />
		</div>
		<div class="upfront-field-container <?php echo $field_classes ?>">
			<label for="senderemail"><?php echo $form_email_label ?></label>
			<input type="email" class="email-field <?php echo $validate ?> ucontact-input" name="senderemail" value="<?php echo $values['email'] ?>" <?php echo $placeholders['email'] ?> />
		</div>
		<?php if($show_subject){ ?>
		<div class="upfront-field-container <?php echo $field_classes ?>">
			<label for="subject"><?php echo $form_subject_label ?></label>
			<input type="text" class="text-field <?php echo $validate ?> ucontact-input" name="subject" value="<?php echo $values['subject'] ?>" <?php echo $placeholders['subject'] ?> />
		</div>
		<?php } ?>
		<div class="upfront-field-container <?php echo $field_classes ?>">
			<label for="sendermessage"><?php echo $form_message_label ?></label>
			<textarea class="textarea-field <?php echo $validate ?> ucontact-input" name="sendermessage" <?php echo $placeholders['message'] ?>><?php echo $values['message'] ?></textarea>
		</div>
		<?php if($show_captcha){ ?>
		<div class="upfront-field-container <?php echo $field_classes ?>">
			<label for="realPerson"><?php echo $form_captcha_label ?></label>
			<input type="text" class="text-field <?php echo $validate ?> ucontact-input blabla" name="realPerson" <?php echo $placeholders['captcha'] ?> />
		</div>
		<?php } ?>
		<div class="upfront-field-container upfront-submit-container <?php echo $field_classes ?>">
			<button type="submit" name="send" class="button submit-field"><span><?php echo $form_button_text ?></span></button>
		</div>
	</form>
</div>