.upfront_posts-list > ul, .upfront_posts-list > ul li, 
.upfront_posts-single > ul, .upfront_posts-single > ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.upfront_posts-list > ul li,
.upfront_posts-single > ul li {
    padding: 15px;
}

.upfront_posts-list *,
.upfront_posts-single * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* --- Initial screen --- */
.upfront-output-posts {
	min-height: 220px;
}
.upfront_posts-initial-wrapper {
    height: 150px;
}
.upfront_posts-initial-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    max-height: 120px;
    text-align: center;
}
.upfront_posts-initial-content .upfront-field-wrap {
    margin: 0;
}
.upfront_posts-initial-content .upfront-field-wrap-radios .upfront-field-label-block {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px;
}
.upfront_posts-initial-content .upfront-field-multiple-horizontal-inline {
    margin: 0 20px;
}
.upfront_posts-initial-content .options {
    padding: 8px 0 0;
    margin: 0 0 15px;
}
.upfront-object-content .upfront_posts-initial-content a.continue,
.upfront-object-content .upfront_posts-initial-content a.continue:link,
.upfront-object-content .upfront_posts-initial-content a.continue:visited {
    display: inline-block;
    border: 2px solid #99c3e9;
    padding: 8px 25px;
    color: #284662;
    font-size: 11px;
    text-decoration: none;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}

/* --- Custom posts list --- */
.upfront-settings-item-content .custom_posts ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.upfront-settings-item-content .custom_posts ul li {
    color: #a7bfde;
	height: 20px;
	line-height: 20px;
	margin: 0px -15px;
	padding: 0px 15px;
}
.upfront-settings-item-content .custom_posts ul li .post-count {
	color: #44698d;
	font-weight: bold;
	padding-right: 6px;
}
.upfront-settings-item-content .custom_posts ul li .permalink {
    color: #30475e;
}
.upfront-settings-item-content .custom_posts ul li a {
	display: none;
	border-bottom: none;
}
.upfront-settings-item-content .custom_posts ul li:hover a {
	display: inline;
}
.upfront-settings-item-content .custom_posts ul li a i {
	display: inline-block;
	color: white;
	background: red;
	height: 14px;
	width: 14px;
	line-height: 14px;
	font-size: 12px;
	border-radius: 7px;
	margin-left: 1em;
	text-align: center;
	float: right;
	position: relative;
	top: 3px;
}
.upfront-settings-item-content .custom_posts a.upfront-add-posts {
	background-image: linear-gradient(-179deg, #fafdff 0%, #f3faff 100%);
    border: 1px solid #b7c9d9;
    border-radius: 3px;
    font: 600 12px/16px Open Sans, Helvetica Neueu, Helvetica, Arial, sans-serif;
    color: #6486A6;
    text-shadow: 0px 1px 0px #FFFFFF;
    padding: 0px 10px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
    position: relative;
	margin: 10px 0px;
}
.upfront-settings-item-content .custom_posts a.upfront-add-posts:hover {
	border: 1px solid #607f99;
}

/* --- Post settings styles --- */

#sidebar-scroll-wrapper .upfront-display-type-section {
	border-bottom: 1px solid #e5ecf4;
	padding-bottom: 5px;
}

#sidebar-scroll-wrapper .upfront-display-type-section .upfront-settings-item-content .upfront-field-wrap,
#sidebar-scroll-wrapper .upfront-list-type-section .upfront-settings-item-content .upfront-field-wrap {
	margin: 0px;
}

#sidebar-scroll-wrapper .upfront-display-type-section label,
#sidebar-scroll-wrapper .upfront-post-settings label.upfront-field-label {
	font-size: 11px;
    display: block;
    font-family: verdana, sans-serif;
	color: #7d99b6;
	font-weight: normal;
}

#sidebar-scroll-wrapper .custom_posts li:hover {
	background: #e6edf2;
}

/* --- Post parts list --- */

div.upfront-post-wrappers, div.upfront-post-modules {
	padding: 2px 15px
}



div.preset-manager-panel div.preset_specific.upfront-posts-part {
	background: none;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part:before {
	display: none;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title {
	border: 1px solid #a2bfda;
	display: block;
	height: 24px;
	line-height: 22px;
	border-radius: 3px;
	margin-bottom: 2px;
	position: relative;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-module-title {
	display: inline-block;
	color: #4e4770;
    font-size: 11px;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: normal;
	text-transform: capitalize;
	position: relative;
	left: 6px;
	overflow: hidden;
	z-index: 99;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title.active-panel {
	box-shadow:0 0 10px 3000px rgba(60,82,103,.3);
	border-radius: 3px;
	z-index: 998;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-preview {
	display: inline-block;
	width: 12px;
	height: 22px;
	position: relative;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-posts-preview:before {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 12px;
	height: 22px;
	display: block;
	overflow: hidden;
	position: relative;
	/* magic happens below */
	background-color: #DFE9F2;
	background-image: -webkit-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: -moz-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: -o-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -o-linear-gradient(bottom left, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(to top right, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
	background-size: 8px 8px;
	background-position: 2px 0px, 6px 4px;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title .upfront-post-delete-part {
	display: none;
	position: absolute;
	top: -5px;
	right: 5px;
}

div.preset-manager-panel div.preset_specific.upfront-posts-part .upfront-settings-item-title:hover .upfront-post-delete-part {
	display: block;
}

div.preset-manager-panel .upfront-settings-post-wrapper {
	position: absolute;
	width: 100%;
	z-index: 999;
	background: #f7fbff;
	border-radius: 3px;
	margin-top: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
}

div.preset-manager-panel .upfront-post-wrapper-title {
    font-size: 11px;
	font-weight: bold;
    color: #2f475f;
    font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

div.preset-manager-panel .upfront-post-wrappers {
	border-bottom: 1px solid #e5eef8;
	position: relative;
}

div.preset-manager-panel .upfront-add-post-module {
	position: absolute;
	top: 150px;
}

/* --- Icons --- */
.upfront-field-icon.upfront-posts-display_type {
	background-image: url(../../../img/uf-core-el-sprite.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 22px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-single {
	background-position: -480px -490px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-list {
	background-position: -570px -490px;
}

.upfront-posts-custom-add_post {
	background-image: url(../../../img/uf-ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -728px -74px;
	height: 14px;
	width: 18px;
	display: none;
}

.upfront-display-type-section .upfront-posts-display-type {
	margin-top: -7px;
}

.upfront-display-type-single .upfront-settings-item-content .upfront-post-term,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-type,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-taxonomy {
	margin-top: 10px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-term {
	margin-top: 5px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-limit,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-type {
	margin-top: 15px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-settings-item-content .upfront-post-type,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-taxonomy {
	display: inline-block;
}

.upfront-post-limit .upfront-field-label-block,
.upfront-post-type .upfront-field-label-block,
.upfront-offset-number .upfront-field-label-block,
.upfront-post-taxonomy .upfront-field-label-block,
.upfront-post-term .upfront-field-label-block {
	margin-bottom: 3px !important;
}

.upfront-settings-item-content .upfront-post-limit input,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number input {
	font-size: 12px;
	height: 26px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number {
	width: 65px;
	position: relative;
	top: -8px;
}

.upfront-settings-item-content .upfront-post-type,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-taxonomy {
	width: 160px;
	margin-top: 5px;
}

.upfront-settings-item-content .post_parts.ui-sortable li .part_action:after {
	display: inline-block;
	background-image: url(../../../img/uf-ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -43px -112px;
	top: 1px;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 7px;
	content: "";
}
.upfront-settings-item-content .post_parts.ui-sortable li.active .part_action:after {
	background-position: -43px -145px;
}