.upfront-output-posts > ul, .upfront-output-posts > ul li {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.upfront-output-posts li.uf-post .thumbnail img {
   height: auto;
}