.ugallery-starting-wrapper {
	min-height: 200px;
	width: 100%;
	height: 100%;
	position: relative;
}

.ugallery_item {
	float: left;
	margin: 0 10px 10px 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.ugallery .upfront-image-resizethiselement {
	color: #28DC96;
}

.ugallery .upfront-image-and {
	background: url('../img/ampersand.png') no-repeat center center;
	width:50px;
}

#upfront-image-overlay.ugallery-overlay h2 {
	margin-bottom:20px;
}

.ugallery-overlay a.select-files {
	margin-top: 7px;
}

.ugallery-overlay.small_placeholder a.select-files {
	margin-top: 0;
}

.ugallery-overlay.small_placeholder #upfront-image-maxsize {
	margin-bottom: 10px;
}

.ugallery_addmore { 
	background: #accae6;
	cursor: pointer;
	text-align: center;
	font-size: 	15px;
	line-height: 1.2em;
	color:#fff;
}

.ugallery_addmore:before{ 
	display:block;
	margin: 50px auto 0;
	content: '+';
	text-align: center;
	font-size: 32px;
}

.ugallery_sorting .ugallery_addmore {
	display:none;
}

.ugallery_addmore:hover{
	background: #1fcd8f;
	color: #fff;
}

.ugallery_item_options,
.ugallery_item_rm_dialog {
	display: none;
	color: #fff;
	position: absolute;
	top:0;
	left:0;
}
.ugallery_publish .ugallery_item:hover .ugallery_item_options,
.ugallery_publish .ugallery_item_options:hover{
	display: block;
	background: rgba(31, 205, 143, .8);
	float:left;
}

.ugallery_sorting .ugallery_publish .ugallery_item:hover .ugallery_item_options,
.ugallery_sorting .ugallery_publish .ugallery_item_options:hover {
	display: none
}


.ugallery_item_option{
	cursor:pointer;
	width: 50%;
	height: 50%;
	clear:none;
	float:left;
	position: relative;
	text-indent: -30000px;
	font-size: 1px;
}
.ugallery_item_option:before {
	width:30px;
	height:30px;
	content: '';
	display: block;
	position: absolute;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat;
	top:35%;
	left:35%;
}

.ugallery_item_option:hover{
	background: rgb(31, 205, 143);
}

.ugallery_item .ugallery_op_remove:hover {
	background: rgb(240, 101, 102);
}

.ugallery_op_details:before {
	background-position: -1581px -75px;
}

.ugallery_op_remove:before {
	background-position: -1581px -105px;
	
}

.ugallery_op_link:before {
	background-position: -1581px -140px;
	
}

.ugallery_op_mask:before {
	background-position: -1581px -170px;
	
}

.ugallery_item_removing .ugallery_item_rm_dialog{
	display: block;
	background: rgba(240, 101, 102, 0.8);
	cursor: pointer;
	text-align: center;
	padding-top: 25%;
}

.upfront-gallery .ugallery_publish .ugallery_item_removing .ugallery_item_options {
	display:none;
}

.ugallery_item_rm_buttons{
	width:70px;
	margin: 5px auto;
}

.ugallery_item_rm_buttons a,
.ugallery_item_rm_buttons a:link, 
.ugallery_item_rm_buttons a:visited {
	border-radius: 2px;
	display:block;
	float:left;
	color: #fff;
	width: 30px;
	text-align: center;
}

.ugallery_item_rm_buttons a.ugallery_item_rm_yes{
	margin-right:10px;
}

.ugallery_item_rm_buttons a:hover{
	background: #fff;
	color: rgb(240, 101, 102);
}

.ugallery_sort_toggle {
	opacity: .9;
	border: 1px solid #2582BD;
	background: #288ACA -moz-linear-gradient(-45deg, #2C9BE3 0%, #2C9BE3 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: #288ACA -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2C9BE3), color-stop(50%,#2C9BE3), color-stop(51%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: #288ACA -webkit-linear-gradient(-45deg, #2C9BE3 0%,#2C9BE3 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: #288ACA -o-linear-gradient(-45deg, #2C9BE3 0%,#2C9BE3 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: #288ACA -ms-linear-gradient(-45deg, #2C9BE3 0%,#2C9BE3 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: #288ACA linear-gradient(135deg, #2C9BE3 0%,#2C9BE3 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0) 100%); /* W3C */	
}

.ugallery_sort_toggle:hover {
	opacity: 1;
}

.ugallery_sort_toggle:before {
	background-position: -1582px -201px;
}

a.ugallery_order_ok, a.ugallery_order_ok:link, a.ugallery_order_ok:visited {
	display:none;
	height:30px;
	line-height: 30px;
	padding: 0 20px;
	background: #1fcd8f;
	position: absolute;
	right: 0;
	bottom: -30px;
	color: #fff;
	z-index: 1;
}
.ugallery_sorting .ugallery_order_ok, 
.ugallery_sorting .ugallery_order_ok:link,
.ugallery_sorting .ugallery_order_ok:visited {
	display:block;
}
.ugallery_sorting .ugallery_order_ok:hover {
	background: #3ea;
}

.ugallery_sorting .ugallery_item {
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	cursor: move;
}
.ugallery_sorting .ugallery_item:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.ugallery_sorting .ui-sortable-helper {
	box-shadow: 3px 3px 8px rgba(0,0,0,.3) !important;
}

.ugallery-thumbnail-fields .upfront-field-wrap-number {
	float: left;
}

.ugallery-thumbnail-fields .ugallery-proportional {
	float: left;
	cursor:pointer;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat -1661px -98px;
	width: 50px;
	height: 30px;
	margin-top: 28px;
	opacity: 1;
}

.ugallery-thumbnail-fields .ugallery-proportional:hover {
	opacity: .8;
}

.ugallery-thumbnail-fields .ugallery-proportional-free {
	opacity: .2;
}

.ugallery-thumbnail-fields .upfront-settings-item-content {

}

.upfront-output-module .ugallery_publish {
	padding: 15px;
}