.ugallery-starting-wrapper {
	min-height: 200px;
	width: 100%;
	height: 100%;
	position: relative;
}

.ugallery_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 15px 0;
	overflow: visible;
}

.ugallery .upfront-image-resizethiselement {
	color: #28DC96;
}

#upfront-image-overlay.ugallery-overlay h2 {
	margin-bottom:20px;
}

.ugallery-overlay a.select-files {
	margin-top: 7px;
}

.ugallery-overlay.small_placeholder a.select-files {
	margin-top: 0;
}

.ugallery-overlay.small_placeholder #upfront-image-maxsize {
	margin-bottom: 10px;
}

.ugallery_addmore {
	text-align: center;
	font-size: 	15px;
	line-height: 1.2em;
	color:#fff;
	position: absolute;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
	height: 40px;
}
.ugallery_lb_texts {
	display: none;
}

.ugallery_addmore:before{ 
	display:block;
	content: '+';
	text-align: center;
	font-size: 32px;
	cursor: pointer;
}

.ugallery_sorting .ugallery_addmore {
	display:none;
}

.ugallery_addmore_wrapper:hover{
	background: #1fcd8f;
	color: #fff;
}

.ui-resizable-autohide .ugallery_addmore_wrapper{	
	height: 0px !important;
}
.ugallery_addmore_wrapper {
	display: inline-block;
	background: #accae6;
	position:relative;
	cursor: pointer;
	min-height: 0px !important;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
}
.ugallery_addmore_wrapper:after,
.ugallery_items:after {
	display: table;
	clear:both;
	content:'';
}


.ugallery_item_options,
.ugallery_item_rm_dialog {
	display: none;
	color: #fff;
	position: absolute;
	top:0;
	left:0;
}
.ugallery_publish .ugallery_item:hover .ugallery_item_options,
.ugallery_publish .ugallery_item_options:hover{
	display: block;
	background: rgba(31, 205, 143, .8);
	float:left;
}

.ugallery_sorting .ugallery_publish .ugallery_item:hover .ugallery_item_options,
.ugallery_sorting .ugallery_publish .ugallery_item_options:hover {
	display: none
}


.ugallery_item_option{
	cursor:pointer;
	width: 50%;
	height: 50%;
	clear:none;
	float:left;
	position: relative;
	text-indent: -30000px;
	font-size: 1px;
}
.ugallery_item_option:before {
	width:30px;
	height:30px;
	content: '';
	display: block;
	position: absolute;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat;
	top:35%;
	left:35%;
}

.ugallery_item_option:hover{
	background: rgb(31, 205, 143);
}

.ugallery_item .ugallery_op_remove:hover {
	background: rgb(240, 101, 102);
}

.ugallery_op_details:before {
	background-position: -1581px -75px;
}

.ugallery_op_remove:before {
	background-position: -1581px -105px;
	
}

.ugallery_op_link:before {
	background-position: -1581px -140px;
	
}

.ugallery_op_mask:before {
	background-position: -1581px -170px;
	
}

a.ugallery_order_ok, a.ugallery_order_ok:link, a.ugallery_order_ok:visited {
	height:30px;
	line-height: 30px;
	padding: 0 20px;
	background: #1fcd8f;
	margin-left: 15px;
	color: #fff;
	z-index: 1;
	float:right;
	font-style: normal;
	position:relative;
	z-index: 2000;
}
a.ugallery_order_ok:hover {
	background: #3ea;
}

.ugallery_sorting .ugallery_item {
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	cursor: move;
}
.ugallery_sorting .ugallery_item:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.ugallery_sorting .ui-sortable-helper {
	box-shadow: 3px 3px 8px rgba(0,0,0,.3) !important;
}

.ugallery_sorting .ugallery_item a{
	cursor: move;
}

.ugallery_sorting .ui-sortable-placeholder {
	background: #888;
	visibility: visible !important;
	box-shadow: none;
	opacity: .2;
}

.ugallery-thumbnail-fields .upfront-field-wrap-number {
	float: left;
}

.ugallery-thumbnail-fields .ugallery-proportional {
	float: left;
	cursor:pointer;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat -1661px -98px;
	width: 50px;
	height: 30px;
	margin-top: 28px;
	opacity: 1;
}

.ugallery-thumbnail-fields .ugallery-proportional:hover {
	opacity: .8;
}

.ugallery-thumbnail-fields .ugallery-proportional-free {
	opacity: .2;
}

.ugallery-thumbnail-fields .upfront-settings-item-content:after {
  content: "";  
  display: table;  
  clear: both; 
}

button.ugallery-reset-button {
	background: rgb(31, 205, 143);
	color: #fff;
	padding: 2px 10px;
}

button.ugallery-reset-button:hover {
	background: #3ea;
}

.upfront-output-module .ugallery_publish {
	padding: 15px;
}

.ugallery_item img.ugallery-image {
	max-width: none;
	max-height: none;
}

#ugallery-tooltip {
	position: absolute;
	width:250px;
	z-index: 10;
	background: rgb(242, 249, 255);
	box-shadow: 3px 3px 0 rgba(99, 134, 166, 0.25);
	border: 1px solid rgb(99, 134, 166);
	padding: 10px;
}

#ugallery-tooltip h3{
	font-size: 17px;
	line-height: 17px;
	color: rgb(99, 134, 166);
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Source Sans Pro';
	margin: 0 0 10px;
	font-weight: normal;
}

#ugallery-tooltip:before{
	position: absolute;
	top: 39px;
	border: 9px solid transparent;
	content: ' ';
}

#ugallery-tooltip:after{
	position: absolute;
	top: 40px;
	border: 8px solid transparent;
	content: ' ';
}

#ugallery-tooltip.ugallery-tooltip-left:after {
	left: 100%;
	border-left-color: rgb(242, 249, 255);
}

#ugallery-tooltip.ugallery-tooltip-left:before {
	left: 100%;
	border-left-color: rgb(99, 134, 166);
}

#ugallery-tooltip.ugallery-tooltip-right:after {
	left: -16px;
	border-right-color: rgb(242, 249, 255);
}

#ugallery-tooltip.ugallery-tooltip-right:before {
	left: -18px;
	border-right-color: rgb(99, 134, 166);
}

#ugallery-tooltip.ugallery-tooltip-bottom:after {
	top: -16px;
	left: 113px;
	border-bottom-color: rgb(242, 249, 255);
}

#ugallery-tooltip.ugallery-tooltip-bottom:before {
	top: -18px;
	left: 112px;
	border-bottom-color: rgb(99, 134, 166);
}

h3.upfront-selector-title {
	font-size:26px;
	line-height: 40px;
	font-weight: normal;
	color: #cee1f2;
	margin:0;
}

#upfront-selector-posts {
	position:relative;
	min-height: 250px;
}

div.ugallery-label-selector {
	margin-top: 20px;
}

#ugallery-tooltip .existing_labels {
	border-top:0;
	padding: 0;
	margin:3px 0 0;
}

.existing_labels a.upfront-icon-media-label-delete:hover{
	background: rgb(240, 101, 102);
}
.label_selector {
	position: relative;
}
.label_selector .labels_list {
	position: absolute;	
	z-index: 30;
	width: 100%;
	box-shadow: 0px 3px 3px rgba(0,0,0,.3);
}

.labels_list ul li label.selected {
	background: #cee1f2;
}

.labels_list ul:hover li label {
	background: rgb(242, 249, 255);
}
.labels_list ul:hover li:hover label {
	background: #cee1f2;
}

.ugallery-controls,
.ui-resizable-autohide .ugallery_item:hover .ugallery-controls {
	display: none;
	z-index: 2;
}

.ugallery_selected {
	z-index:20;
}

.ugallery_item:hover .ugallery-controls {
	display: block;
}

.ugallery-controls .upfront-inline-panel {
	opacity: 1;
	visibility: visible;
}

.ugallery-controls .upfront-inline-panel-item:hover{
	z-index: 51;
}

.ugallery-controls .upfront-inline-panel-subitem-active:after {
	display: none !important;
}



.ui-resizable-autohide .ugallery-controls .upfront-inline-panel-top,
.ugallery-controls .upfront-inline-panel-top {
	-webkit-transform: translate(0,0);
	display: block;
}

.ugallery-controls .upfront-inline-panel-subitem .upfront-inline-panel-item {
	-webkit-transform: translate(0,0);
}

.ugallery_selected .ugallery-controls .upfront-inline-panel-subitem{
	display: none;
}

.ugallery-controls .upfront-inline-panel-subitem {
	display: none;
}

.ugallery-controls .upfront-inline-panel-subitem-active:hover>.upfront-inline-panel-subitem {
	display: block;
}

.ugallery_selected .ugallery-controls .upfront-inline-panel-subitem-active .upfront-inline-panel-subitem{
	display: block;
}

.ugallery-controls {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.ugallery-controls div.upfront-inline-panel-subitem div.upfront-inline-panel-item:last-child {
	display: none;
}

div.ugallery-controls i.upfront-icon:before {
	background-image: url(../../../img/uf-core-el-sprite.svg);
}

.upfront-icon-region-over:before {
	background-position: -699px -486px;
}
.upfront-icon-region-over:hover:before {
	background-position: -807px -486px;
}
.upfront-icon-region-over-active:before {
	background-position: -699px -486px;
}
.upfront-icon-region-over-active:hover:before {
	background-position: -807px -486px;
}

.upfront-icon-region-fullscreen:before {
	background-position: -699px -774px;
}
.upfront-icon-region-fullscreen:hover:before {
	background-position: -807px -774px;
}
.upfront-icon-region-fullscreen-active:before {
	background-position: -699px -774px;
}
.upfront-icon-region-fullscreen-active:hover:before {
	background-position: -807px -774px;
}

div.ugallery-controls i.upfront-icon.upfront-icon-region-remove:before {
	background-image: url(../../../img/uf-ui-sprite.svg);	
}

.upfront-icon-region-remove:before {
	background-position: -288px -643px;
}
.upfront-icon-region-remove:hover:before {
	background-position: -412px -643px;
}
.upfront-icon-region-remove-active:before {
	background-position: -288px -643px;
}
.upfront-icon-region-remove-active:hover:before {
	background-position: -412px -643px;
}



.ugallery-onclick {
	background: rgba(57,82,105,0.9);
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	text-align: center;
	z-index: 60;
}

.ugallery-onclick a,
.ugallery-onclick a:link{
	color: #4F6477 !important;
	display: inline-block;
	width: 80px;
	margin: 10px;
	font-size: 14px;
	line-height: 1.2em;
}
.ugallery-onclick a:hover{
	color: #1fcd8f !important;
}
.ugallery-onclick a:before {
	background: transparent url(../../../img/uf-core-el-sprite.svg) no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	content: '';
}

a.ugallery-lager_image:before {
	background-position: -1579px -270px;	
}

a.ugallery-linked_page:before {
	background-position: -1573px -340px;
}

a.ugallery-lager_image:hover:before {
	background-position: -1687px -270px;	
}

a.ugallery-linked_page:hover:before {
	background-position: -1681px -340px;
}

.ugallery-onclick-dialog {
	background: rgb(242, 249, 255);
	width: 300px;
	margin: 10px auto;
	padding: 20px;
	top:0;
	left:0;
	right: 0;
	color: #4F6477;
	box-shadow: 0 0 20px #000;
	border-radius: 10px;
}

.upfront-gallery:hover .upfront-quick-swap {
	display: block;
}

.ugallery-image-loading {
	padding-top: 50px;
	text-align: center;
}

.ugallery-nolabels-alert{
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(31, 48, 63, 0.8) url(../../../img/uf-core-el-sprite.svg) no-repeat -475px -197px;
	z-index: 1;
	width: 30px;
	height: 30px;
	cursor: pointer;
	opacity: .8;
}

.ugallery-nolabels-alert:hover{
	opacity:1;
}


/* Lightbox labels */
.mfp-figure figure {
	position: relative;
}

div.ugallery-magnific-labels {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	color: #A1C5E6;
	font-size: 13px;
	line-height: 1.2em;
}



.ugallery-magnific-panel:before,
.ugallery-magnific-panel:after {
	display: table;
	content: ' ';
	width: 100%;
}

.ugallery-magnific-panel:after {
	clear: both;
}

.ugallery-magnific-panel {
	background: rgba(31, 48, 63, 0.8);
	transition: max-height .5s;
	-webkit-transition: max-height .5s; /* Safari */
	max-height: 300px;
	overflow: hidden;
}

.ugallery-magnific-panel.closed {
	max-height: 0px;
}

.ugallery-magnific-toggle {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: rgba(31, 48, 63, 0.8) url(../../../img/uf-core-el-sprite.svg) no-repeat -476px -229px;
	cursor:	pointer;
	opacity: 0.9;
}

.ugallery-magnific-toggle:hover {
	opacity: 1;
}

div.ugallery-magnific-addform {
	display: none;
}

.ugallery-magnific-info {
	float:right;
	width: 220px;
	padding: 10px 10px 10px 25px;
	position: relative;
}

div.ugallery-magnific-info:before {
	position: absolute;
	left: 0;
	top: 10px;
	width: 20px;
	height: 20px;
	background: url(../../../img/uf-core-el-sprite.svg) no-repeat -482px -140px;
	content: '';
}

div.ugallery-magnific-wrapper.existing_labels  {
	margin: 0 230px 0 0;
	padding: 10px;
	border: 0;
}

.ugallery-magnific-wrapper div{
	display: inline-block;
}

.ugallery-magnific-wrapper div.ugallery-magnific-addform {
	display: none;
}


.ugallery-magnific-addbutton {
	cursor: pointer;
	font-size: 16px;
}

.ugallery-magnific-addbutton:hover {
	color: #1fcd8f;
}

.ugallery-magnific-addbutton:before {
	content: '+';
	font-weight: bold;
	color: #1fcd8f;
	margin-right: 5px;
}

input#ugallery-addlabels {
	background: #efefef;
	padding: 0px 10px;
	font-size: 12px;
	width: 120px;
}

input#ugallery-addlabels:focus {
	background: #fff;
}

.ugallery-magnific-addform {

}

.ugallery-magnific-addform ul{
	background: #F2F9FF;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.ugallery-magnific-addform label{
	padding: 5px 10px;
	display: block;
	color: #335B80;
}

.ugallery-magnific-addform .selection{
	font-weight: bold;
}



