div.upfront-navigation ul, div.upfront-navigation ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.upfront-navigation ul.sub-menu {
  display: none;
}

div.upfront-navigation li.menu-item:hover > ul.sub-menu {
  display: block;
}

div.upfront-navigation li.menu-item a {
  display: block;
  padding: 6px 20px;
  font-size: 16px;
  text-decoration: none;
}


div.upfront-navigation ul.menu li {
  position: relative;
}
div.upfront-navigation ul.sub-menu > li {
	min-width:176px;	
}
div.upfront-navigation ul.sub-menu > li a {
	background-color:#ebeff2;
	border-bottom:1px #dadee1 solid;
}

div.upfront-navigation div[data-aliment="center"] ul.menu {
	text-align: center;
}

div.upfront-navigation div[data-aliment="right"] ul.menu  {
	text-align: right;
}

/* Has sub-menu, indicator */


li.menu-item-has-children > a:after {
	content:'';
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid black;
	position: absolute;
	right: 6px;
	top:45%;
}

li.menu-item-has-children:hover > a:after {
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid black;
	top:40%;
	right: 4px;
}


/* HORIZONTAL */

div.upfront-navigation div[data-style="horizontal"] ul.menu > li {
  display: inline-block;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu {
  position: absolute;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu > li > ul {
  left: 100%;
  top: 0;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu > li > ul > li a {
	border-left:1px #dadee1 solid;
}

/* VERTICAL */
div.upfront-navigation div[data-style="vertical"] ul.menu > li {
  display: block;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu {
  position: absolute;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu {
  left: 100%;
  top: 0;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu > li > ul > li a {
	border-left:1px #dadee1 solid;
}
/* burger */

div.upfront-navigation div[data-style="burger"] ul.menu > li {
  display: block;
}
div.upfront-navigation div[data-style="burger"] ul.sub-menu {
  position: relative;
}
div.upfront-navigation div[data-style="burger"] ul.menu > li > a, div.upfront-navigation div[data-style="burger"] ul.menu > li > div > a {
  background-color:#ebeff2;	
  border-bottom:1px #dadee1 solid;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li a {
  padding-left:35px;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li > ul > li a {
  padding-left:50px;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li > ul > li > ul > li a {
  padding-left:65px;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li > ul > li > ul > li > ul > li a {
  padding-left:80px;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li > ul > li > ul > li > ul > li > ul > li a {
  padding-left:95px;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li a {
  padding-left:110px;
}
