div.upfront-navigation[data-aliment="center"] ul.menu {
	text-align: center;
}

div.upfront-navigation[data-aliment="right"] ul.menu {
	text-align: right;
}

div.upfront-navigation ul.menu li a {
	position: relative;	
}