div.upfront-navigation.upfront-editable_entity i.navigation-add-item, div.upfront-navigation i.delete_menu_item {
	display: none;	
	z-index:1;
	cursor: pointer !important;
}
div.upfront-navigation.upfront-editable_entity ul li > i.navigation-add-item {
	display:block;
	position: absolute;
	right: -20px;
	top: 30%;
}

div.upfront-navigation.upfront-editable_entity ul li.new_menu_item > i.navigation-add-item {
	display:none !important;	
}

div.upfront-navigation.upfront-editable_entity i.navigation-add-item:before {
	content:'';
	display:block;
	width: 16px;
	height: 16px;
	background-position: -1363px -171px;
	background-image: url('../../../img/uf-core-el-sprite.svg');
	cursor: pointer;
	overflow: hidden;
	line-height: 3em;	
}
div.upfront-navigation.upfront-editable_entity ul.sub-menu {
	padding-bottom:30px;	
}
div.upfront-navigation.upfront-editable_entity ul.sub-menu > li > i.navigation-add-item {
	left: 0;
	bottom: -28px !important;
	position: absolute;
	top: inherit;		
}
div.upfront-navigation.upfront-editable_entity ul.sub-menu > li > i.navigation-add-item:before {
	display:inline-block !important;
	vertical-align:middle;
}

div.upfront-navigation.upfront-editable_entity ul.sub-menu > li > i.navigation-add-item:after {
	content: 'Add Item';
	display:inline-block;
	padding-left:4px;
	text-transform: Capitalize;
	font-size:0.8em;
	position:relative;
}

div.upfront-navigation.upfront-editable_entity ul.menu li i.delete_menu_item {
	width: 16px;
	height: 16px;
	background-position: -483px -171px;
	background-image: url('../../../img/uf-core-el-sprite.svg');
	position: absolute;
	right: -8px;
	top: -8px;
	cursor: pointer;
	overflow: hidden;
	line-height: 3em;	
}
div.upfront-navigation.upfront-editable_entity ul.menu li:hover {
	cursor: move;	
}

div.upfront-navigation.upfront-editable_entity ul.menu li.edit_mode:hover {
	cursor: text;	
}

div.upfront-navigation.upfront-editable_entity ul li:not(.edit_mode):hover:before {
	content:'';
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	padding: 0 10px;
	top:0;
	left:0;
	border:1px #ddd dotted;

}
div.upfront-navigation.upfront-editable_entity ul.menu li:not(.edit_mode):hover > i.delete_menu_item {
	display:block;
}

div.upfront-navigation.upfront-editable_entity ul.time_being_display {
	display:block;	
}

div.upfront-navigation.upfront-editable_entity a.menu_item.menu_item_placeholder {
	min-width: 92px;	
}
/*
div.upfront-navigation.upfront-editable_entity a.menu_item.menu_item_placeholder:before {
	content: 'Link Name';
	opacity: 0.4;
	position: absolute;
	min-width: 92px;
}
*/
div.upfront-navigation.upfront-editable_entity  div.existing_menu_list ul li:before, div.upfront-navigation.upfront-editable_entity  div.existing_menu_list li label:before {
	display: none !important;
}


div.upfront-navigation div.existing_menu_list,  div.upfront-navigation div.new_menu_name, div.upfront-navigation div.new_menu_button {
	display: inline-block;
	vertical-align:middle;
}

 div.upfront-navigation div.existing_menu_list {
	 margin-top: 10px;
	 margin-right:10px;
}
div.upfront-navigation div.new_menu_name {
	margin-right: 10px;
	margin-left: 10px;
}


div.upfront-navigation div.new_menu_name input {
	height:26px !important;
}

div.upfront-navigation div.new_menu_button input {
  background: transparent;
  border:2px #818d96 solid;
  font-size:12px;
	padding:3px 16px;
}


div.upfront-navigation [data-style="vertical"] .menu li {
	width: 100%;
	float: left;
}


#unewnavigation-tooltip {
	position: absolute;
	width:250px;
	z-index: 10;
	background: rgb(242, 249, 255);
	box-shadow: 3px 3px 0 rgba(99, 134, 166, 0.25);
	border: 1px solid rgb(99, 134, 166);
	padding: 10px;
}

#unewnavigation-tooltip h3{
	font-size: 17px;
	line-height: 17px;
	color: rgb(99, 134, 166);
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Source Sans Pro';
	margin: 0 0 10px;
	font-weight: normal;
}

#unewnavigation-tooltip:before{
	position: absolute;
	top: 39px;
	border: 9px solid transparent;
	content: ' ';
}

#unewnavigation-tooltip:after{
	position: absolute;
	top: 40px;
	border: 8px solid transparent;
	content: ' ';
}

#unewnavigation-tooltip.unewnavigation-tooltip-left:after {
	left: 100%;
	border-left-color: rgb(242, 249, 255);
}

#unewnavigation-tooltip.unewnavigation-tooltip-left:before {
	left: 100%;
	border-left-color: rgb(99, 134, 166);
}

#unewnavigation-tooltip.unewnavigation-tooltip-right:after {
	left: -16px;
	border-right-color: rgb(242, 249, 255);
}

#unewnavigation-tooltip.unewnavigation-tooltip-right:before {
	left: -18px;
	border-right-color: rgb(99, 134, 166);
}

#unewnavigation-tooltip.unewnavigation-tooltip-bottom:after {
	top: -16px;
	left: 113px;
	border-bottom-color: rgb(242, 249, 255);
}

#unewnavigation-tooltip.unewnavigation-tooltip-bottom:before {
	top: -18px;
	left: 112px;
	border-bottom-color: rgb(99, 134, 166);
}