.upfront-shadow {
	/*background: rgba(0,0,0,.3);*/
	float: left;
}
.upfront-wrapper {
	background: rgba(0,0,0,.04);
	outline: 1px dashed #aaa;
	float: left;
}
.upfront-closest-wrapper-top {
	background: rgba(255,0,0,.15);
}
.upfront-closest-wrapper-bottom {
	background: rgba(0,255,0,.15);
}
.upfront-closest-wrapper-left {
	background: rgba(200,0,255,.25);
}
.upfront-closest-wrapper-right {
	background: rgba(0,255,200,.25);
}
.upfront-closest-wrapper-use {
	background: rgba(255,255,0,.35);
}
.upfront-module {
	background: rgba(179,218,17,.5);
	border: none;
}
.upfront-module.upfront-closest {
	background: rgba(246, 247, 181, 0.7);
}
.upfront-module.upfront-prev {
	background: rgba(255, 179, 227, 0.7);
}
.upfront-module.upfront-next {
	background: rgba(179, 225, 255, 0.7);
}
.upfront-module.upfront-affected-top {
	border-bottom: 1px solid #11c4d9;
}
.upfront-module.upfront-affected-bottom {
	border-top: 1px solid #11c4d9;
}
.upfront-module.upfront-affected-left {
	border-right: 1px solid #11c4d9;
}
.upfront-module.upfront-affected-right {
	border-left: 1px solid #11c4d9;
}

