.upfront-edit-layout, .upfront-edit-layout body {
	background: #fff;
  	height: 100%;
}

.upfront-edit-layout #page {
	background: #fff;
  	position: relative;
  	min-height: 100%;
  	margin: 22px 20px 0 320px;
  	width: auto;
}

#upfront-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12000px;
  background-color: rgba(33,33,33,.7);
  color: #fff;
  font-size: 72pt;
  font-weight: bold;
  padding-top: 2em;
  text-align: center;
  z-index: 10;
}

#properties {
  position: fixed;
  top: 50px;
  right: -160px;
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0;
  z-index: 5;
  -webkit-transition: right .3s;
}
#properties:hover {
	right: 0;
}
#commands {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 5;
}
#properties, #commands {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.upfront-edit_content {
  right: 5px;
  left: auto;
}
#commands {
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0; 
}
#commands li {
	margin: 5px 0 0;
	padding: 5px 10px;
	list-style: none;
	cursor: pointer;
}
#commands li:hover {
	background: #888;
	color: #fff;
}

#sidebar-ui {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #395269;
	color: #a1c5e6;
	border-right: 1px solid #324253;
	display: none;
	/* Disable text selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#sidebar-ui .sidebar-commands li,
#sidebar-ui .sidebar-panel-title,
#sidebar-ui .sidebar-panel-content,
.draggable-element {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#sidebar-ui .upfront-logo {
	background: #607f99 url('../img/upfront-logo.png') no-repeat 20px 50%;
	height: 50px;
	border-bottom: 1px solid #31485e;
}
#sidebar-ui .sidebar-editor-mode {
	border-top: 1px solid #3f5870;
	border-bottom: 1px solid #31485e;
	padding: 16px 0 20px 24px;
	color: #a1c5e6;
	overflow: hidden;
}
#sidebar-ui .sidebar-editor-mode-label {
	display: block;
	float: left;
	margin: 0 28px 0 0;
	padding: 15px 0 0;
	font-size: 16px;
}
#sidebar-ui .switch-mode-ui {
	display: block;
	float: left;
}
#sidebar-ui .switch-mode {
	display: block;
	float: left;
	cursor: pointer;
	font-size: 13px;
	line-height: 13px;
	color: #5c7993;
}
#sidebar-ui .switch-mode:hover,
#sidebar-ui .switch-mode.active {
	color: #1fcd8f;
}
#sidebar-ui .switch-mode .upfront-icon:before {
	float: none;
	margin: 5px auto 0;
}
#sidebar-ui .switch-slider {
	display: block;
	float: left;
	background: #263a4d;
	width: 50px;
	height: 10px;
	border-radius: 5px;
	margin: 20px -3px 0 0;
}
#sidebar-ui .switch-slider .knob {
	display: block;
	width: 6px;
	height: 6px;
	background: #adc4d9;
	border: 5px solid #cce6ff;
	border-radius: 8px;
	margin: -3px 0 0;
	cursor: pointer;
	-webkit-transition: margin .3s;
	-moz-transition: margin .3s;
	-ms-transition: margin .3s;
	-o-transition: margin .3s;
	transition: margin .3s;
}
#sidebar-ui .switch-slider-full .knob {
	margin-left: 34px;
}
#sidebar-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar-ui .sidebar-commands li {
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}
#sidebar-ui .sidebar-commands-primary {
	padding: 20px 10px 10px;
	border-top: 1px solid #3f5870;
}
#sidebar-ui .sidebar-commands-primary li {
	height: 39px;
	line-height: 24px;
	padding: 5px 15px 0;
	margin: 0 10px 10px;
	font-size: 16px;
	border: 2px solid #2f465b;
	border-radius: 10px;
}
#sidebar-ui .sidebar-commands-primary li.upfront-icon {
	padding-left: 4px;
}
#sidebar-ui .sidebar-commands-primary li:hover {
	border-color: #1fcd8f;
	color: #cce6ff;
}
#sidebar-ui .sidebar-commands-control {
	border-top: 3px solid #335b80;
	padding: 10px 10px 0;
}
#sidebar-ui .sidebar-commands-control li {
	height: 39px;
	line-height: 27px;
	padding: 7px 0 0;
	margin: 0 10px 10px;
	font-size: 16px;
	color: #85aacc;
}
#sidebar-ui .sidebar-commands-control .command-undo,
#sidebar-ui .sidebar-commands-control .command-redo {
	padding: 12px 0 9px;
	line-height: 18px;
}
#sidebar-ui .sidebar-commands-control .command-save {
	padding: 5px 15px 0 10px;
	border: 2px solid #abc4db;
	border-radius: 10px;
	color: #abc4db;
	font-weight: bold;
}
#sidebar-ui .sidebar-commands-control .command-save:hover {
	border-color: #1fcd8f;
}
#sidebar-ui .sidebar-panels {
	color: #395773;
}
#sidebar-ui .sidebar-panel {
	background: #cee1f2;
	margin: 0 0 1px;
}
#sidebar-ui .sidebar-panel-title {
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
	height: 45px;
	background: #accae6;
	border-top: 3px solid #bfe1ff;
	border-bottom: 1px solid #8fa9bf;
	padding: 8px 0 0 18px;
	margin: 0;
	cursor: pointer;
}
#sidebar-ui .sidebar-panel-title:before {
	margin-right: 10px;
}
#sidebar-ui .sidebar-panel-title:after {
	content: " ";
	display: inline-block;
	margin: 12px 20px 0 0;
	float: right;
	width: 0;
	height: 0;
	border-top: 5px solid #85aacc;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title:after {
	margin-top: 7px;
	border-right: none;
	border-left: 5px solid #85aacc;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
#sidebar-ui .sidebar-panel-content {
	background: #cee1f2;
	-webkit-transition: all .3s;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	overflow: hidden;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
	height: 240px;
	padding: 10px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar {
	background: none;
	width: 10px;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar-track {
}
 
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar-thumb {
	border-right: 3px solid #1fcd8f;
	width: 7px;
}
.draggable-element {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 10px 0;
	height: 38px;
	line-height: 24px;
	background: #e5f3ff;
	border-top: 2px solid #fff;
	border-left: 1px solid #a3bfd9;
	border-right: 1px solid #a3bfd9;
	border-bottom: 2px solid #a3bfd9;
	border-radius: 6px;
	color: #395269;
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.draggable-element.upfront-icon-element {
	padding-left: 5px;
}
.draggable-element.element-drag-active {
	background: #b8d1e6;
	border: 1px solid #d9eeff;
	height: 37px;
	color: #6b92b2;
	opacity: .8;
}
.draggable-element.element-dragging {
	cursor: move;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.draggable-element:hover, .draggable-element.element-dragging {
	border-left-color: #537ea6;
	border-right-color: #537ea6;
	border-bottom-color: #537ea6;
}
#sidebar-ui .panel-section {
	padding: 5px 20px 15px;
	margin: 0 -10px 15px;
	border-bottom: 1px solid #8fa9bf;
}
#sidebar-ui .panel-section:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
#sidebar-ui .panel-section-title {
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4c6378;
	border-left: 5px solid #334b61;
	padding: 0 0 0 15px;
	margin: 0 0 0 -20px;
}
#sidebar-ui .panel-setting-item {
	padding: 15px 0 0;
}
#sidebar-ui .panel-setting-label {
	font-size: 15px;
	color: #263a4d;
	float: left;
}
#sidebar-ui .panel-setting-switcher {
	margin: -12px 0 0 158px;
	width: 66px;
	height: 10px;
	background: #85aacc;
	border-radius: 5px;
	position: relative;
}
#sidebar-ui .panel-setting-switcher .switch {
	display: block;
	font-size: 13px;
	line-height: 13px;
	width: 50%;
	height: 32px;
	text-transform: lowercase;
	float: left;
	color: #8db4d9;
	margin: -19px 0 0;
	position: relative;
	z-index: 10;
	cursor: pointer;
}
#sidebar-ui .panel-setting-switcher .switch.active {
	color: #13bf82;
}
#sidebar-ui .panel-setting-switcher .switch-on {
	text-align: right;
}
#sidebar-ui .panel-setting-switcher .knob {
	display: block;
	width: 6px;
	height: 6px;
	background: #1fcd8f;
	border: 5px solid #334b61;
	border-radius: 8px;
	position: absolute;
	top: -3px;
	left: 0;
	-webkit-transition: left .3s;
}
#sidebar-ui .panel-setting-switcher .switch-on.active + .knob {
	left: 50px;
}
#sidebar-ui .panel-setting-dialog {
	background: #c2dcf2;
	border: 1px dotted #a3bfd9;
	font-size: 15px;
	color: #263a4d;
	padding: 10px;
	margin: 15px 0 0;
}


#settings {
  position: fixed;
  left: 0;
  top: 480px;
}

#layouts {
  position: fixed;
  top: 28px;
  width: 100%;
  height: 22px;
  background: #eee;
  z-index: 5;
}
#layouts nav {
  display: table;
  width: 100%;
}
#layouts ul {
  display: table-row;
  width: 100%;
}
#layouts li {
  display: table-cell;
  text-align: center;
  line-height: 22px;
  padding-left: 1em;
}
#layouts li:first-child {
  text-align: right;
}
#layouts li:last-child {
  text-align: left;
}
#layouts li.active {
  text-shadow: 1px 1px 3px #000;
  color: #fff;
}

.upfront-overlay-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: none;
	background: -webkit-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -moz-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -ms-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -o-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: linear-gradient(to top, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background-size: 100% 15px;
}
.upfront-overlay-grid .c1 {
	height: 100%;
	text-align: center;
	font-size: 10px;
	color: #aaa;
}
.upfront-grid-border {
	background: -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background-size: 15px 100%;
	border-right: 1px solid #3bffff;
}
.upfront-grid-border:last-child {
	border-right: none;
}


.upfront-layout {
	position: relative;
	z-index: 1;
}

.upfront-active_entity > .upfront-editable_entity {
	outline: 2px dashed #666;
}
.upfront-module {
	position: relative;
	/*padding: 30px 0 0;*/
}
.show-debug .upfront-module {
	border: 1px solid #b3da11;
	background: rgba(242, 255, 186, 0.4);
}
.upfront-module:hover {
	outline: 2px dashed #888;
	z-index: 40;
}
.upfront-dragging .upfront-module {
	outline: 1px dotted #888;
}
.upfront-dragging .upfront-module:hover {
	outline: 2px dashed #666;
	z-index: 40;
}
.upfront-object {
	position: relative;
	z-index: 10;
}
.show-debug .upfront-object {
	border: 1px solid #bada55;
	background: rgba(255, 255, 255, 0.4);
}
.upfront-drag-handle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}
.upfront-active_entity > .upfront-module > .upfront-drag-handle {
	z-index: 0;
}
.upfront-debug-info {
	display: none;
}
.show-debug .upfront-debug-info {
	display: block;
	position: absolute;
	bottom: -10px;
	left: 5px;
	right: 5px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 5px;
	font-size: 10px;
	line-height: 15px;
}

.upfront-region {
  /*background-color: rgba(127, 127, 127, .5);*/
  padding: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  float: left;
  width: 100%;
  position: relative;
}
.upfront-region:before {
	content: attr(data-title);
	position: absolute;
	top: -11px;
	left: 25px;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 5px 5px;
	background: #2e4459;
	background: rgba(46, 68, 89, .9);
	color: #d9eafa;
	display: none;
}
.upfront-region:first-child:before {
	top: auto;
	bottom: -11px;
}
.upfront-dragging .upfront-region {
	opacity: .4;
	/*-webkit-transform: scale(.96, .96);*/
}
.upfront-dragging .upfront-region-drag-active {
	opacity: 1;
	/*-webkit-transform: scale(1, 1);*/
	outline: 1px dotted #858585;
}

.upfront-dragging .upfront-region-drag-active:before {
	display: block;
}
.upfront-region-active {
}
.upfront-region:hover {
}

.upfront-region-shadow {
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

.upfront-editable_entity img {
  max-width: 100%;
  max-height: 100%;
}

.ui-draggable {
	cursor: move;
}

.upfront-entity_meta {
  /*float: right;*/
  padding-right: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}
.upfront-module > .upfront-entity_meta {
	top: -15px;
}
.upfront-object > .upfront-entity_meta {
	top: 2px;
}
.upfront-editable_entity .upfront-entity_meta a {
  display: none;
  color: #fff;
  height: 15px;
  line-height: 1em;
  text-decoration: none;
  width: 15px;
  border-radius: 2px;
  margin: 0 0 2px;
  text-align: center;
  font-weight: normal;
  float: right;
  clear: right;
}
.upfront-editable_entity:hover > .upfront-entity_meta a,
.upfront-active_entity .upfront-entity_meta a {
  display: block;
}
.upfront-entity_meta a.upfront-entity-settings_trigger {
  background-color: #3472ac;
}
.upfront-entity_meta a.upfront-entity-delete_trigger {
  background-color: #cf3a3a;
}


.upfront-resize {
	background: rgba(0,0,0,.1);
}
.upfront-wrapper {
	float: left;
	position: relative;
}
.show-debug .upfront-wrapper {
	background: rgba(0,0,0,.04);
	outline: 1px dashed #aaa;
}


.upfront-drop {
	min-height: 0;
	float: left;
	position: relative;
	overflow: visible !important;
}
.show-debug .upfront-drop {
	background: rgba(0,0,0,.1);
}
.upfront-drop-debug, .upfront-debug-info {
	display: none;
}
.show-debug .upfront-drop-debug {
	display: block;
	background: #fbb;
	line-height: 15px;
	font-size: 10px;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -7px;
	margin-left: 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0 5px;
	white-space: nowrap;
	z-index: 1000;
}
.show-debug .upfront-drop-debug:before {
	display: block;
	content: " ";
	position: absolute;
	background: #aaa;
	width: 10px;
	height: 1px;
	top: 7px;
	left: -10px;
	z-index: 1000;
}
.show-debug .upfront-drop-wrap .upfront-drop-debug {
	background: #bfb;
}
.show-debug .upfront-drop-wrap-full .upfront-drop-debug {
	background: #ccc;
	left: 0;
	margin-right: 10px;
	margin-left: 0;
}
.show-debug .upfront-drop-wrap-full .upfront-drop-debug:before {
	left: 0;
}
.show-debug .upfront-drop-after .upfront-drop-debug {
	background: #bbf;
}
.show-debug .upfront-drop-me .upfront-drop-debug {
	background: #fff;
}
.upfront-drop-obj {
	min-width: 100%;
}
.upfront-drop-wrap {
	
}
.upfront-drop-wrap-full {
	min-width: 100%;
}
.upfront-drop-use .upfront-drop-preview {
	background: rgba(0,0,0,.1);
	max-width: 100%;
}


/* Experimental animation */
@-webkit-keyframes dropped {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.2, 1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
	}
}
.upfront-dropped {
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-name: dropped;
}


/* ----- Settings ----- */

#settings, #settings * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#settings {
  background-color: #dae7f1;
  border: 1px solid #a2c5e4;
  border-right: none;
  border-left: 3px solid #6486a4;
  min-width: 90px;

}
#settings .upfront-settings_title {
  display: none;
}
#settings .upfront-settings_label {
	padding-left: 15px;
	width: 90px;
	height: 40px;
	line-height: 40px;
	background: #a2c5e4;
	color: #f2f9ff;
	border: 1px solid #7ba6ca;
	border-top: none;
}
#settings .upfront-settings_label.active {
	color: #a2c5e4;
	background: #f2f9ff;
	border-right: none;
}
#settings .upfront-settings_panel {
	position: absolute;
	left: 90px;
	top: 0;
	padding: 15px;
	min-width: 200px;
	border: 1px solid #a2c5e4;
	border-left: none;
	margin-top: -1px;
	background: #f2f9ff;
}
#settings .upfront-settings-item-title {
	text-transform: uppercase;
	border-bottom: 1px solid #a2c5e4;
	font-size: .8em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#settings .upfront-settings-button_panel {
	float: right;
}



/* ----- Save As dialog ----- */

#upfront-save-dialog-background {
  background: #333;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999998;
}

#upfront-save-dialog {
  background: #eee;
  position: fixed;
  top: 10%;
  left: 40%;
  width: 20%;
  z-index: 999999;
  box-shadow: 1px 1px 5px #333;
  padding: 2em;
}


/* Upfront icon */
.upfront-icon-element:before, .upfront-icon:before {
	content: " ";
	background: url('../img/upfront-icon-sprite.svg') no-repeat;
	display: block;
	float: left;
}
.upfront-icon-element:before {
	width: 26px;
	height: 23px;
	margin: 0 3px 0 0;
}
.upfront-icon-element-text:before {
	background-position: -10px -10px;
}
.upfront-icon-element-image:before {
	background-position: -10px -43px;
}
.upfront-icon-element-search:before {
	background-position: -10px -76px;
}
.upfront-icon-element-image-text:before {
	background-position: -10px -109px;
}
.upfront-icon-element-columns:before {
	background-position: -10px -142px;
}
.upfront-icon-element-social:before {
	background-position: -10px -175px;
}
.upfront-icon-element-quote:before {
	background-position: -10px -208px;
}
.upfront-icon-element-button:before {
	background-position: -10px -241px;
}
.upfront-icon-element-table:before {
	background-position: -10px -274px;
}
.upfront-icon-element-video:before {
	background-position: -10px -307px;
}
.upfront-icon-element-maps:before {
	background-position: -10px -340px;
}
.upfront-icon-element-slider:before {
	background-position: -10px -373px;
}
.upfront-icon:before {
	width: 26px;
	height: 23px;
	margin: 0 3px 0 0;
}
.upfront-icon-page:before {
	background-position: -220px -142px;
}
.upfront-icon-post:before {
	background-position: -220px -175px;
}
.upfront-icon-panel-post:before {
	background-position: -220px -208px;
}
.upfront-icon-panel-elements:before {
	background-position: -220px -241px;
}
.upfront-icon-panel-settings:before {
	background-position: -220px -274px;
}
.upfront-icon-save:before {
	background-position: -220px -307px;
}
.upfront-icon-simple:before, .upfront-icon-advanced:before {
	width: 20px;
	height: 18px;
}
.upfront-icon-simple:before {
	background-position: -225px -26px;
}
.upfront-icon-simple:hover:before,
.active .upfront-icon-simple:before {
	background-position: -225px -76px;
}
.upfront-icon-advanced:before {
	background-position: -285px -26px;
}
.upfront-icon-advanced:hover:before,
.active .upfront-icon-advanced:before {
	background-position: -285px -76px;
}
.upfront-icon-undo:before, .upfront-icon-redo:before {
	width: 10px;
	height: 23px;
	margin: 0 6px 0 0;
}
.upfront-icon-undo:before {
	background-position: -345px -26px;
}
.upfront-icon-undo:hover:before {
	background-position: -345px -76px;
}
.upfront-icon-redo:before {
	background-position: -391px -26px;
}
.upfront-icon-redo:hover:before {
	background-position: -391px -76px;
}


