.upfront-edit-layout, .upfront-edit-layout body {
	background: #fff;
  	height: 100%;
}

.upfront-edit-layout #page {
	background: #fff;
  	position: relative;
  	min-height: 100%;
  	/*margin: 22px 20px 0 320px;*/
  	margin: 0 0 0 300px;
  	width: auto;
}
.upfront-grid-layout {
	position: relative;
	margin: 0 auto;
}
.upfront-grid-layout:before, .upfront-grid-layout:after {
	content: "";
	display: table; 
}
.upfront-grid-layout:after {
	clear: both;
}
.upfront-grid-layout {
	zoom: 1; 
}

#upfront-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12000px;
  background-color: rgba(33,33,33,.7);
  color: #fff;
  font-size: 72pt;
  font-weight: bold;
  padding-top: 2em;
  text-align: center;
  z-index: 10;
}

#properties {
  position: fixed;
  top: 50px;
  right: -160px;
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0;
  z-index: 5;
  -webkit-transition: right .3s;
  display: none !important;
}
.show-debug ~ #properties {
	display: block !important;
}
#properties:hover {
	right: 0;
}
#commands {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 5;
}
#properties, #commands {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.upfront-edit_content {
  right: 5px;
  left: auto;
}
#commands {
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0; 
}
#commands li {
	margin: 5px 0 0;
	padding: 5px 10px;
	list-style: none;
	cursor: pointer;
}
#commands li:hover {
	background: #888;
	color: #fff;
}

#sidebar-ui {
	position: fixed;
	top: 28px;
	bottom: 0;
	left: 0;
	width: 300px;
	background: #395269;
	color: #a1c5e6;
	border-right: 1px solid #324253;
	display: none;
	font: 16px/24px 'Source Sans Pro', sans-serif;
	/* Disable text selection */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#sidebar-ui .sidebar-commands li,
#sidebar-ui .sidebar-panel-title,
#sidebar-ui .sidebar-panel-content,
.draggable-element,
#sidebar-ui .panel-setting-button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#sidebar-ui .upfront-logo {
	background: #607f99 url('../img/upfront-logo.png') no-repeat 20px 50%;
	height: 50px;
	border-bottom: 1px solid #31485e;
}
#sidebar-ui .sidebar-editor-mode {
	border-top: 1px solid #3f5870;
	border-bottom: 1px solid #31485e;
	padding: 16px 0 20px 24px;
	color: #a1c5e6;
	overflow: hidden;
}
#sidebar-ui .sidebar-editor-mode-label {
	display: block;
	float: left;
	margin: 0 28px 0 0;
	padding: 15px 0 0;
}
#sidebar-ui .switch-mode-ui {
	display: block;
	float: left;
}
#sidebar-ui .switch-mode {
	display: block;
	float: left;
	cursor: pointer;
	font-size: 13px;
	line-height: 13px;
	color: #5c7993;
}
#sidebar-ui .switch-mode:hover,
#sidebar-ui .switch-mode.active {
	color: #1fcd8f;
}
#sidebar-ui .switch-mode .upfront-icon:before {
	float: none;
	margin: 5px auto 0;
}
#sidebar-ui .switch-slider {
	display: block;
	float: left;
	background: #263a4d;
	width: 50px;
	height: 10px;
	border-radius: 5px;
	margin: 20px -3px 0 0;
}
#sidebar-ui .switch-slider .knob {
	display: block;
	width: 6px;
	height: 6px;
	background: #adc4d9;
	border: 5px solid #cce6ff;
	border-radius: 8px;
	margin: -3px 0 0;
	cursor: pointer;
	-webkit-transition: margin .3s;
	-moz-transition: margin .3s;
	-ms-transition: margin .3s;
	-o-transition: margin .3s;
	transition: margin .3s;
}
#sidebar-ui .switch-slider-full .knob {
	margin-left: 34px;
}
#sidebar-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar-ui .sidebar-commands li {
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
}
#sidebar-ui .sidebar-commands-primary {
	padding: 20px 10px 10px;
	border-top: 1px solid #3f5870;
}
#sidebar-ui .sidebar-commands-primary li {
	height: 39px;
	line-height: 24px;
	padding: 5px 15px 0;
	margin: 0 10px 10px;
	border: 2px solid #2f465b;
	border-radius: 10px;
}
#sidebar-ui .sidebar-commands-primary li.upfront-icon {
	padding-left: 4px;
}
#sidebar-ui .sidebar-commands-primary li:hover {
	border-color: #1fcd8f;
	color: #cce6ff;
}
#sidebar-ui .sidebar-commands-control {
	border-top: 3px solid #335b80;
	padding: 10px 10px 0;
}
#sidebar-ui .sidebar-commands-control li {
	height: 39px;
	line-height: 27px;
	padding: 7px 0 0;
	margin: 0 10px 10px;
	color: #85aacc;
}
#sidebar-ui .sidebar-commands-control .command-undo,
#sidebar-ui .sidebar-commands-control .command-redo {
	padding: 12px 0 9px;
	line-height: 18px;
}
#sidebar-ui .sidebar-commands-control .command-save {
	padding: 5px 15px 0 10px;
	border: 2px solid #abc4db;
	border-radius: 10px;
	color: #abc4db;
	font-weight: bold;
}
#sidebar-ui .sidebar-commands-control .command-save:hover {
	border-color: #1fcd8f;
}
#sidebar-ui .sidebar-panels {
	color: #395773;
}
#sidebar-ui .sidebar-panel {
	background: #cee1f2;
	margin: 0 0 1px;
}
#sidebar-ui .sidebar-panel-title {
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
	height: 45px;
	background: #accae6;
	border-top: 3px solid #bfe1ff;
	border-bottom: 1px solid #8fa9bf;
	color: #395773;
	padding: 8px 0 0 18px;
	margin: 0;
	cursor: pointer;
}
#sidebar-ui .sidebar-panel-title:before {
	margin-right: 10px;
}
#sidebar-ui .sidebar-panel-title:after {
	content: " ";
	display: inline-block;
	margin: 12px 20px 0 0;
	float: right;
	width: 0;
	height: 0;
	border-top: 5px solid #85aacc;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title:after {
	margin-top: 7px;
	border-right: none;
	border-left: 5px solid #85aacc;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
#sidebar-ui .sidebar-panel-content {
	background: #cee1f2;
	-webkit-transition: all .3s;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	overflow: hidden;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content {
	height: 280px;
	padding: 10px;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar,
.upfront-scroll-panel::-webkit-scrollbar {
	background: none;
	width: 3px;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar-track,
.upfront-scroll-panel::-webkit-scrollbar-track {
}
 
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-content::-webkit-scrollbar-thumb,
.upfront-scroll-panel::-webkit-scrollbar-thumb {
	border-right: 3px solid #1fcd8f;
	width: 3px;
}
.upfront-scroll-panel{
	overflow-x: hidden;
	overflow-y: scroll;
  	-webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%), -webkit-linear-gradient(right, rgba(0,0,0,1) 0, rgba(0,0,0,1) 10px, rgba(0,0,0,0) 10px, rgba(0,0,0,0) 100%);
}
.upfront-inner-scroll-panel{
}
/* It doesn't work
.upfront-scroll-panel:after {
	content: ' ';
	width:100%;
	height: 10px;
	left:0;
	bottom:0;
	background: red;
	position:absolute;
}
*/


.draggable-element {
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 10px 0;
	height: 35px;
	font-family: verdana; 
	font-weight: 200;
	font-size: 11px;
	line-height: 24px;
	background: #e5f3ff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #a2bed8;
	box-shadow: 0 1px 0 #a2bed8, inset 0 1px 0px #fff;
	color: #395269;
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.draggable-element.upfront-icon-element {
	padding-left: 5px;
}
.draggable-element.element-drag-active {
	background: #b8d1e6;
	border: 1px solid #d9eeff;
	box-shadow: none;
	height: 37px;
	color: #6b92b2;
	opacity: .8;
}
.draggable-element:active, .draggable-element.element-dragging {
	cursor: move;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
.draggable-element:hover, .draggable-element.element-dragging {
	border: 1px solid #537ea6;
	box-shadow: 0 1px 0 #537ea6, inset 0 1px 0px #fff;
}
#sidebar-ui .panel-section {
	font-size: 15px;
	padding: 5px 20px 15px;
	margin: 0 -10px 15px;
	border-bottom: 1px solid #8fa9bf;
}
#sidebar-ui .panel-section:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
#sidebar-ui .panel-section-title {
	line-height: 19px;
	font-weight: bold;
	text-transform: uppercase;
	color: #4c6378;
	border-left: 5px solid #334b61;
	padding: 0 0 0 15px;
	margin: 0 0 0 -20px;
}
#sidebar-ui .panel-setting-item {
	padding: 15px 0 0;
}
#sidebar-ui .panel-setting-label {
	color: #263a4d;
}
#sidebar-ui .panel-setting-switcher {
	margin: -12px 0 0 158px;
	width: 66px;
	height: 10px;
	background: #85aacc;
	border-radius: 5px;
	position: relative;
}
#sidebar-ui .panel-setting-switcher .switch {
	display: block;
	font-size: 13px;
	line-height: 13px;
	width: 50%;
	height: 32px;
	text-transform: lowercase;
	float: left;
	color: #8db4d9;
	margin: -19px 0 0;
	position: relative;
	z-index: 10;
	cursor: pointer;
}
#sidebar-ui .panel-setting-switcher .switch.active {
	color: #13bf82;
}
#sidebar-ui .panel-setting-switcher .switch-on {
	text-align: right;
}
#sidebar-ui .panel-setting-switcher .knob {
	display: block;
	width: 6px;
	height: 6px;
	background: #1fcd8f;
	border: 5px solid #334b61;
	border-radius: 8px;
	position: absolute;
	top: -3px;
	left: 0;
	-webkit-transition: left .3s;
}
#sidebar-ui .panel-setting-switcher .switch-on.active + .knob {
	left: 50px;
}
#sidebar-ui .panel-setting-dialog {
	background: #c2dcf2;
	border: 1px dotted #a3bfd9;
	padding: 10px;
	margin: 15px 0 0;
}
#sidebar-ui .panel-setting-dialog-region {
	color: #263a4d;
}
#sidebar-ui .panel-setting-dialog-image {
	color: #6b8399;
	margin: 10px 0 15px;
}
#sidebar-ui .panel-setting-dialog-info {
	color: #6183a2;
	padding-left: 40px;
	line-height: 20px;
}
#sidebar-ui .panel-setting-sub-label {
	font-weight: bold;
	color: #688aa6;
	text-transform: uppercase;
	clear: both;
}
#sidebar-ui .panel-setting-background .wp-picker-container {
	float: left;
}
#sidebar-ui .panel-setting-button {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	height: 29px;
	color: #334b61;
	border: 2px solid #a9c5df;
	border-radius: 10px;
	padding: 2px 10px 0 5px;
	text-decoration: none;
}
#sidebar-ui .panel-setting-background-more {
	-webkit-transition: all .3s;
	height: 0;
	max-height: 0;
	opacity: 0;
}
#sidebar-ui .panel-setting-background-more > div {
	display: none;
}
#sidebar-ui .panel-setting-background-more.expanded {
	height: auto;
	max-height: 200px;
	opacity: 1;
}
#sidebar-ui .panel-setting-background-more.expanded > div {
	display: block;
}
#sidebar-ui .panel-setting-background .wp-picker-container {
	float: left;
}
#sidebar-ui .panel-setting-background .panel-setting-button {
	float: right;
}
#sidebar-ui .background-image-wrap {
	clear: both;
	font-size: 13px;
	line-height: 30px;
}
#sidebar-ui .background-image-wrap img {
	width: 28px;
	height: 28px;
	border: 1px solid #f9fcfe;
	float: left;
	margin: 0 10px 0 0;
}
#sidebar-ui .background-image-delete {
	width: 18px;
	height: 18px;
	background: rgb(235,83,77);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWI1MzRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWI1MzRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZGQ0ZjQ5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkNGY0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(235,83,77,1) 0%, rgba(235,83,77,1) 50%, rgba(221,79,73,1) 51%, rgba(221,79,73,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(235,83,77,1)), color-stop(50%,rgba(235,83,77,1)), color-stop(51%,rgba(221,79,73,1)), color-stop(100%,rgba(221,79,73,1)));
	background: -webkit-linear-gradient(-45deg, rgba(235,83,77,1) 0%,rgba(235,83,77,1) 50%,rgba(221,79,73,1) 51%,rgba(221,79,73,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(235,83,77,1) 0%,rgba(235,83,77,1) 50%,rgba(221,79,73,1) 51%,rgba(221,79,73,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(235,83,77,1) 0%,rgba(235,83,77,1) 50%,rgba(221,79,73,1) 51%,rgba(221,79,73,1) 100%);
	background: linear-gradient(135deg, rgba(235,83,77,1) 0%,rgba(235,83,77,1) 50%,rgba(221,79,73,1) 51%,rgba(221,79,73,1) 100%);
	display: block;
	float: right;
	margin: 6px 0 0;
}
#sidebar-ui .background-image-delete span[data-tooltip] {
	margin-left: -18px;
	float: left;
}
#sidebar-ui .panel-setting-background-position {
	padding: 5px 0 0;
}
#sidebar-ui .background-position-select {
	width: 37px;
	margin: 19px 0 0 1px;
	float: left;
}
#sidebar-ui .position-select-wrap {
	display: block;
	float: left;
	width: 11px;
	height: 10px;
	border: 1px solid #8fa9bf;
	margin: -1px 0 0 -1px;
}
#sidebar-ui .position-select-wrap:hover {
	border-color: #263a4d;
	position: relative;
	z-index: 5;
}
#sidebar-ui .position-select-wrap input[type=radio] {
	float: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 13px;
	height: 12px;
	border: none;
	position: relative;
	z-index: 10;
	margin: -1px 0 0 -1px;
}
#sidebar-ui .position-select-wrap input[type=radio]:checked {
	background-color: #263a4d;
}
#sidebar-ui .or-round {
	float: left;
	font-size: 13px;
	background: #6183a2;
	color: #e5f2ff;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 12px;
	margin: 28px 0 0 20px;
	text-align: center;
}
#sidebar-ui .background-tile-select {
	margin: 0 0 0 100px;
}
#sidebar-ui .tile-select-wrap {
	display: block;
	line-height: 26px;
	color: #6b8399;
}
#sidebar-ui .tile-select-wrap input[type=checkbox] {
	margin-top: 5px;
	float: left;
}
#sidebar-ui .region-lock-switch {
	cursor: pointer;
	line-height: 20px;
	color: #263a4d;
	padding: 0 50px 0 0;
}

/* Tooltip */
.tooltip {
	position: relative;
	z-index: 50;
}
.tooltip:before {
	content: attr(data-tooltip);
	position: absolute;
	top: -26px;
	left: -32px;
	display: none;
	padding: 0 5px;
	font: 10px/18px Verdana, sans-serif;
	white-space: nowrap;
	background: #2b445d;
	color: #f2f9ff;
}
.tooltip:after {
	content: " ";
	position: absolute;
	top: -8px;
	left: 6px;
	display: none;
	border-top: 3px solid #2b445d;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.tooltip:hover:before, .tooltip:hover:after,
a:hover > .tooltip:before, a:hover > .tooltip:after {
	display: block;
}

/* Input */
#sidebar-ui input[type=checkbox], #sidebar-ui input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #7a8d9f;
	border-radius: 2px;
	margin: 0 10px 0 0;
	cursor: pointer;
}
#sidebar-ui input[type=checkbox]:hover {
	border-color: #263a4d;
}
#sidebar-ui input[type=checkbox]:checked {
	border-color: #263a4d;
	background-color: #263a4d;
}

#settings {
  position: fixed;
  left: 0;
  top: 480px;
}

#layouts {
  position: fixed;
  top: 28px;
  width: 100%;
  height: 0;
  overflow: hidden; /* @TODO temporary hide this with CSS, need to remove this on the code? */
  background: #eee;
  z-index: 5;
}
#layouts nav {
  display: table;
  width: 100%;
}
#layouts ul {
  display: table-row;
  width: 100%;
}
#layouts li {
  display: table-cell;
  text-align: center;
  line-height: 22px;
  padding-left: 1em;
}
#layouts li:first-child {
  text-align: right;
}
#layouts li:last-child {
  text-align: left;
}
#layouts li.active {
  text-shadow: 1px 1px 3px #000;
  color: #fff;
}

.upfront-overlay-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: none;
	background: -webkit-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -moz-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -ms-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -o-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: linear-gradient(to top, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background-size: 100% 15px;
}
.upfront-overlay-grid .c1 {
	height: 100%;
	text-align: center;
	font-size: 10px;
	color: #aaa;
}
.upfront-grid-border {
	background: -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background-size: 15px 100%;
	border-right: 1px solid #3bffff;
}
.upfront-grid-border:last-child {
	border-right: none;
}


.upfront-layout {
	position: relative;
	z-index: 1;
}

/* Transition */
.upfront-region-container,
.upfront-region,
.upfront-module {
	-webkit-transition: background .3s, opacity .3s;
	-moz-transition: background .3s, opacity .3s;
	-ms-transition: background .3s, opacity .3s;
	-o-transition: background .3s, opacity .3s;
	transition: background .3s, opacity .3s;
}


.upfront-active_entity > .upfront-editable_entity {
	outline: 1px dotted #5c7c9b;
}
.upfront-module {
	position: relative;
	/*padding: 30px 0 0;*/
}
.show-debug .upfront-module {
	border: 1px solid #b3da11;
	background: rgba(242, 255, 186, 0.4);
}
.upfront-module:hover {
	outline: 1px dotted #5c7c9b;
	/*z-index: 40;*/
}
.upfront-dragging .upfront-module {
	outline: 1px dotted #5c7c9b;
	overflow: hidden;
}
.upfront-dragging .upfront-module:hover {
	outline: 1px dotted #5c7c9b;
	/*z-index: 40;*/
}
.upfront-object {
	position: relative;
	/*z-index: 10;*/
}
.show-debug .upfront-object {
	border: 1px solid #bada55;
	background: rgba(255, 255, 255, 0.4);
}
.upfront-drag-handle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: none;
}
.upfront-active_entity > .upfront-module > .upfront-drag-handle {
	display: none;
}
.handle-active .upfront-drag-handle {
	display: block;
}
.upfront-debug-info {
	display: none;
}
.show-debug .upfront-debug-info {
	display: block;
	position: absolute;
	bottom: -10px;
	left: 5px;
	right: 5px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 5px;
	font-size: 10px;
	line-height: 15px;
}

.upfront-region-container {
}
.upfront-region {
  /*background-color: rgba(127, 127, 127, .5);*/
  padding: 0;
  float: left;
  /*width: 100%;*/
  position: relative;
  /*z-index: 1;*/
}
.upfront-region:before {
	content: attr(data-title);
	position: absolute;
	top: -11px;
	left: 25px;
	z-index: 200;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 5px 5px;
	background: #2e4459;
	background: rgba(46, 68, 89, .9);
	color: #d9eafa;
	display: none;
}
.upfront-region-container:first-child .upfront-region:before {
	top: auto;
	bottom: -11px;
}
.upfront-dragging .upfront-region {
	opacity: .4;
	/*-webkit-transform: scale(.96, .96);*/
}
.upfront-dragging .upfront-region-drag-active {
	opacity: 1;
	/*-webkit-transform: scale(1, 1);*/
	outline: 1px dotted #858585;
}

.upfront-dragging .upfront-region-drag-active:before {
	display: block;
}
.upfront-region-active {
}
.upfront-region:hover {
}
.upfront-region-editing .upfront-module {
	opacity: .1;
}
.upfront-region-editing .upfront-region {
	outline: 1px dotted #858585;
}
.region-resizable-helper {
	background: rgba(0,0,0,.1);
}
.upfront-region-editing .upfront-region:after, /* Lock area on editing region */
.upfront-region-locked:after {
	content: " ";
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.05);
}

.upfront-region-shadow {
	visibility: hidden;
	/*min-height: 0 !important;*/
	height: 0;
	max-height: 0;
	overflow: hidden;
}

.upfront-editable_entity img {
  max-width: 100%;
  max-height: 100%;
}

.ui-draggable {
	cursor: move;
}

.upfront-entity_meta {
  /*float: right;*/

}


.upfront-dragging .upfront-editable_entity .upfront-entity_meta {
	display: none;
}
.upfront-editable_entity .upfront-entity_meta a {
	width: 0;
	height: 0;	
	position: absolute;
	z-index: 2000;
	cursor:pointer;
	display:none;
	border-top: 0px solid transparent;
	color:#fff;
	text-decoration:none;
}
.upfront-editable_entity:hover .upfront-entity_meta a,
.upfront-active_entity .upfront-entity_meta a {
  display: block;
}
.upfront-entity_meta a.upfront-entity-settings_trigger {
	border-bottom: 28px solid #1fcd8f;
	border-left: 28px solid #21d998;
	right:-13px;
	top:33px;
}
.upfront-entity_meta a.upfront-entity-delete_trigger {
	border-bottom: 28px solid #dd4f49;
	border-left: 28px solid #eb534d;
	right:-13px;
	top:-10px;
}
.upfront-editable_entity .upfront-entity_meta a [class^="icon-"]
{
	width: 28px;
	height: 28px;
	float: left;
	position: relative;
	left: -28px;
	top: 0px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height: 28px;
}

.upfront-resize {
	background: rgba(0,0,0,.1);
}
.upfront-wrapper {
	float: left;
	position: relative;
}
.show-debug .upfront-wrapper {
	background: rgba(0,0,0,.04);
	outline: 1px dashed #aaa;
}


.upfront-drop {
	min-height: 0;
	float: left;
	position: relative;
	overflow: visible !important;
}
.show-debug .upfront-drop {
	background: rgba(0,0,0,.1);
}
.upfront-drop-debug, .upfront-debug-info {
	display: none;
}
.show-debug .upfront-drop-debug {
	display: block;
	background: #fbb;
	line-height: 15px;
	font-size: 10px;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -7px;
	margin-left: 10px;
	width: 50px;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0 5px;
	/*white-space: nowrap;*/
	z-index: 1000;
}
.show-debug .upfront-drop-debug:before {
	display: block;
	content: " ";
	position: absolute;
	background: #aaa;
	width: 10px;
	height: 1px;
	top: 7px;
	left: -10px;
	z-index: 1000;
}
.show-debug .upfront-drop-wrap .upfront-drop-debug {
	background: #bfb;
}
.show-debug .upfront-drop-wrap-full .upfront-drop-debug {
	background: #ccc;
	left: 0;
	margin-right: 10px;
	margin-left: 0;
}
.show-debug .upfront-drop-wrap-full .upfront-drop-debug:before {
	left: 0;
}
.show-debug .upfront-drop-after .upfront-drop-debug {
	background: #bbf;
}
.show-debug .upfront-drop-me .upfront-drop-debug {
	background: #fff;
}
.upfront-drop-obj {
	min-width: 100%;
}
.upfront-drop-wrap {
	
}
.upfront-drop-wrap-full {
	min-width: 100%;
}
.upfront-drop-use .upfront-drop-preview {
	background: rgba(0,0,0,.1);
	max-width: 100%;
}

.upfront-drop-view {
	position: absolute;
	border: 2px dotted #88f;
}

/* Experimental animation */
@-webkit-keyframes dropped {
	0% {
		opacity: .6;
		-webkit-transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(.9, .9);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
	}
}
.ui-draggable-dragging {
	opacity: .6;
	min-height: 0 !important;
	/*-webkit-transition: max-width .3s, max-height .3s;*/
}
.upfront-dropped {
	-webkit-animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: .5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-name: dropped;
}


/* ----- Settings ----- */

#settings, #settings * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#settings {
  background-color: #dae7f1;
  border: 1px solid #a2c5e4;
  border-right: none;
  border-left: 3px solid #6486a4;
  min-width: 90px;

}
#settings .upfront-settings_title {
  display: none;
}
#settings .upfront-settings_label {
	padding-left: 15px;
	width: 90px;
	height: 40px;
	line-height: 40px;
	background: #a2c5e4;
	color: #f2f9ff;
	border: 1px solid #7ba6ca;
	border-top: none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
    cursor: pointer;
}
#settings .upfront-settings_label.active {
	color: #a2c5e4;
	background: #f2f9ff;
	border-right: none;
	border-left: solid 3px #1fcd8f;
	margin-left: -3px;
	width: 93px;
	padding-left: 18px;
}
#settings .upfront-settings_panel {
	position: absolute;
	left: 90px;
	top: 0;
	padding: 15px 15px 17px 15px;
	min-width: 200px;
	border: 1px solid #a2c5e4;
	border-left: none;
	margin-top: -1px;
	background: #f2f9ff;
}
.upfront-settings-item-title {
	text-transform: uppercase;
	border-bottom: 1px solid #a2c5e4;
	font-size:14px;
	color:#30475e;
	height:20px;
	line-height: 9px;
	font-family: 'RobotoRegular';
}
#settings .upfront-settings-button_panel {
	float: right;
}



/* ----- Save As dialog ----- */

#upfront-save-dialog-background {
  background: #333;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999998;
}

#upfront-save-dialog {
  background: #eee;
  position: fixed;
  top: 10%;
  left: 40%;
  width: 20%;
  z-index: 999999;
  box-shadow: 1px 1px 5px #333;
  padding: 2em;
}


/* Upfront icon */
.upfront-icon-element:before, .upfront-icon:before,
.region-lock-switch:before,
.panel-setting-dialog-region:before, .panel-setting-dialog-info:before,
.position-select-wrap input[type=radio]:checked,
input[type=checkbox]:checked {
	content: " ";
	background-image: url('../img/upfront-icon-sprite.svg?v=20130507');
	background-repeat: no-repeat;
	float: left;
}
.upfront-icon-element:before {
	width: 26px;
	height: 23px;
	margin: 0 3px 0 0;
}
.upfront-icon-element-text:before {
	background-position: -10px -10px;
}
.upfront-icon-element-image:before {
	background-position: -10px -43px;
}
.upfront-icon-element-search:before {
	background-position: -10px -76px;
}
.upfront-icon-element-image-text:before {
	background-position: -10px -109px;
}
.upfront-icon-element-columns:before {
	background-position: -10px -142px;
}
.upfront-icon-element-social:before {
	background-position: -10px -175px;
}
.upfront-icon-element-quote:before {
	background-position: -10px -208px;
}
.upfront-icon-element-button:before {
	background-position: -10px -241px;
}
.upfront-icon-element-table:before {
	background-position: -10px -274px;
}
.upfront-icon-element-video:before {
	background-position: -10px -307px;
}
.upfront-icon-element-maps:before {
	background-position: -10px -340px;
}
.upfront-icon-element-slider:before {
	background-position: -10px -373px;
}
.upfront-icon:before {
	width: 28px;
	height: 23px;
	margin: 0 3px 0 0;
}
.upfront-icon-page:before {
	background-position: -218px -142px;
}
.upfront-icon-post:before {
	background-position: -218px -175px;
}
.upfront-icon-panel-post:before {
	background-position: -218px -208px;
}
.upfront-icon-panel-elements:before {
	background-position: -218px -241px;
}
.upfront-icon-panel-settings:before {
	background-position: -218px -274px;
}
.upfront-icon-save:before {
	background-position: -218px -307px;
}
.upfront-icon-edit:before {
	background-position: -218px -340px;
}
.upfront-icon-delete:before {
	width: 18px;
	height: 18px;
	margin: 0;
}
.upfront-icon-delete:before {
	background-position: -219px -375px;
}
.upfront-icon-check:before {
	background-position: -218px -406px;
}
.position-select-wrap input[type=radio]:checked {
	background-position: -222px -411px;
}
input[type=checkbox]:checked {
	background-position: -222px -411px;
}
.region-lock-switch:before {
	width: 22px;
	height: 30px;
	margin: 5px 20px 0 0;
	background-position: -218px -501px;
}
.region-lock-switch.locked:before {
	background-position: -218px -567px;
}
.upfront-icon-simple:before, .upfront-icon-advanced:before {
	width: 20px;
	height: 18px;
}
.upfront-icon-simple:before {
	background-position: -225px -26px;
}
.upfront-icon-simple:hover:before,
.active .upfront-icon-simple:before {
	background-position: -225px -76px;
}
.upfront-icon-advanced:before {
	background-position: -285px -26px;
}
.upfront-icon-advanced:hover:before,
.active .upfront-icon-advanced:before {
	background-position: -285px -76px;
}
.upfront-icon-undo:before, .upfront-icon-redo:before {
	width: 10px;
	height: 23px;
	margin: 0 6px 0 0;
}
.upfront-icon-undo:before {
	background-position: -345px -26px;
}
.upfront-icon-undo:hover:before {
	background-position: -345px -76px;
}
.upfront-icon-redo:before {
	background-position: -391px -26px;
}
.upfront-icon-redo:hover:before {
	background-position: -391px -76px;
}
.panel-setting-dialog-region:before {
	
}
.panel-setting-dialog-info:before {
	width: 23px;
	height: 23px;
	margin: 0 0 0 -30px;
	background-position: -218px -439px;
}

/* ContentEditor sidebar */

.upfront-save_state {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	height: 39px;
	line-height: 24px;
	padding: 5px 15px 0;
	margin: 0 10px 10px;
	font-size: 16px;
	border: 2px solid #2f465b;
	border-radius: 10px;
	padding-left: 4px;
	background: #395269;
	color: #a1c5e6;
	display: inline-block;
}
.upfront-save_state:hover {
	border-color: #1fcd8f;
	color: #cce6ff;
}

.upfront-sidebar-content_editor-sidebar_command.upfront-entity_list,
.upfront-sidebar-content_editor-sidebar_command.upfront-meta,
.upfront-sidebar-content_editor-sidebar_command.upfront-taxonomy_list {
	margin: 1em;
	color: #1fcd8f;
	text-decoration: underline;
}


/* Popup */
#upfront-popup-background {
	position: fixed;
	top: 0;
	left: 0;
	background: #5c6b79;
	opacity: .75;
	z-index: 99998;
}
#upfront-popup {
	position: fixed;
	top: 40px;
	z-index: 99999;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#upfront-popup select{
padding: 3px;
border: 1px solid #A4BFD8;
background: #E5F3FE;
color: #A4BFD8;
font-family: 'Source Sans Pro';
border-radius: 3px;
box-shadow: inset 0 2px 0 0 #fff;
-webkit-box-shadow: inset 0 2px 0 0 #fff;
}

#upfront-popup input::-webkit-input-placeholder,
#upfront-popup input:-moz-placeholder,
#upfront-popup input::-moz-placeholder,
#upfront-popup input::-ms-input-placeholder {
	color: #A4BFD8;
}

#upfront-popup input[type=text] {
	background: #F2F9FF;
	border: 1px solid #A4BFD8;
	padding: 8px 5px;
	font-size: 15px;
	color: #3A5268;
}


#upfront-popup  .button,
#upfront-popup  button {
	padding: 7px;
	border: 2px solid #A4B6C6;
	border-radius: 10px;
	width: 100%;
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
	color: #6C92B1;
	background: none;
}
#upfront-popup  .button:hover,
#upfront-popup  button:hover {
	border: 2px solid #1fcd8f;
	color: #30475e;
}
#upfront-popup .button i,
#upfront-popup button i {
	margin-right: 5px;
	color: #A4B6C6;
}

#upfront-popup .button:hover i,
#upfront-popup button:hover i {
	color: #30475e;
}


/* Border box for everybody! */
#upfront-popup *{ 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#upfront-popup-content {
	background: #e5f3fe;
}

#upfront-popup-close {
	color: #e5f3fe;
	position: absolute;
	font-weight: 200;
	font-size: 28px;
	top: 0;
	right: 0;
	cursor: pointer;
}

#upfront-popup-close:hover {
	color: #2ecc90;
}

.upfront-popup-placeholder {
	margin: 0;
	line-height: 100px;
	text-align: center;
	font-style: italic;
	color: #999;
}

#upfront-popup .bordered-bottom {
	padding-bottom: 5px;
}
#upfront-popup .bordered-bottom:after{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #c3dcf1;
	border-top: 1px solid #a4b9cb;
}

/* Tabs */
.upfront-popup-meta {
	height: 38px;
}
.upfront-popup-meta .upfront-tabs {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0; padding: 0;
}
.upfront-popup-meta .upfront-tabs li {
	display: inline-block;
	padding: 0 40px;
	height: 36px;
	background: #a4b9cb;
	font-size: 20px;
	line-height: 38px;
	text-align: center;
	color: #4e5e6d;
	margin-right: 1px;
	cursor: pointer;
}
.upfront-popup-meta .upfront-tabs li:hover {
	border-top: 1px solid #2ecc90;
	height: 37px;
}


.upfront-popup-meta .upfront-tabs li.active {
	background: #e5f3fe;
	border-top: 2px solid #e5f3fe;
	position:relative;
	margin-left: -1px;
	margin-right: 0;
	color: #8795A2;
	height: 38px;
}

.upfront-popup-meta .upfront-tabs li.active:hover {
	
}

.upfront-popup-meta ul.upfront-tabs li:first-child {
	margin-left:0;
}

/* Pagination */
#upfront-entity_list-pagination {
	clear: both;
}
.upfront-pagination_item {
	float: left;
	line-height: 20px;
	margin: 10px;
	text-align: center;
	font-size: 18px;
	color: #aec4d8;
	cursor: pointer;
	border: 2px solid transparent;
	padding: 0 5px;
}
.upfront-pagination_item:hover {
	color: #fff;
}
.upfront-pagination_item.current {
	color: #fff;
	border: 2px solid #2ecc90;
	font-weight: bold;
}

/* Search */
#upfront-entity_list-search {
	float: right;
}
#upfront-search_action, #upfront-search_container {
	float: right;
	height: 50px;
}
#upfront-search_action {
	line-height: 50px;
	width: 50px;
	background: #394a59;
	background: rgba(59,77,91,0.9);
	color: #cdd6dd;
	font-size: 18px;
	text-align: center;
	cursor:pointer;
}
#upfront-search_action:hover {
	color: #fff;
}
#upfront-search_container input[type=text] {
	height: 50px;
	border: none;
	line-height: 1em;
	font-size: 18px;
	padding: 10px;
	background: #364757;
	background: rgba(59,77,91,0.7);
	color: #cdd6dd;
	width: 150px;
}

#upfront-search_container input:focus {
	color: #fff;
}

/* Tax */
.upfront-taxonomy-hierarchical #upfront-taxonomy-list {
	padding: 30px;
}
#upfront-taxonomy-list, #upfront-taxonomy-add {
	color: #476d8a;
}
#upfront-taxonomy-list {
	max-height: 300px;
}
#upfront-taxonomy-list label {
	clear:right;
	margin-bottom: 10px;
}
#upfront-taxonomy-add {
	padding: 30px 20px;
}
#upfront-taxonomy-add input#upfront-new_term{
	width: 49%;
	margin-right: 4%;
	background: #E5F3FE;
}
#upfront-taxonomy-add select{
	padding: 7px 5px;
	width: 22%;
	margin-right: 4%;
}
#upfront-taxonomy-add button {
	width: 20%;

}
.upfront-taxonomy-hierarchical .upfront-taxonomy_item {
	padding-left: 1em;
	width: 33%;
	float: left;
	margin: 0 0 10px;
}
.upfront-taxonomy-hierarchical .upfront-taxonomy_item input {
	margin-right: 5px;
}
.upfront-taxonomy-hierarchical .upfront-taxonomy_item .upfront-taxonomy_item {
	clear:left;
	width: 100%;
	padding: 10px 0 0 10px;
	margin: 0 0 0 7px;
}
#upfront-taxonomy-add {
	background: #c3dcf1;
}

/* Flat tax */
.upfront-taxonomy-flat #upfront-taxonomy-list {
	padding: 0;
}
.upfront-taxonomy-list-panel {
	float: left;
	width: 50%;
	color: #7a94ac;
}

.upfront-taxonomy-list-panel i {
	margin: 2px 5px 0 0;
	display: block;
	float: left;
}

.upfront-taxonomy-list-title {
	font-size: 18px;
	margin-bottom: 30px;
	color: #476d8a;
}
#upfront-taxonomy-list-current {
	padding: 30px 20px;
	max-height: 300px;
}
#upfront-taxonomy-list-all {
	background: #d9edfe;
	padding:;
}
#upfront-taxonomy-list-all>div {
	padding: 30px 20px;
	max-height: 300px;
}
.upfront-taxonomy-flat #upfront-new_term {
	width: 250px;
}
.upfront-taxonomy-flat .upfront-taxonomy_item {
	width: 48%;
	float: left;
	margin: 0 2% 10px 0;
	cursor: pointer;
}

.upfront-taxonomy-flat .upfront-taxonomy_item:hover {
	color: #476d8a;
}

.upfront-taxonomy-flat .upfront-taxonomy_item:hover i.icon-plus{
	color: #2FCC90;
}

.upfront-taxonomy-flat .upfront-taxonomy_item:hover i.icon-remove-circle{
	color: #DB474B;
}

#upfront-taxonomy-list-current i.icon-plus {
	display: none;
}

#upfront-taxonomy-list-all i.icon-remove-circle {
	display: none;
}

/* Entities(Posts) list */
.upfront-entity_list-posts {
}
#upfront-list {
	width: 100%;
	color: #99b3cc;
}
#upfront-list .upfront-list_item {
	background: #f2f9ff;
	width: 100%;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.upfront-list-items {
	max-height: 350px;
}

.upfront-list-items .upfront-list_item {
	opacity: 0.8;
}
.upfront-list-items .upfront-list_item:hover {
	opacity: 1;
}

#upfront-list .upfront-list_item .upfront-list_item-component {
	padding: 10px 15px;
	float:left;
}
#upfront-list .upfront-list_item .upfront-list_item-component:first-child {
	padding-left: 30px;
}
#upfront-list .upfront-list_item .upfront-list_item-component.upfront-title {
	color:#395269;

}
#upfront-list .upfront-list_item:hover {
	background: #e8f4fe;
}
#upfront-list .upfront-list-items .upfront-list_item:hover{
	border-top: 1px solid #a4b9cb;
	border-bottom: 1px solid #a4b9cb;
	color: #99b3cc;
	cursor: pointer;
}
#upfront-list .upfront-list_item:hover .upfront-list_item-component.upfront-title {
	color:#32475c;
}

#upfront-list .upfront-list_item:first-child:hover{
	border-top: 1px solid transparent;
}
#upfront-list .upfront-list_item:nth-child(even) {
	background: #e8f4fe;
}
#upfront-list #upfront-list-meta {
	padding-top: 20px;
}
#upfront-list #upfront-list-meta.upfront-list_item {
	background: #e5f3fe;
	color:#263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component {
	border-bottom: 1px solid #CAD9E4;
	cursor:pointer;
	padding-bottom: 5px;
}

#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-down,
#upfront-list #upfront-list-meta.upfront-list_item .icon-caret-up {
	color: #A4B9CB;
	margin-left: 3px;
	font-size:10px;
}
#upfront-list #upfront-list-meta.upfront-list_item:hover .upfront-list_item-component {
	border-bottom: 1px solid #a4b9cb;
	color: #263a4d;
}
#upfront-list #upfront-list-meta.upfront-list_item .upfront-list_item-component:hover {
	border-bottom: 1px solid #2ecc90;
}

#upfront-list-meta .upfront-header {
	line-height: 20px;
}
#upfront-list-meta .upfront-header.active {
	font-weight: bold;
}

#upfront-list-meta .upfront-header i {
	display: none;
}

#upfront-list-meta .upfront-header.ordered-asc i.icon-caret-up {
	display: inline;
}

#upfront-list-meta .upfront-header.ordered-desc i.icon-caret-down {
	display: inline;
}

#upfront-list .upfront-list_item-main {
	color: #32475c;
}

/* Posts list */
.upfront-list_item-component.upfront-date {
	width: 15%;
	vertical-align: middle;
}
.upfront-list_item-component.upfront-title {
	width: 70%;
}
.upfront-list_item-component.upfront-author {
	width: 15%;	
}

.upfront-entity_list-posts .

/* Pages list */
#upfront-list-page {
	clear: both;
	background: #cfdbe5;
}

#upfront-list-page-path {
	height: 50px;
	line-height: 50px;
	background: #e5f3fe;
	border-bottom: 1px solid #a4b9cb;
	padding-left: 30px;
	font-size: 16px;
}
#upfront-list-page-path a {
	color: #2ecc90;
	text-decoration: none;
}
#upfront-list-page-path .last {
	color: #273a4c;
	font-weight: bold;
}

#upfront-list-page-preview {
	float: left;
	width: 250px;
	background: #cfdbe5;
	border-right: 1px solid #a4b9cb;
	min-height: 350px;
	max-height: 350px;
	position: relative;
}

#upfront-list-page-preview h4 {
	text-transform: uppercase;
	font-size:14px;
	color:#30475e;
	margin: 0 0 10px;
	font-weight: normal;

}

#upfront-page_preview-wrapper {
	padding: 20px 30px;
	max-height: 350px;
}

.upfront-page_preview-item {
	margin-bottom: 20px;
}

#upfront-page_preview-featured_image {
	position:relative;
}
#upfront-page_preview-featured_image img {
	width:100%;
	display:block;
	margin: 0 auto;
	border: 3px solid #A4BFD8;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature {
	position:absolute;
	bottom:3px;
	right:3px;
	background: #394a59;
	background: rgba(59,77,91,0.8);
	padding: 5px 10px;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a{
	color:#1fcd8f;
}
#upfront-page_preview-featured_image .upfront-page_preview-edit_feature a:hover{
	text-decoration: underline;
}

#upfront-page_preview-template select{
	width: 100%;
}

#upfront-list-page-tree {
	background: #f2f9ff;
	max-height: 350px;
	min-height: 350px;
	overflow-y: scroll;
	width: 550px;
}
#upfront-list-page-tree .upfront-list-page_item {
	padding-left: 40px;
	font-weight: normal;
	color: #33475b;
	line-height: 30px;
	border-top: 1px solid #dde7ef;
	position:relative;
	cursor: pointer;
}
#upfront-list-page-tree .upfront-list-page_item i {
	width:15px;
	margin-top:9px;
	display: block;
	float: left;
}
#upfront-list-page-tree .upfront-list-page_item i.icon-caret-right {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-down {
	display:none;
}
#upfront-list-page-tree .upfront-list-page_item.closed i.icon-caret-right {
	display:block;
}
#upfront-list-page-tree .upfront-list-page_item.closed .upfront-list-page_item {
	display: none;
}
#upfront-list-page-tree .upfront-list-page_item.has_children {
	font-weight: bold;
	padding-left: 25px;
}
#upfront-list-page-tree .upfront-list-page_item.active {
	background: #33475b;
	color: #2ecc90;
}

#upfront-list-page-tree .upfront-list-page_item.active .upfront-list-page_item {
	background: #F2F9FF;
}

#upfront-list-page-tree>.has_children>.upfront-list-page_item {
	margin-left: -40px;
	padding-left: 80px;
}
#upfront-list-page-tree>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -80px;
	padding-left: 120px;
}
#upfront-list-page-tree>.has_children>.has_children>.has_children>.upfront-list-page_item {
	margin-left: -120px;
	padding-left: 160px;
}


/* Comments-specific additions to Entities list */
.upfront-comment-approved {
	display: block;
	width: 40px;
	height: 38px;
	line-height: 38px;
	position:absolute;
	top:0;
	left: -40px;
}

.upfront-list-comments .upfront-list-items {
	width: 840px;
	margin-left:-40px;
	border-bottom:0;
}

.upfront-comment-approved {
	width: 40px;
	color: #fff;
	opacity: 0.8;
	text-align: center;
}

.upfront-comment-approved:hover {
	opacity: 1;
}

.upfront-list-comments .upfront-comment_author {
	width: 200px;
}
.upfront-list-comments .upfront-date {
	width: 120px;
}
.upfront-list-comments .upfront-comment_content {
	width: 480px;
}

.upfront-list-comments .expanded .upfront-comment_content {
	width: 470px;
}
#upfront-list .upfront-comment_author {
	color: #2ecc90;
	vertical-align: top;
}

#upfront-list #upfront-list-meta .upfront-comment_author {
	color: #263a4d;
	vertical-align: top;
}

#upfront-list .upfront-comment_author img{
	margin: -7px 5px 0 0;
}

.upfront-list-comments .upfront-list-comment-items .upfront-list_item {
	width: 800px;
	margin-left:40px;
	position: relative;
	height: 40px;
	clear: both;
}


#upfront-list .upfront-list-comment-items .upfront-list_item-component {
	line-height: 1.2em;
	float: left;
	padding: 10px 15px 0;
	min-height: 38px;
}

#upfront-list .upfront-list-comment-items textarea {
	max-height:150px;
	margin-bottom:10px;
}

#upfront-list button {
	width:100px;
	float:right;
	margin:0 0 10px 10px;
}


.upfront-list-comments #upfront-list-meta {
	margin-left:0;
}

.upfront-list-comments #upfront-list-meta  .upfront-header {
	float:left;
}

.upfront-list-comments .upfront-list_item:hover {
}

.upfront-list-comments .upfront-list_item .upfront-comment_content-full {
	max-height: 185px;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper {
	position: absolute;
	left: 0;
	bottom: 10px;
	clear: both;
	height: 40px;
	overflow: hidden;
	display: none;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a {
	display: block;
	float: left;
	padding: 0 7px;
	height: 40px;
	padding-top: 5px;
	text-align: center;
	background: #314355;
	color: #2ecc90;
	text-decoration: none;
	font-size: 10px;
	opacity: 0.8;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover {
	opacity: 1;
}
.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a i {
	display: block;
	font-size: 12px;
	height: 15px;
	padding: 4px;
	color: #a4b9cb;
}

.upfront-list-comments .upfront-list_item .upfront-comment_actions-wrapper a:hover i {
	color: #2ecc90;
}

.upfront-comment_edit,
.upfront-comment_reply,
.upfront-comment_content-full-wrapper {
	display: none;
}

.upfront-comment_reply textarea {
	margin-top: 10px;
}

#upfront-list .upfront-list-items .expanded {
	width:808px;
	margin-left: 36px;
	border: 1px solid #a4b9cb;
	height: auto;
	min-height:96px;
	opacity: 1;
}

#upfront-list .upfront-list-items .expanded .upfront-comment_actions-wrapper{
	display: block;
}

.upfront-list-comments .expanded .upfront-comment_excerpt {
	display:none;
}

.upfront-list-comments .expanded .upfront-comment_content-full-wrapper {
	display:block;
}

.upfront-list_item-comment textarea {
	width: 98%;
}

/* Post single view */

.upfront-post_content-wrapper {
	padding: 0 30px;
	font-size: 16px;
	line-height: 1.4em;
}

.upfront-post_content{
}

.upfront-post_content h1, 
.upfront-post_content h2,
.upfront-post_content h3,
.upfront-post_content h4,
.upfront-post_content h5 {
	color: #273a4c;
	font-weight: bold;
}
.upfront-post_content h1 {
	font-size: 27px;
}
.upfront-post_content h2 {
	font-size: 27px;
}
.upfront-post_content h3 {
	font-size: 24px;
}
.upfront-post_content h4 {
	font-size: 21px;
}
.upfront-post_content h5 {
	font-size: 18px;
}

.upfront-post_content p {
}



.upfront-page_preview-bottom {
	position: absolute;
	width:100%;
	bottom:0;
	left: 0;
	padding: 20px 30px;
}




#upfront-back_to_posts {
	display: block;
	float: left;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}

/* Post slug popup */

.upfront-post_password-wrapper {
	padding: 5px;
	margin: 1em;
}
#upfront-post_password {
	padding: 5px;
	margin-right: 1em;
}
#upfront-post_password-send {
	padding: 5px;
}

/* Visibility slug popup */

.upfront-slug_editor{
	padding: 30px;
	margin: 1em;
	color: #3A5268;
}
.upfront-slug_editor-title {
	font-size: 30px;
	font-weight: 200;
	margin-bottom: 5px;
}
.upfront-slug_editor-info {
	color: #7a94ac;
	font-size: 15px;
	margin: 0 0 30px;
}
.upfront-slug_editor-url {
	font-size: 15px;
}
#upfront-post_slug {
	padding: 8px 5px;
	font-size: 15px;
width: 360px;
}
.upfront-slug_editor button#upfront-post_slug-send {
	width: 100px;
	float: right;
}

/* Posts panel fix */
#sidebar-ui .sidebar-panels .upfront-panel-post_panel .sidebar-panel-content {
	background: #33475b;
}
.sidebar-panels .upfront-panel-post_panel h3.sidebar-panel-title {
	display: none;
}

.upfront-post-state {
	color: #7a94ac;
}
.upfront-post-state b {
	color: #cde6fe;
}
.upfront-post-state a {
	color: #1fcd8f;
}