/** {
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
} @TODO Not a good idea to select all elements and have it transition, need improvement */

html, body {
	background: #ccc;
  	height: 100%;
}

#page {
	background: #fff;
  	position: relative;
  	min-height: 100%;
  	margin: 22px 180px 0;
  	width: auto;
}

#upfront-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12000px;
  background-color: rgba(33,33,33,.7);
  color: #fff;
  font-size: 72pt;
  font-weight: bold;
  padding-top: 2em;
  text-align: center;
  z-index: 10;
}

#properties {
  position: fixed;
  top: 50px;
  right: 0;
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0;
  z-index: 5;
}
#commands, .upfront-editable_trigger {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 5;
}
#properties, #commands, .upfront-editable_trigger {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.upfront-edit_content {
  right: 5px;
  left: auto;
}
#commands {
  border: 1px solid #bbb;
  background: #eee;
  width: 180px;
  padding: 15px;
  padding-top: 0; 
}
#commands li {
	margin: 5px 0 0;
	padding: 5px 10px;
	list-style: none;
	cursor: pointer;
}
#commands li:hover {
	background: #888;
	color: #fff;
}

#settings {
  position: fixed;
  left: 0;
  top: 480px;
}

#layouts {
  position: fixed;
  top: 28px;
  width: 100%;
  height: 22px;
  background: #eee;
  z-index: 5;
}
#layouts nav {
  display: table;
  width: 100%;
}
#layouts ul {
  display: table-row;
  width: 100%;
}
#layouts li {
  display: table-cell;
  text-align: center;
  line-height: 22px;
  padding-left: 1em;
}
#layouts li:first-child {
  text-align: right;
}
#layouts li:last-child {
  text-align: left;
}
#layouts li.active {
  text-shadow: 1px 1px 3px #000;
  color: #fff;
}

.upfront-overlay-grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: none;
	background: -webkit-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -moz-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -ms-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: -o-linear-gradient(bottom, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background: linear-gradient(to top, rgba(127,184,221,0.5) 1px, transparent 1px, transparent);
	background-size: 100% 15px;
}
.upfront-overlay-grid .c1 {
	height: 100%;
}
.upfront-grid-border {
	background: -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -webkit-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -moz-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -ms-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, -o-linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background: linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 0 0, linear-gradient(rgba(6,118,190,0.1), rgba(6,118,190,0.1)) repeat-y 100% 0;
	background-size: 15px 100%;
	border-right: 1px solid #3bffff;
}
.upfront-grid-border:last-child {
	border-right: none;
}


.upfront-layout {
	position: relative;
	z-index: 1;
}

.upfront-active_entity > .upfront-editable_entity {
	background: #f1ffb2;
}
.upfront-module {
	border: 1px solid #b3da11;
	background: rgba(242, 255, 186, 0.6);
}
.upfront-object {
	border: 1px solid #bada55;
	background: rgba(255, 255, 255, 0.5);
}
.upfront-module, .upfront-object {
	position: relative;
}
.upfront-debug-info {
	position: absolute;
	bottom: -10px;
	left: 5px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0 5px;
	font-size: 10px;
	line-height: 15px;
}
.upfront-placeholder {
  background-color: red;
  height: 20px;
  width: 100px;
  float: left;
}

.upfront-region {
  /*background-color: rgba(127, 127, 127, .5);*/
  padding: 0;
}
.upfront-region:after,
.upfront-region:before
 {
  content: " "; /* 1 */
  display: table; /* 2 */
 }
.upfront-region:after {
  clear: both;
}

.upfront-editable_entity img {
  max-width: 100%;
}

.upfront-preview-helper {
	background: rgba(0, 0, 0, 0.1);
}

.ui-draggable {
	cursor: move;
}

.upfront-entity_meta {
  text-align: right;
  padding-right: 5px;
  display: block;
}
.upfront-entity_meta a {
  color: #333;
  text-decoration: none;
}

