/* icomoon fonts */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?-7vfzzg');
	src: url('../fonts/icomoon.eot?#iefix-7vfzzg') format('embedded-opentype'),
	url('../fonts/icomoon.woff?-7vfzzg') format('woff'),
	url('../fonts/icomoon.ttf?-7vfzzg') format('truetype'),
	url('../fonts/icomoon.svg?-7vfzzg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.uf_font_icon, .uf_font_icon *{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
