<script id="ufm-map-main" type="text/template">
	<div class="ufm-map-main ufm-gmap-container" style="min-width:100px; min-height:100px; width:100%; height:400px;"></div>
</script>


<script id="ufm-map-description" type="text/template">
	<div class="ufm-map-description">
		<p class="content-editable">{{content}}</p>
	</div>
</script>


<script id="ufm-map-setting-location" type="text/template">
	<div class="ufm-map-setting-location">

		<label for="address">Address</label><br />
		<input name="address" id="address" value="{{address}}" />
		<button id="geocode-address">Find</button>
		<br /><br />


		<label for="latitude">Latitude</label><br />
		<input name="lat" id="latitude" value="{{lat}}" />

		<br /><br />

		<label for="longitude">Longitude</label><br />
		<input name="lng" id="longitude" value="{{lng}}" />
	</div>
</script>
	
<script id="ufm-map-setting-zoom" type="text/template">
	<select id="zoom" name="zoom">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>

		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>

		<option value="17">17</option>
		<option value="18">18</option>
	</select>
</script>

<script id="ufm-map-setting-type" type="text/template">
	<select id="mapTypeId" name="mapTypeId">
		<option value="roadmap">ROADMAP</option>
		<option value="satellite">SATELLITE</option>
		<option value="hybrid">HYBRID</option>
		<option value="terrain">TERRAIN</option>
	</select>
</script>



<script id="ufm-map-setting-control" type="text/template">	
	<input type="checkbox" id="{{key}}" name="{{key}}" value="1"  {{checked}} />
	<label for="{{key}}">{{label}}</label>
	<br /><br />
</script>



<script id="ufm-map-marker-select" type="text/template">	
	<div class="ufm-map-marker-select ufm-rounded">

		<div class="marker-imgs"></div>

		<div class="marker-url">
			<label for="marker-url">Image URL (.png):</label>
			<textarea id="marker-url" name="marker-url" value="" rows="4"/></textarea>
		</div>

	</div>
</script>